#* velocity document *#
##
#parse( "/WEB-INF/templates/include/setup.vm" )
##
#set($helpLink = "#springMessage('help.link.SystemAdmin.Home')")##
#set($homeLink = "/systemAdmin/index.html${qString}")##
#set($siteArea = "sysAdmin")##
#set($pageSec = "sysAdmin")##
#set($flexSub = $authtools.allow('system.flexSubscription', $customerDetails))##
#set($caseSub = $authtools.allow('system.caseSubscription', $customerDetails))##
##
<!DOCTYPE html>
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->


##
<head>
	<title>#springMessage('label.siteName') - #springMessage('heading.SysAdmin') - ${customerDetails.customer.name} : #springMessage('link.nav.sysAdmin.home.locations')</title>
#parse( "${dirPrefix}include/head.vm" )
##
<link rel="stylesheet" type="text/css" media="all" href="${styleLocal}systemAdmin.css${staticQuerry}">
<link rel="stylesheet" type="text/css" media="all" href="${styleLocal}settings.css${staticQuerry}">
<link rel="stylesheet" href="${styleLocal}leaflet.css${staticQuerry}" />
<link rel="stylesheet" href="${styleLocal}leaflet-draw.css${staticQuerry}" />
<script src="${scriptLocal}leaflet.js${staticQuerry}"></script>
<!--[if lte IE 8]><link rel="stylesheet" href="${styleLocal}MarkerCluster.Default.ie.css${staticQuerry}" /><![endif]-->
<script src="${scriptLocal}leaflet.markercluster-src.js${staticQuerry}"></script>
##
</head>
##
<body id="settings">
##
#parse( "${dirPrefix}include/generalHead.vm" )
##
<section id="content">
##
#parse( "${dirPrefix}/systemAdmin/include/mainNav.vm" )##
#set($qString = "${qString}&customerID=${params.customerID}")##
##
	<section id="mainContent" class="sysAdminWorkSpace">
##	<input type="hidden" id="globalToken" value="">
##
#set($crntSection = "#springMessage('link.nav.sysAdmin.home.locations')")
#if($customerDetails.customer.customerStatusType.id != 1)
#set($statusDisplay = "<span class='statusNote'>[ ${customerStatus[${customerDetails.customer.customerStatusType.id}]} ]</span>")##
#else##
#set($statusDisplay = "")##
#end##
#set($sectionTitle = "${customerDetails.customer.name} ${statusDisplay}")##
#set($workSpace = "true")##
#parse( "${dirPrefix}systemAdmin/workspace/include/navSetup.vm" )
#parse( "${dirPrefix}systemAdmin/workspace/include/subNavSetup.vm" )
#parse( "${dirPrefix}include/sectionNav.vm" )
#parse( "${dirPrefix}include/subSectionNav.vm" )
## 
#parse( "${dirPrefix}include/locationDetails/main.vm" )
	</section>
	<hr>
</section>
##
#parse( "${dirPrefix}include/footer.vm" )
##
#parse("${dirPrefix}include/alertMsg.vm")##
## 
<script type="text/javascript" language="javascript">
#parse( "${dirPrefix}include/standardJSMessages.vm" )##
#parse("${dirPrefix}include/sessionActivityVar.vm")## 
##globalPostToken = "${webSecurityForm.initToken}";##
#parse("${dirPrefix}include/locationDetails/constants.vm")##
var LOC = [];##
LOC["formLocations"] = "/systemAdmin/workspace/locations/form.html";##
LOC["loadLocations"] = "/systemAdmin/workspace/locations/info.html";##
LOC["deleteLocations"] = "/systemAdmin/workspace/locations/deleteLocation.html";##
LOC["verifyDeleteLocations"] = "/systemAdmin/workspace/locations/verifyDeleteLocation.html";##
LOC["saveLocations"] = "/systemAdmin/workspace/locations/saveLocation.html";##
LOC["payStationsPlacement"] = "/systemAdmin/workspace/payStations/payStationPlacement.html";##
LOC["cancelLocationForm"] = "/systemAdmin/workspace/locations/cancelForm.html";##
LOC["payStationList"] ="/systemAdmin/workspace/payStationSelectors.html?customerID=${params.customerID}";##
LOC["propertiesList"] ="/systemAdmin/workspace/locations/flexLocationPropertySelectors.html";##
LOC["facilitiesList"] ="/systemAdmin/workspace/locations/flexLocationFacilitySelectors.html";##
LOC["lotList"] ="/systemAdmin/workspace/locations/caseLocationLotSelectors.html";##
LOC["saveParkingArea"] = "/systemAdmin/workspace/locations/saveLocationGeoParkingArea.html";##
##
#if($authtools.allow('system.payStationPlacement'))##
var noMapDataMsg = '#springArgMessage('label.systemAdmin.map.noMapData', [${qString}])';##
#else##
var noMapDataMsg = '#springMessage('label.systemAdmin.map.noMapData.noLink')';##
#end##
##
##
#if(${mapBorders.minLatitude} && ${mapBorders.minLongitude} && ${mapBorders.maxLatitude} && ${mapBorders.maxLongitude})##
var	southWest = new L.LatLng("${mapBorders.minLatitude}", "${mapBorders.minLongitude}"),##
	northEast = new L.LatLng("${mapBorders.maxLatitude}","${mapBorders.maxLongitude}"),##
	ogBounds = new L.LatLngBounds(southWest, northEast);
#end##
##
$(document).ready(function(){ standard(); locations("$!{params.itemID}", "$!{params.parentID}", "$!{params.pgActn}"); sessionActvty(); soh(["locationList"]); workspace();##
#if(${params.filterValue})updateFilter("$!esc.javascript(${params.filterValue})");#end });</script>
<script type="text/javascript" language="javascript" src="${scriptLocal}locations.js${staticQuerry}"></script>
<script type="text/javascript" language="javascript" src="${scriptLocal}systemAdmin/workspace.js${staticQuerry}"></script>
<script type="text/javascript" language="javascript" src="${scriptLocal}leaflet-embed.js${staticQuerry}"></script>
<script type="text/javascript" language="javascript" src="${scriptLocal}leaflet-draw.js${staticQuerry}"></script>
##
</body>
</html>