#* velocity document *# ##>
##
#parse( "/WEB-INF/templates/include/setup.vm" )
##
<section class="groupBox">
	<header>
		<h2>#springMessage('label.systemAdmin.workspace.licenses.flexCredentials.server')</h2>
#if($authtools.allow('customer.flexCredentials.manage') or $authtools.allow('system.flexCredentials.manage', $customerDetails))##
		<a title="Edit" class="hdrButtonIcn edit" href="#" id="btnEditFlexCredentialsSysAdmin"><img width="18" height="1" border="0" src="${imgLocal}spacer.gif" alt="#springMessage('button.edit')" title="#springMessage('button.edit')"></a>
#end
	</header>
	
	#set($notApplicable = $field.get("com.digitalpaytech.util.WebCoreConstants.NOT_APPLICABLE"))##
	#set($flexCredentials = $flexCredentialsForm.wrappedObject)
	##
	<section id="flexCredentialsViewPanel" class="groupBoxBody">
		#if(${flexCredentials.missing})##
			#springMessage('alert.systemAdmin.workspace.licenses.flexCredentials.missing')
		#else##
			<dl class="details">
				<dt class="detailLabel">#springMessage('label.systemAdmin.workspace.licenses.flexCredentials.username'):</dt>
				<dd class="detailValue">#if(!${flexCredentials.username})$notApplicable#else${flexCredentials.username}#end</dd>
				<dt class="detailLabel">#springMessage('label.systemAdmin.workspace.licenses.flexCredentials.password'):</dt>
				<dd class="detailValue">#if(!${flexCredentials.password})$notApplicable#else${flexCredentials.password}#end</dd>
				<dt class="detailLabel">#springMessage('label.systemAdmin.workspace.licenses.flexCredentials.url'):</dt>
				<dd class="detailValue">#if(!${flexCredentials.url})$notApplicable#else${flexCredentials.url}#end</dd>
			</dl>
		#end##

	#set($testCredentialID = "flexTestButton")
	#parse( "${dirPrefix}include/testFlex.vm" )

	</section>
	
	<section id="flexCredentialsFormPanel" class="mainContent form invisible">					
		#parse("${dirPrefix}include/flexCredentialForm.vm")
		
		<section class="btnSet groupBoxBody">
			<a href="#" class="linkButtonFtr textButton save">#springMessage('button.save')</a>
			<a href="#" class="linkButton textButton cancel">#springMessage('button.cancel')</a>
		</section>
	</section>
</section>