<!doctype html>
#* velocity document *# ##>
#* velocity document *#
##
#parse( "/WEB-INF/templates/include/setup.vm" )
##
#set($helpLink = "#springMessage('help.link.SystemAdmin.Home')")##
#set($homeLink = "/systemAdmin/index.html${qString}")##
#set($siteArea = "sysAdmin")##
#set($pageSec = "sysAdmin")##
##
<!DOCTYPE html>
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->


##
<head>
	<title>#springMessage('label.siteName') - #springMessage('heading.SysAdmin') - ${customerDetails.customer.name} : #springMessage('label.systemAdmin.Licenses') :  #springMessage('label.systemAdmin.workspace.licenses.flexCredentials')</title>
#parse( "${dirPrefix}include/head.vm" )
##
<link rel="stylesheet" type="text/css" media="all" href="${styleLocal}systemAdmin.css${staticQuerry}">
<link rel="stylesheet" type="text/css" media="all" href="${styleLocal}settings.css${staticQuerry}">
<!--[if lte IE 8]><link rel="stylesheet" href="${styleLocal}MarkerCluster.Default.ie.css${staticQuerry}" /><![endif]-->
<script type="text/javascript" language="javascript" src="${scriptLocal}flexCredentials.js${staticQuerry}"></script>
##
</head>
##
<body id="settings">
##
#parse( "${dirPrefix}include/generalHead.vm" )
##
<section id="content">
##
#parse( "${dirPrefix}/systemAdmin/include/mainNav.vm" )##
#set($qString = "${qString}&customerID=${params.customerID}")##
##
	<section id="mainContent" class="sysAdminWorkSpace">
##	<input type="hidden" id="globalToken" value="">
##
#set($crntSection = "#springMessage('label.systemAdmin.Licenses')")
#set($crntPage = "#springMessage('label.systemAdmin.workspace.licenses.integrations')")
#if($customerDetails.customer.customerStatusType.id != 1)
#set($statusDisplay = "<span class='statusNote'>[ ${customerStatus[${customerDetails.customer.customerStatusType.id}]} ]</span>")##
#else##
#set($statusDisplay = "")##
#end##
#set($sectionTitle = "${customerDetails.customer.name} ${statusDisplay}")##
#set($workSpace = "true")##
#set($isParent = ${customerDetails.customer.isParent})##
#parse( "${dirPrefix}systemAdmin/workspace/include/navSetup.vm" )
#parse( "${dirPrefix}systemAdmin/workspace/include/subNavSetup.vm" )
#parse( "${dirPrefix}include/sectionNav.vm" )
#parse( "${dirPrefix}include/subSectionNav.vm" )
##
		<section class="layout layout1 sectionContent">
		
			<section class="column">
				#if(${flexCredentialsPerm})<section id="flexIntegration" class="floatBox"></section>#end
				#if(${caseCredentialsPerm})<section id="autoCountIntegration" class="floatBox"></section>#end
			</section>
		</section>
	</section>
	<hr>
</section>
##
#parse( "${dirPrefix}include/footer.vm" )
##
#parse("${dirPrefix}include/alertMsg.vm")##
## 
<script type="text/javascript" language="javascript">
#parse( "${dirPrefix}include/standardJSMessages.vm" )##
#parse("${dirPrefix}include/sessionActivityVar.vm")##
var testingMsg = "<section class='flexTestIcon'></section>#springMessage('label.testing')";##
var successMsg = "<section class='flexTestIcon success'></section>#springMessage('label.settings.globalPref.successFlexTest')";##
var failMsg = "<section class='flexTestIcon failed'></section>#springMessage('label.settings.globalPref.failFlexTest')";##
var customerMsg = "#springMessage('label.systemAdmin.Customer')";##
var successMsg = "<section class='flexTestIcon success'></section>#springMessage('label.settings.globalPref.successFlexTest')";##
var failMsg = "<section class='flexTestIcon failed'></section>#springMessage('label.settings.globalPref.failFlexTest')";##
var LOC = {
	"saveFlexCredentials": "/systemAdmin/workspace/licenses/saveFlexCredentials.html",
	"testNewFlexCredentials": "/systemAdmin/workspace/licenses/testNewFlexCredentials.html",
	"testFlexCredentials": "/systemAdmin/workspace/licenses/testFlexCredentials.html"
};
var LABEL = {
	"saveSuccess": "#springMessage('alert.systemAdmin.workspace.licenses.flexCredentials.save.success')"
}
##
$(document).ready(function(){ standard(); sessionActvty(); customer(); workspace(); integrations()##
#if(${params.filterValue})updateFilter("$!esc.javascript(${params.filterValue})");#end });</script>
<script type="text/javascript" language="javascript" src="${scriptLocal}systemAdmin/workspace.js${staticQuerry}"></script>
##
</body>
</html>