#* velocity document *#
##
	<nav id="main">
#set($alertsPermissions = false)##
#if($authtools.allow('system.workspace'))##
## TEST SHOULD INCLUDE IF ANY PERMISSIONS FROM DPT CUSTOMER ADMIN, DPT PAY STATION ADMIN, PAYSTATION MANAGEMENT (LOCATIONS, ROUTES), ALERTS, MOBILE LICENSES AND REPORTS
			<a href="/systemAdmin/index.html${qString}" #if(${pageSec} == "sysAdmin")class="current"#end title="#springMessage('link.nav.sysAdmin.home')"><img src="${imgLocal}navHome#if(${pageSec} == "sysAdmin")_crnt#{end}.png" height="38" border="0" alt="#springMessage('link.nav.sysAdmin.home')" /> &nbsp; #springMessage('link.nav.sysAdmin.home')</a>
#end##
##
#if($authtools.allow('system.reporting'))##
			<a href="/systemAdmin/reporting/index.html${qString}" #if(${pageSec} == "reporting")class="current"#end title="#springMessage('link.nav.reporting')"><img src="${imgLocal}navReport#if(${pageSec} == "reporting")_crnt#{end}.png" width="42" height="38" border="0" alt="#springMessage('link.nav.reporting')" /> &nbsp; #springMessage('link.nav.reporting')</a>
#end##
##
#if($authtools.allow('users'))##
			<a href="/systemAdmin/adminUserAccount/index.html${qString}" #if(${pageSec} == "userAdmin")class="current"#end title="#springMessage('link.nav.sysAdmin.userAdmin')"><img src="${imgLocal}navAdmin#if(${pageSec} == "userAdmin")_crnt#{end}.png" width="42" height="38" border="0" alt="#springMessage('link.nav.sysAdmin.userAdmin')" /> &nbsp; #springMessage('link.nav.sysAdmin.userAdmin')</a>
#end##
##
#if($authtools.allow('system.notifications'))##
			<a href="/systemAdmin/notifications/index.html${qString}" #if(${pageSec} == "notification")class="current"#end title="#springMessage('link.nav.sysAdmin.notify')"><img src="${imgLocal}navNotify#if(${pageSec} == "notification")_crnt#{end}.png" width="42" height="38" border="0" alt="#springMessage('link.nav.sysAdmin.notify')" /> &nbsp; #springMessage('link.nav.sysAdmin.notify')</a>
#end
##
#if($authtools.allow('system.server'))##
			<a href="/systemAdmin/systemStatus/index.html${qString}" #if(${pageSec} == "sysActivity")class="current"#end title="#springMessage('link.nav.sysAdmin.activity')"><img src="${imgLocal}navActivity#if(${pageSec} == "sysActivity")_crnt#{end}.png" width="42" height="38" border="0" alt="#springMessage('link.nav.sysAdmin.activity')" /> &nbsp; #springMessage('link.nav.sysAdmin.activity')</a>
#end##
##
	</nav>