#* velocity document *#
##
##
#set ($unavailablMsgObj = "<div class='unavailbleArea infoArea'><img src='${imgLocal}icn_Info.png' alt='Info' class='left' width='51' height='51'><article> #springMessage('alert.settings.locations.payStationConfiguration.configurationAreaUnavailable')</article></div>")##
##
<section id="Configurations" class="layout4 layout sectionContent">
	<section class="column first">
## <!-- #locationList ++++++++++++++++++++++++++++++++++++++++ -->
		<section class="groupBox menuBox configList">
#if( $authtools.allow('customer.payStationSettings.onlineConfiguration.schedule') )##
			<section id="menu_hrdwrCnfgMenu" class="ddMenu" style="width: 225px;">
				<img src="${imgLocal}icn_ddMenuArrow.png" class="point" width="25" height="13" border="0">
				<section class="menuOptions innerBorder">
					<a href="#" class="usb btnGenerateKey" title="#springMessage('label.settings.locations.payStationConfiguration.configurationSchedulePackage')">#springMessage('label.settings.locations.payStationConfiguration.configurationSchedulePackage')</a>
				</section>
			</section>
#end##
##
			<header>
				<h2>#springMessage('link.nav.settings.locations.payStation.configurationGroup')</h2>
##
#if( $authtools.allow('customer.payStationSettings.onlineConfiguration.schedule') )##
				<a id="opBtn_hrdwrCnfgMenu" title="Option Menu" class="hdrButtonIcn menu menuHeader" href="#"><img width="18" height="1" title="Option Menu" src="${imgLocal}spacer.gif" border="0"></a>
#end##
##
			</header>
			#parse("${dirPrefix}include/groupFilter.vm")
			#parse("${dirPrefix}/settings/include/groupList.vm")
		</section>
## <!-- /#locationList -->
	</section>
##
	<section class="column second"><input type="hidden" id="contentID" name="contentID" value="">
##
#if( $authtools.allow('customer.payStationSettings.onlineConfiguration.schedule') )##
#parse("${dirPrefix}/settings/locations/include/configGroupScheduleKey.vm")
#else##
<section id="scheduleDownloadKey" class="hide"></section>
#end##
##
		<section id="groupDetails" class="groupBox mainContent">
#*
		#if($authtools.allow('customer.payStationSettings.manage') || $authtools.allow('customer.payStationSettings.onlineConfiguration.schedule'))##
			<section id="menu_pageContent" class="ddMenu" style="width: 225px;">
				<img src="${imgLocal}icn_ddMenuArrow.png" class="point" width="25" height="13" border="0" />
				<section class="menuOptions innerBorder">
					<a href="#" class="edit btnEditGroup" title="#springMessage('button.edit')">#springMessage('button.edit')</a>
			#if($authtools.allow('customer.payStationSettings.manage'))##
					<a href="#" class="removeFile btnDeleteGroup" title="#springMessage('label.settings.locations.paystationSettings.removeFile')">#springMessage('label.settings.locations.paystationSettings.removeFile')</a>
			#end##
				</section>
			</section>
		#end##
*#		
			<header>
				<h2 id="groupDispName"></h2>
				<h2 id="editHeading">#springArgMessage('button.editItem', ["#springMessage('label.settings.locations.payStationConfiguration.group')"])</h2>
				<h2 id="addHeading">#springArgMessage('button.addItem', ["#springMessage('label.settings.locations.payStationConfiguration.group')"])</h2>

			#if($authtools.allow('customer.payStationSettings.manage') || $authtools.allow('customer.payStationSettings.onlineConfiguration.schedule'))##
				<a id="opBtn_pageContent" title="#springMessage('button.edit')" class="hdrButtonIcn btnEditGroup edit" href="#"><img width="18" height="1" title="#springMessage('button.edit')" src="${imgLocal}spacer.gif" border="0"></a>
			#end
	#*
		#if(!$authtools.allow('customer.payStationSettings.manage') && $authtools.allow('customer.payStationSettings.onlineConfiguration.schedule'))##
				<a id="opBtn_pageContent" title="#springMessage('button.edit')" class="hdrButtonIcn btnEditGroup edit" href="#"><img width="18" height="1" title="#springMessage('button.edit')" src="${imgLocal}spacer.gif" border="0"></a>
		#elseif($authtools.allow('customer.payStationSettings.manage'))##	
				<a id="opBtn_pageContent" title="#springMessage('label.optionMenu')" class="hdrButtonIcn menu" href="#"><img width="18" height="1" title="#springMessage('label.optionMenu')" src="${imgLocal}spacer.gif" border="0"></a>
		#end##
*#
			</header>
## <!-- #map -->
			<section id="mapHolder"></section>
## <!-- /#map -->	
			<article id="groupView" class="groupBoxBody viewBox column-5-5 viewBox">
				#parse("${dirPrefix}/settings/locations/include/groupView.vm")
			</article>
			
			<article id="groupForm" class="groupBoxBody column-5-5 editBox">
				#parse("${dirPrefix}/settings/locations/include/groupEditForm.vm")
			</article>
		</section>
	</section>
</section>