<section class="col1 details">
	Access Areas:
	<ul id="detailPermissionList" class="borderList permissionList">
		<li class="Child">Collect</li>
		<li class="Child">Enforce</li>
		<li class="Child">Maintain</li>
		<li class="Child">Troubleshoot</li>
		<li class="Child">Configure</li>
	</ul>
</section>

<section class="col2">
	<dl class="details">
		<dt class="detailLabel">Description:</dt> 
		<dd id="detailLocationName" class="detailValue">Sample text about Configuration group.</dd>
	</dl>
</section>