#* velocity document *#
#parse( "/WEB-INF/templates/include/setup.vm" )

#springBind("collectionFilterForm.*")##
<form name="collectionReportSort" id="collectionReportSortForm">
	#springBind("collectionFilterForm.wrappedObject.randomId")##
	<input type="hidden" name="$!{status.expression}" id="selectedPosID" value="$!{params.payStationID}">
</form>
<section id="collectionReportListArea">
	<ul id="collectionReportListHeader" class="column-2-4-2-1 scrollingListHeader">
		<li>
			<div class="col1 clickable current sort" sort="date:ASC" colTitle="#springMessage('label.settings.locations.paystationList.payStationReports.date')" tooltip="#springMessage('label.settings.locations.paystationList.payStationReports.date') : #springMessage('label.sorting.ascendingMsg')" name="sort_date"><p>#springMessage('label.settings.locations.paystationList.payStationReports.date') <img src="${imgLocal}icn_ArwUp.png" class="sortIcn" alt="sort" /></p></div>
			<div class="col2 clickable sort" sort="type:ASC" colTitle="#springMessage('label.settings.locations.paystationList.payStationReports.type')" tooltip="#springMessage('label.settings.locations.paystationList.payStationReports.type') : #springMessage('label.sorting.ascendingMsg')" name="sort_type"><p>#springMessage('label.settings.locations.paystationList.payStationReports.type') <img src="${imgLocal}icn_ArwDown.png" class="sortIcn" alt="sort" /></p></div>
			<div class="col3 notclickable"><p>#springMessage('label.settings.locations.paystationList.payStationReports.amount')</p></div>
		</li>
	</ul>
	<ul id="collectionReportList" class="column-2-4-2-1 clickable menuButtonList scrollingList" style="max-height: 350px;">
		<li class="loadItem" style="display: none;">#parse("${dirPrefix}include/loading.vm")</li>
	</ul>
</section>

<section id="collectionDetailView"></section>

<span id="collectionItemTemplate" style="display: none;">
	<li id="report_[%= randomId %]">
		<div class="col1"><p>[%= date %]</p></div>
		<div class="col2"><p>[%= type %]</p></div>
		<div class="col3"><p>$[%= Highcharts.numberFormat(amount, 2) %]</p></div>
	</li>
</span>