#* velocity document *# ##>
##
##
#springBind( "deviceGroupForm.*" )##

<form id="groupSettings" name="groupEditForm" method="post" action="/">
<input type="hidden" name="sessionToken" value="$!{sessionToken}"/>
#springBind("deviceGroupForm.postToken")##
<input type="hidden" name="postToken" id="postToken" value="$!{deviceGroupForm.initToken}"/>
#springBind("deviceGroupForm.actionFlag")##	
<input type="hidden" name="${status.expression}" id="actionFlag" value="$!{status.value}"/>
#springBind("deviceGroupForm.wrappedObject.groupId")##	
<input type="hidden" name="${status.expression}" id="formGroupID" value="$!{status.value}"/>
#springBind("deviceGroupForm.wrappedObject.groupName")##
<input type="hidden" name="${status.expression}" id="formGroupName" value="$!{status.value}">
## BOSS KEY REQUIRED springBind("deviceGroupForm.wrappedObject.")
<input type="hidden" name="${status.expression}" id="formBossKeyRequired" value="$!{status.value}">
#if($pageSec == "sysAdmin")
<input type="hidden" name="customerID" value="${params.customerID}"/>
#end

	<h3 id="titleGroupName"></h3>
	<section id="cardProcessingForm" class="col1">
		<h4 id="formCardProcessing">#springMessage('label.settings.locations.payStationConfiguration.cardProcessing')</h4>
		<article>
			<fieldset id="cardProcessingFormArea" class="details">
#if($authtools.allow('customer.payStationSettings.manage'))
				<hr>
				<legend>
					#springBind("deviceGroupForm.wrappedObject.groupConfiguration.cardProcessingOverride")##
					<input type="hidden" name="${status.expression}" id="formCardOvrrdHidden" value="">
					<label id="formCardOvrrdLabel" class="checkboxLabel switch " for="formCardOvrrdHidden">
						<a href="#" id="formCardOvrrd" class="checkBox">&nbsp;</a>
						#springMessage('label.settings.locations.payStationConfiguration.irisSettings')
					</label>
				</legend>

				<ul id="formIrisOverRideObj" class="txtIndent">
					#springBind("deviceGroupForm.wrappedObject.groupConfiguration.irisSettings.cardProcessing.enableOnlineComm")##
					<li>
						<input type="hidden" name="${status.expression}" id="formIrisEnabledHidden" value="">
						<label id="formIrisEnabledLabel" class="checkboxLabel switch " for="formIrisEnabledHidden">
							<a href="#" id="formIrisEnabled" class="checkBox">&nbsp;</a>
							#springMessage('label.settings.locations.payStationConfiguration.enableIris')
						</label>
					</li>
					<div id="irisEnabledGroup">
					<li class="txtIndent">
						#springBind("deviceGroupForm.wrappedObject.groupConfiguration.irisSettings.cardProcessing.enableOnlineProcess")##
						<input type="hidden" name="${status.expression}" id="formOnlineCardHidden" value="">
						<label id="formOnlineCardLabel" class="checkboxLabel switch " for="formOnlineCardHidden">
							<a href="#" id="formOnlineCard" class="checkBox">&nbsp;</a>
							#springMessage('label.settings.locations.payStationConfiguration.enableOnlineCreditCard')
						</label>
					</li>
					<li class="txtIndent">
						<div id="formOfflineArea" class="txtIndent">
							#springBind("deviceGroupForm.wrappedObject.groupConfiguration.irisSettings.cardProcessing.acceptCardsOffline")##
							<input type="hidden" name="${status.expression}" id="formOfflineCardHidden" value="">
							<label class="checkboxLabel switch " for="formOfflineCardHidden">
								<a href="#" id="formOfflineCard" class="checkBox">&nbsp;</a>
								#springMessage('label.settings.locations.payStationConfiguration.acceptOfflineCreditCard')
							</label>
						</div>
					</li>		
					<li class="txtIndent">
						#springBind("deviceGroupForm.wrappedObject.groupConfiguration.irisSettings.cardProcessing.acceptPasscard")##
						<input type="hidden" name="${status.expression}" id="formOnlineCustomCardHidden" value="">
						<label class="checkboxLabel switch " for="formOnlineCustomCardHidden">
							<a href="#" id="formOnlineCustomCard" class="checkBox">&nbsp;</a>
							#springMessage('label.settings.locations.payStationConfiguration.enableOnlineCustomCard')
						</label>
					</li>
					</div>
				</ul>
#else
				<hr>
				<legend>
					<strong id="formCardOvrrd"></strong>
					#springBind("deviceGroupForm.wrappedObject.groupConfiguration.cardProcessingOverride")##
					<input type="hidden" name="${status.expression}" id="formCardOvrrdHidden" value="">
				</legend>

				<div id="formIrisOverRideObj">
					<div class="detailValue availableService" id="formIrisEnabled">
						#springBind("deviceGroupForm.wrappedObject.groupConfiguration.irisSettings.cardProcessing.enableOnlineComm")##
						<input type="hidden" name="${status.expression}" id="formIrisEnabledHidden" value="">
						#springMessage('label.settings.locations.payStationConfiguration.enableIris')
					</div>
					<div class="txtIndent">
						<div class="detailValue availableService" id="formOnlineCard">
							#springBind("deviceGroupForm.wrappedObject.groupConfiguration.irisSettings.cardProcessing.enableOnlineProcess")##
							<input type="hidden" name="${status.expression}" id="formOnlineCardHidden" value="">
							#springMessage('label.settings.locations.payStationConfiguration.enableOnlineCreditCard')
						</div>
						<div class="detailValue txtIndent availableService" id="formOfflineCard">
							#springBind("deviceGroupForm.wrappedObject.groupConfiguration.irisSettings.cardProcessing.acceptCardsOffline")##
							<input type="hidden" name="${status.expression}" id="formOfflineCardHidden" value="">
							#springMessage('label.settings.locations.payStationConfiguration.acceptOfflineCreditCard')
						</div>
						<div class="detailValue availableService" id="formOnlineCustomCard">
							#springBind("deviceGroupForm.wrappedObject.groupConfiguration.irisSettings.cardProcessing.acceptPasscard")##
							<input type="hidden" name="${status.expression}" id="formOnlineCustomCardHidden" value="">
							#springMessage('label.settings.locations.payStationConfiguration.enableOnlineCustomCard')
						</div>
					</div>
				</div>
#end
			
				<div id="formBossSettingObj">
					<strong>#springMessage('label.settings.locations.payStationConfiguration.bossSettings')</strong>
					<div class="detailValue availableService" id="formBossDetailIrisEnabled"> #springMessage('label.settings.locations.payStationConfiguration.enableIris')</div>
					<div class="txtIndent">
						<div class="detailValue availableService" id="formBossDetailOnlineCard"> #springMessage('label.settings.locations.payStationConfiguration.enableOnlineCreditCard')</div>
						<div class="detailValue txtIndent availableService" id="formBossDetailOfflineCard"> #springMessage('label.settings.locations.payStationConfiguration.acceptOfflineCreditCard')</div>
						<div class="detailValue availableService" id="formBossDetailOnlineCustomCard"> #springMessage('label.settings.locations.payStationConfiguration.enableOnlineCustomCard')</div>
					</div>
				</div>

				<hr>
			</fieldset>	
			
			${unavailablMsgObj}
		</article>
	</section>

	<section class="col2">
		<div class="#if(!$authtools.allow('customer.payStationSettings.onlineConfiguration.schedule'))hide#end">
			<h4>#springMessage('label.reporting.form.schedule')</h4>
			<div class="details">
				<div class="left"> 
					#springBind("deviceGroupForm.wrappedObject.scheduleDate")##
					<input type="#if(!$authtools.allow('customer.payStationSettings.onlineConfiguration.schedule'))hide #else text#end" id="formScheduledDate" name="${status.expression}" class="autoText scheduleDate detailValue" $!{disableField}  maxlength="10" placeholder="#springMessage('label.date')">
				</div>	
				<div class="left">
					#springBind("deviceGroupForm.wrappedObject.scheduleTime")##
					<input type="hidden" id="formScheduledTimeVal" name="${status.expression}" value="">
					<input type="#if(!$authtools.allow('customer.payStationSettings.onlineConfiguration.schedule'))hide #else text#end" id="formScheduledTime" name="" class="autoText meridianTimeNmbrChrctr detailValue ui-autocomplete-input" $!{disableField} maxlength="11" placeholder="Time" autocomplete="off">
				</div>

				<div id="unscheduleSwitch" class="left">
					<input type="hidden" name="unscheduleCheck" id="formUnscheduleHidden" value="">
					<label id="formUnscheduleLabel" class="checkboxLabel switch" for="formUnscheduleHidden">
						<a href="#" id="formUnschedule" class="checkBox">&nbsp;</a>
						#springMessage('label.settings.locations.payStationConfiguration.unscheduled')
					</label>
				</div>
			</div>
		</div>

		<div id="offlineWarning" class="infoArea">
			<h4>#springMessage('error.common.attention')</h4>
			<article>#springMessage('label.settings.locations.payStationConfiguration.offlinePayStationMsg')</article>
		</div>
	</section>

	<section id="formPayStations" class="clear"></section>

	<section class="btnSet">
		<a href="#" class="linkButtonFtr textButton save">#springMessage('button.save')</a>
		<a href="#" class="linkButton textButton cancel">#springMessage('button.cancel')</a>
	</section>	
</form>