#* velocity document *# ##>
##
##
#springBind( "webSecurityForm.*" )##

<form id="locationSettings" name="locationEditForm" method="post" action="/">
<input type="hidden" name="sessionToken" value="$!{sessionToken}"/>
#springBind("webSecurityForm.postToken")##
<input type="hidden" name="postToken" id="postToken" value="$!{webSecurityForm.initToken}"/>
#springBind("webSecurityForm.actionFlag")##	
<input type="hidden" name="${status.expression}" id="actionFlag" value="$!{status.value}"/>
#springBind("webSecurityForm.wrappedObject.randomId")##	
<input type="hidden" name="${status.expression}" id="formLocationID" value="$!{status.value}"/>
#springBind("webSecurityForm.wrappedObject.isUnassigned")##
<input type="hidden" name="${status.expression}" id="unassignedFlag" value="false">
#if($pageSec == "sysAdmin")
<input type="hidden" name="customerID" value="${params.customerID}"/>
#end

	<section id="locationDetailsForm" class="col1">
		<h3 class="detailList">
			#springMessage('label.settings.details')
			<aside id="parentFlag-edit">
				#springBind("webSecurityForm.wrappedObject.isParent")##
				<input type="hidden" name="${status.expression}" id="parentFlagCheckHidden" value="">
				<label class="checkboxLabel switch " for="parentFlagCheckHidden">
					<a href="#" id="parentFlagCheck" class="checkBox">&nbsp;</a>
					#springMessage('label.settings.locations.parentLocation')
				</label>
			</aside>
		</h3>
		<section class="details">
			<label for="formLocationName" class="detailLabel $!{toolTipClass}" >#springMessage('label.name'):</label> 
			#springBind("webSecurityForm.wrappedObject.name")##
			<input type="text" id="formLocationName" name="${status.expression}" class="detailValue locationChrctr  reqField" required $!{disableField}  size="32" maxlength="25">
			
#set($parentCount = 0)##
#foreach($location in $locationTree)##
	#if(!$location.isUnassigned && ${location.isParent})#set($parentCount = $parentCount+1)#end##
#end##
			
			<label class="detailLabel $!{toolTipClass}" for="formParentLocationName" id="formParentLocationTitle"  #if($parentCount == 0)style="display: none;"#end>#springMessage('label.settings.locations.parentLocation'):</label>
			#springBind("webSecurityForm.wrappedObject.parentLocationId")##
			<section id="parentLocationInput" class="inputWithButton "  #if($parentCount == 0)style="display: none;"#end>
				<input type="hidden" id="formParentLocationNameVal" name="${status.expression}" value="">
				<input id="formParentLocationName" type="text" name="formParentLocationNameDisplay" autocomplete="off" class="autoText detailValue flatRight" $!{disableField} style="" placeholder="#springMessage('label.choose')" />
				<a href="#" id="formParentLocationNameExpand" class="linkButtonIcn selectMenu flatLeft " title="#springMessage('button.showOptions')"><img width="18" height="1" title="arrow" alt="arrow" src="${imgLocal}spacer.gif" border="0"></a>
			</section>

			<span id="formParentLocationNameData" class="hide">
				[
					{ "label": "#springMessage('label.choose')", "value": "-1" }
				#foreach($location in $locationTree)##
					#if(!$location.isUnassigned && ${location.isParent})
					,{ "label": "$esc.javascript(${location.name})", "value": "${location.randomId}" }
					#end
				#end		
				]
			</span>
			
			<label for="formDescription" class="detailLabel $!{toolTipClass}" >#springMessage('label.description'):</label> 
			#springBind("webSecurityForm.wrappedObject.description")##
			<textarea rows="2" id="formDescription" name="${status.expression}" maxlength="80" class="detailValue prntableChrctr chrctrCount80 " $!{disableField} ></textarea>

			<label for="formOperatingMode" id="formOperatingModeTitle" class="detailLabel">#springMessage('label.settings.rates.operatingMode'):</label>
			<section id="formOperatingModeLine">
				<section id="formOperatingModeArea" class="inputWithButton left">
					#springBind("webSecurityForm.wrappedObject.permitIssueTypeId")##	
					<input type="hidden" id="formOperatingModeVal" name="${status.expression}" value="">
					<input id="formOperatingMode" type="text" name="formOperatingModeDisplay" autocomplete="off" class="autoText detailValue flatRight reqField" />
					<a href="#" id="formOperatingModeExpand" class="linkButtonIcn selectMenu flatLeft" title="#springMessage('button.showOptions')"><img width="18" height="1" title="arrow" alt="arrow" src="${imgLocal}spacer.gif" border="0"></a>
				</section>
			</section>
			<span id="formOperatingModeData" class="hide">
				[{"label": "#springMessage('label.choose')", "value": -1}, {"label": "#springMessage('label.multiple')", "value": 0} #foreach($type in $permitIssueTypeList ), { "label": "$type.name", "value": $type.id }#end]
			</span>
						
			<label for="formCapacity" id="formCapacityTitle" class="detailLabel">#springMessage('label.capacity') <span class="note">(#springMessage('label.settings.locations.nmbrofSpaces'))</span>:</label>
			#springBind("webSecurityForm.wrappedObject.capacity")##
			<input type="text" id="formCapacity" name="${status.expression}" class="detailValue intNmbrChrctr reqField" required size="7" maxlength="6">
			
			<label for="formTargetRevenue" id="formTargetRevenueTitle" class="detailLabel">#springMessage('label.settings.locations.trgtMonthlyRevenue'):</label> 
			#springBind("webSecurityForm.wrappedObject.targetMonthlyRevenue")##
			<span id="tmrDollar">$</span><input type="text" id="formTargetRevenue" name="${status.expression}" class="detailValue intNmbrChrctr" size="10" maxlength="9">
		</section>
	</section>

	<section id="formOperationHours" class="col2">
	<h3 class="detailList">#springMessage('label.settings.locations.operatingHours')</h3>
		<table class="details" cellpadding="0" cellspacing="0" border="0" style="margin:0 auto;">
			<tr>
				<th></th>
				<th class="opentime">#springMessage('label.settings.locations.operatingHours.open')</th>
				<th class="closedtime">#springMessage('label.settings.locations.operatingHours.close')</th>
				<th class="open24">#springMessage('label.settings.locations.operatingHours.24hrs')</th>
				<th class="closed24">#springMessage('label.settings.locations.operatingHours.closed')</th>
			</tr>	
##
#set($hr = 0)##
#set($mn = 0)##
#set($dayPortion = [" am"," pm"])##
#set($days = ["Sun","Mon","Tues","Wed","Thur","Fri","Sat"])##
#foreach($day in [0..6])##
			<tr id="Day${day}">
				<td class="detailLabel">${days[$day]}</td>
				<td colspan="2" class="allDayOpen">#springMessage('label.settings.locations.operatingHours.open24hours')</td>
				<td colspan="2" class="allDayClosed">#springMessage('label.settings.locations.operatingHours.closed24hours')</td>
				<td class="opentime">
					#springBind("webSecurityForm.wrappedObject.locationOpen")##
					<select name="${status.expression}" id="${days[$day]}Open">
						<option value="-1" selected="selected"> ---- </option>
				#set($oTimeCount = 0)
				#foreach($hr in [0..23])
					#set($ampm = '')
					#if($hr < 12) #set($ampm = 0) #else #set($ampm = 1) #end
					
					#if($hr == 0) 
						#set($hour = 12) 
					#elseif($hr > 12) 
						#set($hour = $hr - 12) 
						#if($hour < 10)
							#set($hour = "0"+$hour)
						#end
					#elseif($hr < 10) 
						#set($hour = "0"+$hr)
					#else 
						#set($hour = $hr) 
					#end
					
					#foreach($mn in [0..3])
						#if($mn==0) #set($minute = "00") #else #set($minute = $mn*15)#end
						<option value="${oTimeCount}">${hour}:${minute}$dayPortion[$ampm]</option>
						#set($oTimeCount = $oTimeCount + 1)
					#end
				#end
					</select>
				</td>
				<td class="closedtime">
					#springBind("webSecurityForm.wrappedObject.locationClose")##
					<select name="${status.expression}" id="${days[$day]}Close">
						<option value="-1" selected="selected"> ---- </option>
				#set($cTimeCount = 0)
				#foreach($hr in [0..47])
					#set($ampm = '')
					#if($hr < 12 || ($hr >= 24 && $hr < 36)) #set($ampm = 0) #else #set($ampm = 1) #end
					
					#if($hr == 0) 
						#set($hour = 12) 
					#elseif($hr < 10) 
						#set($hour = "0"+$hr)
					#elseif($hr > 12 && $hr <= 24) 
						#set($hour = $hr - 12) 
						#if($hour < 10)
							#set($hour = "0"+$hour)
						#end
					#elseif($hr > 24 && $hr <= 36)
						#set($hour = $hr - 24)
						#if($hour < 10)
							#set($hour = "0"+$hour)
						#end
					#elseif($hr > 36)
						#set($hour = $hr - 36)
						#if($hour < 10)
							#set($hour = "0"+$hour)
						#end
					#else 
						#set($hour = $hr) 
					#end
					
					#foreach($mn in [0..3])
						#if($hr == 0 && $mn == 0) #else
							#if($mn==0) #set($minute = "00") #else #set($minute = $mn*15)#end
							#if($day==6) #set($nextDay = 0 ) #else #set($nextDay = $day + 1 ) #end
							<option value="${cTimeCount}" #if($hr >= 24)class="nxtDy"#end>${hour}:${minute}$dayPortion[$ampm] #if($hr >= 24)(${days[$nextDay]})#end</option>
							#set($cTimeCount = $cTimeCount + 1)
						#end
					#end
				#end
					</select>
				</td>
				<td class="open24">
					#springBind("webSecurityForm.wrappedObject.openEntireDay")##
					<input type="hidden" name="${status.expression}" id="${days[$day]}24hrHidden" value="false">
					<label id="${days[$day]}24hrLbl" class="checkboxLabel switch" for="${days[$day]}24hrHidden"><a href="#" id="${days[$day]}24hr" class="checkBox checked">&nbsp;</a></label>
				</td>
				<td class="closed24">
					#springBind("webSecurityForm.wrappedObject.closedEntireDay")##
					<input type="hidden" name="${status.expression}" id="${days[$day]}ClsdHidden" value="false">
					<label id="${days[$day]}ClsdLbl" class="checkboxLabel switch" for="${days[$day]}ClsdHidden"><a href="#" id="${days[$day]}Clsd" class="checkBox">&nbsp;</a></label>
				</td>
			</tr>
#end##

		</table>
	</section>
	<section class="isUnassignedLabel col1">
		<h3 class="detailList">#springMessage('label.settings.details')</h3>
		<dl class="details">
			<dt class="detailLabel">#springMessage('label.name'):</dt> 
			<dd class="detailValue UnassignedName"></dd>
		</dl>
	</section>
	
	#springBind("webSecurityForm.wrappedObject.selectedPayStationRandomIds")##
	<input type="hidden" class="formPaystationChildren" name="${status.expression}" id="psSelections" value="">
			
	#springBind("webSecurityForm.wrappedObject.selectedChildLocationRandomIds")##
	<input type="hidden" class="formLocationChildren" name="${status.expression}" id="locSelections" value="">

	#springBind("webSecurityForm.wrappedObject.selectedPropertyRandomIds")##
	<input type="hidden" class="formPropertyChildren" name="${status.expression}" id="propSelections" value="">

	#springBind("webSecurityForm.wrappedObject.selectedFacilityRandomIds")##
	<input type="hidden" class="formFacilityChildren" name="${status.expression}" id="facSelections" value="">
	
	#springBind("webSecurityForm.wrappedObject.selectedLotRandomIds")##
	<input type="hidden" class="formLotChildren" name="${status.expression}" id="lotSelections" value="">

</form>
	
	<section id="formPaystationChildren" class="optionListArea">
		<h3 class="detailList">#springMessage('label.payStations')</h3>
		<span class="details">
			<section class="fullListHeader detailLabel">#springMessage('label.settings.locations.allPayStations'): <label class="checkboxLabel switch right "  for="psSelections"><a href="#" id="psSelectionsAll" class="checkBox">&nbsp;</a> #springMessage('label.selectAll')</label></section>
			<section class="selectedListHeader detailLabel">
				<section class="left">#springMessage('label.settings.locations.selectedPayStations'):</section>
				<a href="#" id="clearSelected" for="psSelections">#springMessage('button.clear')</a>
			</section>
			<ul class="fullList locationForm "  id="locPSFullList"></ul>
			<ul class="selectedList locationForm "  id="locPSSelectedList"></ul>
		</span>
	</section>
	
	<section id="formLocationChildren" class="optionListArea">
		<h3 class="detailList">#springMessage('label.locations')</h3>
		<span class="details">
			<section class="fullListHeader detailLabel">#springMessage('label.settings.locations.allLocations'): <label class="checkboxLabel switch right "  for="locSelections"><a href="#" id="locSelectionsAll" class="checkBox">&nbsp;</a> #springMessage('label.selectAll')</label></section>
			<section class="selectedListHeader detailLabel">
				<section class="left">#springMessage('label.settings.locations.selectedLocations'):</section>
				<a href="#" id="clearSelected" for="locSelections">#springMessage('button.clear')</a>
			</section>
			<ul class="fullList locationForm "  id="locLocFullList"></ul>
			<ul class="selectedList locationForm "  id="locLocSelectedList"></ul>
		</span>
	</section>

<section id="flexArea" class="#if(!${flexSub})hide #end">
    <h2 class="assignmentHeadingMrgn">#springMessage('label.settings.locations.flexAssignmentHeading')</h2>
	<section id="formPropertyChildren" class="optionListArea">
		<h3 class="detailList">#springMessage('label.properties')</h3>
		<span class="details">
			<section class="fullListHeader detailLabel">#springMessage('label.settings.locations.allProperties'): <label class="checkboxLabel switch right "  for="propSelections"><a href="#" id="propSelectionsAll" class="checkBox">&nbsp;</a> #springMessage('label.selectAll')</label></section>
			<section class="selectedListHeader detailLabel">
				<section class="left">#springMessage('label.settings.locations.selectedProperties'):</section>
				<a href="#" id="clearSelected" for="propSelections">#springMessage('button.clear')</a>
			</section>
			<ul class="fullList locationForm "  id="locPropFullList"></ul>
			<ul class="selectedList locationForm "  id="locPropSelectedList"></ul>
		</span>
	</section>
	
	<section id="formFacilityChildren" class="optionListArea">
		<h3 class="detailList">#springMessage('label.facilities')</h3>
		<span class="details">
			<section class="fullListHeader detailLabel">#springMessage('label.settings.locations.allFacilities'): <label class="checkboxLabel switch right "  for="facSelections"><a href="#" id="facSelectionsAll" class="checkBox">&nbsp;</a> #springMessage('label.selectAll')</label></section>
			<section class="selectedListHeader detailLabel">
				<section class="left">#springMessage('label.settings.locations.selectedFacilities'):</section>
				<a href="#" id="clearSelected" for="facSelections">#springMessage('button.clear')</a>
			</section>
			<ul class="fullList locationForm "  id="locFacFullList"></ul>
			<ul class="selectedList locationForm "  id="locFacSelectedList"></ul>
		</span>
	</section>
</section>

<section id="autoCountArea" class="#if(!${caseSub})hide #end">
    <h2 class="autoCountHeading assignmentHeadingMrgn">#springMessage('label.settings.locations.autoCountAssignmentHeading')</h2>
	<section id="formLotChildren" class="optionListArea">
		<h3 class="detailList">#springMessage('label.settings.locations.autoCountLocation')</h3>
		<span class="details">
			<section class="fullListHeader detailLabel">#springMessage('label.settings.locations.allAutoCountLocation'): <label class="checkboxLabel switch right "  for="lotSelections"><a href="#" id="lotSelectionsAll" class="checkBox">&nbsp;</a> #springMessage('label.selectAll')</label></section>
			<section class="selectedListHeader detailLabel">
				<section class="left">#springMessage('label.settings.locations.selectedAutoCountLocation'):</section>
				<a href="#" id="clearSelected" for="lotSelections">#springMessage('button.clear')</a>
			</section>
			<ul class="fullList locationForm "  id="locLotFullList"></ul>
			<ul class="selectedList locationForm "  id="locLotSelectedList"></ul>
		</span>
	</section>
</section>

	<section class="btnSet">
		<a href="#" class="linkButtonFtr textButton save">#springMessage('button.save')</a>
		<a href="#" class="linkButton textButton cancel">#springMessage('button.cancel')</a>
	</section>	

<section id="ProfileAssignmentSmpl" class="hide">
	<section id="profileAssignmentItem" class="profileAssignmentItem form">
		<section class="assignmentForm">
		#springBind("rateProfileLocationFormForLocation.*")## 
		<form id="assignmentForm" name="assignmentForm">
			#springBind("rateProfileLocationFormForLocation.postToken")##
			<input type="hidden" name="postToken" id="pubPostToken" class="postToken" value="$!{rateProfileLocationFormForLocation.initToken}"/>
			#springBind("rateProfileLocationFormForLocation.wrappedObject.locationRandomId")##	
			<input type="hidden" name="${status.expression}" id="pubProfileID" class="locationID" value="$!{status.value}"/>
			#springBind("rateProfileLocationFormForLocation.wrappedObject.randomId")##	
			<input type="hidden" name="${status.expression}" id="profileInstanceID" class="profileInstncID" value="$!{status.value}"/>		
			<section class="profileNameBox inputWithButton">
				#springBind("rateProfileLocationFormForLocation.wrappedObject.rateProfileRandomId")##
				<input type="hidden" id="profileAssignVal" class="profileAssignVal" name="${status.expression}" value="">
				<input id="profileAssign" type="text" name="formProfileAssignDisplay" autocomplete="off" class="autoText detailValue flatRight" style="width: 200px;" />
				<a href="#" id="profileAssignExpand" class="linkButtonIcn selectMenu flatLeft" title="#springMessage('button.showOptions')"><img width="18" height="1" title="arrow" alt="arrow" src="${imgLocal}spacer.gif" border="0"></a>
			</section>
			<section class="profileNameBoxDsp detailLabel display">
			<img src="${imgLocal}spacer.gif" width="1" height="20">
			</section>
			<section class="operatingMode">
				<span class="operatingModeDisplay detailLabel"></span>
				#springBind("rateProfileLocationFormForLocation.wrappedObject.spaceRange")##
				<input type="text" id="rangeSpec" size="15" name="${status.expression}" value="" class="payBySpaceDisplay detailValue toolTip" tooltip="#springMessage('label.parkRangeRegEx')">
				<span class="detailLabel spaceRange display"></span>
				<img src="${imgLocal}spacer.gif" width="1" height="20">
			</section>
			<section class="dateRange">
				#springBind("rateProfileLocationFormForLocation.wrappedObject.startDate")##
				<input type="text" id="pubStartDate" size="12" name="${status.expression}" value="" class="reqField detailValue startDate">
				<span class="detailLabel startDate display"></span>
				<span class="detailLabel toMsg">#springMessage('label.to')</span>
				<span class="detailLabel endDate display"></span>
				#springBind("rateProfileLocationFormForLocation.wrappedObject.endDate")##
				<input type="text" id="pubEndDate" size="12" name="${status.expression}" value="" class="detailValue endDate">
				<img src="${imgLocal}spacer.gif" class="display" width="1" height="20">
			</section>
			<a href="#" class="linkButtonIcn confirmBtn Ftr save"><img name="Confirm" width="18" height="1" border="0" src="${imgLocal}spacer.gif"/></a>
			<a href="#" id="opBtn_profileAssignMenu" class="linkButtonIcn confirmBtn menu"><img name="Menu" width="18" height="1" border="0" src="${imgLocal}spacer.gif"/></a>
			<section class="confirmation_icn onlineRate right"><img src="${imgLocal}spacer.gif" border="0" width="23" height="1"></section>
		</form>
		</section>
		<section id="menu_profileAssignMenu" class="ddMenu">
			<img src="${imgLocal}icn_ddMenuArrow.png" class="rightSidePoint" width="25" height="13" border="0" />
			<section class="menuOptions innerBorder">
				<a href="#" class="edit btnEditProfile formAction" title="#springMessage('button.edit')">#springMessage('button.edit')</a>
				<a href="#" class="delete btnDeleteProfile formAction" title="#springMessage('button.delete')">#springMessage('button.delete')</a>
			</section>
		</section>
	</section>
</section>