<section id="locationDetailsView" class="col1">
	<h3 class="detailList">
		#springMessage('label.settings.details')
		<aside id="parentFlag-view"><img alt="Parent Location" src="${imgLocal}icn_LocationParent.png">
			#springMessage('label.settings.locations.parentLocation') 
		</aside>
	</h3>
	<dl class="details">
		<dt class="detailLabel">#springMessage('label.name'):</dt> 
		<dd id="detailLocationName" class="detailValue"></dd>
		<dt id="detailParentLocationTitle" class="detailLabel">#springMessage('label.settings.locations.parentLocation'):</dt>
		<dd id="detailParentLocationName" class="detailValue"></dd>
		<dt id="detailDescriptionTitle" class="detailLabel">#springMessage('label.description'):</dt> 
		<dd id="detailDescription" class="detailValue"></dd>
		<dt id="detailOpModeTitle" class="detailLabel">#springMessage('label.settings.rates.operatingMode'):</dt> 
		<dd id="detailOpMode" class="detailValue"></dd>
		<dt class="detailLabel">#springMessage('label.capacity') <span class="note">(#springMessage('label.settings.locations.nmbrofSpaces'))</span>:</dt>
		<dd id="detailCapacity" class="detailValue"></dd>
		<dt class="detailLabel">#springMessage('label.settings.locations.trgtMonthlyRevenue'):</dt> 
		<dd id="detailTargetRevenue" class="detailValue"></dd>
	</dl>

</section>

<section class="isUnassignedLabel col1">
	<h3 class="detailList">#springMessage('label.settings.details')</h3>
	<dl class="details">
		<dt class="detailLabel">#springMessage('label.name'):</dt> 
		<dd class="detailValue UnassignedName"></dd>
	</dl>
</section>
	
<section class="col2">
	<section id="operationHours">
		<h3 class="detailList">#springMessage('label.settings.locations.operatingHours')</h3>
		<dl class="details timeSelection">
		#set($days = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"])##
		#foreach($day in [0..6])##
			<dt class="detailLabel">${days[$day]}</dt>
			<dd id="${days[$day]}Time" class="detailValue">
				<span id="${days[$day]}Start"></span>
				<span class="info">#springMessage('label.to')</span> 
				<span id="${days[$day]}End"></span>
			</dd>
			<dd id="${days[$day]}Open" class="open24">#springMessage('label.settings.locations.operatingHours.open24hours')</dd>
			<dd id="${days[$day]}Closed" class="closed24">#springMessage('label.settings.locations.operatingHours.closed24hours')</dd>
		#end##
		</dl>
	</section>
</section>
	
<section id="PaystationChildren" class="clear">	
	<h3 class="detailList">
		#springMessage('label.payStations')
		#if($authtools.allow('customer.payStationPlacement') or $authtools.allow('system.payStationPlacement'))
		<a id="PlacePS" href="#" class="linkButtonIcn Ftr pin right" title="#springMessage('label.settings.locations.paystationPlacement.placePayStations')">
			<img width="18" height="1" title="#springMessage('label.settings.locations.paystationPlacement.placePayStations')" alt="#springMessage('label.settings.locations.paystationPlacement.placePayStations')" src="${imgLocal}spacer.gif" border="0">
		</a>
		#end
	</h3>
	<ul id="psChildList" class="borderList column-3-3-3 details">
		
	</ul>
</section>

<section id="LocationChildren" class="clear">
	<h3 class="detailList">#springMessage('label.locations')</h3>
	<ul id="locChildList" class="borderList column-3-3-3 details">
		
	</ul>
</section>

<section style="overflow: hidden; width: 100%; margin-top: 8px;">
	<section id="flexViewArea" class="#if(!${flexSub})hide #end left" style="width: 67%;">
		<h2 id="flexViewHeading" class="assignmentHeadingMrgn">#springMessage('label.settings.locations.flexAssignmentHeading')</h2>
		<section id="PropertiesChildren" class="col1">
			<h3 class="detailList">#springMessage('label.properties')</h3>
			<ul id="propChildList" class="listStyle details">
			</ul>
		</section>
		
		<section id="FacilitiesChildren" class="col2">
			<h3 class="detailList">#springMessage('label.facilities')</h3>
			<ul id="facChildList" class="listStyle details">
			</ul>
		</section>
	</section>
	
	<section id="caseViewArea" class="#if(!${caseSub})hide #end left" style="width: 32%;">
		<h2 id="viewAutoCountHeading" class="autoCountHeading assignmentHeadingMrgn">#springMessage('label.settings.locations.autoCountAssignmentHeading')</h2>
		<section id="LotsChildren">
			<h3 class="detailList">#springMessage('label.settings.locations.autoCountLocation')</h3>
			<ul id="lotChildList" class="listStyle details">
			</ul>
		</section>
	</section>
</section>


<section id="rateProfileCalendar" class="hide">
	<section id="profileCal" class="setHeight"></section>
</section>