#* velocity document *#
<section id="psLastSeen" class="activityLog horizontal" style="overflow: hidden; margin-bottom: 7px;">
	<section class="title">
			<img title="filter" src="${imgLocal}icn_Time.png" width="15" height="19" border="0">
	</section>
	<section class="valueArea left">
		<strong class="left">#springMessage('label.settings.locations.paystationList.status.allCaps.lastSeen'):</strong>
		<section class="value left"></section>
	</section>
</section>

${refreshBtn}
<section id="psDashboard" class="clear">
	<section class="col1">
		<section id="batteryVoltageWdgt" class="groupBox psWidget">
			<header>
				<span class="wdgtName">#springMessage('label.settings.locations.paystationList.status.batteryVoltage')</span>
				<a id="opBtn_batteryVoltage" title="#springMessage('label.optionMenu')" class="hdrButtonIcn menu" href="#"><img width="18" height="1" title="#springMessage('label.reload')" src="${imgLocal}spacer.gif" border="0"></a>
			</header>
			<section id="menu_batteryVoltage" class="ddMenu">
				<img class="point" width="25" height="13" border="0" src="${imgLocal}icn_ddMenuArrow.png">
				<section class="menuOptions innerBorder">
					<a id="batteryVoltageReload" class="reload" title="#springMessage('label.reload')" href="#">#springMessage('label.reload')</a>
					<a href="#" class="xpndWdgt" title="#springMessage('button.maximizeChart')">#springMessage('button.maximizeChart')</a>
					<a id="batteryVoltageHistory" class="svCSV" title="#springMessage('label.settings.locations.paystationList.status.saveHistory')" href="#">#springMessage('label.settings.locations.paystationList.status.saveHistory')</a>
				</section>
			</section>
			<section class="groupBoxBody">
				#parse("${dirPrefix}include/loading.vm")
			</section>
			<hr class="divider">
			<section class="smallHeading">#springMessage('label.settings.locations.paystationList.status.recentHistory')</section>
			<section id="batteryVoltageGraph" class="chartGraph">#parse("${dirPrefix}include/loading.vm")</section>
			<section id="batteryVoltageGraphData" class="hide"></section>
		</section>
		<section id="ControllerTemperatureWdgt" class="groupBox psWidget">
			<header>
				<span class="wdgtName">#springMessage('label.settings.locations.paystationList.status.controllerTemperature')</span>
				<a id="opBtn_ControllerTemperature" title="#springMessage('label.optionMenu')" class="hdrButtonIcn menu" href="#"><img width="18" height="1" title="#springMessage('label.reload')" src="${imgLocal}spacer.gif" border="0"></a>
			</header>
			<section id="menu_ControllerTemperature" class="ddMenu">
				<img class="point" width="25" height="13" border="0" src="${imgLocal}icn_ddMenuArrow.png">
				<section class="menuOptions innerBorder">
					<a id="ControllerTemperatureReload" class="reload" title="#springMessage('label.reload')" href="#">#springMessage('label.reload')</a>
					<a href="#" class="xpndWdgt" title="#springMessage('button.maximizeChart')">#springMessage('button.maximizeChart')</a>
					<a id="ControllerTemperatureHistory" class="svCSV" title="#springMessage('label.settings.locations.paystationList.status.saveHistory')" href="#">#springMessage('label.settings.locations.paystationList.status.saveHistory')</a>
				</section>
			</section>
			<section class="groupBoxBody">
				#parse("${dirPrefix}include/loading.vm")
			</section>
			<hr class="divider">
			<section class="smallHeading">#springMessage('label.settings.locations.paystationList.status.recentHistory')</section>
			<section id="ControllerTemperatureGraph" class="chartGraph">#parse("${dirPrefix}include/loading.vm")</section>
			<section id="ControllerTemperatureGraphData" class="hide"></section>
		</section>
	#if($pageSec == "sysAdmin")
		<section id="systemLoadWdgt" class="groupBox psWidget">
			<header>
				<span class="systemLoadName">#springMessage('label.settings.locations.paystationList.status.systemLoad')</span>
				<a id="opBtn_systemLoad" title="#springMessage('label.optionMenu')" class="hdrButtonIcn menu" href="#"><img width="18" height="1" title="#springMessage('label.reload')" src="${imgLocal}spacer.gif" border="0"></a>
			</header>
			<section id="menu_systemLoad" class="ddMenu">
				<img class="point" width="25" height="13" border="0" src="${imgLocal}icn_ddMenuArrow.png">
				<section class="menuOptions innerBorder">
					<a id="systemLoadReload" class="reload" title="#springMessage('label.reload')" href="#">#springMessage('label.reload')</a>
					<a href="#" class="xpndWdgt" title="#springMessage('button.maximizeChart')">#springMessage('button.maximizeChart')</a>
					<a id="systemLoadHistory" class="svCSV" title="#springMessage('label.settings.locations.paystationList.status.saveHistory')" href="#">#springMessage('label.settings.locations.paystationList.status.saveHistory')</a>
				</section>
			</section>
			<section class="groupBoxBody">
				#parse("${dirPrefix}include/loading.vm")
			</section>
			<hr class="divider">
			<section class="smallHeading">#springMessage('label.settings.locations.paystationList.status.recentHistory')</section>
			<section id="systemLoadGraph" class="chartGraph">#parse("${dirPrefix}include/loading.vm")</section>
			<section id="systemLoadGraphData" class="hide"></section>
		</section>
	#end
		
	</section>
	
	<section class="col2">
		<section id="inputCurrentWdgt" class="groupBox psWidget">
			<header>
				<span class="wdgtName">#springMessage('label.settings.locations.paystationList.status.inputCurrent')</span>
				<a id="opBtn_inputCurrent" title="#springMessage('label.optionMenu')" class="hdrButtonIcn menu" href="#"><img width="18" height="1" title="#springMessage('label.reload')" src="${imgLocal}spacer.gif" border="0"></a>
			</header>
			<section id="menu_inputCurrent" class="ddMenu">
				<img class="point" width="25" height="13" border="0" src="${imgLocal}icn_ddMenuArrow.png">
				<section class="menuOptions innerBorder">
					<a id="inputCurrentReload" class="reload" title="#springMessage('label.reload')" href="#">#springMessage('label.reload')</a>
					<a href="#" class="xpndWdgt" title="#springMessage('button.maximizeChart')">#springMessage('button.maximizeChart')</a>
					<a id="inputCurrentHistory" class="svCSV" title="#springMessage('label.settings.locations.paystationList.status.saveHistory')" href="#">#springMessage('label.settings.locations.paystationList.status.saveHistory')</a>
				</section>
			</section>
			<section class="groupBoxBody">
				#parse("${dirPrefix}include/loading.vm")
			</section>
			<hr class="divider">
			<section class="smallHeading">#springMessage('label.settings.locations.paystationList.status.recentHistory')</section>
			<section id="inputCurrentGraph" class="chartGraph">#parse("${dirPrefix}include/loading.vm")</section>
			<section id="inputCurrentGraphData" class="hide"></section>
		</section>
		
		<section id="relativeHumidityWdgt" class="groupBox psWidget">
			<header>
				<span class="wdgtName">#springMessage('label.settings.locations.paystationList.status.relativeHumidity')</span>
				<a id="opBtn_relativeHumidity" title="#springMessage('label.optionMenu')" class="hdrButtonIcn menu" href="#"><img width="18" height="1" title="#springMessage('label.reload')" src="${imgLocal}spacer.gif" border="0"></a>
			</header>
			<section id="menu_relativeHumidity" class="ddMenu">
				<img class="point" width="25" height="13" border="0" src="${imgLocal}icn_ddMenuArrow.png">
				<section class="menuOptions innerBorder">
					<a id="relativeHumidityReload" class="reload" title="#springMessage('label.reload')" href="#">#springMessage('label.reload')</a>
					<a href="#" class="xpndWdgt" title="#springMessage('button.maximizeChart')">#springMessage('button.maximizeChart')</a>
					<a id="relativeHumidityHistory" class="svCSV" title="#springMessage('label.settings.locations.paystationList.status.saveHistory')" href="#">#springMessage('label.settings.locations.paystationList.status.saveHistory')</a>
				</section>
			</section>
			<section class="groupBoxBody">
				#parse("${dirPrefix}include/loading.vm")
			</section>
			<hr class="divider">
			<section class="smallHeading">#springMessage('label.settings.locations.paystationList.status.recentHistory')</section>
			<section id="relativeHumidityGraph" class="chartGraph">#parse("${dirPrefix}include/loading.vm")</section>
			<section id="relativeHumidityGraphData" class="hide"></section>
		</section>		
	</section>
</section>

<section id="expandedWdgt" wdgtID="">
	<section id="xpndContent" class="widgetContent"></section>
</section>
