#* velocity document *###
<article>
#springMessage('label.location'): $!{transactionReportDetail.locationName}<br>##private String locationName;
#springMessage('label.payStation'): #if(${transactionReportDetail.payStationName})$!{transactionReportDetail.payStationName} <span class="note">$!{transactionReportDetail.payStationSerial}</span>#else$!{transactionReportDetail.payStationSerial}#end<br>
</article>
<section class="reportBody">
<dl class="fixedWidthFont">
	<dt class="detailLabel">#springMessage('label.settings.locations.paystationList.transactionReport.transactionNumber')</dt>		
	<dd class="detailValue">$!{transactionReportDetail.transactionNumber}</dd>
##
	<dt class="detailLabel">#springMessage('label.settings.locations.paystationList.transactionReport.lotNumber')</dt>
	<dd class="detailValue">$!{transactionReportDetail.lotNumber}</dd>
##
	<dt class="detailLabel">#springMessage('label.settings.locations.paystationList.transactionReport.stallNumber')</dt>
	<dd class="detailValue">##
#if($transactionReportDetail.stallNumber != 0)${transactionReportDetail.stallNumber}#else N/A#end</dd>
##
	<dt class="detailLabel">#springMessage('label.settings.locations.paystationList.transactionReport.licensePlateNumber')</dt>
	<dd class="detailValue">##
#if(${transactionReportDetail.licensePlateNumber} && ${transactionReportDetail.licensePlateNumber} != "")${transactionReportDetail.licensePlateNumber}#else N/A#end</dd>
##
	<dt class="detailLabel">#springMessage('label.settings.locations.paystationList.transactionReport.type')</dt>
	<dd class="detailValue">$!{transactionReportDetail.transactionType}</dd>
##
	<dt class="detailLabel">#springMessage('label.settings.locations.paystationList.transactionReport.paymentType')</dt>
	<dd class="detailValue">$!{transactionReportDetail.paymentType}</dd>
##
#if(${transactionReportDetail.addTimeNumber})
	<dt class="detailLabel">#springMessage('label.settings.locations.paystationList.transactionReport.addTimeNumber')</dt>
	<dd class="detailValue">##
#if($transactionReportDetail.addTimeNumber != 0)${transactionReportDetail.addTimeNumber}#else N/A#end</dd>
#end
#if(${transactionReportDetail.transactionType} == "Monthly")
	<dt class="detailLabel">#springMessage('label.settings.locations.paystationList.transactionReport.startDate')</dt>
	<dd class="detailValue">$!{transactionReportDetail.monthlyStartDate}</dd>
#end
##
	<dt class="detailLabel">#springMessage('label.settings.locations.paystationList.transactionReport.purchasedDate')</dt>
	<dd class="detailValue">$!{transactionReportDetail.purchasedDate}</dd>
##
	<dt class="detailLabel">#springMessage('label.settings.locations.paystationList.transactionReport.expiryDate')</dt>
	<dd class="detailValue">$!{transactionReportDetail.expiryDate}</dd>
##
	<dt class="detailLabel">#springMessage('label.settings.locations.paystationList.transactionReport.chargedAmount')</dt>
	<dd class="detailValue dollarDisplay">$!number.format("currency", $!{transactionReportDetail.chargedAmount})</dd>
##
#if(${transactionReportDetail.transactionType} == "Replenish")
	<dt class="detailLabel">#springMessage('label.settings.locations.paystationList.transactionReport.replenishCoinChanger')</dt>
#elseif($!{transactionReportDetail.transactionType} == "Hopper1Add")
	<dt class="detailLabel">#springMessage('label.settings.locations.paystationList.transactionReport.replenishCoinHopper1')</dt>
#elseif($!{transactionReportDetail.transactionType} == "Hopper2Add")
	<dt class="detailLabel">#springMessage('label.settings.locations.paystationList.transactionReport.replenishCoinHopper2')</dt>
#else
	<dt class="detailLabel">#springMessage('label.settings.locations.paystationList.transactionReport.cashPaid')</dt>
#end
	<dd class="detailValue dollarDisplay">
#if(${transactionReportDetail.cashPaid})$!number.format("currency", $!{transactionReportDetail.cashPaid})#else $0.00#end</dd>
##	
	<dt class="detailLabel">#springMessage('label.settings.locations.paystationList.transactionReport.cardPaid')</dt>
	<dd class="detailValue dollarDisplay">
#if(${transactionReportDetail.cardPaid})$!number.format("currency", $!{transactionReportDetail.cardPaid})#else $0.00#end</dd>
##
	<dt class="detailLabel">#springMessage('label.settings.locations.paystationList.transactionReport.smartCardPaid')</dt>
	<dd class="detailValue dollarDisplay">
#if(${transactionReportDetail.smartCardPaid})$!number.format("currency", $!{transactionReportDetail.smartCardPaid})#else $0.00#end</dd>
##
	<dt class="detailLabel">#springMessage('label.settings.locations.paystationList.transactionReport.valueCardPaid')</dt>
	<dd class="detailValue dollarDisplay">
#if(${transactionReportDetail.valueCardPaid})$!number.format("currency", $!{transactionReportDetail.valueCardPaid})#else $0.00#end</dd>
##
	<dt class="detailLabel">#springMessage('label.settings.locations.paystationList.transactionReport.excessPayment')</dt>
	<dd class="detailValue dollarDisplay">
#if(${transactionReportDetail.excessPayment})$!number.format("currency", $!{transactionReportDetail.excessPayment})#else $0.00#end</dd>
##
	<dt class="detailLabel">#springMessage('label.settings.locations.paystationList.transactionReport.changeDispensed')</dt>
	<dd class="detailValue dollarDisplay">
#if(${transactionReportDetail.changeDispensed})$!number.format("currency", $!{transactionReportDetail.changeDispensed})#else $0.00#end</dd>
##
	<dt class="detailLabel">#springMessage('label.settings.locations.paystationList.transactionReport.refundSlip')</dt>
	<dd class="detailValue dollarDisplay">##
#if(${transactionReportDetail.amountRefundedSlip} != 0)$!number.format("currency", $!{transactionReportDetail.amountRefundedSlip})#else N/A#end</dd><br><br>
##	
#if((${transactionReportDetail.cardPaid} && ${transactionReportDetail.cardPaid} != 0) || (${transactionReportDetail.valueCardPaid} && ${transactionReportDetail.valueCardPaid} != 0))
		<dt class="detailLabel">#springMessage('label.settings.locations.paystationList.transactionReport.cardType')</dt>
		<dd class="detailValue">##
	#if(${transactionReportDetail.cardType})##
		${transactionReportDetail.cardType}##
	#elseif(${transactionReportDetail.cardPaid} && ${transactionReportDetail.cardPaid} != 0)##
		#springMessage('label.settings.locations.paystationList.transactionReport.offlineCreditCard')
	#else Unknown Card Type #end</dd>
##
		<dt class="detailLabel">#springMessage('label.settings.locations.paystationList.transactionReport.cardData')</dt>
		<dd class="detailValue">##
	#if(${transactionReportDetail.cardNumber} && ${transactionReportDetail.cardNumber} != 0)${transactionReportDetail.cardNumber}#else N/A#end</dd>
##
	#if(${transactionReportDetail.processingDate})
		<dt class="detailLabel">#springMessage('label.settings.locations.paystationList.transactionReport.status')</dt>
		<dd class="detailValue">${transactionReportDetail.status}</dd>
##
		#if(${transactionReportDetail.authorizationNumber})
			<dt class="detailLabel">#springMessage('label.settings.locations.paystationList.transactionReport.authorizationID')</dt>
			<dd class="detailValue">${transactionReportDetail.authorizationNumber}</dd>
		#end
##
		#if(${transactionReportDetail.referenceNumber})
			<dt class="detailLabel">#springMessage('label.settings.locations.paystationList.transactionReport.referenceNumber')</dt>
			<dd class="detailValue">${transactionReportDetail.referenceNumber}</dd>
		#end
##		
		#if(${transactionReportDetail.processorTransactionTypeId} != 1)
			<dt class="detailLabel">#springMessage('label.settings.locations.paystationList.transactionReport.settlementDate')</dt>
			<dd class="detailValue">${transactionReportDetail.processingDate}</dd>
		#end
##		
	#end
	#if(${transactionReportDetail.amountRefundedCard} gt 0)
		<dt class="detailLabel">#springMessage('label.settings.locations.paystationList.transactionReport.amountRefunded')</dt>
		<dd class="detailValue dollarDisplay">$!number.format("currency", $!{transactionReportDetail.amountRefundedCard})</dd>
##
        #if(${transactionReportDetail.processingDate})
			<dt class="detailLabel">#springMessage('label.settings.locations.paystationList.transactionReport.refundDate')</dt>
			<dd class="detailValue">${transactionReportDetail.processingDate}</dd>
		#end
	#end
#end	
##
#if(${transactionReportDetail.couponNumber})
		<dt class="detailLabel">#springMessage('label.settings.locations.paystationList.transactionReport.couponNumber')</dt>
		<dd class="detailValue">$!{transactionReportDetail.couponNumber}</dd>
#end
##
#if(${transactionReportDetail.smartCardData})
		<dt class="detailLabel">#springMessage('label.settings.locations.paystationList.transactionReport.smartCard')</dt>
		<dd class="detailValue">${transactionReportDetail.smartCardData}</dd>
#end
##
</dl>
</section>