#* velocity document *#
#parse( "/WEB-INF/templates/include/setup.vm" )

#springBind("transactionFilterForm.*")##
<form name="transactionReportSort" id="transactionReportSortForm">
	#springBind("transactionFilterForm.wrappedObject.randomId")##
	<input type="hidden" name="$!{status.expression}" id="selectedPosID" value="$!{params.payStationID}">
</form>

<section id="transactionReportListArea">
	<ul id="transactionReportListHeader" class="column-3-2-2-2-1 scrollingListHeader">
		<li>
			<div class="col1 clickable current sort" sort="date:ASC" colTitle="#springMessage('label.settings.locations.paystationList.payStationReports.date')" tooltip="#springMessage('label.settings.locations.paystationList.payStationReports.date') : #springMessage('label.sorting.ascendingMsg')" name="sort_date"><p>#springMessage('label.settings.locations.paystationList.payStationReports.date') <img src="${imgLocal}icn_ArwUp.png" class="sortIcn" alt="sort" /></p></div>
			<div class="col2 clickable sort" sort="type:ASC" colTitle="#springMessage('label.settings.locations.paystationList.payStationReports.type')" tooltip="#springMessage('label.settings.locations.paystationList.payStationReports.type') : #springMessage('label.sorting.ascendingMsg')" name="sort_type"><p>#springMessage('label.settings.locations.paystationList.payStationReports.type') <img src="${imgLocal}icn_ArwDown.png" class="sortIcn" alt="sort" /></p></div>
			<div class="col3 clickable sort" sort="paymentType:ASC" colTitle="#springMessage('label.settings.locations.paystationList.payStationReports.paymentType')" tooltip="#springMessage('label.settings.locations.paystationList.payStationReports.paymentType') : #springMessage('label.sorting.ascendingMsg')" name="sort_paymentType"><p>#springMessage('label.settings.locations.paystationList.payStationReports.paymentType') <img src="${imgLocal}icn_ArwDown.png" class="sortIcn" alt="sort" /></p></div>
			<div class="col4 notclickable"><p>#springMessage('label.settings.locations.paystationList.payStationReports.amount')</p></div>
		</li>
	</ul>
	<ul id="transactionReportList" class="column-3-2-2-2-1 clickable menuButtonList scrollingList" style="max-height: 350px;">
		<li class="loadItem" style="display: none;">#parse("${dirPrefix}include/loading.vm")</li>
	</ul>
</section>

<section id="transactionDetailView"></section>

<span id="transactionItemTemplate" style="display: none;">
	<li id="report_[%= randomId %]">
		<div class="col1"><p>[%= date %]</p></div>
		<div class="col2"><p>[%= type %]</p></div>
		<div class="col3"><p>[%= paymentType %]</p></div>
		<div class="col4"><p>$[%= Highcharts.numberFormat(amount, 2) %]</p></div>
	</li>
</span>