<div id="wrnngPeriodValMsg" class="marginRight details">##
<span id="wrnngPeriodVal">${GlobalConfiguration.warningPeriod}</span> <span class="note">(#springMessage('label.minutes'))</span>
#if($authtools.allow('customer.ratesPolicies.manage'))##
<a id="btnEditWrnngPeriod" href="#" class="linkButtonIcn edit" title="#springMessage('button.edit')">##
<img width="19" height="1" border="0" title="#springMessage('button.edit')" alt="#springMessage('button.edit')" src="${imgLocal}spacer.gif" border="0">##
</a>
</div>
<div id="wrnngPeriodFormArea" class="details">
#springBind("webSecurityForm.wrappedObject.warningPeriod")##
<input type="text" name="${status.expression}" id="wrnngPeriodFormVal" size="4" class="intNmbrChrctr" value="$!{GlobalConfiguration.warningPeriod}" #if($wrnShowForm == false)style="display: none;"#end maxlength="2" />##
<span id="wrnngPeriodFormValNote" class="note">(#springMessage('label.minutes'))</span>
<a id="btnSaveWrnngPeriod" href="#" class="linkButtonIcn Ftr save" title="#springMessage('button.save')">##
<img width="19" height="1" border="0" title="#springMessage('button.save')" alt="#springMessage('button.save')" src="${imgLocal}spacer.gif" border="0">##
</a>
<a id="btnCancel" href="#" class="linkButtonIcn cancel" title="#springMessage('button.cancel')">##
<img width="19" height="1" border="0" title="#springMessage('button.cancel')" alt="#springMessage('button.cancel')" src="${imgLocal}spacer.gif" border="0">##
</a>
#end##
</div>