#* velocity document *#
<section class="col1">	
	<dl class="details">
		<dt class="detailLabel">#springMessage('label.name'):</dt>
		<dd id="xbpPolicyNameDisplay" class="detailValue"></dd>
		<dt class="detailLabel">#springMessage('label.time'):</dt>
		<dd class="detailValue"><span id="xbpStartTime"></span> &ndash; <span id="xbpEndTime"></span></dd>
		
		<dt class="detailLabel">#springMessage('label.settings.locations.extendByPhone.occurance'):</dt>
		<dd class="detailValue">
			<ul class="noStyle">
				<li class="availableService" id="sundayCheckDisplay">#springMessage('label.sunday')</li>
				<li class="availableService" id="mondayCheckDisplay">#springMessage('label.monday')</li>
				<li class="availableService" id="tuesdayCheckDisplay">#springMessage('label.tuesday')</li>
				<li class="availableService" id="wednesdayCheckDisplay">#springMessage('label.wednesday')</li>
				<li class="availableService" id="thursdayCheckDisplay">#springMessage('label.thursday')</li>
				<li class="availableService" id="fridayCheckDisplay">#springMessage('label.friday')</li>
				<li class="availableService" id="saturdayCheckDisplay">#springMessage('label.saturday')</li>
			</ul>
		</dd>
		
		<dt class="detailLabel">#springMessage('label.settings.locations.extendByPhone.parkingPolicy'):</dt>
		<dd class="detailValue" id="xbpPolicy"></dd>
		
		<dt class="detailLabel maxDurDisplay">#springMessage('label.settings.locations.extendByPhone.maxDuration'):</dt>
		<dd class="detailValue maxDurDisplay"><span id="xbpDuration"></span> min.</dd>
	</dl>
</section>