/* Shrinkable Configuration */
.layout4 #consumersPanel .col3, .layout4 #consumersPanel .col4,
.layout4 #customerCardPanel .col3, .layout4 #customerCardPanel .col4, .layout4 #customerCardPanel .col5, .layout4 #customerCardPanel .col6,
.layout4 #couponPanel .col2, .layout4 #couponPanel .col3, .layout4 #couponPanel .col4, .layout4 #couponPanel .col5, .layout4 #couponPanel .col6, .layout4 #couponPanel .col7, .layout4 #couponPanel .col8
{
	display: none !important;
}

#consumersListContainer.menuList li, #couponListContainer.menuList li, #cardListContainer.menuList li {
    list-style: none outside none;
    padding: 4px 0 6px;
}

#consumersListContainer.menuList li:hover, #couponListContainer.menuList li:hover, #cardListContainer.menuList li:hover {
	cursor:			pointer;
}

#consumersListContainer li, #couponListContainer li, #cardListContainer li
{
	border-left:	0 !important;
	border-right:	0 !important;
}

#coupons #couponListContainerHeader, #customerCards #cardListContainerHeader, #consumerAccounts #consumersListContainerHeader
{
	margin-top:	-8px !important;
}

.menuBox .linkButtonIcn.search
{
	margin-top: 1.5px !important;
}

#formFilterValueLabel
{
	margin-left: 0;
	margin-top: 2px;
}

section.groupBoxBody span.inputWithButton
{
	margin-left: 0px !important;
	padding: 0px !important;
}

section.groupBoxBody input[type=text], section.groupBoxBody textarea, section.groupBoxBody a.checkBox, section.groupBoxBody .formInfo
{
	margin-left: 5px !important;
}

section.groupBoxBody .col1 p a.checkBox
{
	margin-left: 0px !important;
}

#formStartDateLabel, #formEndDateLabel, #formValidFromLabel, #formValidToLabel
{
	top: 6px;
	left: 10px;
}

/* Shrinkable Consumer Panel */
.layout4 #consumersPanel .col1, .layout4 #consumersPanel .col2
{
	width: 45%;
}

/* Shrinkable Coupon Panel */
.layout4 #couponPanel .col1
{
	width: 90%;
}

/* Shrinkable Card Panel */
.layout4 #customerCardPanel .col1
{
	width: 65%;
}

.layout4 #customerCardPanel .col2
{
	width: 25%;
}

/* Consumer Page */
#consumerFilterForm #formFilterValue, #couponFilterForm #formCouponFilterName, #customerCardFilterForm #formCustomCardFilterName
{
	max-width: 320px;
}

#couponFilterForm #formFilterDiscount
{
	max-width: 150px;
}

.consumers-list .col1
{
	width: 25%;
	float: left;
}

.consumers-list .col2
{
	width: 25%;
	float: left;
}

.consumers-list .col3
{
	width: 40%;
	float: left;
}

/* Consumer Page: Form */
#consumerForm #formFirstName, #consumerForm #formLastName, #consumerForm #formDescription
{
	width: 75%;
}

#consumerForm #formEmail
{
	width: 50%;
}

.consumer-coupons-selector, .consumer-cards-selector
{
	max-height: 200px;
}

.consumerItemSelector h3
{
	font-size: 			1em;
}

.consumerItemSelector label, .consumerItemSelector input
{
	font-size: 			0.857em;	
}

/*.consumer-coupons-selector .col1, .consumer-cards-selector .col1
{
	width: 5%;
	float: left;
}

.consumer-coupons-selector .col2
{
	width: 30%;
	float: left;
}
*/

.consumer-coupons-list .col1, .consumer-coupons-selector .col1
{
	width: 35%;
	float: left;
}

.consumer-coupons-selector .col2, .consumer-coupons-list .col2
{
	width: 25%;
	float: left;
}

.consumer-coupons-selector .col3, .consumer-coupons-selector .col4, .consumer-coupons-list .col3, .consumer-coupons-list .col4
{
	width: 20%;
	float: left;
}

/*.consumer-cards-selector .col2
{
	width: 30%;
	float: left;
}
*/

.consumer-cards-selector .col1, .consumer-cards-list .col1
{
	width: 35%;
	float: left;
}
.consumer-cards-selector .col2, .consumer-cards-list .col2
{
	width: 25%;
	float: left;
}

.consumer-cards-selector .col3, .consumer-cards-selector .col4, .consumer-cards-list .col3, .consumer-cards-list .col4
{
	width: 20%;
	float: left;
}

/* Consumer Coupon Selector */
#couponSelectedTabForm .search
{
	top:			1px;
}

#couponSelectedTabForm .inputWithButton, #cardSelectedTabForm .inputWithButton
{
	padding-left: 	0;
}

#couponQuickAddText, #cardQuickAddText
{
/*	max-width: 300px;
*/}

#couponSelectorDialog .searchHeader, #cardSelectorDialog .searchHeader
{
	margin-bottom:		0 !important;
}

#couponSelectorDialog .filterForm, #cardSelectorDialog .filterForm
{
	width: 570px !important;
}

#couponSelectorDialog .accountsItemList, #cardSelectorDialog .accountsItemList
{
	-moz-box-shadow:		none !important;
	-webkit-box-shadow:		none !important;
	box-shadow:				none !important;
}

#couponSelectorDialog .coupons-list .col1
{
	width: 25%;
}

#couponSelectorDialog .coupons-list .col2
{
	width: 13%;
}

#couponSelectorDialog .coupons-list .col3
{
	width: 20%;
}

#couponSelectorDialog .coupons-list .col4
{
	width: 20%;
}

#couponSelectorDialog .coupons-list .col5
{
	width: 12%;
}

#couponSelectorDialog .coupons-list .col6
{
	width: 10%;
}

#couponSelectorDialog .coupons-list .col7
{
	width: 10%;
}

.consumerAccountDialog header
{
	display: none;
}

#couponSelectorDialog, #cardSelectorDialog
{
	padding: 0px;
}

.consumerAccountDialog .groupBox
{
	margin: 0;
	-moz-border-radius:		0px;
	-webkit-border-radius:	0px;
	border-radius: 		0px;
}

.consumerAccountDialog .filterHeader
{
	margin-top: 0px !important;
}

.consumerAccountDialog ul.scrollingList
{
	margin-bottom:	0px !important;
}

/* Consumer Card Selector */

#cardSelectorDialog .customer-cards-list .col1
{
	width: 17%;
}

#cardSelectorDialog .customer-cards-list .col2
{
	width: 13%;
}

#cardSelectorDialog .customer-cards-list .col3
{
	width: 20%;
}

#cardSelectorDialog .customer-cards-list .col4
{
	width: 20%;
}

#cardSelectorDialog .customer-cards-list .col5
{
	width: 10%;
}

#cardSelectorDialog .customer-cards-list .col6
{
	width: 10%;
}

/* Coupon Page: List */
#couponFilterForm #formFilterValue
{
	max-width: 320px;
}

.coupons-list .col1
{
	width: 15%;
	float: left;
}

.coupons-list .col2
{
	width: 11%;
	float: left;
}

.coupons-list .col3
{
	width: 20%;
	float: left;
}

.coupons-list .col4
{
	width: 20%;
	float: left;
}

.coupons-list .col5
{
	width: 12%;
	float: left;
}

.coupons-list .col6
{
	width: 12%;
	float: left;
}

/* Coupon Page: Form */
#couponFormPanel .couponCode, #couponFormPanel .couponDescription
{
	width: 60%;
}

#couponFormPanel .couponDiscount
{
	width: 50px;
}

#couponFormPanel .couponDiscountType
{
	width: 65px;
}

#couponFormPanel .couponMaxNumOfUsesType
{
	width: 70px;
}

#couponFormPanel .couponMaxNumOfUses, #couponFormPanel .couponDate
{
	width: 100px;
}

#couponFormPanel .couponLocation
{
	width: 60%;
}

#couponFormPanel .couponStallRange
{
	width: 40%;
}

#payOptions
{
	margin-top:		6px;
}


/* Customer Card Page */
#customerCardFilterForm #formFilterValue
{
	max-width: 320px;
}

.customer-cards-list .col1
{
	width: 15%;
	float: left;
}

.customer-cards-list .col2
{
	width: 15%;
	float: left;
}

.customer-cards-list .col3
{
	width: 20%;
	float: left;
}

.customer-cards-list .col4
{
	width: 20%;
	float: left;
}

.customer-cards-list .col5
{
	width: 10%;
	float: left;
}

.customer-cards-list .col6
{
	width: 12%;
	float: left;
}

/* Customer Card Page: Form */
#customerCardFormPanel .cardNumber
{
	width: 75%;
}

#customerCardFormPanel .cardType
{
	width: 40%;
}

#customerCardFormPanel .cardLocation
{
	width: 75%;
}

#customerCardFormPanel .cardNumber
{
	width: 75%;
}

#customerCardFormPanel .cardDate
{
	width: 100px;
}

#customerCardFormPanel .cardMaxNumOfUses
{
	width: 75px;
}

#customerCardFormPanel .cardGracePeriod
{
	width: 75px;
}

#labelMaxNumOfUses
{
	margin-top:		6px;
}

/* Shared */
#couponImportPanel .importMode, #cardImportPanel .importMode
{
	width: 180px !important;
}


a#searchClearBtn
{
	width: 		22px; 
	height: 		22px; 
	position: 	absolute; 
	right: 		4px; 
	top: 		4px;
	border:		0 !important;
	display:		none;
	background-position:	0 0;
}

.filterValue a#searchClearBtn
{
	right:		8px;
}

a#searchClearBtn:hover
{
	background-position:	0 -40px;
}

.filterForm .hiddenLabelContainer
{
	margin-right:	7px;
	float:		left;
}

.filterForm #searchBtn
{
	float: 		left;
}

.filterValue
{
	position:		relative;
}