@charset "utf-8";
/* CSS Document */


/* -- Aura Page Elements -- */

#AuraArea
{
	width: 				1002px;
	margin-left: 			auto; 
	margin-right: 			auto;
	padding: 				22px 0 0;
	text-align: 			left;
	font-size:			1.143em;
	overflow:				hidden;
}

#AuraRatePermHeader, #AuraSpecialItemHeader
{
	overflow: 			hidden; 
	width: 				100%;
}

.legend
{
	clear:				left;
	float: 				right; 
	width: 				300px; 
	font-size: 			0.75em;
	margin:				12px 12px 0 0;
}

.legend dt.detailLabel
{
	float: 				left; 
	text-align: 			right; 
	width: 				45%;
	clear:				none;
}

.legend dd.detailValue
{
	float: 				left; 
	text-align: 			right; 
	width: 				3%;
}

.legend .rateBox
{
	background:			#004b70;
	border:				1px solid #7E858B;
	height:				9px;
	float: 				right;
	margin:				3px 0 0 4px;
}

.legend .freeParkBox
{
	background:			#CFD2D4;
	border:				1px solid #7E858B;
	height:				9px;
	float: 				right;
	margin:				3px 0 0 4px;
}

.legend .permBox
{
	background:			#046595;
	border:				1px solid #7E858B;
	height:				9px;
	float: 				right;
	margin:				3px 0 0 4px;
}

.legend .noParkBox
{
	background:			#C8CBCE;
	border:				1px solid #7E858B;
	height:				9px;
	float: 				right;
	margin:				3px 0 0 4px;
}

#rateCalendar
{
	overflow: 			visible; 
	float: 				left;
	width: 				100%;
	z-index: 				100;
}

.calendarArea hr
{
	clear: left;
}

#rateCalendar .timeBar
{
	position: 			relative; 
	margin-left: 			90px; 
	height: 				28px; 
	z-index: 				0; 
	font-size: 			0.75em;
}

#rateCalendar .timeBar .startTime
{
	position: 			absolute; 
	left: 				0;
}

#rateCalendar .timeBar .midTime
{
	position: 			absolute; 
	left: 				50%; 
	z-index: 				10;
}

#rateCalendar .timeBar .vrtLine
{
	border-left: 			1px solid #DADCDE; 
	height: 				10px; 
	overflow: 			hidden;
}

#rateCalendar .timeBar .endTime
{
	position: 			absolute; 
	right:				12px; 
	text-align: 			right;
}

#rateCalendar .timeBar .endTime .vrtLine
{
	border-left:			0;
	border-right:			1px solid #DADCDE; 
	height: 				10px; 
	overflow: 			hidden;
	margin-right:			-4px;
}

#rateCalendar .calendarArea
{
	overflow:				visible;
	width: 				1000px;
}

#rateCalendar .dayItem
{
	float: 				left; 
	clear:				left;
	width: 				84px;
	font-size: 			13px; 
	position: 			relative;
	height:				45px;
}

#rateCalendar .dayItem .dayName
{
	position: 			relative; 
	height: 				20px; 
	top: 				50%; 
	left: 				5px; 
	margin-top: 			-10px;
}

#rateCalendar .calendarArea .dayRow
{
	width: 				998px; 
	_width: 				999px;
	overflow: 			visible;
	_overflow: 			visible;
	position: 			relative;
	float: 				left;
	margin:				5px 0;
	
}

#rateCalendar .calendarArea .dayRow .rateRow, 
#rateCalendar .calendarArea .dayRow .permRow
{
	height: 				22px;
	float: 				left;
	width:				905px;
	_width: 				906px;
	overflow: 			hidden; 
	margin: 				0 4px 0;
	-moz-border-radius:		6px;
	-webkit-border-radius:	6px;
	border-radius: 		6px;
}

#rateCalendar .calendarArea .dayRow .rateRow
{
	border-bottom:			1px solid #FFF;
	background-color:		#CFD2D4;
	-moz-box-shadow:		inset 0 -4px 8px 0 rgba(0,0,0,0.10);
	-webkit-box-shadow:		inset 0 -4px 8px 0 rgba(0,0,0,0.10);
	box-shadow:			inset 0 -4px 8px 0 rgba(0,0,0,0.10);
}

#rateCalendar .calendarArea .dayRow .permRow
{
	background-color:		#C8CBCE;
	-moz-box-shadow:		inset 0 4px 8px 0 rgba(0,0,0,0.10);
	-webkit-box-shadow:		inset 0 4px 8px 0 rgba(0,0,0,0.10);
	box-shadow:			inset 0 4px 8px 0 rgba(0,0,0,0.10);	
}

#rateCalendar .calendarArea .dayRow .rateRow .item, 
#rateCalendar .calendarArea .dayRow .permRow .item,
#rateCalendar .calendarArea .dayRow .rateRow .noItem,
#rateCalendar .calendarArea .dayRow .permRow .noItem
{
	height: 				22px;
	overflow: 			hidden;
	margin: 				0;
	float: 				left;
	cursor: 				pointer;
}

#rateCalendar .calendarArea .dayRow .rateRow .item, 
#rateCalendar .calendarArea .dayRow .permRow .item
{
	-moz-border-radius:		6px !important;
	-webkit-border-radius:	6px !important;
	border-radius: 		6px !important;
}


#rateCalendar .calendarArea .dayRow .rateRow .item
{
	background:			#004b70;
}

#rateCalendar .calendarArea .dayRow .permRow .item
{
	background:			#046595;
}

#rateCalendar .calendarArea .dayRow .rateRow .item .itemInfo, 
#rateCalendar .calendarArea .dayRow .permRow .item .itemInfo,
#rateCalendar .calendarArea .dayRow .rateRow .noItem .itemInfo,
#rateCalendar .calendarArea .dayRow .permRow .noItem .itemInfo
{
	width: 				inherit;
	overflow: 			hidden;
	white-space: 			nowrap;
	color: 				#FFF;
	padding: 				3px 5px;
	font-size: 			0.75em; 
	line-height: 			1.182em; 
	float: 				left;
}

#rateCalendar .calendarArea .dayRow .rateRow .noItem .itemInfo,
#rateCalendar .calendarArea .dayRow .permRow .noItem .itemInfo
{
	color: 				#4A5258;
}


/* TOOL TIP STYLE CHANGES */

.xbpItemInfo, .xbpItemInfo.bottom, .xbpItemInfo.top
{
	display:				none;
}
.xbpItemInfo
{
	padding: 				3px;
	background: 			#FFF;
	z-index: 				75;
	position: 			absolute;
	float: 				left;

	-moz-box-shadow:		0 0 8px 0 rgba(0,0,0,0.25);
	-webkit-box-shadow:		0 0 8px 0 rgba(0,0,0,0.25);
	box-shadow:			0 0 8px 0 rgba(0,0,0,0.25);	
	
	-moz-border-radius:		6px;
	-webkit-border-radius:	6px;
	border-radius: 		6px;
}

.xbpItemInfo .itemInfo
{
	padding: 				3px 5px;
	font-size: 				0.75em; 
	line-height: 			1.7em; 
	float: 					left;
}

.xbpItemInfo a.tipTitle
{
	font-weight: 			600 !important;
}


.xbpItemInfo .btnArea
{
	float: 				right;
	font-size:			0.833em;
	padding: 				3px 3px 0 8px; 
}

.xbpItemInfo .btnArea a.edit, .xbpItemInfo .btnArea a.delete, .xbpItemInfo .btnArea a.add
{	
	margin:				4px 0 0 4px;
}

.xbpItemInfo .editDelete a.edit
{
	background:			url("../images/icn_Edit.png") rgba(255,255,255,0.5) no-repeat 0 0;
}

.xbpItemInfo .editDelete a.delete
{
	background:			url("../images/icn_DeleteSm.png") rgba(255,255,255,0.5) no-repeat 0 0;
}

.xbpItemInfo .editDelete a.add
{
	background:			url("../images/icn_Add.png") rgba(255,255,255,0.5) no-repeat 0 0;
}

.xbpItemInfo .editDelete a.edit:hover, .xbpItemInfo .editDelete a.delete:hover, .xbpItemInfo .editDelete a.add:hover
{
	background-position:	0 -40px;
	background-color:		rgba(255,255,255,0.15);
	border-color:			#9CADB8;
	
}


/* END TOOL TIP STYLE CHANGES */

.hideObj
{
	display: 				none;
	visibility: 			hidden;	
}


/* -- Day List Elements -- */

.listArea
{
	background-color:		#FFF;
	float: 				left; 
	width: 				263px;
	font-size:			0.750em;
	padding: 				3px 10px 12px 10px;
	border:				1px solid #DADCDE;
	z-index:				25;
	position:				relative;
	top:					0px;
	left:				-4px;
	
	-moz-border-radius:		10px;
	-moz-box-shadow: 		0 0 4px 2px rgba(0,0,0,0.1);
	-webkit-border-radius:	10px;
	-webkit-box-shadow: 	0 0 4px 2px rgba(0,0,0,0.1);
	border-radius:	 		10px;
	box-shadow: 			0 0 4px 2px rgba(0,0,0,0.1);

}

a.showLink
{
	color:				#9CADB8;
	position:				relative;
	font-size:			0.75em;
	text-transform:		uppercase;
	border:				1px solid #DADCDE;
	border-top:			1px solid #CFD2D4;
	border-bottom:			1px solid #FFF;
	float: 				right;
	top:					-3px;
	background:			url("../images/icn_Add.png") no-repeat 50% -1px;
	padding:				2px 8px 3px 9px;
	margin-top:			6px;
	overflow:				hidden;

	
	-moz-border-radius:		4px;
	-webkit-border-radius:	4px;
	border-radius: 		4px;
	
	-moz-box-shadow:		0px 1px 0 0 rgba(0,0,0,0.2);
	-webkit-box-shadow:		0px 1px 0 0 rgba(0,0,0,0.2);
	box-shadow:			0px 1px 0 0 rgba(0,0,0,0.2);
}

a.hideLink
{
	background:			url("../images/icn_Minus.png") no-repeat 50% -1px;
}

a.showLink:hover, a.hideLink:hover
{
	background-color: 		#EEF5F8;
	color:				#325F7D;
	background-position:	50% -41px;
}

ul.dayItemList
{
	border:	 			1px solid #EEF5F8;
	border-top-color:		#9CADB8;
	border-left-color:		#9CADB8;
	list-style: 			none; 
	margin: 				3px 0; 
	padding: 				0;
	font-size:			1em;
	float: 				left; 
	clear: 				both; 
	width: 				261px;
	overflow:				hidden;
	
	-moz-border-radius:		6px;
	-webkit-border-radius:	6px;
	border-radius:	 		6px;
}

ul.dayItemList li
{
	float: 				left; 
	width: 				100%;
}

ul.dayItemList li .itemListTitle:hover
{
	cursor: 					pointer;
	background-color:			#CFD2D4;
}

ul.dayItemList li .itemListTitle, ul.dayItemList li li
{
	padding: 					4px 3px 3px 8px; 
	margin: 					0;
	font-weight: 				600; 
	text-transform: 			uppercase; 
	border-bottom: 			1px solid #DADCDE;
}

ul.dayItemList li ul
{
	float: 					left; 
	width: 					100%;
	list-style: 				none; 
	margin: 					0; 
	padding: 					0;
	display: 					none;
}

ul.dayItemList li li
{
	font-weight: 				normal;
	padding: 					0;
	background: 				#e8e9ea;
	border-bottom: 			1px solid #CFD2D4;
}

ul.dayItemList li li .name
{
	float:					left; 
	padding: 					1px 0 3px 8px;
	text-decoration:			underline;
	text-transform: 			none;  
	border-bottom:				0;
}

ul.dayItemList li li .time
{
	float: 					right; 
	padding: 					2px 4px 0 0; 
	text-transform: 			none; 
}

ul.dayItemList li .count
{
	color: 					#004B7D;
	font-weight: 				normal;
	margin-left:				6px;
}

/* -- //Day List Elements -- */


/* -- Selected Item / Rate History Area Elements -- */

.selectedItemArea
{
	overflow: 				hidden; 
	float: 					left; 
	width: 					344px; 
	padding-bottom: 			7px;
	position:					relative;
	top:						24px;
	left:					-6px;
}

#selectedItem
{
	float: 					left; 
	width: 					313px; 
	background: 				#F4F5F6; 
	border: 					1px solid #DADCDE; 
	margin: 					0 0 0 -344px; 
	padding: 					16px 4px 27px 18px;

	-moz-border-radius-topright: 			10px;
	-moz-border-radius-bottomright: 		10px;
	
	-webkit-border-top-right-radius: 		10px; 
	-webkit-border-bottom-right-radius: 	10px; 

	border-top-right-radius: 			10px;
	border-bottom-right-radius: 			10px;
}

#selectedItem .editLink, #selectedItem .deleteLink
{
	color:				#9CADB8;
	background-color:		#FFF;
	position:				relative;
	font-size:			0.75em;
	text-transform:		uppercase;
	border:				1px solid #DADCDE;
	border-top:			1px solid #CFD2D4;
	border-bottom:			1px solid #FFF;
	float: 				none;
	
	-moz-border-radius:		4px;
	-webkit-border-radius:	4px;
	border-radius: 		4px;
	
	-moz-box-shadow:		0px 1px 0 0 rgba(0,0,0,0.2);
	-webkit-box-shadow:		0px 1px 0 0 rgba(0,0,0,0.2);
	box-shadow:			0px 1px 0 0 rgba(0,0,0,0.2);
}

#selectedItem .editLink
{
	background:			url("../images/icn_Edit.png") no-repeat 50% 0;
	padding:				2px 11px 4px 10px;
	overflow:				hidden;
	
	-moz-border-radius-topright:			0px;
	-moz-border-radius-bottomright:		0px;
	-webkit-border-top-right-radius:		0px;
	-webkit-border-bottom-right-radius:	0px;
	border-top-right-radius: 			0px;
	border-bottom-right-radius: 			0px;
}

#selectedItem .deleteLink
{
	background:			url("../images/icn_DeleteSm.png") no-repeat 50% 0;
	padding:				2px 11px 4px 10px;
	overflow:				hidden;

	-moz-border-radius-topleft:			0px;
	-moz-border-radius-bottomleft:		0px;
	-webkit-border-top-left-radius:		0px;
	-webkit-border-bottom-left-radius:		0px;
	border-top-left-radius: 				0px;
	border-bottom-left-radius: 			0px;
}

#selectedItem .editLink:hover, #selectedItem .deleteLink:hover
{
	background-position:	50% -40px;
	background-color:		#EEF5F8;
}

#selectedItem h1
{
	font-size: 			1.25em;
	margin-bottom: 		0;
	width:				100%;
}

#selectedItem .detailItem
{
	float: 				left; 
	width: 				48%; 
	font-size: 			0.75em; 
	margin: 				9px 5px 0 0;
}

#selectedItem .ratePrice
{
	float: 				left;
	width: 				48%;
	font-size: 			1em; 
	margin: 				0 5px 0 0;
}

#selectedItem .ratePrice .detailItem
{
	width: 				44%;
	white-space: 			nowrap;
}

#selectedItem .detailItem .value
{
	font-weight: 			600; 
	font-size: 			1.417em; 
	margin-top: 			4px;
}

#selectedItem .detailItem .daySelection
{
	width: 				100%;
	margin-top: 			2px;
}

#selectedItem .detailItemLinks
{
	float: 				right; 
	margin-right: 			8px;
}


/* -- Aura Form Style Items -- */

#PermissionsForm, #RateForm
{
	width: 				340px;
	font-size:			0.750em;
	padding: 				0 22px 12px 10px;
	float: 				left;
	border:				1px solid #DADCDE;
	border-right:			0;
	position:				relative;
	top:					20px;
	left:				6px;
	z-index:				0;
	
	-moz-border-radius-topleft:			10px;
	-moz-border-radius-bottomleft:		10px;
	-webkit-border-top-left-radius:		10px;
	-webkit-border-bottom-left-radius:		10px;
	border-top-left-radius:		 		10px;
	border-bottom-left-radius:	 		10px;
}

#PermissionsForm h3, #RateForm h3, #RateSearch h3
{
	margin:				0;
}


#PermissionsForm form, #RateForm form
{
	position: 			relative;
	width: 				100%;
	float: 				left;
}

#PermissionsForm h3, #RateForm h3
{
	font-size: 			1.167em;
	white-space: 			nowrap;
}

input.noBorder, input[type=radio], input[type=checkbox], input[type=image]
{
	border: 				0;
	margin: 				0;
	padding: 				0;
}

input[type=radio]
{
	height: 				inherit;
}

#itemTitle
{
	width: 				300px;
}

.ratePrice input, .srvFee input, .mnExtension input
{
	width: 				45px;
}

.mnExtension input
{
	text-align: 			right;
}

.timeSelection input, .startTimeSelection input, .endTimeSelection input, .maxDuration input
{
	text-align: 			left;
	width: 					62px;
}

.itemType input
{
	margin-left: 			4px;
}

.formRow
{
	width: 				100%;
	margin:				4px 0;
	float: 				left; 
	clear: 				left;
}

.textError
{
	border-color: 			#FC0 !important;
	color: 				#555F66 !important;
	background-color: 		#FDF2C9 !important;
	
	-moz-box-shadow: 		0 !important;
	-webkit-box-shadow: 	0 !important;
	box-shadow: 			0 !important;
}

.formAttention
{
	background-color: 		#FDF2C9;
	border: 				2px solid #FC0;
	padding: 				3px;
	display: 				none;
	overflow: 			hidden;
	-moz-border-radius: 	6px;
	-webkit-border-radius: 	6px; 
	border-radius: 		6px;
}

.formAttention .attentionBody
{
	float: 				left;
	margin-top: 			8px;
	width: 				70%;
}

.formAttention h1
{
	font-size: 			2.5em;
	margin: 				0;
	line-height: 			1em;
}

/* -- rate form -- */
.ratePrice, .srvFee
{
	float: 				left;
	width: 				28%;
}

.mnExtension
{
	float: 				left;
	width: 				40%;
}

#xbpItemView label.dayCheck a.checkBox
{
	cursor:				default !important;
	background-position:	center 0 !important;
}

#xbpItemView label.dayCheck a.checkBox.checked
{
	background-position:	center -80px !important;
}

.dayCheck
{
	float: 				left;
	text-align: 			center;
	font-size: 			0.917em;
	line-height: 			1em;
	text-transform: 		uppercase;
	font-weight: 			600;
	color: 				#999;
	margin: 				-2px 2px 0;
	padding: 				0 0 2px 0;
}

.dayCheck input
{
	margin-top: 			2px;
	width: 				14px;
	height: 				14px;
}

input#locationAC
{
	margin:				0 !important;	
}

input
{
	margin-right:			0 !important;
}

form .note
{
	margin-right: 			-4px;
	padding-left: 			4px;
	position: 			relative;
	top:					-2px;
	font-size:			1em !important;
}

/* -- permission form -- */
.permissionType
{
	float: 				left;
	width: 				50%;
	overflow: 			hidden;
}

.itemType
{
	float: 				left; 
	margin-left: 			4px; 
	width: 				200px;
}

.maxDuration
{
	float: 				left;
	width: 				50%;
	overflow: 			hidden
}


/* -- special item form -- */

.daySelection
{
	float: 				left;
	clear: 				left;
}

/* -- jquery elements -- */

.ui-autocomplete 
{
	max-height:			110px;
	width: 				75px;
}
