.banned-card-list, .tx-list
{
	width: 100%;
}

#bannedCardListContainerHeader, #txListContainerHeader
{
	margin-top:	-8px !important;
}

#bannedCardListContainer li, #txListContainer li
{
	border-left:	0 !important;
	border-right:	0 !important;
}

.banned-card-list .col1
{
	width: 22%;
	float: left;
}

.banned-card-list .col2
{
	width: 20%;
	float: left;
}

.banned-card-list .col3
{
	width: 17%;
	float: left;
}

.banned-card-list .col4
{
	width: 17%;
	float: left;
}

.banned-card-list .col5
{
	width: 14%;
	float: left;
}

.tx-list .col1
{
	width: 35%;
	float: left;
}

.tx-list .col2
{
	width: 20%;
	float: left;
}

.tx-list .col3
{
	width: 25%;
	float: left;
}

.tx-list .col4
{
	width: 10%;
	float: left;
}

.tx-list .txMenu
{
	float: right;
}

#formBannedCardNumber, #formBannedCardComment, #formBannedCardFile, #formUploadStatus
{
	width: 250px;
}

#formBannedCardType
{
	width: 100px;
}

#bannedCardImportDialog a
{
	color:			#005782;
}

#bannedCardImportDialog a:hover
{
	color:			#F88B2B;
}


.searchCardNumberBox
{padding-right: 0px !important;
/*	width: 140px;
*/}

.searchCardExpiryBox
{padding-right: 0px !important;
/*	width: 55px;
*/}

.searchTxDateBox
{ padding-right: 0px !important;
/*	width: 455px;
*/}

.searchTxDateBox input.dateType
{
	width: 90px;
}

.searchTxDateBox input.txDate
{
	width: 90px;
	margin: 	2px 8px;
}

.searchTxDateBox input.txTime
{
	width: 50px;
	margin-right: 8px;
}

.searchAuthNumberBox
{padding-right: 0px !important;
/*	width: 155px;
*/}

.searchMerchantAccountBox
{padding-right: 0px !important;
/*	width: 195px;
*/}

#searchCardExpiryLabel, #formBannedCardExpiryLabel
{
	top: -2px;
	left: 9px;
}

#searchCardExpiryLabel.reqField, #formBannedCardExpiryLabel.reqField
{
	top: 		-5px;
	left:		13px;
}

#searchTxDateStartLabel, #searchTxTimeStartLabel, #searchTxDateEndLabel, #searchTxTimeEndLabel
{
	top: 2px;
	left: 13px;
}

#searchTxDateStartLabel.reqField, #searchTxTimeStartLabel.reqField, #searchTxDateEndLabel.reqField, #searchTxTimeEndLabel.reqField
{
	top: 2px;
	left: 16px;
}


#searchTxTimeStartLabel, #searchTxTimeEndLabel
{
	left: 5px;
}

.importMode
{
	width: 230px !important;
}

#cardNumberArea
{
	position: 	relative;
}

a#searchClearBtn
{
	width: 		22px; 
	height: 		22px; 
	position: 	absolute; 
	right: 		7px; 
	top: 		4px;
	border:		0 !important;
	display:		none;
	background-position:	0 0;
}

a#searchClearBtn:hover
{
	background-position:	0 -40px;
}
