@charset "utf-8";
/* CSS Document */

#payStationListArea, #settingListArea
{
	padding-bottom:	8px;
}

#recentList .routeName, 
#Maintenance .collTypeMsg, #Maintenance .collectionTypeMsg, #Collections .alertTypeMsg, #Collections .alertHistoryTypeMsg,
#activeList .resolvedDate, #activeList .collectionTypeMsg, #activeList .alertHistoryTypeMsg, 
#recentList .collTypeMsg, #recentList .alertTypeMsg, #recentList .routeName, #showPayStationCheck,
.collection-All .col2, .collection-Card .col2,
.collection-Bill .coinRow, .collection-Bill .cardRow,
.collection-Coin .billRow, .collection-Coin .cardRow,
.collection-Card .coinRow, .collection-Card .billRow
{
	display:			none;
}

.coll_alert_map
{
	padding-bottom:	8px !important;
}

#showUserCheck, #showPayStationCheck
{
	top: 				0; 
	right: 				0;
	padding-bottom:		6px !important;

	-moz-border-radius-bottomleft:			6px;
	-webkit-border-bottom-left-radius:			6px;
	border-bottom-left-radius: 				6px;
}

#showPayStationCheck
{
	padding-bottom:		0 !important;	
}

#showPayStationCheck section
{
	margin-bottom:			6px;	
}

.menuBox .filterHeader.collectionsFilter, .menuBox .filterHeader.alertsFilter
{
	height: 			65px;
	overflow: 		hidden !important;
	border-top: 		1px solid #DADCDE;
	margin:			-9px 0 8px !important;
	position:			relative !important;
	float:			none !important;
}

.alertsFilter
{
	height: 			75px !important;
}

.alertsFilter ul.filterForm li, .collectionsFilter ul.filterForm li
{
	padding-right:		0 !important;
}

.collectionsFilter .title
{
	line-height: 		3em !important;
}

.alertsFilter .title
{
	line-height: 		3.7em !important;
}

#collectionFilterForm li.filterCheckBoxes
{
	margin-left:		2px;
	width:			300px;
}

#collectionFilterForm li.filterCheckBoxes .checkboxLabel
{
	margin:			0 0 0 5px !important;
}

#collectionFilterForm li.filterCheckBoxes a.checkBox
{
	/*padding-right:		5px !important;*/
}

#settingFilterForm li.filterCheckBoxes
{
	margin:			5px 0 0 2px;
	width:			250px;
}

#settingFilterForm li.filterCheckBoxes a.checkBox
{
	padding-right:		7px !important;
}

.autoComplete #severityAC, .autoComplete #moduleAC
{
	width: 				100%;
}

.listItems
{
	display:			block;
}

#selectedPayStation, #selectedSetting, #selectedUser
{
	display:			none;
	margin: 			0 8px 16px;
	overflow:			visible;
	clear: 			both;
}

#selectedPOSimg
{
	width: 			50px; 
	height: 			200px; 
	float: 			left; 
	overflow: 		hidden;
}

#selectedPOSimg img
{
	position: 		relative; 
	left: 			-45px;
}

#selectedPOSdetails .note
{
	margin-right:		13px;
}

#collDetailBtn, #userDetailBtn
{
	display:			none;
	clear:			right;
	margin-top:		5px;
}

#collectionDetailTable, #alertDetailTable, #posStatusList
{
	list-style:		none;
	clear:			both;
}

#alertDetailTable, #posStatusList
{
	max-height:		125px;
	overflow:			auto;
	border-top:		4px solid #E4EBEF;
	margin-top:		7px !important;
}

#alertDetailTable li dt p
{
	padding-left: 3px;
}

#collectionDetailTable li, #alertDetailTable li, #posStatusList li
{
	text-transform:	uppercase;
	border:			1px solid #DADCDE;
	border-top:		none;
	overflow:			hidden;
}

#alertDetailTable li:first-child, #posStatusList li:first-child
{
	border-top:		none;
}

#alertDetailTable li, #posStatusList li
{
	font-size:		0.857em;
	border:			1px solid #DADCDE;
	border-bottom:		none;
	padding:			3px 3px 3px 5px;
	text-transform:	none;
}

#collectionDetailTable li.header
{
	background:			url("../images/titleBrdr.png") repeat-x center bottom;
	border:				none;
	color:				#005782;
	font-weight: 			600;
	padding:				2px 0;
}

#collectionDetailTable li .col1, #collectionDetailTable li .col2, #collectionDetailTable li .col3
{
	float:			left;
	padding:			2px 1%;
}

#collectionDetailTable li .col1
{
	width:			48%;
	color:			#697178;
}

#collectionDetailTable li .col2, #collectionDetailTable li .col3
{
	width: 			23%;
	text-align:		right;
	font-weight:		600;
}

#collectionDetailTable.collection-All li .col3, #collectionDetailTable.collection-Card li .col3
{
	width:			46%;
}

.mapItemList, .settingList
{
	list-style:		none;
	overflow:			auto;
	clear:			both;
	position:			relative;
	margin:			-9px 0 0;
	border-bottom:		1px solid #DADCDE;
}

.mapItemList li, .mapItemList li.notclickable:hover, .mapItemList li.notclickable:active, .mapItemList li.notclickable.selected,
.settingList li, .settingList li.notclickable:hover, .settingList li.notclickable:active, .settingList li.notclickable.selected
{
	position:			relative;
	border-bottom:		1px solid #DADCDE;
	padding:			0 4px;
	font-size:			0.857em;
	margin:				1px 0 -1px !important;
}

.mapItemList li span,
.settingList li span
{
	font-size: 			0.917em;
}

#headerTabs
{
	overflow: 		hidden; 
	font-size: 		1.143em; 
	margin: 			0 auto 8px;
	padding-left:		5px;
	display: 			block; 
	width: 			80%;
}

#headerTabs li
{
	margin: 			0; 
	float: 			left; 
	padding: 			4px 0; 
	width: 			33.3%;
	text-align: 		center;
	box-sizing:		border-box;
	-moz-box-sizing:	border-box;
}

#activeList.settingList li
{
	padding-right:		34px !important;
}

#activeList li.notclickable, #activeList li.notclickable:hover, #activeList li.notclickable:active, #activeList li.notclickable.selected,
.mapItemList li.notclickable, .mapItemList li.notclickable:hover, .mapItemList li.notclickable:active, .mapItemList li.notclickable.selected
{
	padding:			8px 0 14px !important;
	background:		none !important;
	color:			inherit !important;
}

#activeList.settingList li.notclickable, #activeList.settingList li.notclickable:hover, #activeList.settingList li.notclickable:active, #activeList.settingList li.notclickable.selected
{
	padding:			0 34px 0  0 !important;
}

.mapItemList li h3, .settingList li h3, #posStatusList li h3
{
	color: 			#005782;
	font-weight: 		normal;
	margin: 			0;
	padding:			0;
}

.mapItemList li .lgdOut h3, .mapItemList li .lgdOut .lastSeen 
{ 
	color: 			#697178;
}

span.collTypeMsg, span.collectionTypeMsg, span.alertTypeMsg, span.alertHistoryTypeMsg, span.payStationCount, span.downloadDate, span.usrStatusTypeMsg
{
	position:			absolute;
	right:				4px;
	top:				50%;
	margin-top:			-12px;
	font-size:			1.083em !important;
	font-weight:		600;
}

.downloadDate
{
	font-size:		1em;
	font-weight:		normal;
}

.payStationCount, .downloadDate
{
	position:			relative;
	float:			right;
}

.alertTypeMsg.severityLow, .collTypeMsg.severityLow, #collectionDetailTable .severityLow, dd.detailValue.severityLow, span.severityLow
{
	color:			#d5b200;
}

.alertTypeMsg.severityMedium, .collTypeMsg.severityMedium, dd.detailValue.severityMedium, span.severityMedium
{
	color:			#f88b2b;
}

dd.severityActive
{
	color:			#3bb23e;
}

.alertTypeMsg.severityHigh, #collectionDetailTable .severityHigh, dd.detailValue.severityHigh, span.severityHigh
{
	color:			#CC0000;
}

.mapItemList li:hover .collTypeMsg.severityLow, .mapItemList li:hover .collTypeMsg.severityMedium, .mapItemList li:hover .collTypeMsg.severityHigh,
.mapItemList li:hover .alertTypeMsg.severityLow, .mapItemList li:hover .alertTypeMsg.severityMedium, .mapItemList li:hover .alertTypeMsg.severityHigh,
li:hover .usrStatusTypeMsg.lgdIn, li:hover .usrStatusTypeMsg.lgdOut, li:hover .lgdOut h3, li:hover .lgdOut .lastSeen
{
	color:			#004B70;
}

.mapItemList li.selected *, .settingList li.selected *
{
	color:			#FFF !important;
}

.collTypeMsg.severityLow, .collTypeMsg.severityMedium, .collTypeMsg.severityHigh, .collTypeMsg.severityNull, .alertTypeMsg.severityLow, .alertTypeMsg.severityMedium, .alertTypeMsg.severityHigh, .alertTypeMsg.severityNull, #collectionDetailTable .severityLow, #collectionDetailTable .severityMedium, #collectionDetailTable .severityHigh, #collectionDetailTable .severityNull
{
	border:			none !important;
}

#collectionPOSdetails
{
	float: 			left;
	padding-bottom:	8px;
}

a.moreAlerts
{
	position:				relative;
	top:                  	2px;
	height:				14px;
	width:                 	10px;
	padding:				0 3px 0 3px;
	margin-left:           	4px;
	font-weight:			600;
	font-size:			12px !important;
	background-position:	center -4px;
	letter-spacing: 		0.04em !important;	
	display: 				inline-block;
	border:				none;
}

.mapItemList li:hover a.moreAlerts
{
	background-position:	center -44px !important;	
}

.mapItemList li.selected a.moreAlerts
{
	background-position:	center -164px !important;
}

.severityLow a.moreAlerts
{
	background-position:	center -84px;	
}

.severityMedium a.moreAlerts
{
	background-position:	center -124px;	
}

.severityHigh a.moreAlerts, .collTypeMsg.severityMedium a.moreAlerts
{
	background-position:	center -204px;	
}

.leaflet-container .collDetailLink
{
	font-weight:			600;
	color:				#005782;
	border-bottom:			1px solid #003E5E;
}

.leaflet-container .collDetailLink:hover
{
	color:				#F88B2B;
	border-bottom-color:	#F88B2B;
}

#userList
{
	border-top:			1px solid #C8CBCE;
}

#userList li:first-child
{
	margin-top:			-1px !important;
}

/* SUMMARY PAGE */

#posSummaryFilterForm label.hiddenLabel
{
	left:				20px;
}

#posSummaryFilterForm .locationRouteField
{
	width: 				350px;
}

#posSummaryFilterForm #filterLocationRoute
{
	width:				345px;
}

#posSummaryFilterForm .severityField
{
	width: 				150px;
}

#posSummaryListHeader
{
	margin-top:			-10px !important;
}

#posSummaryListHeader li.topRow
{
	background:			none !important;
	height:				22px;
}

#posSummaryListHeader li.topRow div
{
	border-bottom:			0 none !important;
}

#posSummaryList li
{
	padding:				0 !important;
}

#posSummaryList li section
{
	padding:				4px 0 6px !important;
	overflow:				hidden;
}

.collectSummary li div.col1
{
	width:				12%;
}

.collectSummary li div.col2
{
	width:				14%;
}

.collectSummary li div.col3
{
	width:				13%;
}

.collectSummary li div.col4
{
	width:				6%;
}

.collectSummary li div.col5
{
	width:				7%;
}

#posSummaryListHeader li div.col4.col5
{
	text-align:			center;
	width:				13%;
}

.collectSummary li div.col6
{
	width:				6%;
}

.collectSummary li div.col7
{
	width:				7%;
}

#posSummaryListHeader li div.col6.col7
{
	text-align:			center;
	width:				13%;
}

.collectSummary li div.col8
{
	width:				6%;
}

.collectSummary li div.col9
{
	width:				7%;
}

#posSummaryListHeader li div.col8.col9
{
	text-align:			center;
	width:				13%;
}

.collectSummary li div.col10
{
	width:				10%;
}

.collectSummary li div.col11
{
	width:				12%;
}

.alertSummary li div.col1
{
	width:				20%
}

.alertSummary li div.col2
{
	width:				20%
}

.alertSummary li div.col3
{
	width:				20%
}

.alertSummary li div.col4
{
	width:				24%
}

.alertSummary li div.col5
{
	width:				8%
}

.alertSummary li div.col6
{
	width:				8%
}

#posSummaryList li
{
	border-left:			0 none !important;
	border-right:			0 none !important;
}

.additionalItem 
{
	font-size: 			1.2em; 
	color: 				#005782; 
	margin-left: 			6px;
}

strong.collectionUser
{
	text-align: 			right; 
	display: 				block; 
	overflow: 			hidden;
}

.psDetails .detailValue hr
{
	margin-top:			3px;
}