@charset "utf-8";
/* CSS Document */

body, header#titleBar, .widget header, .psWidget header
{ 
	background:		none !important; 
	background-color:	none !important; 
}

header#titleBar aside, header#titleBar hr, .headerBack, #notificationAlert, #notification, nav, #dashboardNav, .menu, .ddMenu, .pin, .widget .leaflet-top.leaflet-left, .widget .leaflet-bottom.leaflet-right, body.dashBoardPrintOnly .layout, body.dashBoardPrintOnly .layout .column, body.dashBoardPrintOnly .widget, #secondNav, a.print
{ display:	none !important; }

#mainContent
{ margin:	0; }

footer
{ height:	50px; }

body.dashBoardPrintOnly .layout.dashBoardPrintOnly .column.dashBoardPrintGraphOnly
{ width: 100% }

body.dashBoardPrintOnly .layout.dashBoardPrintOnly, body.dashBoardPrintOnly .layout.dashBoardPrintOnly .column.dashBoardPrintOnly,  body.dashBoardPrintOnly .layout.dashBoardPrintOnly .column.dashBoardPrintGraphOnly, .widgetObject.dashBoardPrintOnly .widget, .psWidget
{ display:	block !important; }

.widgetObject .widget, .psWidget
{
	-moz-box-shadow:		none !important;
	-webkit-box-shadow:		none !important;
	box-shadow:			none !important;
	border:				1px solid #DADCDE;
}

.widgetObject.dashBoardPrintOnly
{ margin: 0; }

.widgetObject.dashBoardPrintOnly .widget .snglValue 
{ text-align:	left;}

.dashBoardPrintOnly *
{ overflow:	visible !important; }

.dashBoardPrintOnly .map, .dashBoardPrintOnly ul li
{ overflow:	hidden !important; }

h1.mainContentTitle
{ margin-left:	7px;}