@charset "utf-8";
/* CSS Document */

#dashboard
{
	width: 					99.25%;
}

.widgetData
{
	display:				none !important;
}

/* SHOW EDIT BUTTON IN HEADER */
#dashboardPage #headerTools a.edit
{
	display:				inline; 
}

#dashboardPage #headerTools a.resetDashboard
{
	font-size: 			0.7em; 
	margin-right: 			8px;
}

#messageResponseAlert.dashboard
{
	display:				none;
	text-align:			center;
	position:				relative;
	margin-top:			18px;
	width:				75%;
}

#messageResponseAlert.dashboard img
{
	float:				none;
	position:				relative;
	top:					18px;
}

#messageResponseAlert.dashboard h4
{
	font-size:			1.5em;
	color:				#005782;
	position:				relative; 
	top:					-15px;
}

/* NAVIGATION */

#dashboardNav
{
	height:				29px;
}

#dashboardNavArea
{
	position:				relative;
	overflow:				hidden;
	float:					left;
}

#dashboardNav nav
{
	width:				100000px;
	padding:				0;
	margin:				0;
	position:				relative;
}

#dashboardNav .tabSection
{
	float:				left;
}

#dashboardNav .tabSection a.tab
{
	height: 				24px;
}

.edit #dashboardNav .tabSection
{
	overflow: 			hidden;
	height: 				24px;
	position: 			relative;
}

.edit #dashboardNav .tabSection.ui-sortable-placeholder
{
	padding:				2px 8px 3px 0;
}

.edit #dashboardNav .tabSection.ui-sortable-helper
{
	padding:				2px 9px 3px 1px;
}

.edit #dashboardNav .tabSection:hover
{
	cursor:				move;
}

.edit #dashboardNav a.tab, .edit #dashboardNav .current a.tab
{
	padding:				0 3px 0 0;
	display:				inline;
	float:					none;
	margin:					0;
	background-image:		none;
	border:					0;
	font-size:				1em;
	font-weight:			300;
}

.edit #dashboardNav .current a.tab
{
	border:				1px solid #f8f8f9;
}

.edit #dashboardNav .current a.tab:hover
{
	background-color: 	#eef5f8;
	cursor:				text;
	border:				1px solid #c6dde8;

	-moz-border-radius:		4px;	
	-webkit-border-radius:	4px; 
	border-radius: 		4px;

}

.edit #dashboardNav .current .tabInput
{
	background: 			none !important;
	font-size:				1em;
	font-family: 			'Roboto', 'Calibri', 'Trebuchet MS', sans-serif !important;
	word-spacing: 			0.05em;
	letter-spacing: 		0.03em;
	font-weight: 			300;
	margin:					-3px 0 0;
	padding:				0;
	border:					0 !important;
	border-bottom:			1px solid #046595 !important;

	-moz-border-radius:		4px;	
	-webkit-border-radius:	4px; 
	border-radius: 			4px;

	-moz-box-shadow:		none;
	-webkit-box-shadow:		none;
	box-shadow:				none;
}

#dashboardNav .tabInput, #dashboardNav .tabDelete, #dashboardNav .addTabSection, #rangeSnglVal, #tier1SnglVal
{
	display:				none;
}

#tier1SnglVal
{
	font-weight:			600;
}

.edit #dashboardNav a.tabDelete, .edit #dashboardNav .addTabSection
{
	display:				inline;	
}

.edit #dashboardNav a.tabDelete
{
	border: 				0;
	position:				absolute;
	top:					6px;
	right:				12px;
}

.edit #dashboardNav .addTabSection
{
	position:				relative;
	width:				30px;
	padding:				0;
	bottom:				0;
}

.edit #dashboardNav a.addTab
{
	background-color:		#B8BCBF;
	border: 				1px solid #92989D;
	font-size: 				0.85em;
	overflow:				hidden;
	position:				relative;
	bottom:					-1px;
	margin:					0;
	
	-moz-border-radius:			6px;	
	-webkit-border-radius:		6px; 
	border-radius: 				6px;

}

.edit #dashboardNav a.addTab:hover
{
    background:             #1e76a2;
	border: 				1px solid #046595;
}

.edit #dashboardNav a.addTab img
{
	position:				relative;
	top:					3px;
}

#dashboardNav .addTabSection a
{
	border:				0;
}

#dashboardNav .moveLeft, #dashboardNav .moveRight
{
	padding:				0 0 1px 0;
}

#dashboardNav .moveLeft
{
	display:				none;
	cursor:				default;
	background:			url("../images/icn_MoveLeft.png") no-repeat 0px 1px !important;
	width: 				16px;
	overflow:				hidden;
}

#dashboardNav .moveLeft.active
{
	cursor:				pointer;
	background:			url("../images/icn_MoveLeft.png") no-repeat -18px 1px !important;
}

#dashboardNav .moveRight
{
	display:				none;
	cursor:				default;
	background:			url("../images/icn_MoveRight.png") no-repeat 0 1px !important;
	width: 				16px;
	overflow:				hidden;
}

#dashboardNav .moveRight.active
{
	cursor:				pointer;
	background:			url("../images/icn_MoveRight.png") no-repeat -18px 1px !important;
}

#dashboardNav .moveLeft.active:hover, #dashboardNav .moveRight.active:hover
{
	background-color:		#DADCDE !important;	
}


/* DASHBOARD TAB */

.dashboardTab
{
	display:				none;
	position:				relative;
	margin-top:			16px;
}

.dashboardTab .layout
{
	margin-top:			-12px;
}


/* SECTION TOOLS */

.sectionTools, .addSectionOption
{
	text-align:			center;
	padding: 				0 0 4px;
	position:				relative;
	overflow:				hidden;
	width:				100%;
	display:				none;
}

.addWidgetHolder
{
	border-radius: 			10px; 
	margin: 				16px 0 8px 12px; 
	position: 				relative; 
	background-color: 		#fff;
    border: 				1px dashed #e8e9ea;
    height: 				auto;
    overflow: 				hidden; 
	text-align: 			center; 
	padding: 				6px 0;
	z-index: 				5;
	display: 				none;
}

.edit .dashboardTab .sectionTools, .edit .dashboardTab .addSectionOption, .edit .addWidgetHolder
{
	display:				block;
	color: 				#9CADB8; 
}

.sectionTools h5
{
	color:					#697178;
	display:				inline;
	font-family: 			'Open Sans', 'Calibri', 'Trebuchet MS', sans-serif !important;
	font-weight:			400;
	margin:					0 8px 0 14px;
	padding:				0;
	position: 				relative; 
	top: 					3px;
	float: 					left;
}

.addSectionOption
{
	padding:				0;
}

.layoutOptions
{
	float:				left;
	width:				49%;
}

a.linkButtonIcn.addWidget
{
	background-image:		url("../images/icn_Add.png");
	background-repeat:		no-repeat;
	float:					left;
}

a.linkButtonSL.layout1
{
	background-image:		url("../images/icn_Layout1Col.png");
	background-repeat:		no-repeat;
	float:					left;
	padding-right: 			3px;
}

a.linkButtonSM.layout2
{
	background-image:		url("../images/icn_Layout2Col.png");
	background-repeat:		no-repeat;
	float:					left;
	padding-right: 			3px;
}

a.linkButtonSM.layout3
{
	background-image:		url("../images/icn_Layout3Col.png");
	background-repeat:		no-repeat;
	float:					left;
	padding-right: 			3px;
}

a.linkButtonSM.layout4
{
	background-image:		url("../images/icn_Layout4060Col.png");
	background-repeat:		no-repeat;
	float:					left;
	padding-right: 			3px;
}

a.linkButtonSR.layout5
{
	background-image:		url("../images/icn_Layout6040Col.png");
	background-repeat:		no-repeat;
	float:					left;
	padding-right: 			3px;
}

a.linkButtonSL.moveUp
{
	background-image:		url("../images/icn_MoveUp.png");
	background-position:	center -40px;
	background-repeat:		no-repeat;
	float:				left;
}

a.linkButtonSR.moveDown
{
	background-image:		url("../images/icn_MoveDown.png");
	background-position:	center -40px;
	background-repeat:		no-repeat;
	float:				left;
}

a.linkButtonSL.moveUp.disabled, a.linkButtonSR.moveDown.disabled
{
	background-position:	center 0 !important;
	background-color:		transparent !important;
	border:				1px solid #CFD2D4;
	cursor:				default;

	-moz-box-shadow:		0 0 2px 0 rgba(0,0,0,0.2), inset 0 1px 0 0 rgb(256,256,256), inset 0 -1px 0 0 rgba(0,0,0,0.1);
	-webkit-box-shadow:		0 0 2px 0 rgba(0,0,0,0.2), inset 0 1px 0 0 rgb(256,256,256), inset 0 -1px 0 0 rgba(0,0,0,0.1);
	box-shadow:			0 0 2px 0 rgba(0,0,0,0.2)), inset 0 1px 0 0 rgb(256,256,256), inset 0 -1px 0 0 rgba(0,0,0,0.1);
}

a.linkButtonSL.moveUp:hover, a.linkButtonSR.moveDown:hover
{
	background-position:	center -80px;
}

a.linkButtonIcn.deleteSection
{
	background-image:		url("../images/icn_DeleteSm.png");
	background-repeat:		no-repeat;
	float:				left;
}

a.linkButtonSL.on, a.linkButtonSM.on, a.linkButtonSR.on
{
	background-position:	center -80px;	
}

.sectionOptions
{
	float:				right;
	padding:				0 12px 0 0;
	line-height:			1.86em;
}

.addSectionOption
{
	width:				98%;
	line-height:			1.86em;
	text-align:			right;
	padding:				4px 28px 4px 0;
}

.addSectionOption a.addSection, a.addReport
{
	background:				url("../images/icn_Add.png") no-repeat 98% 0;
	font-weight:			500;
}

.addSectionOption a.addSection:hover, a.addReport:hover
{
	background-position:	98% -40px;
}

.edit
{
	background-color:		#f8f8f9;	
}

.edit .layout
{
	background-color:		#F4F5F6;
	margin:					0 0 12px 0;
	padding:				12px 0;
	border-top:				1px solid #e8e9ea;
	border-bottom:			1px solid #e8e9ea;
	overflow: 				hidden !important;
	position: 				relative !important;
}

.columnBox
{
	display:				none;
}

.edit .columnBox
{
	display:				block;
	position:				absolute;
	top:					6px;
	left:					0;
	width:					100%;
	height:				100%;
	background-color: 		#FFF;
	border:					1px dashed #CFD2D4;
	border-radius: 			10px;
	z-index:				1;
}

#widgetList
{
	display:				none;
}

.widgetListContainer
{
	position:				relative;
	padding:				12px 0;
	font-size: 				0.938em;
}

.widgetListContainer .showAllWdgts
{
	position: 			absolute;
	right:				0;
	top:					0;
}

#widgetList h3
{
	background:				url("../images/titleBrdr.png") repeat-x center bottom;
	margin:					1em 0 0 0;
	padding:				0 0 4px 0;
	font-family: 			'Open Sans', 'Calibri', 'Trebuchet MS', sans-serif !important;
	font-weight: 			600;
}

#widgetList h3 div.expand
{
	background:			url("../images/icn_MenuExpand.png") no-repeat 0px 2px;
	padding:				0 4px;
	height:				26px;
	display:				inline;
}

#widgetList h3 div.expand.contract
{
	background-position:	-30px 2px;	
}

#widgetList h3
{
	background:			url("../images/titleBrdr.png") #FFF repeat-x center bottom;	
}

#widgetList h3:hover
{
	cursor:				pointer;
	background:			url("../images/titleHoverBrdr.png") #f9fcfd repeat-x center bottom;
}

#widgetList h3.selected, #widgetList h3.selected:hover
{
	background:			url("../images/titleHighlightBrdr.png") #FFF repeat-x center bottom;	
}

#widgetList h3:hover div.expand
{
	background-position:	0px -38px;	
}

#widgetList h3:hover div.expand.contract
{
	background-position:	-30px -38px;	
}


#widgetList ul.widgetSelection
{
	border-width:			0 1px 0 1px; 
	border-style:			solid;
	border-color: 			#CFD2D4;
	margin: 				0 0 0 0; 
	padding: 				0; 
	list-style: 			none;
	overflow:				hidden;
	display:				none;
}

#widgetList ul.widgetSelection li
{
	border-bottom:			1px solid #CFD2D4; 
	padding: 				2px 4px 3px 10px;
	margin:				0;
	cursor:				pointer;
	overflow:				hidden;
}

#widgetList header
{
	padding:				0;
	height:				auto;
	display:				block;
	position:				relative;
	z-index:				auto;
	border:				0;
	background:			none;
	font-weight:			600;
	color:				#005782;
}

#widgetList ul.widgetSelection li.ui-selected header
{
	color: 				#FFF;
}

#widgetList article
{
	font-size:			0.857em;
}

/* EMPTY BOX */

.empty
{
	text-align:			center;
	text-transform:		uppercase;
	font-weight:			600;
	font-size:			0.875em;
	color:				#9CADB8;
	position:				relative;
	margin:				24px 0 18px;
	z-index:				5;
}


/* WIDGET BOX */

.widgetObject
{
	margin:					12px 0 16px;
	position:				relative;
	z-index:				5;
	-moz-border-radius:		10px;
	-webkit-border-radius:	10px;
	border-radius: 			10px;
}

.widget
{
	background-color:		#FFF;
	padding-bottom:			12px;
	overflow:				hidden;
	height:					auto;
	min-height:				138px;
	z-index:				5;
/*	border: 				1px solid #DADCDE !important;
*/	
	-moz-border-radius:		10px;
	-webkit-border-radius:	10px;
	border-radius: 			10px;

	border: 				1px solid #e8e9ea;

/*	-moz-box-shadow:		0 0 6px 1px rgba(53,59,63,0.2);
	-webkit-box-shadow:		0 0 6px 1px rgba(53,59,63,0.2);
	box-shadow:				0 0 6px 1px rgba(53,59,63,0.2);
*/}

.edit .widget
{
	border:					1px solid #DADCDE;
 	margin: 				0 auto !important;
    width: 					98%;}

.widget header span.move, .widget header a.editOnly
{
	display:				none !important;
}

.edit .widget header:hover
{
	cursor:				move;
}

.edit .ddMenu .menuOptions
{
	display:				none;
}

.edit .ddMenu .editMenuOptions
{
	display:				block;
}

.edit .widget header span.move, .edit .widget header a.editOnly
{
	display:				inline !important;
}

.edit .widget header span.move
{
	background-position:	center 2px;
}

.edit .widget header:hover span.move
{
	background-position:	center -38px;
}

.widgetContent
{
	margin:				0 12px;
	overflow:				auto;
	position:				relative;
}

.widgetContent.chartGraph
{
	overflow:				hidden !important;
}

.widgetContent.listGraph
{
	overflow:				auto !important;
}

.noWdgtData
{
	text-align: 			center; 
	position: 				relative; 
	top: 					120px;
	margin-top: 			-22px;
	z-index: 				800; 
	font-size: 				0.785em; 
	line-height: 			2em;
	height:					22px;
}

.noWdgtData.noData
{
	margin-top:			18px;
	padding-bottom:		3px;
	top:					0;	
}

.noWdgtData.noHeatMap
{
	position:				absolute !important;
	top:					50% !important;
	width:				100% !important;
}

.noWdgtData span
{
	background-color: 		#DADCDE; 
	padding: 				3px 6px; 
	color:					#353B3F; 
	font-weight: 			600;
	opacity: 				0.75; 
	filter:					alpha(opacity=75);	
}

.widgetContent ul
{
	font-size:			0.75em;
}

.widgetContent ul.scrollingListHeader
{
	font-size:			0.875em;
}

.widgetContent ul div
{
	overflow:				hidden;
	min-width:			75px;
}

.widgetContent .snglValueIcon
{
	width:				25%;
	text-align: 			center; 
	float: 				left;
}

.widgetContent .snglValueIcon img
{
	width:				98%;
	height:				98%;
	max-width:			125px;
	max-height:			125px;
	height:				auto;
}


.widgetContent .snglValue
{
	width: 				75%; 
	white-space:			nowrap;
	text-align: 			center;
	float: 				left; 
	padding: 				0;
	position:				absolute;
	top:					50%;
	left:				25%;
	margin-top:			-1.74em;
}

.widgetContent h1.valueDisplay
{
	font-size: 			2.25em;
	color:				#005782;
	line-height: 			normal; 
	margin: 				0 0 0 6px;
}

#widgetList ul.widgetSelection li:hover, .widgetSettings ul.chartDesign li section:hover
{
	cursor:				pointer;
}

#widgetList ul.widgetSelection li.ui-selecting, .widgetSettings ul.chartDesign li section:active
{
	cursor:				pointer;
}

#widgetList ul.widgetSelection li.ui-selected, #widgetList ul.widgetSelection li.ui-selected:hover
{
	cursor:					inherit;
}

.widgetSettings ul.chartDesign li section.inactive, .widgetSettings ul.chartDesign li section.disabled
{
	background-color:		#DADCDE;
	cursor:					inherit;
}

#wdgtSettingDialog
{
	display:				none;
}

#wdgtSettingDialog ul.fullList li, #wdgtSettingDialog ul.selectedList li
{
	white-space:			nowrap;
}

.widgetSettings
{
    color: 					#697178;
	overflow:				auto;
	font-size: 				0.929em;
}

.widgetSettings strong
{
	color: 				#697178;
}

#widgetSetValues
{
	overflow:				hidden;
	width:					98%;
}

.widgetSettings label, #widgetSetValues
{
	padding:				3px 0 0 6px;	
}

#widgetSetValues strong, #widgetSetValues span
{
	padding:				3px 0.35em 0 0;
}

#widgetSetValues label
{
	padding-left: 			0;
}

#widgetSetValues .inputWithButton
{
	padding:				0 0.35em;	
}


.widgetSettings .tierArea, .widgetSettings .targetArea, .widgetSettings .switch, .widgetSettings #targetPre, .widgetSettings #targetPost
{
	display:				none;
	overflow: 				hidden;
}

.widgetSettings #targetPre, .widgetSettings #targetPost
{
	float: 					left;
	padding-top: 			3px;
}

.widgetSettings .tierArea
{
	overflow:				inherit;
}

.widgetSettings .switch
{
     font-size: 			0.857em;
     line-height: 			2em;
}


.widgetSettings #clearSelected
{
	font-size: 			0.857em;
	margin-top:			2px;
	color:				#003E5E !important;
}

.widgetSettings #clearSelected:hover
{
	color:				#F88B2B !important;
}


#targetSwitch.switch
{
	display:				block;
}

.chartSwitchAlert
{
	position: 			absolute; 
	z-index: 				500; 
	top: 				40px; 
	right: 				20px;
}

.widgetSettings #chartDesignSV, .widgetSettings #chartDesignFL, .widgetSettings #chartDesignMap, .widgetSettings #chartDesignHeatMap, .widgetSettings #chartDesignOccupancyMap
{
	font-weight:			600;
	color:				#005782;
	display:				none;
}

.widgetSettings .chartDesignBox
{
	width:				90%;
	margin:				4px 5%;
	padding-bottom: 	-1px;
	overflow: 			hidden;
	position: 			relative;
}

.widgetSettings .chartDesignBox ul.chartDesign
{
	width: 				101%;
	overflow: 			hidden;
	margin: 			-1px 0 0;
	position: 			relative;
	border: 			none !important;
	-moz-border-radius:		0;	
	-webkit-border-radius:	0; 
	border-radius: 			0;

}

.widgetSettings ul.chartDesign .inactive
{
	opacity:				1 !important;
	filter:					alpha(opacity=100) !important;	
}

.widgetSettings ul.chartDesign li
{
	float:					left;
	vertical-align:			middle;
	width:					50%;
	font-weight:			600;
	color:					#005782;
	background:				none;
	margin-bottom: 			-1px;
}

.widgetSettings ul.chartDesign li section
{
	padding:				13px 0 14px 58px;
	position:				relative;
	border-bottom: 			1px solid #dadcde;
	border-right: 			1px solid #dadcde;
}

.widgetSettings ul.chartDesign li section img
{
	position:				absolute;
	top:					7px;
	left:					5px;
}

.widgetSettings ul.chartDesign li section img, .widgetSettings ul.chartDesign li section.selected:hover img, .widgetSettings ul.chartDesign li section.inactive:hover img, .widgetSettings ul.chartDesign li section.disabled:hover img
{
	border:				1px solid #FFF;
}

.widgetSettings ul.chartDesign li section.inactive, .widgetSettings ul.chartDesign li section.disabled, 
.widgetSettings ul.chartDesign li section.inactive:hover, .widgetSettings ul.chartDesign li section.disabled:hover
{
	background-color:		transparent;
	background-image:		none;
	cursor:					default;
	color:					#3d89af !important;
	text-shadow:			none;
}

.widgetSettings ul.chartDesign li:hover section
{
	background-color: 		#eef5f8 !important;	
	border-top: 			1px solid #dadcde;
	padding-top: 			12px;
}

.widgetSettings ul.chartDesign li:hover section.inactive
{
	background-color: 		#FFF !important;	
}

.widgetSettings ul.chartDesign li:hover section.selected
{
	background-color: 		#005782 !important;	
	border-top: 			1px solid #005782;
}

.widgetSettings ul.chartDesign li:hover section img
{
	border:				1px solid #C8CBCE;
	top: 				6px;
}

.tierOps .selectAll
{
	padding:				0 !important;
}

.column .widget
{
	margin-right:			0;
}

.ui-autocomplete
{
	position:				fixed;
}

#statusDate 
{
	bottom: 				0px; 
	right: 				0px; 

	-moz-border-radius-topleft:			6px;
	-webkit-border-top-left-radius:		6px;
	border-top-left-radius: 				6px;
}

a.pin
{
	position: 			absolute; 
	top: 				10px; 
	right: 				10px; 
}

.map .severityLow
{
	color:			#d5b200;
}

.map .severityMedium
{
	color:			#f88b2b;
}

.map .severityHigh
{
	color:			#CC0000;
}
