@charset "utf-8";
/* CSS Document */

.edit #dashboardNav .tabSection
{
	padding:				2px 9px 3px 1px;
}

.edit #dashboardNav a.tab
{
	padding:				0 9px 0 0;
	display:				inline;
	float:				none;
	margin:				0;
	border:				0 !important;
	font-weight:			normal;
}

.edit #dashboardNav .tabSection:hover
{
	cursor:				move;
}
