@charset "utf-8";
/* CSS Document */

#login form
{
	width: 				732px !important;
}

.widget, .groupBox, .tooltip, .tooltip.bottom, .tooltip.top

{
	border:			1px solid #DADCDE;
}

.ui-dialog, .ui-autocomplete
{
	border:			1px solid #697178;
}

.leaflet-control-zoom
{
	background-color: 	#ffffff !important;
}

.highcharts-legend
{
	top: 			7px !important;
}

input, select, textarea, .treepicker-list-full, .treepicker-list-selected
{
	border-bottom:			1px solid #DADCDE;
}

a.selectMenu, .widgetSettings ul, .optionListArea ul, ul.currentEmailsList, #formDisplayAlertNotifyList,
.treepicker-list-full, .treepicker-list-selected
{
	border-left:			1px solid #DADCDE !important;
	border-bottom:			1px solid #DADCDE !important;
}

#payStationTypeImg
{
	border:				2px solid #ECECEC;
}

.filterHeader  ul.filterForm li .filterMenu
{
	background:	 		#FFF !important; 
	border:				1px solid #ECECEC;
}

.groupBox header#headerTabs ul li:first-child
{
	border-style:			solid;
	border-color:			#DADCDE;
	border-width:			0 1px 0 0 !important;
	margin-right:			-1px !important;
}

.optionMenu .point
{
	left:					-12px;
	top:						8px;
	filter:					progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* IE 8 */	
}

.optionMenu .rightSidePoint
{
	right:					-24px !important;
	top:						8px;
	filter:					progid:DXImageTransform.Microsoft.BasicImage(rotation=1); /* IE 8 */	
}