@charset "utf-8";
/* CSS Document */

input::-ms-clear {
    display: none;
}

hr
{
	background-color:	#DADCDE;
}

.widgetSettings select option[disabled]
{
	background-color:	#ebebeb !important;
}

#thirdNav
{
	box-shadow:			inset 0px 4px 8px 0px rgba(0,0,0,0.06), inset 0 -4px 8px 0 rgba(0,0,0,0.06);
}

#thirdNav a.tab:hover
{
	box-shadow:			inset 0 4px 4px 0 rgba(0,0,0,0.04);
}

#thirdNav a.tab.current
{
	box-shadow:			inset 0 4px 4px 0 rgba(0,0,0,0.04), 0 0 16px 0 rgba(0,0,0,0.2);
}

* html .ui-autocomplete 
{
	height: 110px;
}

.linkButton.textButton, .linkButtonFtr.textButton, .ui-dialog .ui-dialog-buttonpane .ui-button, .ui-button.ui-widget.ui-corner-all.active, .ui-dialog .ui-dialog-buttonpane .ui-button.btnCancel, .ui-dialog .ui-dialog-buttonpane .ui-button.btnClose, .linkButton.textButton:hover, .ui-dialog .ui-dialog-buttonpane .ui-button.btnCancel:hover, .ui-dialog .ui-dialog-buttonpane .ui-button.btnClose:hover, .linkButtonFtr.textButton, .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.active, .linkButtonFtr.textButton:hover, .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.active:hover
{
	background-image:		none !important;
}

.fixedWidthFont, dl.fixedWidthFont *
{
	font-family:				monospace !important;
	font-size:				1em;
}

dl.fixedWidthFont *
{
	font-size:			0.875em !important;
}

.closedtime select, .opentime select
{
	color:				#333 !important;
}

fieldset hr:first-child
{
    position: 				relative;
    top: 					10px;
    left: 					0;
	z-index: 				0;
}
