@charset "utf-8";
/* CSS Document */

/* required styles */

.leaflet-map-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-pane,
.leaflet-overlay-pane,
.leaflet-shadow-pane,
.leaflet-marker-pane,
.leaflet-popup-pane,
.leaflet-overlay-pane svg,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer { /* TODO optimize classes */
	position: absolute;
	}
.leaflet-container {
	overflow: hidden;
	outline: 0;
	}
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	}
.leaflet-marker-icon,
.leaflet-marker-shadow {
	display: block;
	}
.leaflet-clickable {
	cursor: pointer;
	}
.leaflet-dragging, .leaflet-dragging .leaflet-clickable {
	cursor: move;
	}
.leaflet-container img {
    /* map is broken in FF if you have max-width: 100% on tiles */
	max-width: none !important;
	}
.leaflet-container img.leaflet-image-layer {
    /* stupid Android 2 doesn't understand "max-width: none" properly */
    max-width: 15000px !important;
    }

.leaflet-tile-pane { z-index: 2; }
.leaflet-objects-pane { z-index: 3; }
.leaflet-overlay-pane { z-index: 4; }
.leaflet-shadow-pane { z-index: 5; }
.leaflet-marker-pane { z-index: 6; }
.leaflet-popup-pane { z-index: 7; }

.leaflet-tile {
    filter: inherit;
    visibility: hidden;
	}
.leaflet-tile-loaded {
	visibility: inherit;
	}

.leaflet-zoom-box {
    width: 0;
    height: 0;
    }

/* Leaflet controls */

.leaflet-control {
	position: relative;
	z-index: 7;
	pointer-events: auto;
	}
.leaflet-top,
.leaflet-bottom {
	position: absolute;
	z-index: 1000;
	pointer-events: none;
	}
.leaflet-top {
	top: 0;
	}
.leaflet-right {
	right: 0;
	}
.leaflet-bottom {
	bottom: 0;
	}
.leaflet-left {
	left: 0;
	}
.leaflet-control {
	float: left;
	clear: both;
	}
.leaflet-right .leaflet-control {
	float: right;
	}
.leaflet-top .leaflet-control {
	margin-top: 10px;
	}
.leaflet-bottom .leaflet-control {
	margin-bottom: 10px;
	}
.leaflet-left .leaflet-control {
	margin-left: 10px;
	}
.leaflet-right .leaflet-control {
	margin-right: 10px;
	}

.leaflet-control-zoom {
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	}
.leaflet-control-zoom {
	padding: 5px;
	background: rgba(255, 255, 255, 0.75);
	}
.leaflet-control-zoom a {
	background-color: rgba(233,240,245,0.75);
	}
.leaflet-control-zoom a, .leaflet-control-layers a {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
	}
.leaflet-control-zoom a {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border:				1px solid #dadcde;
	background-color: 	#eef5f8;
	width: 19px;
	height: 19px;
	}
.leaflet-control-zoom a:hover {
	border-color:			#aecede;
	background-color: 		#eef5f8;
	}
.leaflet-touch .leaflet-control-zoom a {
	width: 27px;
	height: 27px;
	}
.leaflet-control-zoom-in {
	background-image:		url("../images/icn_Add.png");
	background-position:	center -2px !important;
	background-repeat:		no-repeat;
	margin-bottom: 5px;
	}
.leaflet-control-zoom-out {
	background-image:		url("../images/icn_Minus.png");
	background-position:	center 0 !important;
	background-repeat:		no-repeat;
	}
.leaflet-control-zoom-in:hover
{
	background-position:	center -42px !important;
}

.leaflet-control-zoom-out:hover
{
	background-position:	center -40px !important;
}

.leaflet-control-layers {
	box-shadow: 0 1px 7px #92989D;
	background: #e8e9ea;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	}
.leaflet-control-layers
{
	background-color: #C8CBCE !important;	
}
.leaflet-control-layers a {
	background-image: url(../images/layers.png);
	width: 36px;
	height: 36px;
	}
.leaflet-touch .leaflet-control-layers a {
	width: 44px;
	height: 44px;
	}
.leaflet-control-layers .leaflet-control-layers-list,
.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
	display: none;
	}
.leaflet-control-layers-expanded .leaflet-control-layers-list {
	display: block;
	position: relative;
	}
.leaflet-control-layers-expanded {
	padding: 6px 10px 6px 6px;
	font-size: 12px;
	color: #333;
	background: #fff;
	}
.leaflet-control-layers input {
	margin-top: 2px;
	position: relative;
	top: 1px;
	}
.leaflet-control-layers label {
	display: block;
	}
.leaflet-control-layers-separator {
	height: 0;
	border-top: 1px solid #DADCDE;
	margin: 5px -10px 5px -6px;
	}

.leaflet-container .leaflet-control-attribution {
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 0 0 5px #BFC3C5;
	margin: 0;
    }

.leaflet-control-attribution,
.leaflet-control-scale-line {
	padding: 0 5px;
	color: #353B3F;
	}

.leaflet-container .leaflet-control-attribution,
.leaflet-container .leaflet-control-scale {
	font-size: 11px;
	}

.leaflet-left .leaflet-control-scale {
	margin-left: 5px;
	}
.leaflet-bottom .leaflet-control-scale {
	margin-bottom: 5px;
	}

.leaflet-control-scale-line {
	border: 2px solid #7E858B;
	border-top: none;
	color: black;
	line-height: 1;
	font-size: 10px;
	padding-bottom: 2px;
	background-color: rgba(255, 255, 255, 0.5);
	}
.leaflet-control-scale-line:not(:first-child) {
	border-top: 2px solid #7E858B;
	padding-top: 1px;
	border-bottom: none;
	margin-top: -2px;
	}
.leaflet-control-scale-line:not(:first-child):not(:last-child) {
	border-bottom: 2px solid #7E858B;
	}

.leaflet-touch .leaflet-control-attribution, .leaflet-touch .leaflet-control-layers {
	box-shadow: none;
	}
.leaflet-touch .leaflet-control-layers {
	border: 5px solid #BFC3C5;
	}


/* Zoom and fade animations */

.leaflet-fade-anim .leaflet-tile, .leaflet-fade-anim .leaflet-popup {
	opacity: 0;

	-webkit-transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	-o-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
	}
.leaflet-fade-anim .leaflet-tile-loaded, .leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
	opacity: 1;
	}

.leaflet-zoom-anim .leaflet-zoom-animated {
	-webkit-transition: -webkit-transform 0.25s cubic-bezier(0.25,0.1,0.25,0.75);
	-moz-transition: -moz-transform 0.25s cubic-bezier(0.25,0.1,0.25,0.75);
	-o-transition: -o-transform 0.25s cubic-bezier(0.25,0.1,0.25,0.75);
	transition: transform 0.25s cubic-bezier(0.25,0.1,0.25,0.75);
	}

.leaflet-zoom-anim .leaflet-tile,
.leaflet-pan-anim .leaflet-tile,
.leaflet-touching .leaflet-zoom-animated {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    }

.leaflet-zoom-anim .leaflet-zoom-hide {
	visibility: hidden;
	}


/* Popup layout */

.leaflet-popup {
	position: absolute;
	text-align: center;
	}
.leaflet-popup-content-wrapper 
{
	padding: 			4px 8px 12px;
	text-align: 		left;
	width:			350px !important;
	overflow:			inherit;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 	10px;
}
	
.leaflet-popup-content {
	margin: 0;
	overflow:	hidden;
	width: 100% !important;
	}
.leaflet-popup-tip-container {
	margin: 0 auto;
	width: 40px;
	height: 20px;
	position: relative;
	overflow: hidden;
	}

.leaflet-popup-tip 
{
	width: 			15px;
	height: 			15px;
	padding: 			1px;
	margin: 			-10px auto 0;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 	4px;
	-moz-transform: 	rotate(45deg);
	-webkit-transform: 	rotate(45deg);
	-ms-transform: 	rotate(45deg);
	-o-transform: 		rotate(45deg);
	transform: 		rotate(45deg);
}

.leaflet-container a.leaflet-popup-close-button 
{
	position: 		absolute;
	top: 			-4px;
	right: 			8px;
	padding: 			0;
	font-family: 		Tahoma, Verdana, sans-serif;
	font-size: 		22px;
	font-weight: 		600;
	text-align: 		center;
	text-transform: 	uppercase;
	text-decoration: 	none;
	color: 			#C8CBCE;
	border: 			none;
}

.leaflet-container a.leaflet-popup-close-button:hover {
	color: #92989D;
	}
.leaflet-popup-content p {
	margin: 18px 0;
	}
.leaflet-popup-scrolled {
	overflow: auto;
	border-bottom: 1px solid #DADCDE;
	border-top: 1px solid #DADCDE;
	}


/* Visual appearance */

.leaflet-container {
	background: #DADCDE;
	}
.leaflet-container a {
	color: #3d89af;
	}
.leaflet-container a.leaflet-active {
    outline: 2px solid #f88b2b;
    }
.leaflet-zoom-box {
	border: 2px dotted #1e76a2;
	background: white;
	opacity: 0.5;
	}
.leaflet-div-icon {
    background: #fff;
    border: 1px solid #697178;
    }
.leaflet-editing-icon {
    border-radius: 2px;
    }
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
	background: white;

	box-shadow: 0 3px 10px #92989D;
	-moz-box-shadow: 0 3px 10px #92989D;
	-webkit-box-shadow: 0 3px 14px #B8BCBF;
	}
.leaflet-popup-content {
	font-size: 12px;
	}


/* MARKER CLUSTER */

.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
-webkit-transition: -webkit-transform 0.25s ease-out, opacity 0.25s ease-in;
-moz-transition: -moz-transform 0.25s ease-out, opacity 0.25s ease-in;
-o-transition: -o-transform 0.25s ease-out, opacity 0.25s ease-in;
transition: transform 0.25s ease-out, opacity 0.25s ease-in;
}

.marker-cluster-small {
background-color: rgba(94, 147, 191, 0.6);
}
.marker-cluster-small div {
background-color: rgba(30, 118, 162, 0.75);
color:#FFF;
}

.marker-cluster-medium {
background-color: rgba(4, 101, 149, 0.6);
}
.marker-cluster-medium div {
background-color: rgba(0, 62, 94, 0.6);
color:#FFF;
}

.marker-cluster-large {
background-color: rgba(198, 192, 187, 0.75);
}
.marker-cluster-large div {
background-color: rgba(248, 139, 43, 0.8);
color:#FFF;
}

.marker-cluster {
background-clip: padding-box;
border-radius: 20px;
}
.marker-cluster div {
width: 30px;
height: 30px;
margin-left: 5px;
margin-top: 5px;

text-align: center;
border-radius: 15px;
font-size: 12px;
}
.marker-cluster span {
line-height: 30px;
}

.leaflet-control-attribution
{
	display:	none;
}

.leaflet-control-layers
{
	background-color: rgba(255, 255, 255, 0.7) !important;
	font-size: 0.75em;
	padding: 4px 9px;
	z-index: 500;
}