@charset "utf-8";
/* CSS Document */

body
{
	background-color: 	#F4F5F6 !important;
	position: relative;
}

footer nav
{
	visibility:			hidden;
}

#termsOfService footer nav
{
	visibility:			visible;
}

#index header, #serviceAgreement header, #passwordConfirmation header
{
	text-align:				center;
	padding:				3% 0 3%;
	width:					95%;
	height:					auto;
	margin:					0 auto;
	border:					0;
	background:				none;
	overflow:				inherit;
	z-index:				auto;
}

#index header, #passwordConfirmation header
{
	max-width:				1270px;
}


#index header #messageResponseAlert
{
	font-size:			1em;
	text-align:			center;
	position:				relative;
	width:				65%;
}

#index header #messageResponseAlert img
{
	float:				none;
	position:				relative;
	top:					18px;
}

#index header #messageResponseAlert h4
{
	position:				relative;
	top:					-15px;
}

#index header .alert
{
	color: 				#F88B2B; 
	font-weight: 			600;
}

/*.popAlert
{
	width:				50% !important;
}*/

img#loginBkgrnd
{
	position: fixed;
	height: 100%;
	min-width: 62%;
	left: 38%;/*40%;*/
	z-index: 0;
}

#digitalIris, #digitalIrisSm
{
	background-color: 	#046595;
	text-align: 		right;
    border-right: 		4px solid #fff;
    width: 				43%;
    height: 			100%;
    position: 			fixed;
    left: 				0;
    z-index: 			100;
	padding-top: 		15%;
}

#digitalIrisSm
{
    width: 				250px;
}

#digitalIrisLogo
{
	width: 				100%;
	max-width: 			633px;	
}

#login
{
	/*background-color: 	#F4F5F6;*/
	position:			fixed;
	width:				100%;
	height: 			100%;
	padding-top: 		15%;
}

.loginForm
{
	margin:					-13px 0 0 56%;/*-13px 0 0 45%;*/
	padding-bottom: 		18px;
	width: 					42%;/*53%;*/
	border-radius: 			10px;
	background-color: 		rgba(255,255,255,0.9);
	overflow: 				hidden;
}

#login form .inputWrapper
{
	text-align:			left;
	position: 			relative;
	margin: 			4px 16px;
	overflow: 			hidden;
}


#login * ::-webkit-input-placeholder { font-weight: 600; font-size: 1em; color: #1e76a2; }
#login * :focus::-webkit-input-placeholder { font-weight: 600; font-size: 1em; color: #B8BCBF; }

/* FF 4-18 */
#login * :-moz-placeholder { opacity: 1; font-weight: 600; font-size: 1em; color: #1e76a2; }
#login * :focus::-moz-placeholder { opacity: 1; font-weight: 600; font-size: 1em; color: #B8BCBF; }

/* FF 19+ */
#login * ::-moz-placeholder { opacity: 1; font-weight: 600; font-size: 1em; color: #1e76a2; }
#login * :focus::-moz-placeholder { opacity: 1; font-weight: 600; font-size: 1em; color: #B8BCBF; }

/* IE <10 */
#login form input.placeholder { font-weight: 600 !important; font-size: 2em !important; color: #1e76a2 !important; }

/* IE 10+ */
#login form input#username:-ms-input-placeholder { font-weight: 600; color: #1e76a2; }
#login form input#username:focus:-ms-input-placeholder { font-weight: 600; color: #B8BCBF; }
#login form input#password:-ms-input-placeholder { font-weight: 600; color: #1e76a2; }
#login form input#password:focus:-ms-input-placeholder { font-weight: 600; color: #B8BCBF; }

/* EDGE */
#login form input::-ms-input-placeholder { font-weight: 600; color: #1e76a2; }
#login form input:focus::-ms-input-placeholder { font-weight: 600; color: #B8BCBF; }


#login form label
{
	position: 			absolute;
	top:				8px;
	left:				2px;
	font-size:			2em;
	font-weight:		600;
	color:				#1e76a2;
}

#login form input#username, #login form input#password, #login form input#confirmPassword, #passwordConfirmation form input#newPassword, #passwordConfirmation form input#c_newPassword
{
	width:				100%;
	height: 			48px;
	border:				0px;
	border-bottom: 		1px solid #B8BCBF;
	font-size:			2em;
	font-weight: 		600;
	color:				#005782;
	padding:			8px 2px 0px;
	border-radius: 		none !important;
	
	background: 		none;
	vertical-align:		middle;
	margin:				0px;
	min-height:			18px;

	-moz-border-radius:		0px;	
	-webkit-border-radius:	0px; 
	border-radius: 		0px;

	-moz-box-shadow:		none;
	-webkit-box-shadow:		none;
	box-shadow:			none;

}

#login form #submit
{
	background-color:	#F88B2B;
	color:				#4C392A;
	font-size:			1.6em !important;
	font-weight: 		700;
	text-transform: 	uppercase;
	padding:			4px 20px 2px;
	margin-right: 		0px;
	height:				51px;
	border:				1px solid #F88B2B !important;
	position:			relative;
	right:				16px;
	top:				8px;
	overflow:			hidden;
	float: 				right;

	-moz-border-radius:		10px;
	-webkit-border-radius:	10px;
	border-radius: 			10px;
}

#login form #submit:hover, #login form #submit:focus
{
	background-color:		#FD9E4B;
	border:					1px solid #F88B2B !important;
	cursor:					pointer;
}

#login form #submit:active
{
	background-color:	#DA7923;
	color:				#4C392A;
	border:				1px solid #DA7923 !important;
}

#index footer, #serviceAgreementColumn footer, #TermsSigneeColumn footer, #passwordConfirmation footer
{
	left: 					43%;
	text-align: 			left;
	position: 				fixed;
	bottom: 				8px;
	padding: 				0 0 0 8px !important;
}

#serviceAgreementColumn footer, #TermsSigneeColumn footer, #passwordConfirmation footer
{
	left: 					255px;
	padding: 				0 0 0 4.25% !important;
}

#index footer #copyright
{
	color: 					#005782;	
}

/* SERVICE AGREEMENT */

#serviceAgreement header, #passwordConfirmation header
{
	padding:				1% 0 1%;	
}

#serviceAgreementColumn, #TermsSigneeColumn, #passwordConfirmationColumn
{
	margin: 				0 0 0 255px;
}

#serviceAgreementArea, #TermsSignee, #passwordConfirmationArea
{
	width: 					90%;
	margin: 				0 auto;	
	overflow:				hidden;
}

#serviceAgreementArea
{
	position: 				relative;
	z-index: 				100;
}

#serviceAgreement #serviceAgreementArea header, #passwordConfirmationArea header
{
	overflow:				auto;
	width:					100%;
	margin-top: 			80px;
}

#saDetails
{
	height: 				360px;
	font-size:				0.813em !important;
	overflow: 				auto;
	margin:					8px 0;	
	padding: 				8px; 
	clear: 					both; 
	text-align: 			left; 
	background-color: 		#FFF;
	
	-moz-border-radius:		6px;
	-webkit-border-radius:	6px;
	border-radius: 			6px;
}

#serviceAgreementArea .inputWrapper, #passwordConfirmationArea .inputWrapper
{
	text-align:			left;
	float: 				left; 
	position: 			relative;
	margin-right:			4px;
}

#TermsSignee
{
	text-align:			center;
}

#serviceAgreementArea .inputWrapper
{
	font-size:			0.750em;
}

#serviceAgreementArea .inputWrapper label
{
	padding-left:			8px;
}


/* PASSWORD CONFIRMATION */

#passwordConfirmationArea #userNameWrapper
{
	display:				none;
}

#passwordConfirmationArea article
{
	font-size: 			0.75em; 
	width: 				75%;
}

#passwordConfirmation form
{
	width: 				60%;
}

#passwordConfirmation form input#newPassword, #passwordConfirmation form input#c_newPassword
{
	width: 				90%;
	border-bottom: 		1px solid #92989D;
	padding: 			0;
}

#passwordConfirmation form .confirmation_icn
{
	margin-top: 		10px;
}

#passwordConfirmation .inputWrapper
{
	width: 				100%;
	margin-top: 		14px;
}

#passwordConfirmation .inputWrapper label
{
	margin: 			0 4px;
	font-weight: 		600;
	font-size: 			1.125em;
	color: 				#B8BCBF;
}

input#changePassword
{
	margin-right: 		15%;
}

#passwordConfirmation .req.left.clear
{
	clear: 				none !important;
	margin-top: 		8px;
}

/* ERROR PAGE */

#systemErrorArea
{
	text-align: 			center; 
	width: 				100%;
	margin-top: 			-125px; 
	position: 			absolute; 
	top: 				50%;
}