@charset "utf-8";
/* CSS Document */

 /* IE 6-8 fallback colors */
.marker-cluster-small {
background-color: rgb(94, 147, 191);
}
.marker-cluster-small div {
background-color: rgb(30, 118, 162);
color:#FFF;
}

.marker-cluster-medium {
background-color: rgb(4, 101, 149);
}
.marker-cluster-medium div {
background-color: rgb(0, 62, 94);
color:#FFF;
}

.marker-cluster-large {
background-color: rgb(198, 192, 187);
}
.marker-cluster-large div {
background-color: rgb(248, 139, 43);
color:#FFF;
}


