/* PDA ------------------------------ */
html
{
	height: 100%;
}

body 
{
    background: #fff;
	color: #555F66;
	font-family: Calibri, "Trebuchet MS", sans-serif;
	font-size: 1em;
	line-height: 1.48em;
}

p
{
	margin: 0 0 0.7em 0;
}

a
{
	color: #004B7D;
}

h1
{
    border-bottom: 4px solid #EEF5F8;
	font-size: 1.375em;
	font-weight: normal;
	margin: 0 0 0.5em 0;
}

h1.page-header
{
    border-bottom: 4px solid #013B61;
	display: inline-block;
	padding: 0 1em 0.2em 0;
	bottom: -4px;
	position: relative;
}

h2
{
    font-size: 1.125em;
	font-weight: normal;
	margin: 0 0 0.5em 0;
}

h3
{
	font-size: 1.125em;
	margin: 0 0 0.5em 0;
}

label
{
	margin: 0 0.5em 0.2em 0;
}

label.ctrlLabel
{
	color: #004B7D;	
}

button, input, select, textarea 
{
    border: 1px solid #B8BCBF;
	color: inherit;
	font-family: inherit;
    font-size: 1em;
	padding: 0.2em;
}

button, input[type="submit"]
{
	background: #F88B2B;
	border: 1px solid #8D8076;
	color: #814715;
	cursor: pointer;
	line-height: normal;
	padding: 0.2em 1em;
}

button[disabled], input[disabled] 
{
    cursor: default;
}

input[type="checkbox"], input[type="radio"] 
{
    border: 0;
	padding: 0;
}

textarea 
{
    overflow: auto;
    vertical-align: top;
}

table 
{
    border-collapse: collapse;
    border-spacing: 0;
	width: 100%;
}

table td
{
    padding: 0.2em;
}

ul
{
	margin: 0.5em 0;
	padding: 0 0 0 1em;
}

.error
{
	background-color: #e8e9ea;
    border: 1px solid #CFD2D4;
	color: #004B7D;
	line-height: 1;
	padding: 0.5em;
	margin: 0 0 0.7em 0;
}

.nav-left
{
	float: left;
	text-align: left;
	width: 45%;
}

.nav
{
	float: right;
	text-align: right;
	width: 45%;
}

.nav-clear
{
	clear: both;
}

.nav a, .nave-left a
{
	color: #697178;
	font-size: 0.875em;
}

.nav a:hover, .nave-left a:hover
{
	color: #004B7D;
}

.searchNav p
{
	border: 1px solid #DADCDE;
}

.searchNav a
{
	display: inline-block;
	background: #e8e9ea;
	border-bottom: 1px solid #DADCDE;
	border-top: 1px solid #fff;
	padding: 0.4em 3%;
	text-decoration: none;
	width: 94%;
}

.searchNav a:hover
{
	background: #CFD2D4;
}

#selSetting.search-setting, #selLocation.search-location
{
	display: block;
}

#selLocation.search-setting, #selSetting.search-location, #selSetting.search-customer, #selLocation.search-customer
{
	display: none;
}