@charset "utf-8";
/* CSS Document */

body.printReceiptOnly
{ background:	none !important; }

body.printReceiptOnly header#titleBar, body.printReceiptOnly .headerBack, body.printReceiptOnly nav#main, body.printReceiptOnly .mainContentTitle, body.printReceiptOnly #secondNav, body.printReceiptOnly .searchHeader, body.printReceiptOnly .column.first, body.printReceiptOnly .column.second, body.printReceiptOnly .column.third header, body.printReceiptOnly footer, body.printReceiptOnly hr, body.printReceiptOnly .column.third #emailReceiptForm
{ display:	none !important; }

body.printReceiptOnly #content, body.printReceiptOnly #mainContent
{ margin:	0; }

body.printReceiptOnly .column.third .groupBox
{
	-moz-box-shadow:		none !important;
	-webkit-box-shadow:		none !important;
	box-shadow:			none !important;
	border:				none !important;
}

body.printReceiptOnly .column.third .receiptBody
{
	width:				30% !important;
}