ul.menuList li
{
	list-style:				none !important;
	float:					left;
	width:					100%;
	padding:				4px 0 6px;
	cursor:					default;
}

.reportingDOWSelector
{
	overflow:				hidden;
	width:					165px;
}

.reportingDOMSelector
{
	overflow:				hidden;
	width:					360px;
}

.reportingDOWSelector .dayCheck, .reportingDOMSelector .dayCheck
{
	float: 					left;
	text-align: 			center;
	font-size: 				0.917em;
	line-height: 			1em;
	text-transform: 		uppercase;
	font-weight: 			600;
	color: 					#999;
	margin: 				0px 2px 0;
	padding: 				0;
}

.reportingDOWSelector .dayCheck input, .reportingDOMSelector .dayCheck input
{
	margin-top: 			2px;
	width: 					14px;
	height: 				14px;
}

.reportingStep
{
	text-align:				right;
	color:					#004B7D;
}

#filterDateTime
{
	margin-top:				6px;
	overflow:					hidden;
	width:					100%;
}

#filterSecondaryDateTime
{
	clear:					left;
}

#primaryTimeSelector, #secondaryTimeSelector, #formPrimaryDateRange, #formPrimaryMonthRange, #formSecondaryDateRange, #formSecondaryMonthRange, #reportRunningTime, #formReportTypeSection
{
	margin-left:				8px;
	float:					left;
	overflow:					hidden;
	width:					auto !important;
}


#primaryTimeSelector, #secondaryTimeSelector, #reportRunningTime
{
	margin-left:				0 !important;
}

input.reportingType
{
	width:					35em !important;
}

input.reportingTitle
{
	width:					17em !important;
}

input.reportingDateType
{
	width:					13em !important;
}

input.reportingDate
{
	width:					7em !important;
	padding-right: 			0;
}

input.reportingTime
{
	width:					6em !important;
	padding-right: 			0;
}

input.reportingMonth
{
	width:					9em !important;
}

input.reportingYear
{
	width:					4em !important;
}

input.reportingPayStationSetting
{
	width:					9em !important;
}

input.reportingPayStationLocation
{
	width:					15em !important;
}

input.reportingLocationType
{
	width:					13em !important;
}

.treepicker-root-selector
{
	vertical-align: 		bottom;
}

input.reportingNumberType
{
	width:					8em !important;
}

input.reportingParkerNumber
{
	width:					13em !important;
}

input.reportingCardType
{
	width:					9em !important;
}

input.reportingCardApprovalStatus
{
	width:					13em !important;
}

input.reportingMerchantAccount
{
	width:					9em !important;
}

input.reportingCardNumberType
{
	width:					9em !important;
}

input.reportingCardNumber
{
	/* width will be configure with js */
}

input.reportingAlertSeverity
{
	width:					13em !important;
}

input.reportingAlertModule
{
	width:					13em !important;
}

input.reportingOtherParameter
{
	width:					13em !important;
}

input.reportingRepeatType
{
	width:					9em !important;
}

input.reportingRepeatFrequency
{
	width:					4em !important;
}

.reportTreePicker
{
	width:					700px;
}

.reportTreePicker .fullListBox
{
	width:					47%;
	float:					left;
}

.reportTreePicker .selectedListBox
{
	width:					47%;
	float:					right;
}

.reportTreePicker .fullListBox > ul, .reportTreePicker .selectedListBox > ul
{
	width:					98%;
	height:					200px;
	overflow:				auto;
}

.reportTreePicker .fullListBox .filterableBox
{
	height:					239px;
	width:					100%;
}

.reportTreePicker .fullListBox .dataFilterBox
{
	height:					35px;
	overflow:				hidden;
	
	background-color:		#CFD2D4;
}

.reportTreePicker .dataFilterBox .filterLabel
{
	float:					left;
}

.reportTreePicker .dataFilterBox .filterValue
{
	float:					left;
}

.reportTreePicker .locationFilter
{
	width:					225px;
}

.reportTreePicker .fullListBox ul.data
{
	height:					200px;
	width:					98%;
	overflow:				auto;
}

#filterLocation, #dataFilterBox, #filterOther, #reportRunningRepeat
{
	width:				100%;
	overflow:				hidden;
}

.reportTreePicker .boxBorder, .reportTreePicker .fullListBox .filterableBox
{
	background-color:		rgba(256, 256, 256, 0.5);
	text-decoration:		none;
	overflow:				inherit;
	margin:				4px;
	list-style:			none;
	padding:				0;
	border-top:			1px solid #B8BCBF;
	border-left:			1px solid #C8CBCE;
	border-right:			1px solid #C8CBCE;
	border-bottom:			1px solid #FFF;

	-moz-border-radius:		6px;	
	-webkit-border-radius:	6px; 
	border-radius: 		6px;
}

.reportTreePicker .selectedListBox .filterableBoxEmpty
{
	height:					40px;
}

.error
{
	background: 			#F7F3C9 !important;
}

#btnCancelReportTypeSpan, #reportTypeIDData, #reportDetailsArea, #reportSchedulingArea, #reportScheduleDetail
{
	display:				none;
}

#reportForm .sectionTitle
{
	margin:				0 0 6px 0;
	color:				#005782;
	height: 			25px;
}

#reportForm .sectionTitle h2
{
	color:					#004B70;
	background-image:		url("../images/titleHighlightBrdr.png");
	background-position:	bottom;
	background-repeat:		repeat-x;
	text-transform:			uppercase;
	margin:					0;
	padding:				0 34px 3px 0;
	display:				inline;
	font-weight: 			500;
}

#reportForm .inputWithButton label
{
	top:					4px;
	left:					4px;
}

#reportForm  .dateTimeInput
{
	float: 				left;
	overflow: 			hidden;
	position: 			relative;
	width: 				auto;
	padding-left:			5px;
}

#reportRunningTime
{
	
}

#reportForm  .dateTimeInput label
{
	top:					6px;
	left:				10px;
	position: 			absolute;
	z-index: 				5;
}

#reportForm .stepSection
{
	width: 				100%;
	overflow: 			hidden; 
	padding: 				12px 0;
}

#reportForm #step1.stepSection
{
	padding-top:			0 !important;
}

.reportingStep h3
{
	font-size:				3em;
	font-weight:			500;
	color:					#005782;
	text-transform:			uppercase;
	margin:					-1px 8px 0 0;
	padding:				0;
	line-height:			1em;
	letter-spacing: 		-0.01em;
	word-spacing: 			-0.1em;
}

.reportingStep h3 div.colon
{
	float: 				right; 
	margin: 				-14px 0 0 6px;	
}

.disableOverlay .reportingStep h3
{
	color:				#CFD2D4;
}

.disableOverlay .loading
{
	background:			none;
	display:				none;
}

#reportForm .disableOverlay .sectionTitle, #reportForm .disableOverlay .sectionTitle h2
{
	color:				#CFD2D4;
	background:			none;
	border-bottom:			3px solid #CFD2D4;
}

ul.dayCal
{
	width: 				154px; 
	border: 				1px solid #CFD2D4; 
	margin:				3px 0 6px 4px;
	clear: 				both; 
	overflow: 			hidden; 
	list-style: 			none;
}

ul.dayCal li
{
	border: 				1px solid #CFD2D4;
	font-weight:			600;
	color: 				#9CADB8; 
	border-collapse: 		collapse; 
	width: 				20px; 
	height: 				20px; 
	text-align: 			center; 
	margin: 				0; 
	padding: 				0; 
	display: 				block; 
	float: 				left;
}

ul.dayCal li:hover
{
	cursor:				pointer;
	color:				#005782;
	border-color:			#1E76A2;
	background-color: 		#EEF5F8;
}

ul.dayCal li:active
{
	cursor:				pointer;
	color:				#003E5E;
	border-color:			#005782;
	background-color:		#CFD2D4;
}

ul.dayCal li.selected
{
	cursor:				pointer;
	color:				#FFF;
	border-color:			#FFF;
	background-color:		#003E5E;
}

ul.dayCal li.filler, ul.dayCal li.filler:hover
{
	cursor:				default !important;
	border: 				1px solid #CFD2D4 !important; 
	width: 				86px !important;
	background: 			#e8e9ea !important;
}

#queuedReportsList li:hover, #reportsList li:hover, #reportDefinitionsList li:hover
{
	cursor: 			default !important;
}

#queuedReportsListHeader, #reportsListHeader, #reportDefinitionsListHeader
{
	margin-top: 		-8px !important;
}

#queuedReportsList li:active, #reportsList li:active, #reportDefinitionsList li:active
{
	color:					#005782;
	background-color: 		#FFFFFF;
}

li.canceledReport
{
	font-style:			italic;
}

li.newReport
{
	color:				#005782;
}

li.expiringReport
{
	color:				#CC0000;
}

li.expiringReport .col1
{
	border-left:			6px solid #CC0000 !important;
	box-sizing:			border-box;
	-moz-box-sizing:		border-box;
}

li.expiringReport .col1 p
{
	margin-left:			4px !important;
}

ul#reportsListHeader, ul#reportDefinitionsListHeader
{
	margin-bottom:		0px;
}

ul#reportsList, ul#reportDefinitionsList
{
	margin-top:			0px !important;
}

ul#reportsList li
{
	padding: 				0 !important;
}

ul#reportsList li.alignCenter.notclickable
{
	padding: 				0.31em 0 !important;
}

ul#reportsList li div
{
	padding: 				0.31em 0;
}

.no-padding-left
{
	padding-left:		0px !important;
	margin-left:		0px !important;
}

#timeZoneWrning
{
	display:			none;
	padding-left: 		4px;	
}

#timeZoneWrning img
{
	position: 		relative;
	top: 			2px; 
}

#timeZoneWrning
{
	display:			none;
	padding-left: 		4px;	
}

#timeZoneWrning img
{
	position: 			relative;
	top: 				2px; 
}

#scheduling
{
	margin-bottom: 		12px;
}

/* Transaction Report */

#transactionSearchForm ul.filterForm
{
	width: 				80%; 
	overflow: 			hidden;
}

#transactionSearchForm ul.filterForm li
{
	padding-right: 	0 !important;
}

#transactionSearchForm ul.filterForm .hiddenLabelContainer
{
	float:			none;
	margin-right:		0;
}

.searchTxDateBox input.dateType, #searchTxDateStart, #searchTxDateEnd
{
	width:			9em;
}

#searchTxTimeStart, #searchTxTimeEnd
{
	margin:			2px 8px 2px 0;
	width:			50px;
}

#searchTxDateStart, #searchTxDateEnd
{
	margin:			2px 8px;
}

#searchTxDateStartLabel, #searchTxTimeStartLabel, #searchTxDateEndLabel, #searchTxTimeEndLabel, #searchCardExpiryLabel
{
	top:				2px;
	left:				13px;
}

#searchCardExpiryLabel
{
	top:				-4px;
	left:			9px;
}

#searchTxTimeStartLabel, #searchTxTimeEndLabel
{
	left:			5px;
}

ul#transReceiptListContainer
{
	margin-top:		-9px !important;
	min-height:		50px;
}

ul#transReceiptListContainer li
{
	border-left: 		0;
	border-right: 		0;
	padding: 			2px 6px 3px 6px; 
	font-size: 		0.875em; 
	position: 		relative;
}



ul#transReceiptListContainer li.active
{
	background-color:		#ffe5cf;
	color: 					#4C392A;
}

ul#transReceiptListContainer li.active:hover
{
	background-color:		#fedbbd !important;
}

ul#transReceiptListContainer li.active .detailLabel
{
	color: 				#6e645d;
}

ul#transReceiptListContainer li.flexResult
{
	color: 				#004b70;
	font-style:			italic !important;
}

ul#transReceiptListContainer li.flexResult:hover
{
	background-color:		#f9fcfd !important;
}

ul#transReceiptListContainer li.flexResult.active
{
	background-color:		#dbe9f0;
	color: 					#00334d;
	font-style:				italic !important;
}

ul#transReceiptListContainer li.flexResult.active:hover
{
	background-color:		#c6dde8 !important;
}

ul#transReceiptListContainer li.flexResult .detailLabel
{
	color: 				#1e76a2;
}

ul#transReceiptListContainer li.flexResult.active .detailLabel
{
	color: 				#004b70;
}

ul#transReceiptListContainer li.flexResult.selected .detailLabel
{
	color: 				#c6dde8;
}

ul#transReceiptListContainer li .transactionDate
{
	float: 				left; 
	width: 				40%;
}

ul#transReceiptListContainer li .transactionLocation
{
	float: 				left; 
	width: 				20%;
}

ul#transReceiptListContainer li .transactionPOS
{
	float: 				left; 
	width: 				20%;
} 

ul#transReceiptListContainer li .transactionType
{
	clear: 				left; 
	float: 				left; 
	width: 				20%;
}

ul#transReceiptListContainer li .transactionPlateSpot
{
	float: 				left; 
	width: 				20%;
}

ul#transReceiptListContainer li .transactionCoupon
{
	float: 				left; 
	width: 				20%;
} 

ul#transReceiptListContainer li .transactionCell
{
	float: 				left; 
	width: 				12%;
}

ul#transReceiptListContainer li .transactionEmail
{
	float: 				left; 
	width: 				28%;
}

.layout3 ul#transReceiptListContainer li .transactionLocation, .layout3 ul#transReceiptListContainer li .transactionPOS, .layout3 ul#transReceiptListContainer li .transactionPlateSpot, .layout3 ul#transReceiptListContainer li .transactionCoupon, .layout3 ul#transReceiptListContainer li .transactionCell, .layout3 ul#transReceiptListContainer li .transactionEmail
{
	display:				none;
}

.layout3 ul#transReceiptListContainer li .transactionDate
{
	width:					100% !important;
}

.layout3 ul#transReceiptListContainer li .transactionValue
{
	top:					100% !important;
	margin-top:				-32px;
}

.layout3 ul#transReceiptListContainer li .transactionType
{
	width: 					75%;
}


ul#transReceiptListContainer li .transactionValue
{
	position: 				absolute; 
	right: 					35px; 
	top: 					50%; 
	margin-top: 			-12px; 
	font-size: 				1.25em; 
	font-weight:			600;
}

#receiptHistoryTitle
{
	padding:				0 12px 0;	
}

ul#receiptHistoryList
{
	overflow:				auto;
	border-top:			4px solid #DADCDE;
	min-height:			24px;
}

ul#receiptHistoryList li
{
	float:				none;
	width:				auto;
	font-size:			0.875em;
	border-left:			0 !important;
	border-right:			0 !important;
	padding:				2px 6px 3px 12px;
}

#transactionDetails .active
{
	color:				#DA7923;
}

#transactionDetails * #refund_Title
{
	margin-top: 		12px;
	font-size: 			0.825em;
}

#transReceipt .groupBoxBody
{
	padding-bottom:		15px;
}

#receiptBody
{
	margin-bottom: 		16px;
}


#transReceipt form
{
	margin: 				0 0 0 -4px;
}

#transReceipt form .linkButtonFtr
{
	margin-right: 		0px;
}

#transReceipt #emailInputArea
{
	display: 				inline;
	font-size: 				0.875em;
}

#transReceipt .hiddenLabelLabel
{
	top: 					-4px;
	left: 					8px;
}

#transReceipt input
{
	width:				67%;
}

#refundBtnArea
{
	text-align: 		center;
}

#refundBtn
{
    background: 			none;
    margin-top: 			12px;
    width: 					60%;
	padding-right: 			8px;
}

#btnAddScheduleReport
{
	position:			absolute;
	right: 			0;
	top: 			6px;
}

#btnAddScheduleReport.admin
{
	right: 			0;
	top: 			5px;
}

#activeTransaction
{
	display:			none;
}

.collectionTypeCol
{
	float:			left;
	width:			120px;
}

.collectionTypeCol .checkboxLabel
{
	padding-left:		8px;
}

#filterCollectionType
{
	display: 			inline-block;
	padding-left:		4px;
}

#addTimeLine
{
	font-size:		0.4em;
}
