@charset "utf-8";
/* CSS Document */
#timeZoneEdit, #querySpacesByEdit, #jurisdictionByEdit, #locationDetails, .form #mapHolder, .form #locationView, #locationForm, #LocationChildren, #formLocationChildren, .parent #operationHours, .parent #formOperationHours, .parent #PaystationChildren, .parent #rateProfile, #parentFlag-view, .parent #detailParentLocationTitle, .parent #detailParentLocationName, .parent #formParentLocationTitle, .parent #parentLocationInput, .parent #formPaystationChildren, .parent #formPropertyChildren, .parent #formFacilityChildren, .parent #flexArea, .parent #autoCountArea, .parent #formOperatingModeTitle, .parent #formOperatingModeArea, .parent #detailOpMode, .parent #detailOpModeTitle, dd.open24, dd.closed24, .form #opBtn_pageContent, h2#editHeading, h2#addHeading, h2#editParkingHeading, .editForm h2#locationName, .editPA h2#locationName, .addForm h2#locationName, h2#editParkingHeading, .editForm .viewBox, #locationParkingArea, .editForm #locationParkingArea, .editPA #locationView, .editPA #locationForm, .parent #formCapacityTitle, .parent #formCapacity, .parent #formTargetRevenueTitle, .parent #formTargetRevenue, .parent #tmrDollar, .parent #formRateProfile, .isUnassigned .btnDeleteLocation, .isUnassigned .btnEditParkingLocation, .isUnassigned #operationHours, .isUnassigned #formPropertyChildren, .isUnassigned #formFacilityChildren, .isUnassigned #flexArea, .isUnassigned #autoCountArea, .isUnassigned #formOperationHours, .isUnassigned #locationDetailsView, .isUnassigned #locationDetailsForm, .isUnassignedLabel, .isUnassigned > .col2, #DefinedLocations .filterForm .search, #XtendByPhone .filterForm .search, #XtendByPhone li.Parent .menu, #wrnngPeriodFormArea, #routeDetails, .form #routeView, #routeForm, .editForm h2#routeName, .addForm h2#routeName, #seletectedNotification, #xbpDetails, #xbpItemForm, .editForm h2#xbpItemName, .addForm h2#xbpItemName, .form #xbpItemView, #formDisplayExceedArea, #formDisplayOccursMsg, #detailDisplayExceedArea, #detailDisplayOccursMsg,  #alertDetails, #alertForm, .form #alertView, .editForm h2#alertName, .addForm h2#alertName, .addForm #alertStatusArea, #detailExceedHour, #formExceedHour, #detailExceedDollars, #formExceedDollars, #formDisplayExceedTypeArea, #userDetails, #userForm, .form #userView, .editForm h2#userDispName, .addForm h2#userDispName, #roleDetails, #roleForm, .form #roleView, .editForm h2#roleDispName, .addForm h2#roleDispName, #roleSwitchDsp, #paystationDetails, #cardTypeSettingsForm, .form #detailHeading, .form #detailView, #paystationForm, #alertsArea, #infoArea, #reportsArea, #transactionReportArea, #activityArea, #btnPayStationDeactivate, #btnPayStationActivate, #formHidePayStation, #unplacedList .placed, #placedList .unplaced, .unplaced .edit, .unplaced .save, .unplaced .close, .unplaced .cancel, .placed .pin, .placed .save, .placed .close, .placed .cancel, #NoPaystationPlacement, #deviceDetails, .editForm h2#deviceName, #formAssignedAppList .undo, #formAssignedAppList .released .removeFile, #rateDetails, .addForm h2#rateName, .editForm h2#rateName, .addForm h2#rateName, .form #rateView, #rateForm, #couponPrompt, #cardIncrementsArea, #flatRateDetails, #addTimeDetailArea, #xbpArea, #profileDetails, .addForm h2#profileName, .editForm h2#profileName, .addForm h2#profileName, .form #profileView, #profileForm, #profileFormBtns, #rateNameInput * .autoSearchClearBtn,
#groupDetails, #groupForm, #powerProfileArea.solar * .powered, #powerProfileArea.solar #customForm, .form #groupDispName,
#powerProfileArea.powered * .solar, #powerProfileArea.powered #customForm,
#powerProfileArea.custom #staticDetails, #accessDetails, #accessForm, .form #accessView,
.pin2map .pin, .pin2map .save, .pin2map .edit, #unplacedList .pin2map .close, .pined2map .pin, .pined2map .edit, #unplacedList .pined2map .close,
ul.RT23 li.RT975, ul.RT23 li.RT2494,ul.RT975 li.RT23, ul.RT975 li.RT2494, ul.RT2494 li.RT23, ul.RT2494 li.RT975, /* Route Type Filter Styles */
ul.AT1 li, ul.AT2 li, ul.AT3 li, ul.AT4 li, ul.AT5 li, ul.AT6 li, ul.AT7 li, ul.AT8 li, ul.AT9 li, ul.AT10 li, ul.AT11 li, ul.AT12 li, ul.AT13 li, ul.AT14 li, ul.AT15 li, ul.AT16 li, 
#scheduleDownloadKey, #scheduledConfigs, #offlineConfigGroupWrnng, #downloadKeyStatus, #dwnldKeyDetails, #downloadKeyStatus .inProgress, #downloadKeyStatus.inProgress #dwnldKeyDetails, #downloadKeyStatus .reload, .form #formPayStations
{
	display:				none;
}

#timeZone, #querySpacesBy
{
	height:				55px;
	margin-bottom:			10px;
}

.editForm #locationForm, .addForm #locationForm, .editPA #locationParkingArea, .parent #LocationChildren, .parent #parentFlag-view, .parent #formLocationChildren, .isUnassigned .isUnassignedLabel, .addForm .btnSet,  .editForm .btnSet, .editForm h2#editHeading, .addForm h2#addHeading, .editPA h2#editParkingHeading, #XtendByPhone li.Parent li.Child .menu, #XtendByPhone li.Child .menu, .form #routeForm, .form #xbpItemForm, .form #alertForm, .form #userForm, .form #roleForm, .form #paystationForm, .form #rateForm, .form #profileForm, .form #groupForm, .form #accessForm, ul.AT1 li.AT1, ul.AT2 li.AT2, ul.AT3 li.AT3, ul.AT4 li.AT4, ul.AT5 li.AT5, ul.AT6 li.AT6, ul.AT7 li.AT7, ul.AT8 li.AT8, ul.AT9 li.AT9, ul.AT10 li.AT10, ul.AT11 li.AT11, ul.AT12 li.AT12, ul.AT13 li.AT13, ul.AT14 li.AT14, ul.AT15 li.AT15, ul.AT16 li.AT16, li.listHeader, .pined2map .save, #downloadKeyStatus.inProgress .inProgress, #downloadKeyStatus #dwnldKeyDetails, #downloadKeyStatus.inProgress .reload
{
	display:				block !important;
}

#locationForm, #routeForm
{
	margin-top:			-6px;
}

.form h3.detailList
{
	margin: 				6px 0 0 0;
	padding:				0;
}

#timeZoneView, #wrnngPeriodValMsg, #querySpacesByView
{
	border-top:			1px solid #FFF;
}

#curTimeZone, #curQuerySpacesBy
{
	white-space: 		nowrap;
	text-overflow: 		ellipsis;
	overflow: 			hidden;
	max-width: 			85%;
	display: 			block;
	float: 				left;
}

#timeZoneView .linkButtonIcn, #wrnngPeriodValMsg .linkButtonIcn, #querySpacesByView .linkButtonIcn
{
	margin-left: 			16px;
}

#timeZoneEdit .linkButtonIcn.Ftr, #wrnngPeriodFormArea .linkButtonIcn.Ftr, #querySpacesByEdit .linkButtonIcn.Ftr, #jurisdictionByEdit .linkButtonIcn.Ftr, #wrnngPeriodFormArea .linkButtonIcn.Ftr
{
	margin: 				3px 3px 6px 0;
}

#timeZoneEdit .linkButtonIcn, #wrnngPeriodFormArea .linkButtonIcn, #querySpacesByEdit .linkButtonIcn, #jurisdictionByEdit .linkButtonIcn, #wrnngPeriodFormArea .linkButtonIcn
{
	margin: 				3px 0 6px;
}

#timeZoneEdit .inputWithButton, #querySpacesByEdit .inputWithButton, #jurisdictionByEdit .inputWithButton
{
    padding-left: 			0px;
    padding-right: 			0px;
    width: 					80% !important;
}

#timeZoneEdit .inputWithButton input.autoText, #querySpacesByEdit .inputWithButton input.autoText, #jurisdictionByEdit .inputWithButton input.autoText
{
	width:				90%;
}

#jurisdictionBy
{
	margin-bottom: 			10px;
	overflow: 				hidden;
}

#preferredParkingUpload {
	margin-top: 1px;
}

#preferredParkingUpload.processing{ color: #005782; font-weight: bold; }

#preferredParkingUpload.valid
{
	color: #3bb23e;
	font-weight: bold;
	background-image: url("../images/icn_AllClear.png");
	background-repeat: no-repeat;
	padding: 2px 3px 6px 30px;
}

#preferredParkingUpload.invalid
{
	color: #CC0000;
	font-weight: bold;
	background-image: url("../images/icn_AlertHigh.png");
	background-repeat: no-repeat;
	padding: 2px 3px 6px 25px;
}

#errorMsgs
{
	clear: left;
	display: inline-block;
	margin-top: 4px;
	width: 100%;
}

#errorMsgs.hide
{
	display: none !important;
}

#dateDisplay, #dateTimeRequest
{
	padding-left:			5px;
}

#parentFlagCheck
{
/*	position: 			relative;
	top:					-2px;
*/}

th.opentime, th.closedtime, td.opentime, td.closedtime
{
	width:				125px !important;
	text-align:			center;
}

th.opentime, td.opentime
{
	width:				85px !important;
}

th.open24
{
	padding-right:			4px;
}

td.opentime, td.closedtime
{
	height:				35px;	
}

.opentime select, .closedtime select
{
	width:				80px;
}

.open24, .closed24
{
	text-align:			center;
}

option.nxtDy
{
	font-style:			italic !important;
}

.allDayOpen, .allDayClosed
{
	text-align: 			center;
	display: 				none;
	height:				35px;
}

.parent .column-5-5 section.col1
{
	width:				100% !important;
}

.parent.form .column-5-5 section.col1
{
	width:				49% !important;
}


#locChildList, #psChildList, #roleChildList, #userChildList, #detailPermissionList, .permissionList, #compChildList, #accssPrflList
{
	border-top-width:		4px;
	margin-top:			0 !important;
}

#locChildList.column-5-5 li, #psChildList.column-5-5 li
{
	width:				50%;	
}

#locChildList.column-3-3-3 li, #psChildList.column-3-3-3 li
{
	width:				33%;
}

#locChildList.column-3-3-3 li.col2, #psChildList.column-3-3-3 li.col2
{
	width:				34%;
}

#roleChildList.column-25-25-25-25 li, #userChildList.column-25-25-25-25 li, #accssPrflList.column-25-25-25-25 li
{
	width:				25%;
}

#locationDetails #PaystationChildren, #groupDetails #PaystationChildren, #groupDetails #formPayStations
{
	clear:				both;
	width: 				100%; 
	overflow: 			hidden;
}

#locChildList li, #psChildList li, #roleChildList li, #userChildList li, #accssPrflList li
{
	background-image:		url("../images/listIcon_Location.png");
	background-position:	2px 4px;
	background-repeat:		no-repeat;
	padding-left:			21px;
	padding:				4px 0 5px 23px;
	box-sizing:				border-box;
	-moz-box-sizing:		border-box;
}

#psChildList li
{
	background-image:		url("../images/listIcon_VirtualPOS.png");
	background-position:	2px 2px;
	padding:				4px 0 5px 23px !important;
}

.form #psChildList li .note
{
	padding: 				0 !important;
}

#psChildList li.posT1-0, #psChildList li.posT3-0
{
	background-image:		url("../images/listIcon_Luke.png");
}
#psChildList li.posT5-0
{
	background-image:		url("../images/listIcon_Luke2.png");
}
#psChildList li.posT2-0
{
	background-image:		url("../images/listIcon_Shelby.png");
}
#psChildList li.posT6-0
{
	background-image:		url("../images/listIcon_LukeCosmo.png");
}

#psChildList li.posT1-1, #psChildList li.posT3-1
{
	background-image:		url("../images/listIcon_Luke_alert1.png");
}
#psChildList li.posT5-1
{
	background-image:		url("../images/listIcon_Luke2_alert1.png");
}
#psChildList li.posT2-1
{
	background-image:		url("../images/listIcon_Shelby_alert1.png");
}
#psChildList li.posT6-1
{
	background-image:		url("../images/listIcon_LukeCosmo_alert1.png");
}

#psChildList li.posT1-2, #psChildList li.posT3-2
{
	background-image:		url("../images/listIcon_Luke_alert2.png");
}
#psChildList li.posT5-2
{
	background-image:		url("../images/listIcon_Luke2_alert2.png");
}
#psChildList li.posT2-2
{
	background-image:		url("../images/listIcon_Shelby_alert2.png");
}
#psChildList li.posT6-2
{
	background-image:		url("../images/listIcon_LukeCosmo_alert2.png");
}

#psChildList li.posT1-3, #psChildList li.posT3-3
{
	background-image:		url("../images/listIcon_Luke_alert3.png");
}
#psChildList li.posT5-3
{
	background-image:		url("../images/listIcon_Luke2_alert3.png");
}
#psChildList li.posT2-3
{
	background-image:		url("../images/listIcon_Shelby_alert3.png");
}
#psChildList li.posT6-3
{
	background-image:		url("../images/listIcon_LukeCosmo_alert3.png");
}


#roleChildList li, #accssPrflList li
{
	background-image:		url("../images/listIcon_Role.png");
}

#roleChildList li.empty
{
	background-image:		url("../images/spacer.gif");
}

#userChildList li
{
	background-image:		url("../images/listIcon_User.png");
}

#psChildList li a
{
	border:				0;
	font-weight:			600;
}

#locChildList li.blank, #psChildList li.blank, #roleChildList li.blank,#userChildList li.blank, #accssPrflList li.blank
{
	background:			none !important;
}

#locChildList li.onlyCol.blank, #psChildList li.onlyCol.blank, #roleChildList li.onlyCol.blank, #userChildList li.onlyCol.blank, #accssPrflList  li.onlyCol.blank
{
	text-align:			center !important;
	line-height:			1.48em !important;
	padding:				3px 0 6px;
}

#locChildList li.onlyCol, #psChildList li.onlyCol, #roleChildList li.onlyCol, #userChildList li.onlyCol, #accssPrflList li.onlyCol
{
	width:				100% !important;
}

#psChildList li.onlyCol.blank
{
	padding:				3px 0 !important;
}


#locChildList li.col2, #locChildList li.onlyCol,
#psChildList li.col2, #psChildList li.col3, #psChildList li.onlyCol,
#roleChildList li.col2, #roleChildList li.col3, #roleChildList li.col4, #roleChildList li.onlyCol,
#userChildList li.col2, #userChildList li.col3, #userChildList li.col4, #userChildList li.onlyCol
{
	margin-left:			0 !important;
}

#profileCal
{
	width:				100%;
}

#rateProfileCal
{
	width: 				100%; 
	height: 				250px;
	overflow:				hidden;
	text-align:			center;
}

#rateProfileCal .noProfileMsg
{
	background-color: 		#DADCDE;
	color: 				#000;
	font-weight: 			600;
	opacity: 				0.75;
	padding: 				3px 6px;
}

a#profileDetailBtn
{
	border-bottom: 		none;
	color: 				#005782;
	text-decoration: 		underline !important;
	font-size: 			0.75em;
	font-weight: 			normal;
	float:				right;
	position: 			relative;
	top: 				4px;
}

#profileCal
{
	margin-top:			5px;
}

a#profileDetailBtn:hover
{
	color:				#F88B2B !important;
}

#formOperatingModeLine, .locationSelectionLine 
{
	width: 				100%;
	overflow: 			hidden;
}

.locationSelectionLine .inputWithButton
{
	width: 				60% !important;
}

#locationSettings * #formOperatingModeArea
{
	width:				40% !important;
}

#mapParkingHolder
{
	width:				1200px;
	max-width: 			62%; 
}

#mapParkingArea
{
	border-right: 		1px solid #DADCDE;	
}

#mapParkingOptionHolder
{
	width: 				36%;
	min-width:			240px;
	margin-left: 		12px;
}

#mappingAreaOptList li
{
	list-style:			none;
}

#mappingAreaOptList li ul.itemList
{
	border: 			1px solid #DADCDE; 
	box-sizing: 		border-box; 
	margin-top:			-2px;
}

#mappingAreaOptList li ul.itemList li
{
	padding-left:		6px !important;
}

#mappingAreaOptList li ul.itemList li.inactive:hover

{
	cursor:				default !important;
}

#mappingOptList li
{
	border-width:		1px 0 0;
}

#mappingOptList li .optTitle
{
	padding-left:			20px;
	background-position:	-4px -1px;
	background-repeat:		no-repeat;
}

#mappingOptList li.inactive .optTitle
{
	background-position:	-4px -1px !important;	
}

#mappingOptList li .optTitle:hover
{
	background-position:	-4px -41px;
}

#mappingOptList li.selected .optTitle
{
	background-position:	-4px -161px !important;
}


#mappingOptList li#clearMap-Request .optTitle
{
	background-position:	-3px 0px;
}

#mappingOptList li#clearMap-Request .optTitle:hover
{
	background-position:	-3px -39px;
}

#mappingOptList li a
{
	display:			none;
}

#mappingOptList li.selected a
{
	display:			inline;
}

#mappingOptList li a.save
{
	right:				0px;
}

#mappingOptList li a.cancel
{
	right:				28px;
}

#mappingOptList li a.revert
{
	right:				56px;
}

#xbpShowAllItemArea
{
	background-color:		#f8f8f9;
	overflow: 				hidden; 
	width: 					100%; 
	height:					auto;
	padding: 				6px 0; 
	margin: 				-8px 0 8px 0;
}

#xbpShowAll
{
	margin-right:			6px;
}

#XtendByPhone .ddMenu .xbpMenuOptions
{
	display:				block;
}

#xbpCurrentLocation
{
	overflow: 			hidden; 
	width: 				600px; 
	padding: 				0 0 7px 12px;
}

#xbpCurrentLocation label.curLocal
{
	margin: 				2px 7px 0 0;
	float:				left;
}

#XtendByPhone .autoselector-selected, #XtendByPhoneDetails .autoselector-selected
{
	font-weight:			600 !important;
	color:				#003E5E !important;
}

#paystationList
{
	position: 			relative; 
}

#NoPaystationPlacement .notation
{
	width:				50%;
	position: 			relative;
	top: 				50%;
	margin-top: 			-50px;
}

ul#routeList li, ul#currentNotifications li, ul#pastNotifications li, ul#xbpItemList li, ul#alertList li, 
ul#userList.menuList li, ul#roleList.menuList li, ul#paystationList.menuList li, ul#configList.menuList li, ul#accessList.menuList li
{
	list-style:				none;
	padding:				4px 0 6px !important;
}

ul#paystationList.menuList li, ul#deviceList.menuList li, ul#configList.menuList li
{
	padding:				0 !important;
}

ul#paystationList.menuList li section, ul#deviceList.menuList li section, ul#paystationList.menuList li.listMessage , ul#deviceList.menuList li.listMessage, ul#configList.menuList li section
{
	padding:				4px 0 6px !important;
}

ul#xbpItemList li .dayOfWeek, ul#userList li span, ul#roleList li span, ul#paystationList.menuList li span, ul#deviceList.menuList li span, ul#rateList.menuList li span, ul#rateProfileList.menuList li span, #roleSwitchDsp, ul#configList li span, ul#accessList li span
{
	padding-left:			6px;
}

section.xbpItemName
{
	padding-left:			12px;
}

#XtendByPhoneItems ul.xbpItemTree ul.childList
{
	padding-left: 			0 !important;
}

#paystationNavArea
{
	overflow:				hidden;
	padding:				2px 12px 0;
}

#psNav
{
	width: 				100%; 
	overflow: 			hidden;
}

#psLastSeen, #paystationDetails .filterHeader
{
	border-left:			1px solid #CFD2D4;
}

#psLastSeen section.title, #psLastSeen section.valueArea
{
	position:				relative;
	padding-top:			5px;
}

#psLastSeen section.valueArea .value
{
	padding-left: 			8px;
}

#psLastSeen section.title img
{
	position:				relative;
}

#psLastSeen section.valueArea
{
	margin: 	9px 0 0 8px;
}

#paystationDetails article
{
	min-height:	225px;
}

#paystationDetails #statusArea, #paystationDetails #alertsArea, #paystationDetails #infoArea, #paystationDetails #reportsArea
{
	padding: 				0 13px 25px 11px;
}

#payStationTypeImg
{
	position: 				absolute; 
	top: 					15px; 
	left: 					15px; 
	padding: 				5px 25px; 
	background-color: 		#FFF;
	z-index:				1000;
	
	-moz-box-shadow:		0 0 6px 1px rgba(53,59,63,0.2);
	-webkit-box-shadow:		0 0 6px 1px rgba(53,59,63,0.2);
	box-shadow:				0 0 6px 1px rgba(53,59,63,0.2);
}

#infoArea .details
{ 
	padding:				0 6px;
}

#crntAlertList li.informational .col3, #crntAlertList li.informational .col4
{
	display: 				none;
}

#reportsArea #thirdNav
{
	height:				28px;
	width:  			100%;
	font-size:			0.917em;
	margin-bottom:			8px;
}

h1#paystationName
{
	position:				relative;
	left:					180px;
	letter-spacing: 		0;
}

h1#paystationName .note
{
	color:					#697178;
	font-weight:			normal;
	font-size:				0.542em;
}

h1#paystationName .note .statusNote
{
	color:				#697178;
	font-weight:			normal;
	font-size:			0.9em;
}

.routePaystationHeader
{
	width:				70%;
	float:				left;
}

.routePaystationSelectAllBtn, .routeSelectedPaystationHeader, #routeSettings #clearSelected
{
	margin-top:			6px !important;
}

#alertEmailAddBtn
{
	padding:				3px;
	background-position:	center 1px;
	width: 					22px;
}

#formThresholdArea
{
	clear:				both;
}

#resetPasswordBtnArea
{
	clear:				both;
	margin: 				12px 0 7px 0;
}

#resetPassword
{
	display:				none;
	background-color:		#f9fcfd;
	clear:					both;
	margin: 				12px 0 7px 6px;
}

#resetPassword h3
{
	margin:				0.3em 0 0 6px;
	padding:				0;
}

#resetPassword .details
{
	overflow: 			hidden; 
	width: 				100%;
	padding:				0 0 0.3em;
}

#firstNameArea, #lastNameArea
{
	position:				relative;
}

#detailPermissionList li.Parent, #detailPermissionList li.Child, .permissionList li.Parent, .permissionList li.Child, #detailPermissionList li.alignCenter.notclickable
{
	padding:				0.3em 0 0.33em 1%;
	margin:				0;
	border-style:			solid;
	border-color:			#CFD2D4;
	border-width:			0 0 1px 0;
	border-collapse:		collapse;
}

#detailPermissionList li.Parent, .permissionList li.Parent
{
	background-color:		#eef5f8;
	color:					#005782;
	font-weight:			600;
}

#detailPermissionList li.Child, .permissionList li.Child
{
	padding-left: 			4%;
}

#defaultCustomerSelection
{
	display:				hide;
	float:				right;
	clear: 				both; 
	width: 				49%; 
	margin-top: 			-1.5%;
}

#cardSettingForm
{
	display:				none;
}

#cardSettingForm label.detailLabel
{
	float:				left;
	display:				inline;
	width:				80%;
	padding-left:			0 !important;
}

#cardSettingForm input
{
	float:				left;
	margin-left:				0;
}


#cardSettingForm .btnSet
{
	float:				right;
}

#cardSettingForm .btnSet .linkButtonIcn
{
	float:				left;
	clear:				none;
	margin:				0;
}

#cardSettingForm .btnSet .linkButtonIcn.cancel
{
	margin-left:			6px;
}

#psDashboard
{
	width: 					100%;
	display: 				inline-block;
	padding-top: 			4px;
}

#psDashboard .col1, #psDashboard .col2
{
	overflow: 				visible !important;
}

#psDashboard .ddMenu
{
	width: 					200px !important;
}

.psWidget
{
	background-color:		#FFF;
	padding-bottom:			12px;
	overflow:				visible !important;
	height:					auto;
	min-height:				100px;
	z-index:				5;
	position:				relative;
	
	-moz-border-radius:		10px;
	-webkit-border-radius:	10px;
	border-radius: 			10px;
}

.psWidget header
{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.psWidget .snglValueIcon
{


	width:				35%;
	margin-left:			5%;
	text-align: 			right; 
	float: 				left;
}

.psWidget .snglValueIcon img
{
	width:				98%;
	height:				98%;
	max-width:			125px;
	max-height:			125px;
	height:				auto;
}

.psWidget .snglValue
{
	width: 				75%; 
	white-space:			nowrap;
	text-align: 			center;
	float: 				left; 
	padding: 				0;
	position:				absolute;


	top:					25%;
	left:				30%;
	margin-top:			-1.7em;
}

.psWidget .smallHeading
{
	margin-left:			12px;
}

.psWidget .chartGraph
{
	height: 				175px;
	text-align:			center;
	overflow:				hidden !important;
}

.noWdgtData
{
	text-align: 			center; 
	position: 			relative; 
	bottom: 				85px;
	margin-top: 			-22px;
	z-index: 				800; 
	font-size: 			0.875em; 
	line-height: 			2em;
	height:				22px;
}

.noWdgtData.noData
{
	margin-top:			18px;
	padding-bottom:		3px;
	top:					0;	
}

.noWdgtData span
{
	background-color: 		#DADCDE; 
	padding: 				3px 6px; 
	color:				#000; 
	font-weight: 			600;
	opacity: 				0.75; 
	filter:				alpha(opacity=75);	
}

.psWidget h1.valueDisplay
{
	font-size: 			2.75em;
	color:				#005782;
	line-height: 			normal; 
	margin: 				0 0 0 6px;
	text-transform:		none;
}

#btnPayStationActivate, #btnPayStationDeactivate, #formHidePayStation
{
	margin:				2px 5px 6px;
	display:				inline-block;
}

#unplacedListArea, #placedListArea
{
	clear: 				left;
	margin: 				0 auto 0; 
	width: 				95%;
	min-height:			68px;
	list-style:			none;
	overflow:				hidden;
	box-sizing:			border-box;
	-moz-box-sizing:		border-box;
}

#unplacedList, #placedList
{
	border:				1px solid #DADCDE;
	box-sizing:			border-box;
	-moz-box-sizing:		border-box;
}

#unplacedList li, #placedList li
{
	padding-left:			6px;
	border:					none !important;
	border-top:				1px solid #DADCDE !important;
	box-sizing:				border-box;
	-moz-box-sizing:		border-box;
}

#payStationListArea ul li.unplaced:hover, #payStationListArea ul li.pined2map:hover
{
	cursor:				default;
}

#unplacedList li, #placedList li
{
	cursor:				move !important;
}

#payStationListArea ul li aside.btnSet
#payStationListArea ul li.pin2map, #payStationListArea ul li.pined2map
{
	color:				#005782;
	font-weight:			600;
}

#payStationListArea ul li.pined2map
{
	color:				#FFF;
}

#placedList li.pin2map a.close
{
/*	-moz-box-shadow:		-2px 0 2px 1px rgba(0,0,0,0.02), inset 2px 0 2px 0 rgba(255,255,255,0.3);
	-webkit-box-shadow:		-2px 0 2px 1px rgba(0,0,0,0.02), inset 2px 0 2px 0 rgba(255,255,255,0.3);
	box-shadow:				-2px 0 2px 1px rgba(0,0,0,0.02), inset 2px 0 2px 0 rgba(255,255,255,0.3);
*/}

#payStationListArea ul li.pined2map a.cancel, #placedList li.pin2map a.cancel, #placedList li.pined2map a.close
{
	right:				29px;
}

#payStationListArea #placedList li.pined2map a.cancel
{
	right:				58px;
}

#cardTypeHeader {
	margin-top:			-8px !important;
}

#defaultCust
{
	width:				89%;
	background-image:	none !important;
}

.cmpntHead
{
	font-weight: 		600;
	color: 				#005782;
	cursor: 			pointer;
}

.cmpntHead:hover
{
	font-weight: 		600;
	color: 				#003E5E;
	cursor: 			pointer;
}

.cmpntList
{
	background-color: 	#F9FCFD;
	border-bottom: 		3px solid #5C9CBC;
    border-top: 		1px solid #5C9CBC;
	padding: 			1px 4px;
	overflow: 			hidden;
	display: 			none;
}

.cmpntList *
{
	background-color: 	#F9FCFD;
}

.cmpntList dt
{
	color: 				#697178 !important;
}

/*  Device List Page  */

.deviceApp
{
	position:			absolute;
	right:				36px;
	top:				3px;
	font-size:			1.150em;
	font-weight:		600;
}

#assignedAppList, #formAssignedAppList
{
	border-top:		4px solid #E4EBEF;
	max-height:		125px;
	overflow:			auto;
}

#assignedAppList li:first-child, #formAssignedAppList li:first-child
{
	border-top:		none;
}

#assignedAppList li, #formAssignedAppList li
{
	padding-left:		6px;
}

#formAssignedAppList li.released
{
	background-color:		#F4F5F6 !important;	
	color:				#B8BCBF !important;
}

#formAssignedAppList li.released .undo
{
	display:				inline;
	float:				right;
	margin-right:			6px;
}


/* RATES */

#rateView h3.detailList, #profileView h3.detailList
{
	margin: 				0 !important;
}

#rateView dl.details, #profileView dl.details
{
	clear:				none;
}

#rateView ol#detailCardIncremental
{
	margin:				0;
	padding-left:			23px;
	list-style:			decimal-leading-zero;
}

#rateView ol#detailCardIncremental li
{
	float: 				left;
	margin-right: 			35px;
}

#rateSettings #formRateName
{
	width:				75%;
}

#rateSettings .checkboxLabel
{
	line-height:			1.8em;
}

#rateSettings h3.stepTitle
{
	color: 				#004B70;
	font-size: 			2em;
	font-weight: 			600;
	letter-spacing: 		-0.01em;
	line-height: 			1em;
	margin: 				6px 8px 0 0;
	padding: 				0;
	text-transform: 		uppercase;
	text-align:			right;
	word-spacing: 			-0.1em;
}

.dollarSign
{
	margin: 				6px 4px 2px 5px
}

.inlineInput
{
	margin:				2px 0 6px;
}

.dollarAmount, #INC-startTime, #INC-endTime
{
	width:				70%;
	max-width:			70px;
}

#couponPrompt
{
	margin-left: 			30px;
}

#flatRateDetails, #couponPrompt, #cardIncrementsArea, #addTimeDetailArea, #addTimeArea, #rateView ol#detailCardIncremental, #rateProfileFormArea, #xpryTime
{
	width:				100%;
	overflow:				hidden;
}

#cardIncrement, #flatRateDetails, #addTimeDetailArea
{
	margin-top: 			6px;
    overflow:               hidden;
    position:               relative;
    width:                  100%;
}

#ADT-xbpMinExtension
{
	width:				50%;
}

.cardIncrementObj
{
	margin-right:			15px;
}

#ADT-xbpMinExtension
{
	margin-right: 			0;
}

#cardIncrementalArea
{
	clear:				both;
}

.rateFormPage .ui-autocomplete 
{
	max-height:			110px;
	width: 				65px;
}

#rateProfileList li.hddn-true
{
	color:				#697178;
}

#rateProfileList li.hddn-true:hover
{
	color:				#005782;
}

#rateProfileList li.hddn-true.selected
{
	color:				#FFF;
}


#profileForm
{
	padding-bottom:		10px !important;
}

.rateProfileFormArea .col1
{
	width: 				69% !important;
}

.rateProfileFormArea .col2
{
	width: 				30% !important;
}

#formRateProfileName, #formRateProfile #formOperatingMode
{
	width:				70%;
}

#rateRateProfileForm, #rateRateProfileDetails
{
	margin-top:			6px;
}

#reoccuringArea, #scheduledArea
{
	margin:				4px 4px 0;
}

#scheduledArea
{
	margin-left:			0;
}

#useXpryTimeLbl
{
	margin:				8px 4px 4px;
	display:				inline-block;
}

.reOccur .note
{
	color: 				#DADCDE !important;
	font-size: 			1em;
}

#rateNameInput
{
	position:				relative;
	width:				325px;
}

#rateRateProfileForm #formRateName
{
	width:				97%;
}

#formRateNameLabel
{
	top:					8px;
	left:				8px;
}

#rateEditBtns a.linkButton, #rateEditBtns a.linkButtonFtr
{
	margin-left:			0;
	margin-right:			0;
}

#assignmentOption
{
	padding:				6px 0;
}

#locationAssignmentAreaList, #profileAssignmentAreaList
{
	overflow:				auto;
	max-height:			195px;
	clear:				both;
}

.locationAssignmentItem, .profileAssignmentItem
{
	display: 				none; 
	border-top: 			1px solid #C8CBCE; 
	width: 				100%; 
	overflow: 			hidden; 
	padding: 				6px 0 3px;;
	clear:				both;
}

.profileAssignmentItem
{
	display:				block;
}

.locationNameBox, .locationNameBoxDsp, .profileNameBox, .profileNameBoxDsp
{
	float:				left;
	width:				240px;
}

.locationNameBox.inputWithButton, .locationNameBoxDsp, .profileNameBox.inputWithButton, .profileNameBoxDsp
{
	padding-left:			0;
}

.operatingMode
{
	float:				left;
	width: 				220px;
	display:				none;
}

.dateRange
{
	float:				left;
	width:				240px;
	display:				none;
}

a.linkButtonIcn.confirmBtn
{
	float: 				right;
	display:				none;
}

.assignAreaHdr
{
	display:				inline;
}

.assignAreaHdr.dateRange
{
	padding-left:			5px;
}

.assignAreaHdr.locationNameBox
{
	padding-left:			0;
}

.assignmentForm
{
	width:				100%;
	overflow:				hidden;
}

/* should be tested */
/*.confirmation_icn.onlineRate*/
.assignmentForm .confirmation_icn
{
	background-position:	center -75px;
	width:				23px;
	display:				none;
}

.confirmBtn.menu
{
	background-position:	center 3px;
}

.confirmBtn.menu:hover, .confirmBtn.menu.on, .confirmBtn.menu:focus
{
	background-position:	center -37px;
}

.locationAssignmentItem.form .display, .locationAssignmentItem.form .confirmation_icn, .locationAssignmentItem.form .menu, .locationAssignmentItem.display .save, .locationAssignmentItem.display input, .locationAssignmentItem.display .locationNameBox, .locationAssignmentItem.formEdit .locationNameBox, .locationAssignmentItem.formEdit .display,
.profileAssignmentItem.form .display, .profileAssignmentItem.form .confirmation_icn, .profileAssignmentItem.form .menu, .profileAssignmentItem.display .save, .profileAssignmentItem.display input, .profileAssignmentItem.display .profileNameBox, .profileAssignmentItem.formEdit .locationNameBox, .profileAssignmentItem.formEdit .display
{
	display:				none;
}

.locationAssignmentItem.display .display, .locationAssignmentItem.display .confirmation_icn, .locationAssignmentItem.display .menu, .locationAssignmentItem.formEdit .locationNameBoxDsp, .profileAssignmentItem.display .display, .profileAssignmentItem.display .confirmation_icn, .profileAssignmentItem.display .menu, .profileAssignmentItem.formEdit .locationNameBoxDsp

{
	display:				inline-block;
}

.trashRate
{
	background-color: 		#F4F5F6;
	border: 				2px dashed #CFD2D4;
	border-radius: 		4px;
	color: 				#697178;
	display: 				none;
	left: 				0;
	padding: 				4px 8px 8px 4px;
	position: 			fixed;
	top: 				0;
	z-index: 				5000;
}

.trashRate:hover
{
	border:				2px solid #003E5E;
	color:				#003E5E;
	background-color:		#C6DDE8;
}

.trashRate .trashcan
{
	background-position: 	center 2px;
	border: 				none;
	padding: 				3px 3px 6px;
}

.trashRate:hover .trashcan
{
	background-position: 	center -39px;
}

/* RATE TYPE STYLES FOR CALENDAR */

.reOccurEvent{	background-image:		url("../images/reoccuringRateBackground.png"); }

.rateIncremental { 	background-color: #005782; border-color: #003E5E; }

/* /RATE TYPE STYLES FOR CALENDAR */


/* HARDWARE CONFIGURATION */

#groupSettings
{
	overflow: 			hidden;
	margin-bottom: 		8px;
}

#formIrisOverRideObj, #formBossSettingObj
{
    margin: 2px 1% 1% 0;
    padding: 2px 0;
}

#formIrisOverRideObj li
{
    display: block;
    padding: 2px 2px 3px 4px;
}

#formPayStations
{
	margin-bottom: 		2%;
}

#groupDetails .availableService, #groupDetails .activatedService
{
	background-position: 	0 0;
	padding-left: 			23px !important;
}

#powerSldrArea
{
	margin: 			0 auto 12px;
	width: 				85%;	
}

#powerSldrArea .label, #powerSldrArea .labelLeft, #powerSldrArea .labelRight
{
	float: 				left;
	width: 				33%; 
	text-align: 		center;
	color: 				#004b70;
}

#powerSldrArea .label:hover, #powerSldrArea .labelLeft:hover, #powerSldrArea .labelRight:hover
{
	cursor:  			pointer;
}

#powerSldrArea .labelLeft
{
	position: 			relative; 
	left: 				-16px;
	text-align: 		left;
}

#powerSldrArea .labelRight
{
	position: 			relative; 
	right: 				-20px; 
	text-align: 		right;
}

#powerSldr
{
	margin-top: 		16px;
	height: 			0.2em;
	border: 			1px solid #c8cbce;
	top: 				3px;
}

#powerSldr .ui-slider-handle
{
	background: 		#046595;
    border: 			1px solid #005782;
	width: 				0.3em;
	height: 			0.8em;
	margin-left: 		-0.4em;
    top: 				-0.4em;
}

#powerSldr a.ui-slider-handle:hover
{
	cursor: 			pointer;
	background: 		#005782;
    border: 			1px solid #004b70;
}

#powerSldr .ui-slider-range
{
	background: 		#5c9cbc !important;
}

#downloadGenerationInfo
{
	width: 				80%;
	margin: 			6px 0;
}

.infoArea article
{
	width: 				75%;
	margin: 			8px;
}

.ddMenu a.btnGenerateKey
{
	background-position: 10px -146px; 
}

#downloadKeyStatus article
{
	width: 				80%;
}

#dwnldKeyDetails
{
	margin-top:  		20px;
	width: 				98% !important;
}

#dwnldKeyDetails h2
{
	display: 			inline;
}

#dwnldKeyDetails .linkButtonFtr
{
	background-color: 	#FFF !important;
	color: 				#005782 !important;
	border-color: 		#5C9CBC !important;
	font-size: 			14px !important;
}

#dwnldKeyDetails .linkButtonFtr:hover
{
	background-color:  	#E5F0F4 !important;
	color: 				#004b70 !important;
	border-color: 		#3D89AF !important;
}

#bulkScheduledListArea .hide
{
	display:  			none !important;
}

#scheduledConfigArea
{
	margin-top: 		3px;
	margin-bottom: 		2%;
}

#scheduleConfigList
{
	max-height: 		220px;
	margin-bottom: 		7px;
}

#scheduleConfigList h4
{
	margin: 			4px 0 0 6px;
}

#scheduleConfigList h4 aside
{
	margin: 			0 8px 0 0;
}

#scheduleConfigList .groupDetailLink
{
	margin-left: 		6px;
}

#keyPackageArea article aside
{
	margin: 			4px 4px 25px;
}

.cnfgKeyList.selectedOnly li
{
	display: 			none;
}

.cnfgKeyList.selectedOnly li.selected
{
	display: 			inline;
}

.noGroupMsg
{
	text-align: 		center;
}

.offline a
{
	color: 				#814715;
	border-bottom-color: #814715;
}

.offline a:hover
{
	color:					#da7923;
	border-bottom:			1px solid #F88B2B;
}

.offline a.checkBox:hover
{
	border-bottom:			0 !important;
}


#offlineConfigGroupWrnng
{
	margin-bottom: 			0px !important;
}

#scheduleGroupList h3 aside
{
	float: 					right;
	font-weight:  			300;
	margin: 				4px 4px 0 0;
}

#scheduleGroupList .objectAttentionBox
{
	width: 					65% !important;
}

#scheduleGroupList .objectAttentionBox article
{
	width: 					85%;
	padding-left: 			59px;
	min-height: 			51px;
	background: 			url("../images/icn_inLineAlert.png") no-repeat left center;
}

#staticDetails
{
	margin-left: 		4px;
	position: 			relative;
	overflow: 			hidden;
}

.detailCheckbox
{
	margin-bottom: 			6px;
}

#powerProfileArea label.detailLabel
{
	position: 			relative;
    top: 				5px;
}

#wlcmImgPreviewArea, #wlcmImgDisplayArea
{
	text-align: 		center;
}

#wlcmImgDisplayArea
{
	clear: 				both;
}

#wlcmImgPreview, #wlcmImgDisplay
{
	background-color:  	#C8CBCE;
}

div.unavailbleArea
{
	font-style: 		italic;
	width: 				95%;
}

#formScheduledDate, #formBlkScheduledDate
{
	width: 				8em !important;
	padding-right: 		0;
}

#formScheduledTime, #formBlkScheduledTime
{
	margin-left: 		8px;
	width: 				7em !important;
	padding-right: 		0;
}

#formBlkScheduledTime
{
	margin-right: 		7px;
}

#unscheduleSwitch
{
	margin-left: 		15px;
}

#unscheduleSwitch label
{
	padding-top: 		4px;
}

#offlineWarning
{
	clear: 				both; 
	border-radius: 		6px; 
	padding: 			6px 6px 3px !important; 
	color: 				#003e5e; 
	width: 				auto !important;
	display: 			none;
}

#unrecognizedPOSArea
{
	display: 			none;
}

ul#unrecognizedPOS
{
	padding-left: 		18px;
    font-weight: 		600;
    max-height: 		150px;
    overflow: 			auto;
    width: 				350px;
    list-style-type: 	none;
    margin: 			8px 0;
}

/* /HARDWARE CONFIGURATION */