@charset "utf-8";
/* CSS Document */

*{background: none !important;}

#serviceAgreement header
{
	text-align:			center;
	padding:				1% 0 1%;	
	width:				100%;
	height:				auto;
	max-width:			1270px;
	margin:				0;
	border:				0;
	background:			none;
	overflow:				inherit;
	z-index:				auto;
}

#serviceAgreementArea, #content, #mainContent
{
	width: 				100%;
	overflow:				visible;
	margin: 				0;
}

#serviceAgreement #serviceAgreementArea header
{
	overflow:				auto;
	width:				100%;
}

#saDetails
{
	width:				100%;
	font-size:			12pt;
	overflow: 			visible;
	margin:				0;	
	padding: 				0; 
	clear: 				both; 
	text-align: 			left; 
	border: 				none;
	
	-moz-border-radius:		0;
	-webkit-border-radius:	0;
	border-radius: 		0;
}

.sectionContent
{
	overflow:				inherit;
}

#index.serviceAgreement #serviceAgreementArea form, .print, #titleBar, nav#main, header#titleBar, .headerBack, footer, form#serviceAgreement
{
     display: none !important;
}