#deactiveFeaturesArea, .form .multiEdit, .multiEditForm #paystationName, .multiEditForm #paystationSerialNumber, .multiEditForm #paystationBillable, .multiEditForm #paystationBundledData, .multiEditForm #paystationHide, .multiEditForm #paystationActivation, .multiEditForm #paystationHide, #multiPayStations, #processorDetailsDisplay .form, #processorDetails .display, #resetPassword, #notesHistoryArea
{
	display:				none;
}

#formHidePayStation, .multiEditForm .multiEdit, .multiEditForm #editHeading, .multiEditForm #customerMove, .multiEditForm #multiPayStations
{
	display:				block !important;
}

.landing
{
	position: 			relative;
	top:					180px;
	margin-left: 			auto;
	margin-right: 			auto;
	width:				75%;
	height: 			85px;
	float:				none;
	background:			none !important;
	border:				none !important;
	box-shadow:			none !important;
}

.landing label
{
	position: 			absolute;
	top:				6px;
	left:				2px;
	font-size:			4em;
	font-weight:		600;
	color:				#DADCDE;
}

.landing a.selectMenu.linkButtonIcn, .landing a.selectMenu.linkButtonIcn.disabled, .landing a.selectMenu.linkButtonIcn.disabled:hover
{
	top:					0;
}

#customerSearch #search
{
	width:				67%;
	height: 			75px;
	border:				0px;
	border-bottom: 		1px solid #B8BCBF;
	font-size:			4em;
	font-weight: 		600;
	color:				#005782;
	padding:			8px 2px 0px;
	border-radius: 		none !important;
	
	background: 		none;
	vertical-align:		middle;
	margin:				0px;
	min-height:			18px;
}

#customerSearch #btnGo
{
	font-size: 2.5em !important;
    padding: 0 10px !important;
    top: 14px;
	
	-moz-border-radius:		10px;
	-webkit-border-radius:	10px;
	border-radius: 			10px;
}

#sectionTitle #btnAddNewCustomer
{
	font-size: 			12px !important;
}

#newCustomerFormArea
{
	display:				none;
}

#parentLocationArea label
{
	margin-left: 			-5px;
}

#newCustomerForm #newPassword, #newCustomerForm #c_newPassword
{
	width: 					80%;
}

#newCustomerForm #cancelResetBtn
{
	margin: 				0 2px !important;
}

#webServices header.secondary
{
	padding:				0;
	margin:				0 auto;
	position:				relative;
	overflow:				hidden;
	border-bottom:			0;
	height:				auto;
	background:			none;
	overflow:				hidden;
}

#webServices header h3
{
	float:				left;
}

#paystationList.menuList li
{
	padding:				2px 0 8px;
}

h1.mainContentTitle .statusNote
{
	color:					#697178;
	font-weight:			normal;
	font-size:				0.75em;
	font-style: 			italic;
	margin:	 				0 5px;
	position: 				relative;
	top: 					-2px;
}

/*#paystationList.menuList li.severityNull
{
	padding-top:			0 !important;
	padding-bottom:		0 !important;
}
*/
#paystationList.menuList li .checkBox
{
	position:				relative;
	left:				1px;
}

/*#paystationList.menuList li.severityNull .checkBox
{
	left:				0 !important;
}
*/
#paystationList li .textLine
{
	padding-left:			4px !important;
}

/*#paystationList li.severityNull .textLine
{
	padding-left:			3px !important;
}
*/
#payStationSerialNumbers
{
	margin:				0 0 9px 6px;
	max-width:				60%;
}

.multiPayStationLinuxUpgrade-edit
{
	font-weight: 		600;
	letter-spacing: 	0;
	word-spacing: 		0;
	text-transform: 	uppercase;
	color: 				#005782;
	position: 			relative;
	left: 				18px;
}

.payStationLinuxUpgrade-edit
{
	font-weight: 		600;
	letter-spacing: 	0;
	word-spacing: 		0;
	text-transform: 	uppercase;
	color: 				#005782;
	position: 			relative;
	left: 				18px;
	top: 				-17px;
	float: 				left;
}

#linuxMultiEditLabel
{
	padding-left: 		4px;
}

#linuxMultiEditLabel.disabled.active, .payStationLinuxUpgrade-edit .disabled.active
{
	color: 				#005782 !important;
}

#multiSelectMgmt
{
	background-color:		#F4F5F6;
	overflow: 			hidden; 
	width: 				100%; 
	height:				auto;
	padding: 				6px 0; 
	margin: 				0 0 8px 0;
}
#multiSelectMgmt .checkBox
{
	position:				relative;
	left:					6px;
	margin-right:			6px;
}

#multiSelectMgmt .checkboxLabel
{
	font-size:				0.917em;
	padding-top:			3px;
	color:					#005782;
}

#multiSelectMgmt .linkButtonFtr
{
	margin-right:			6px;
}

#locationDetailsForm #customerStatus
{
	float:				left;
	padding:				0 7px 3px 0;
	margin-bottom:			15px;
}

#locationDetailsForm #trialEndDateArea
{
	display:				none;
	float:				left;
	margin-left:			12px;
}

#locationDetailsForm #passwordArea
{
	overflow:				hidden;
	width:				100%;
}

ul#emsKeysList
{
	overflow:			scroll;
	height:			180px;
}

ul#clusterMembersList li, ul#cardProcessingQueue li, ul#emsKeysList li
{
	list-style:			none;
	float:				left;
	width:				100%;
	padding:				4px 0 6px;
	cursor:				default;
}

ul#cardProcessingQueue .col2
{
	text-align:			right;
}

#notificationDetail, #notificationForm
{
	display:				none;
}

#notificationForm .inputWrapper
{
	float: 				left; 
	position: 			relative;
}

#notificationForm label.hiddenLabel
{
	left: 				14px;
	position: 			absolute;
	top: 				6px;
}

#tokenArea #generateToken
{
	top:					-3px;
}

.workspaceSwitch
{
	width: 					300px; 
	font-size: 				0.667em; 
	position: 				absolute; 
	right: 					0; 
	top: 					8px; 
}

.workspaceSwitch label
{
	font-size:				0.857em !important;
	font-weight:			normal;
	color:					#697178;
	text-transform:			none;
	left:					2px;
	top:					6px;
}

.workspaceSwitch #btnGo
{
	font-size:				0.857em !important;
}

.workspaceSwitch input.autoText
{
	font-size: 				0.857em;
	width:					74%;
}

.curServer
{
	margin-top:			7px;
	font-size:			0.875em;
	color:				#005782;
}

.ui-autocomplete
{
	position:				fixed;
}

#mrchntAccntFormArea dt.detailLabel
{
	width:				30%;
}

#mrchntAccntFormArea dd.detailValue
{
	width:				70%;
	overflow:				auto;
}

#statusOptionArea
{
	margin: 				2px 0 0 4px;
}

/* Licenses */
#licenseListHeader
{
	margin-top: 			-8px !important;
}

#mobileAppSelection, #licenseCountArea
{
	padding:				0 0 7px 12px;
}

#licenseCountArea
{
	padding-top:			8px;
	clear:				both;
}

#licenseAccnt
{
	padding:				0 7px;
}

#licenseEdit
{
	display:				none;
}

#appSelectionArea
{
	overflow:				hidden;
	width:				600px;
}

#appSelectionArea label
{
	float:				left;
	margin: 				2px 7px 0 0;
}

#appSelectionArea #currentAppSelection
{
	float: 				left;
	overflow: 			hidden;
	position: 			relative;
	width: 				60%;
}

#appSelectionArea input#mobileAppAC
{
    margin: 0 !important;
}

#appSelectionArea #mobileAppAC.autoselector-selected 
{
    color: #003E5E !important;
    font-weight: 600 !important;
}

#appSelectionArea input.autoText
{
    border-right: 1px solid #DADCDE;
    height: 18px;
    margin-left: 0;
    margin-right: 0;
    padding: 3px;
    position: relative;
    top: 1px;
    vertical-align: top;
    width: 63% !important;
}

#appSelectionArea .autoselector-selected
{
    color:	 			#003E5E !important;
    font-weight: 			600 !important;
}

#appSelectionArea input
{
	font-size:			1.143em;
}

#mobileLicenseEditForm input, #mobileLicenseEditForm .linkButtonFtr, #mobileLicenseEditForm .linkButton
{
	margin-top:			0;
	margin-bottom:			0;
}

#licenseListContentArea, #noLicenses
{
	display:				none;
}

#licenseList li
{
	border-left:			0 !important;
	border-right:			0 !important;
}

#licenseList .col1, #licenseListHeader .col1
{
	width:				80%;
}

#licenseList .col2, #licenseListHeader .col2
{
	width:				20%;
}

.activeDevice
{
	color:				#005782;
	font-weight:			600;
}

.available
{
	color:				#697178;
	font-style:			italic;
}

#noLicenses
{
	text-align: 			center; 
	padding: 				2px 0 7px;
}

/* CARD PROCESSING KEY */

#cardProcessingQueue li
{
	position: 			relative;
}

#cardProcessingQueue li .col2
{
	width: 				14%;
}
