#* velocity document *#
##
#parse( "/WEB-INF/templates/include/setup.vm" )
##
#set($helpLink = "#springMessage('help.link.Settings')")##
##
#set($pageSec = "settings")##
##
<!DOCTYPE html>
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->


##
<head>
	<title>#springMessage('label.siteName') - #springMessage('heading.settings') - #springMessage('link.nav.settings.payStations') : #springMessage('link.nav.settings.locations.payStationList')</title>
#parse( "${dirPrefix}include/head.vm" )
##
<link rel="stylesheet" type="text/css" media="all" href="${styleLocal}settings.css${staticQuerry}">
<link rel="stylesheet" href="${styleLocal}leaflet.css${staticQuerry}" />
<script src="${scriptLocal}leaflet.js${staticQuerry}"></script>
<!--[if lte IE 8]><link rel="stylesheet" href="${styleLocal}MarkerCluster.Default.ie.css${staticQuerry}" /><![endif]-->
<script src="${scriptLocal}leaflet.markercluster-src.js${staticQuerry}"></script>
##
</head>
##
<body id="settings">
##
#parse( "${dirPrefix}include/generalHead.vm" )
##
<section id="content">
##
#parse( "${dirPrefix}include/mainNav.vm" )
##
	<section id="mainContent">
##
#set($crntSection = "#springMessage('link.nav.settings.payStations')")
#set($crntPage = "#springMessage('link.nav.settings.locations.payStationList')")
#set($sectionTitle = "#springMessage('heading.settings')")
#if(${params.itemID} && ${params.itemID} != '' )##
	#set($actionItem = "${params.itemID}")##
#else##
	#set($actionItem = "$!{params.psID}")##
#end##
#set($actionType = "$!{params.pgActn}")##
#set($actionTab = "$!{params.tabID}")##
#parse( "${dirPrefix}settings/include/navSetup.vm" )
#parse( "${dirPrefix}settings/include/subNavSetup.vm" )
#parse( "${dirPrefix}include/sectionNav.vm" )
#parse( "${dirPrefix}include/subSectionNav.vm" )
## 
##
		<section id="DefinedPaystations" class="layout4 layout sectionContent">
				<section class="column first">
					<section class="groupBox menuBox paystationList">
						<header>
							<h2>#springMessage('label.payStations')</h2>
						</header>
						#parse("${dirPrefix}include/paystationSearch.vm")
						#set($childTree = "false")
						#parse("${dirPrefix}/settings/locations/include/paystationListItems.vm")
					</section>
				</section>
##				
#set($refreshBtn = "<a href='#' class='linkButton reload right clear refreshPOSCurrentTab'>#springMessage('label.reload')</a>")##
##				
				#parse( "${dirPrefix}include/payStationDetails/main.vm" )##
		</section>
	</section>
	<hr>
</section>
####
#parse( "${dirPrefix}include/footer.vm" )
##
#parse("${dirPrefix}include/alertMsg.vm")##
## 
<script type="text/javascript" language="javascript">##
#parse("${dirPrefix}include/sessionActivityVar.vm")##
##
#if($authtools.allow('locations'))
var locationPerm = true;
#else
var locationPerm = false;
#end
var routePerm = ${routePermissions};
##
var LOC = [];##
LOC["loadPayStations"] = "/secure/settings/locations/payStationList/payStationDetails.html";##
LOC["payStationsBattVolt"] = "/secure/settings/locations/payStationList/batteryVoltage.html";##
LOC["payStationsBattVoltTrend"] = "/secure/settings/locations/payStationList/batteryVoltageTrend.html";## 
LOC["payStationsInputCurr"] = "/secure/settings/locations/payStationList/inputCurrent.html";##
LOC["payStationsInputCurrTrend"] = "/secure/settings/locations/payStationList/inputCurrentTrend.html";##
LOC["payStationsRelHumidity"] = "/secure/settings/locations/payStationList/relativeHumidity.html";##
LOC["payStationsRelHumidityTrend"] = "/secure/settings/locations/payStationList/relativeHumidityTrend.html";##
LOC["payStationsCntrlrTemp"] = "/secure/settings/locations/payStationList/controllerTemperature.html";##
LOC["payStationsCntrlrTempTrend"] = "/secure/settings/locations/payStationList/controllerTemperatureTrend.html";##
LOC["payStationsInfo"] = "/secure/settings/locations/payStationList/information.html";##
LOC["payStationsAlertFilters"] = "/secure/settings/locations/payStationList/alertFilter.html";##
LOC["payStationsAlertDetails"] = "/secure/settings/locations/payStationList/alerts.html";##
LOC["savePayStations"] = "/secure/settings/locations/payStationList/savePayStation.html";##
LOC["viewCollectionForm"] = "/secure/settings/locations/payStationList/collectionFilter.html";##
LOC["viewCollectionReports"] = "/secure/settings/locations/payStationList/viewCollectionReports.html";##
LOC["viewCollectionReportsDetail"] = "/secure/settings/locations/payStationList/payStationDetails/collectionReport.html";##
LOC["viewTransactionForm"] = "/secure/settings/locations/payStationList/transactionFilter.html";##
LOC["viewTransactionReports"] = "/secure/settings/locations/payStationList/viewTransactionReports.html";##
LOC["viewTransactionReportsDetail"] = "/secure/settings/locations/payStationList/payStationDetails/transactionReport.html";##
LOC["editMultiPayStations"] = "/secure/settings/locations/payStationList/editPayStation.html";##
LOC["payStationsPlacement"] = "/secure/settings/locations/payStationPlacement.html";##
LOC["historyDownload"] = "/secure/settings/locations/payStationList/sensorHistory.html";##
LOC["activityHistoryDownload"] = "/secure/settings/locations/payStationList/alertsHistory.html";##
LOC["locationLink"] = "/secure/settings/locations/locationDetails.html?";##
LOC["routeLink"] = "/secure/settings/routes/index.html?";##
LOC["clearAlert"] = "/secure/settings/locations/payStationList/clearAlert.html";##
LOC["posSearch"] = "/secure/settings/locations/payStationList/searchPos.html";##
LOC["printCollectionDetailReport"] = "/secure/settings/locations/payStationList/payStationDetails/exportCollectionReport.html";##
LOC["configGroupDetails"] = "/secure/settings/payStations/configGroup.html"; ##
##
#if(${mapBorders.minLatitude} && ${mapBorders.minLongitude} && ${mapBorders.maxLatitude} && ${mapBorders.maxLongitude})##
var	southWest = new L.LatLng("${mapBorders.minLatitude}", "${mapBorders.minLongitude}"),##
	northEast = new L.LatLng("${mapBorders.maxLatitude}","${mapBorders.maxLongitude}"),##
	ogBounds = new L.LatLngBounds(southWest, northEast);
#end##
##
var customerOffset = ${sec.principal.customerTimeZoneOffset};##
##
#parse("${dirPrefix}include/payStationDetails/constants.vm")##

$(document).ready(function(){ 
	standard(); 
	settings(); 
	sessionActvty(); 
	paystations(#if(${params.filterValue}) true #else false #end, "${actionItem}", "${actionType}", "${actionTab}"); 
	soh(["paystationList"]); 
	filterAction();##
	#if(${params.itemValue})updateFilter("$!esc.javascript($!{params.filterValue})", "$!esc.javascript(${params.itemValue})");#end });</script>
<script type="text/javascript" language="javascript" src="${scriptLocal}jquery.ui.paginatetab.js${staticQuerry}"></script>
<script type="text/javascript" language="javascript" src="${scriptLocal}leaflet-embed.js${staticQuerry}"></script>
<script type="text/javascript" language="javascript" src="${scriptLocal}settings.js${staticQuerry}"></script>
##
</body>
</html>