#* velocity document *#
##
#parse( "/WEB-INF/templates/include/setup.vm" )
##
#set($helpLink = "#springMessage('help.link.Settings')")##
##
#set($pageSec = "settings")##
##
<!DOCTYPE html>
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->


##
<head>
	<title>#springMessage('label.siteName') - #springMessage('heading.settings') : #springMessage('link.nav.settings.subNav.rcntActivity')</title>
#parse( "${dirPrefix}include/head.vm" )
##
<link rel="stylesheet" type="text/css" media="all" href="${styleLocal}settings.css${staticQuerry}">
##
</head>
##
<body id="settings">
##
#parse( "${dirPrefix}include/generalHead.vm" )
##
<section id="content">
##
#parse( "${dirPrefix}include/mainNav.vm" )
##
	<section id="mainContent">
##
#set($crntSection = "#springMessage('link.nav.settings.locations')")
#set($crntPage = "#springMessage('link.nav.settings.subNav.rcntActivity')")
#set($sectionTitle = "#springMessage('heading.settings')")
#parse( "${dirPrefix}settings/include/navSetup.vm" )
#parse( "${dirPrefix}settings/include/subNavSetup.vm" )
#parse( "${dirPrefix}include/sectionNav.vm" )
#parse( "${dirPrefix}include/subSectionNav.vm" )
## 
##
	</section>
	<hr>
</section>
##
#parse( "${dirPrefix}include/footer.vm" )
##
#parse("${dirPrefix}include/alertMsg.vm")##
## 
<script type="text/javascript" language="javascript">#parse("${dirPrefix}include/sessionActivityVar.vm") $(document).ready(function(){ standard(); settings(); sessionActvty(); });</script>
<script type="text/javascript" language="javascript" src="${scriptLocal}settings.js${staticQuerry}"></script>
##
</body>
</html>