<section class="column-5-5">
	<dl class="details col1">
		<dt id="detailAlertNameLabel" class="detailLabel">#springMessage('label.name'):</dt> 
		<dd id="detailAlertName" class="detailValue"></dd>
		<dt id="detailAlertStatusLabel" class="detailLabel">#springMessage('label.status'):</dt> 
		<dd id="detailAlertStatus" class="detailValue"></dd>
#*		<dt id="detailAlertTypeLabel" class="detailLabel">#springMessage('label.type'):</dt>
		<dd id="detailAlertType" class="detailValue"></dd>*#
		<dt id="detailAlertThresholdLabel" class="detailLabel">#springMessage('label.settings.alerts.threshold'):</dt>
		<dd class="detailValue">#springMessage('label.settings.alerts.form.when') <strong id="detailAlertType"></strong> 
			<span id="detailDisplayOccursMsg">#springMessage('label.settings.alerts.form.occurs').</span>
			<span id="detailDisplayExceedArea">
				<span id="exceedTitle">#springMessage('label.settings.alerts.form.exceed')</span> 
				<span id="exceedsTitle">#springMessage('label.settings.alerts.form.exceeds')</span>
				<strong id="detailExceedDollars">$</strong><strong id="detailAlertThresholdExceeds"></strong>
				<strong id="detailExceedHour"></strong>
				<strong id="detailExceedCoin"></strong>
				<strong id="detailExceedBill"></strong>
				<strong id="detailExceedCard"></strong>
				<strong id="detailExceedDay"></strong>
			</span>
		</dd>
		<dt id="detailAlertRouteLabel" class="detailLabel">#springMessage('label.route'):</dt>
		<dd id="detailAlertRoute" class="detailValue"></dd>
		<dt id="detailAlertDelayedByLabel" class="detailLabel">#springMessage('label.settings.alerts.form.delayedBy'):</dt>
        <dd id="detailAlertDelayedBy" class="detailValue"></dd>
	</dl>
	<section class="details col2">
		<section id="detailAlertNotificationLabel" class="detailLabel">#springMessage('label.settings.alerts.notificationList.title'):</section>
		<ul id="detailNotificationList"></ul>
	</section>
</section>