#* velocity document *#
<section class="filterHeader">
	<section class="title">
			<img title="filter" src="${imgLocal}icn_FilterSm.png" width="17" height="15">## #springMessage('label.allCaps.filter'):
	</section>
	<ul class="filterForm">
		<li class="autoComplete">
			<input id="aTypeACVal" type="hidden" />
			<input id="aTypeAC" type="text" class="autoText flatRight acWidthNoSearch prntableChrctr" title="#springMessage('label.settings.alerts.alertType')" placeholder="#springMessage('label.settings.alerts.threshold')" />
			<a href="#" id="aTypeACExpand" class="linkButtonIcn selectMenu flatLeft" title="#springMessage('button.showOptions')"><img width="18" height="1" title="arrow" alt="arrow" src="${imgLocal}spacer.gif" border="0"></a>
			<script type="text/javascript" language="javascript">
			var	aTypeObj = [#foreach($aType in $alertTypeList) #if($velocityCount > 1), #end{value: "AT${aType.id}", label: "${aType.name}" } #end ];##
			</script>
		</li>
	</ul>
</section>