<section id="jurisdictionBy" class="clear">
	<h3>
		#springMessage('label.settings.globalPref.jurisdiction')
		<a id="btnEditJurisdictionBy" href="#" class="linkButtonIcn edit right" title="#springMessage('button.edit')"><img width="19" height="1" border="0" title="#springMessage('button.edit')" alt="#springMessage('button.edit')" src="${imgLocal}spacer.gif" border="0"></a>
	</h3>
	<dl id="jurisdictionByView" class="details">
		<dt class="detailLabel">#springMessage('label.settings.globalPref.selected.jurisdiction.by.preferred'):</dt>
		<dd class="detailValue">
			<span id="curPreferredJurisdictionBy" tooltip="$!{GlobalConfiguration.jurisdictionTypePreferredLabel}">$!{GlobalConfiguration.jurisdictionTypePreferredLabel}</span>
		</dd>
		<dt class="detailLabel">#springMessage('label.settings.preferredparking.importForm.sourceFile'):</dt>
		<dd class="detailValue">
			#if(!${GlobalConfiguration.preferredParkersStatus.lastUpdatedDateTime})
				#springMessage('label.settings.preferredparking.processStatus.not_started')
			#else
				#springMessage('label.uploaded') - $!{GlobalConfiguration.preferredParkersStatus.lastUpdatedDateTime}

				#if(${GlobalConfiguration.preferredParkersStatus.lastUpdatedDateTime})
					#if($!{GlobalConfiguration.preferredParkersStatus.processStatusString} == "#springMessage('label.settings.preferredparking.processStatus.error_out')")##
						#set($statusClass = 'invalid')##
					#elseif($!{GlobalConfiguration.preferredParkersStatus.processStatusString} == "#springMessage('label.settings.preferredparking.processStatus.in_process')")##
						#set($statusClass = 'processing')##
					#elseif($!{GlobalConfiguration.preferredParkersStatus.processStatusString} == "#springMessage('label.settings.preferredparking.processStatus.success')")##
						#set($statusClass = 'valid')##
					#else##
						#set($statusClass = '')##
					#end##
					<div id="preferredParkingUpload" class="$!{statusClass}">
						$!{GlobalConfiguration.preferredParkersStatus.processStatusString}
					</div>
				#end
			#end

		</dd>
		#set($invalidString = "#springMessage('label.settings.preferredparking.processStatus.error_out')")
		<code id="errorMsgs" class="#if($GlobalConfiguration.preferredParkersStatus.processStatusString != $invalidString)hide#end">
			<strong>#springMessage('label.errors')</strong><br>
			#foreach($errorLine in $GlobalConfiguration.preferredParkersStatus.errorRows)
			$errorLine<br/>
			#end
		</code>
		<dt class="detailLabel" style="margin-top: 8px;">#springMessage('label.settings.globalPref.selected.jurisdiction.by.limited'):</dt>
		<dd class="detailValue" style="margin-top: 8px;">
			<span id="curLimitedJurisdictionBy" tooltip="$!{GlobalConfiguration.jurisdictionTypeLimitedLabel}">$!{GlobalConfiguration.jurisdictionTypeLimitedLabel}</span>
		</dd>
	</dl>

	#springBind("jurisdictionTypeEditForm.*")##
	<form id="preferredParkingUploadForm" name="preferredParkingUploadForm" method="post" enctype="multipart/form-data" action="">
		#springBind("jurisdictionTypeEditForm.postToken")##
		<input type="hidden" name="postToken" id="preferredParkingPostToken" value="$!{jurisdictionTypeEditForm.initToken}"/>

	<div id="jurisdictionByEdit" class="details">
#* PREFERRED JURISDICTION *#
		#springBind("jurisdictionTypeEditForm.wrappedObject.jurisdictionTypePreferred")##
		<div class="detailLabel">#springMessage('label.settings.globalPref.selected.jurisdiction.by.preferred'):</div>
		<section class="inputWithButton">
			<input type="hidden" id="ogPreferredJurisdictionVal" value="$!GlobalConfiguration.jurisdictionTypePreferred">
			<input type="hidden" id="selectPreferredJurisdictionByVal" name="${status.expression}" value="$!GlobalConfiguration.jurisdictionTypePreferred">
			<input id="selectPreferredJurisdictionBy" type="text" name="selectPreferredJurisdictionByDisplay" autocomplete="off" class="autoText detailValue flatRight inputfit" placeholder="#springMessage('label.choose')" />
			<a href="#" id="selectPreferredJurisdictionByExpand" class="linkButtonIcn selectMenu flatLeft" title="#springMessage('button.showOptions')"><img width="18" height="1" title="arrow" alt="arrow" src="${imgLocal}spacer.gif" border="0"></a>
		</section>

		#if($!GlobalConfiguration.jurisdictionTypePreferred == 0)
			#set($disabledClass = 'disabled')
			#set($disabledProperty = 'disabled=""')
		#else
			#set($disabledClass = '')
			#set($disabledProperty = '')
		#end

		<div class="detailLabel">#springMessage('label.settings.preferredparking.importForm.sourceFile'):</div>
		<section class="inputWithButton">
			#springBind("jurisdictionTypeEditForm.wrappedObject.file")##
			<input type="file" id="preferredParkingFile" name="${status.expression}" value="$!{status.value}" class="autoText detailValue flatRight inputfit $!{disabledClass}" $!{disabledProperty} style="height: auto;" />
		</section>


		<span id="selectPreferredJurisdictionByData" style="display: none;">
			[
			{ "label": "#springMessage('label.choose')", "value": "-1" }
		#foreach($filter in $GlobalConfiguration.jurisdictionTypesPreferred)
			,{ "label": "$filter.label", "value": "$filter.value" }
		#end
			]
		</span>

#* LIMITED JURISDICTION *#
		#springBind("jurisdictionTypeEditForm.wrappedObject.jurisdictionTypeLimited")##
		<div class="detailLabel">#springMessage('label.settings.globalPref.selected.jurisdiction.by.limited'):</div>
		<section class="inputWithButton">
			<input type="hidden" id="selectLimitedJurisdictionByVal" name="${status.expression}" value="$!GlobalConfiguration.jurisdictionTypeLimited">
			<input id="selectLimitedJurisdictionBy" type="text" name="selectLimitedJurisdictionByDisplay" autocomplete="off" class="autoText detailValue flatRight inputfit" placeholder="#springMessage('label.choose')" />
			<a href="#" id="selectLimitedJurisdictionByExpand" class="linkButtonIcn selectMenu flatLeft" title="#springMessage('button.showOptions')"><img width="18" height="1" title="arrow" alt="arrow" src="${imgLocal}spacer.gif" border="0"></a>
		</section>

		<span id="selectLimitedJurisdictionByData" style="display: none;">
			[{ "label": "#springMessage('label.choose')", "value": "-1" }
		#foreach($filter in $GlobalConfiguration.jurisdictionTypesLimited)
			,{ "label": "$filter.label", "value": "$filter.value" }
		#end
			]
		</span>

		<div>
			<a id="btnCancelJurisdictionBy" href="#" class="linkButtonIcn cancel right" title="#springMessage('button.cancel')"><img width="19" height="1" title="#springMessage('button.cancel')" alt="#springMessage('button.cancel')" src="${imgLocal}spacer.gif" border="0"></a>
			<a id="btnSaveJurisdictionBy" href="#" class="linkButtonIcn Ftr save right" title="#springMessage('button.save')"><img width="19" height="1" title="#springMessage('button.save')" alt="#springMessage('button.save')" src="${imgLocal}spacer.gif" border="0"></a>
		</div>
	</div>

	</form>
	#*<div id="preferredParkingUpload">
		<h5>#springMessage('label.settings.preferredparking.importForm.sourceFile')</h5>
		<div class="details left">
			#if(!${GlobalConfiguration.preferredParkersStatus.lastUpdatedDateTime})
				#springMessage('label.settings.preferredparking.processStatus.not_started')
			#else
				#springMessage('label.uploaded') - $!{GlobalConfiguration.preferredParkersStatus.lastUpdatedDateTime}
			#end
			<a id="btnUploadPreferredParkers" href="#" class="linkButtonIcn upload" title="#springMessage('button.upload')"><img width="19" height="1" border="0" title="#springMessage('button.edit')" alt="#springMessage('button.edit')" src="${imgLocal}spacer.gif" border="0"></a>
		</div>
	#if(${GlobalConfiguration.preferredParkersStatus.lastUpdatedDateTime})
		#if($!{GlobalConfiguration.preferredParkersStatus.processStatusString} == "#springMessage('label.settings.preferredparking.processStatus.error_out')")##
			#set($statusClass = 'invalid')##
		#elseif($!{GlobalConfiguration.preferredParkersStatus.processStatusString} == "#springMessage('label.settings.preferredparking.processStatus.in_process')")##
			#set($statusClass = 'processing')##
		#elseif($!{GlobalConfiguration.preferredParkersStatus.processStatusString} == "#springMessage('label.settings.preferredparking.processStatus.success')")##
			#set($statusClass = 'valid')##
		#else##
			#set($statusClass = '')##
		#end##
		<div class="details right $!{statusClass}">
			$!{GlobalConfiguration.preferredParkersStatus.processStatusString}
		</div>
	#end

	</div>*#
</section>