#* velocity document *#
##
<section class="column-5-5">
	<h3 class="detailList">
		#springMessage('label.settings.details')
	</h3>
	<dl class="details col1 left">
		<dt id="detailProfileNameLabel" class="detailLabel">#springMessage('label.settings.rates.profile.profileName'):</dt> 
		<dd id="detailProfileName" class="detailValue"></dd>
		<dt id="detailProfileOpModeLabel" class="detailLabel">#springMessage('label.settings.rates.operatingMode'):</dt> 
		<dd id="detailProfileOpMode" class="detailValue"></dd>
	</dl>
</section>