#* velocity document *#
##
##
##
#parse( "${dirPrefix}settings/include/rateRateProfileSchedule.vm" )##
##
#springBind("rateProfileEditForm.*")##
<form id="profileSettings" name="rateForm" method="post" action="/">
#springBind("rateProfileEditForm.postToken")##
<input type="hidden" name="postToken" id="postToken" value="$!{rateProfileEditForm.initToken}"/>
#springBind("rateProfileEditForm.actionFlag")##	
<input type="hidden" name="${status.expression}" id="actionFlag" value="0"/>
#springBind("rateProfileEditForm.wrappedObject.randomId")##	
<input type="hidden" name="${status.expression}" id="profileID" value="$!{status.value}"/>
#if($pageSec == "sysAdmin")
<input type="hidden" name="customerID" value="${params.customerID}"/>
#end

<section class="rateProfileFormArea details">
<section class="col1 left">
	<label class="detailLabel $!{toolTipClass}" for="formRateProfileName">#springMessage('label.settings.rates.profile.profileName')</label>
	#springBind("rateProfileEditForm.wrappedObject.name")##	
	<input type="text" name="${status.expression}" class="detailValue prntableChrctr chrctrCount20 reqField" id="formRateProfileName" maxlength="20" value="$!{status.value}"  />
</section>
<section class="col2 left">
	<label class="detailLabel $!{toolTipClass}" for="formOperatingMode">#springMessage('label.settings.rates.operatingMode')</label>
	<section class="inputWithButton left">
		#springBind("rateProfileEditForm.wrappedObject.permitIssueTypeId")##	
		<input type="hidden" id="formOperatingModeVal" name="${status.expression}" value="">
		<input id="formOperatingMode" type="text" name="formOperatingModeDisplay" autocomplete="off" class="autoText detailValue flatRight reqField" />
		<a href="#" id="formOperatingModeExpand" class="linkButtonIcn selectMenu flatLeft" title="#springMessage('button.showOptions')"><img width="18" height="1" title="arrow" alt="arrow" src="${imgLocal}spacer.gif" border="0"></a>
	</section>
	<span id="formOperatingModeData" class="hide">
		[{ "label": "#springMessage('label.choose')", "value": "-1" } #foreach($type in $permitIssueTypeList ), { "label": "$type.name", "value": "$type.id" }#end]
	</span>
	<span id="statusModeObjData" class="hide">
		[{"label":"#springMessage('label.draft')", "value":"0", "desc":"", "category":"#springMessage('label.settings.rates.rateProfile') #springMessage('label.status')"}, {"label":"#springMessage('label.published')", "value":"1", "desc":"", "category":"#springMessage('label.settings.rates.rateProfile') #springMessage('label.status')"}##
		 #foreach($type in $permitIssueTypeList ), { "label": "$type.name", "value": "$type.id", "category": "#springMessage('label.settings.rates.operatingMode')" }#end]
	</span>
</section>
</section>

</form>