#* velocity document *#
#if(!$setupFile || $setupFile != "true")##
	#parse( "/WEB-INF/templates/include/setup.vm" )##
#end##
##
##
##
#if(${params.addForm} != "true")
<section id="rateRateProfileFormArea" class="column-7-3 details hide">
#set($actionFlag = 1)##
#set($rateName = $!{params.rateName})##
#else
<section id="rateRateProfileFormArea" class="column-7-3 details">
#set($actionFlag = 0)##
#set($intgr = 0)##
#set($reOcAll = false)##
#set($reOcOnly = "${params.reoccurance}")##
#set($startDate = "${params.startDate}")##
#set($startDateVO = $date.toDate("M/d/y",$startDate))##
#set($startDay = $intgr.parseInt($date.format("u",$startDateVO)))##
#set($startTime = ${params.startTime})##
#set($startTimeVal = ${params.startTimeVal})##
#set($endDate = "${params.endDate}")##
#set($endDateVO = $date.toDate("M/d/y",$endDate))##
#set($endDay = $intgr.parseInt($date.format("u",$endDateVO)))##
#set($endTime = ${params.endTime})##
#set($endTimeVal = ${params.endTimeVal})##
#set($durationDays = $intgr.parseInt(${params.duration}))##
#if($durationDays >= 7)#set($reOcAll = true)#end##
#end

#springBind("rateRateProfileEditForm.*")##
<form id="rateRateProfileForm" name="rateEditForm" method="post" action="/">
#springBind("rateRateProfileEditForm.postToken")##
<input type="hidden" name="postToken" id="rateRateProfilePostToken" value="$!{rateRateProfileEditForm.initToken}"/>
#springBind("rateRateProfileEditForm.actionFlag")##
<input type="hidden" name="${status.expression}" id="actionFlag" value="${actionFlag}"/>
#springBind("rateRateProfileEditForm.wrappedObject.rateRateProfileRandomId")##
<input type="hidden" name="${status.expression}" value="$!{status.value}" autofocus/>	
#springBind("rateRateProfileEditForm.wrappedObject.rateProfileRandomId")##
<input type="hidden" name="${status.expression}" value="$!{status.value}"/>
	<section class="col1">
		#springBind("rateRateProfileEditForm.wrappedObject.rateRandomId")##
		<section id="rateNameInput" class="autoComplete " >
			<input type="hidden" id="formRateNameVal" name="${status.expression}" value="$!{status.value}">
			<input type="hidden" id="formRateTypeVal" name="wrappedObject.rateTypeName" value="">
			<input id="formRateName" type="text" name="formRateNameDisplay" autocomplete="off" class="autoText detailValue prntableChrctr autoSearchInput reqField" $!{disableField} value="$!{rateName}" maxlength="20" placeholder="#springMessage('label.settings.rates.profile.selectRate')" />
			<a href="#" id="formRateNameClearBtn" class="removeFile autoSearchClearBtn">&nbsp;</a>
			##<input id="formFilterValue" class="detailValue autoWidthFilter100 ui-autocomplete-input ui-autocomplete-loading" type="text" maxlength="70" value="" name="wrappedObject.filterValue" style="width: 545.976px;" autocomplete="off">
			
			
			<script language="javascript" type="text/javascript">				
				$("#formRateName").autoselector({
					"isComboBox": true, 
					"defaultValue": null,
					"persistToHidden": false,
					"shouldCategorize": true,
					"blockOnEdit": false,
					"remoteFn": rateAutoComplete })
				.on("itemSelected", function(event, ui) {
					var slctdCategory = $(this).autoselector("getSelectedObject").category;
					var slctValue = $(this).autoselector("getSelectedValue");
					if(slctValue != '-1') {
						$("#formRateNameVal").val(slctValue);
						$("#formRateTypeVal").val(slctdCategory);
						$(this).trigger('blur'); }
					return false; })
				.on("change", function(){
					var slctName = $(this).autoselector("getSelectedObject");
					if($(this).val()==="" && slctName.label !==""){$(this).val(slctName.label);} });
			</script>
			
		</section>
		<h3>#springMessage('label.settings.rates.profile.availableForPurchase')</h3>
		#springBind("rateRateProfileEditForm.wrappedObject.useScheduled")##
		#if(${status.value} != "")#set($isSchedule = ${status.value})
		#else#set($isSchedule = true)#end
		#if($reOcOnly == "true")#set($isSchedule = false)#end
		<input type="hidden" id="scheduled" name="${status.expression}" value="${isSchedule}">
		<label class="radioLabel switch scheduledRdio #if($reOcOnly == "true")disabled#end" for="item"><a href="#" id="scheduled:true" class="radio #if(${isSchedule})checked#end">&nbsp;</a> #springMessage('label.settings.rates.profile.scheduled')</label>
		<span class="detailLabel">&nbsp; or &nbsp;</span>
		<label class="radioLabel switch scheduledRdio" for="item"><a href="#" id="scheduled:false" class="radio #if(!${isSchedule})checked#end">&nbsp;</a> #springMessage('label.settings.rates.profile.reOccuring')</label>				
		<section id="reoccuringArea" class="#if(${isSchedule} || ${reOcOnly} == "false")hide#end">
			#springBind("rateRateProfileEditForm.wrappedObject.useSunday")##
			#set($sunVal = "$!{status.value}")
			#if(${params.addForm} == "true")
				#if((($startDay == 7 || ($endDay == 7 && $endTime != "12:00 AM" )) || ($startDay < 7 && $endDay < $startDay)) || $reOcAll)
					#set($sunVal = "true")
				#else
					#set($sunVal = "false")
				#end
			#end
			<input type="hidden" name="${status.expression}" id="sunReOcHidden" value="${sunVal}">
			<label class="checkboxLabel switch " for="sunReOcHidden">
				<a href="#" id="sunReOc" class="checkBox #if($sunVal == "true")checked#end">&nbsp;</a>
				S
			</label>
			
			#springBind("rateRateProfileEditForm.wrappedObject.useMonday")##
			#set($monVal = "$!{status.value}")
			#if(${params.addForm} == "true")
				#if((($startDay == 1 || ($endDay == 1 && $endTime != "12:00 AM" )) || ($endDay > 1 && $endDay < $startDay)) || $reOcAll)
					#set($monVal = "true")
				#else
					#set($monVal = "false")
				#end
			#end
			<input type="hidden" name="${status.expression}" id="monReOcHidden" value="${monVal}">
			<label class="checkboxLabel switch " for="monReOcHidden">
				<a href="#" id="monReOc" class="checkBox #if($monVal == "true")checked#end">&nbsp;</a>
				M
			</label>
			
			#springBind("rateRateProfileEditForm.wrappedObject.useTuesday")##
			#set($tueVal = "$!{status.value}")
			#if(${params.addForm} == "true")
				#if((($startDay == 2 || ($endDay == 2 && $endTime != "12:00 AM" )) || ($startDay < 2 && $endDay > 2) || ($endDay > 2 && $endDay < $startDay)) || $reOcAll)
					#set($tueVal = "true")
				#else
					#set($tueVal = "false")
				#end
			#end
			<input type="hidden" name="${status.expression}" id="tueReOcHidden" value="${tueVal}">
			<label class="checkboxLabel switch " for="tueReOcHidden">
				<a href="#" id="tueReOc" class="checkBox #if($tueVal == "true")checked#end">&nbsp;</a>
				T
			</label>
			
			#springBind("rateRateProfileEditForm.wrappedObject.useWednesday")##
			#set($wedVal = "$!{status.value}")
			#if(${params.addForm} == "true")
				#if((($startDay == 3 || ($endDay == 3 && $endTime != "12:00 AM" )) || ($startDay < 3 && $endDay > 3) || ($endDay > 3 && $endDay < $startDay)) || $reOcAll)
					#set($wedVal = "true")
				#else
					#set($wedVal = "false")
				#end
			#end
			<input type="hidden" name="${status.expression}" id="wedReOcHidden" value="${wedVal}">
			<label class="checkboxLabel switch " for="wedReOcHidden">
				<a href="#" id="wedReOc" class="checkBox #if($wedVal == "true")checked#end">&nbsp;</a>
				W
			</label>
			
			#springBind("rateRateProfileEditForm.wrappedObject.useThursday")##
			#set($thrVal = "$!{status.value}")
			#if(${params.addForm} == "true")
				#if((($startDay == 4 || ($endDay == 4 && $endTime != "12:00 AM" )) || ($startDay < 4 && $endDay > 4) || ($endDay > 4 && $endDay < $startDay)) || $reOcAll)
					#set($thrVal = "true")
				#else
					#set($thrVal = "false")
				#end
			#end
			<input type="hidden" name="${status.expression}" id="thrReOcHidden" value="${thrVal}">
			<label class="checkboxLabel switch " for="thrReOcHidden">
				<a href="#" id="thrReOc" class="checkBox #if($thrVal == "true")checked#end">&nbsp;</a>
				T
			</label>
			
			#springBind("rateRateProfileEditForm.wrappedObject.useFriday")##
			#set($friVal = "$!{status.value}")
			#if(${params.addForm} == "true")
				#if((($startDay == 5 || ($endDay == 5 && $endTime != "12:00 AM" )) || ($startDay < 5 && $endDay > 5) || ($endDay > 5 && $endDay < $startDay)) || $reOcAll)
					#set($friVal = "true")
				#else
					#set($friVal = "false")
				#end
			#end
			<input type="hidden" name="${status.expression}" id="friReOcHidden" value="${friVal}">
			<label class="checkboxLabel switch " for="friReOcHidden">
				<a href="#" id="friReOc" class="checkBox #if($friVal == "true")checked#end">&nbsp;</a>
				F
			</label>
			
			#springBind("rateRateProfileEditForm.wrappedObject.useSaturday")##
			#set($satVal = "$!{status.value}")
			#if(${params.addForm} == "true")
				#if((($startDay == 6 || ($endDay == 6 && $endTime != "12:00 AM")) || ($startDay < 6 && $endDay > 6) || ($endDay > 6 && $endDay < $startDay)) || $reOcAll)
					#set($satVal = "true")
				#else
					#set($satVal = "false")
				#end
			#end
			<input type="hidden" name="${status.expression}" id="satReOcHidden" value="${satVal}">
			<label class="checkboxLabel switch " for="satReOcHidden">
				<a href="#" id="satReOc" class="checkBox #if($satVal == "true")checked#end">&nbsp;</a>
				S
			</label>
		</section>

		<section id="scheduledArea" class="#if($reOcOnly == "true")hide#end">
			#springBind("rateRateProfileEditForm.wrappedObject.availabilityStartDate")##
			#if(${status.value} && ${status.value}!="")
				#set($startDate = "${status.value}")
				#set($startDateVO = $date.toDate("M/d/y",$startDate))##
			#end
			<input type="text" id="startDate" class="reqField #if(!${isSchedule})hide#end" size="12" name="${status.expression}" value="${startDate}">
			
			#springBind("rateRateProfileEditForm.wrappedObject.availabilityStartTime")##
			#if(!${startTimeVal} || ${startTimeVal}=="")
				#set($startTimeVal = ${status.value})
				#set($tempStartTime = $date.toDate('HH:mm',${startTimeVal}))
				#set($startTime = $date.format('hh:mm a',${tempStartTime}))
			#end
			<input type="hidden" id="startTimeVal" name="${status.expression}" value="${startTimeVal}">
			<input type="text" id="startTime" class="reqField" size="10" name="displayStart" value="${startTime}">
			<span class="detailLabel">to</span>
			
			#springBind("rateRateProfileEditForm.wrappedObject.availabilityEndTime")##
			#if(!${endTimeVal} || ${endTimeVal}=="")
				#set($endTimeVal = ${status.value})
				#set($tempEndTime = $date.toDate('HH:mm',${endTimeVal}))
				#set($endTime = $date.format('hh:mm a',${tempEndTime}))
			#end
			<input type="hidden" id="endTimeVal" name="${status.expression}" value="${endTimeVal}">
			<input type="text" id="endTime" class="reqField" size="10" name="displayEndTime" value="${endTime}">

			#springBind("rateRateProfileEditForm.wrappedObject.availabilityEndDate")##
			#if(${status.value} && ${status.value}!="")
				#set($endDate = ${status.value})
				#set($endDateVO = $date.toDate("M/d/y",$endDate))##
			#end
			#set($duration = $date.difference(${startDateVO}, ${endDateVO}))
			<input type="text" id="endDate" size="12" name="${status.expression}" value="${endDate}" class="reqField #if($durationDays <= 1 || $endDate == $startDate || !${isSchedule} || $duration == "1 day")hide#end">
			<span id="nxtDayLabel" class="#if(($durationDays && $durationDays != 1) || $duration != "1 day")hide#end">#springMessage('label.settings.rates.profile.nextDay')</span>
		</section>
		
		<script type="text/javascript" language="javascript">
			createDatePicker("#startDate", {"minDate": thisSunday,"onClose": function(selectedDate){$("#endDate").datepicker( "option", "minDate", selectedDate);} }),
			$("#startTime").autominutes(optsTime),
			createDatePicker("#endDate", {"minDate": thisSunday, "onClose": function(selectedDate){$("#startDate").datepicker( "option", "maxDate", selectedDate);} }),
			$("#endTime").autominutes($.extend({}, optsTime, { "nextDayMode": true }))
		#if($durationDays <= 1 || $endDate == $startDate || !${isSchedule} || $duration == "1 day")##
			$("#startDate").datepicker("option", "onSelect", function(dateText, datepicker) {
				$("#endDate").datepicker("setDate", $("#startDate").datepicker("getDate"));
			});
			
			coupleDateComponents(null, $("#startTime"), null, $("#endTime"));
		#else##
			coupleDateComponents($("#startDate"), $("#startTime"), $("#endDate"), $("#endTime"));
		#end##
		</script>
		
		#springBind("rateRateProfileEditForm.wrappedObject.useMaxExpiry")##
		#if(${status.value} && ${status.value}!="")
			#set($useXpry = ${status.value})
		#end
		<input type="hidden" name="${status.expression}" id="useXpryTimeHidden" value="$!{status.value}">
		<label id="useXpryTimeLbl" class="checkboxLabel switch " for="useXpryTimeHidden">
			<a href="#" id="useXpryTime" class="checkBox #if(${status.value})checked#end">&nbsp;</a>
			#springMessage('label.settings.rates.profile.enableMaxExpiry')
		</label>
		
		<section id="xpryTime" class="column-6-4 #if(!${status.value})hide#end">
			<section class="col1">
				<label class="detailLabel" for="formXpryDayName">#springMessage('label.settings.rates.expiryDay'):</label>
				#springBind("rateRateProfileEditForm.wrappedObject.expiryDayType")##
				#if(${status.value} && ${status.value}!="")
					#set($xpryDay = ${status.value})
				#else
					#set($xpryDay = "2")
				#end
				<section id="xpryTimeInput" class="inputWithButton"  #if($parentCount == 0)style="display: none;"#end>
					<input type="hidden" id="formXpryDayVal" name="${status.expression}" value="${xpryDay}">
					<input id="formXpryDay" type="text" name="formXpryDayDisplay" autocomplete="off" class="autoText detailValue flatRight reqField" $!{disableField} style="" />
					<a href="#" id="formXpryDayExpand" class="linkButtonIcn selectMenu flatLeft " title="#springMessage('button.showOptions')"><img width="18" height="1" title="arrow" alt="arrow" src="${imgLocal}spacer.gif" border="0"></a>
					
					<section id="formXpryDayData" class="hide">
						[{ "label": "#springMessage('label.settings.rates.profile.sameDay')", "value": "1" }, { "label": "#springMessage('label.settings.rates.profile.nextDay')", "value": "2" }]
						#set($xpryDays = {"1":"#springMessage('label.settings.rates.profile.sameDay')", "2":"#springMessage('label.settings.rates.profile.nextDay')"})
					</section>
					<script type="text/javascript" language="javascript">
						$("#formXpryDay").autoselector({
							isComboBox: true,
							defaultValue: ${xpryDay},
							shouldCategorize: false,
							data: JSON.parse($("#formXpryDayData").text()) });
					</script>
				</section>
			</section>
			<section class="col2">
				<label class="detailLabel" for="endTime">#springMessage('label.settings.rates.expiryTime'):</label>
				#springBind("rateRateProfileEditForm.wrappedObject.expiryTime")##
				#if(${status.value} && ${status.value} != "")
					#set($expTimeVal = ${status.value})
					#set($tempXpryTime = $date.toDate('HH:mm',${expTimeVal}))
					#set($expTime = $date.format('hh:mm a',${tempXpryTime}))
				#else
					#set($expTimeVal = "00:00")
					#set($expTime = "12:00 AM")
				#end 
				<div>
				<input type="hidden" id="xpryTmVal" name="${status.expression}" value="${expTimeVal}">
				<input type="text" id="xpryTm" class="reqField" size="10" name="displayXpryTm" value="${expTime}">
				</div>
				<script type="text/javascript" language="javascript">
					$("#xpryTm").autominutes(optsTime);		
				</script>
			</section>
		</section>
		
	</section>
	<section class="col2" style="line-height: 1.8em;">
		#springBind("rateRateProfileEditForm.wrappedObject.useAdvPurchase")##
		#if(${status.value} && ${status.value} != "")##
			#set($advPurchVal = ${status.value})##
		#else##
			#set($advPurchVal = "false")##
		#end##
		<input type="hidden" name="${status.expression}" id="allowAdvancedPurchsHidden" value="${advPurchVal}">
		<label class="checkboxLabel switch " for="allowAdvancedPurchsHidden">
			<a href="#" id="allowAdvancedPurchs" class="checkBox #if(${advPurchVal} == "true")checked#end">&nbsp;</a>
			#springMessage('label.settings.rates.profile.form.enableAdvPurchase')
		</label><br>
		
		#springBind("rateRateProfileEditForm.wrappedObject.useRateBlending")##
		#if(${status.value} && ${status.value} != "")##
			#set($blendingVal = ${status.value})##
		#else##
			#set($blendingVal = "false")##
		#end##
		<input type="hidden" name="${status.expression}" id="rateBlendingHidden" value="${blendingVal}">
		<label class="checkboxLabel switch " for="rateBlendingHidden">
			<a href="#" id="rateBlending" class="checkBox #if(${blendingVal} == "true")checked#end">&nbsp;</a>
			#springMessage('label.settings.rates.profile.form.enableRateBlending')
		</label><br>
		
		#springBind("rateRateProfileEditForm.wrappedObject.useOverride")##
		#if(${status.value} && ${status.value} != "")##
			#set($overrideVal = ${status.value})##
		#else##
			#set($overrideVal = "false")##
		#end##
		<input type="hidden" name="${status.expression}" id="rateOverideHidden" value="${overrideVal}">
		<label class="checkboxLabel switch " for="rateOverideHidden">
			<a href="#" id="rateOveride" class="checkBox #if(${overrideVal} == "true")checked#end">&nbsp;</a>
			#springMessage('label.settings.rates.profile.form.overrideRates')
		</label>
	</section>
	<section id="rateEditBtns" class="btnSet hide groupBoxBody">
		<a href="#" title="#springMessage('button.save')" class="linkButtonFtr textButton save">#springMessage('button.save')</a>
		<a href="#" title="#springMessage('button.delete')" class="linkButton textButton delete">#springMessage('button.delete')</a>
		<a href="#" title="#springMessage('button.cancel')" class="linkButton textButton cancel">#springMessage('button.cancel')</a>
	</section>
</form>
</section>

#if(${params.addForm} != "true")
<section id="rateRateProfileDetails" class="column-7-3">
#else
<section id="rateRateProfileDetails" class="column-7-3 hide">
#end
	<section class="col1">
		<dl class="details">
			<dt class="detailLabel">#springMessage('label.rate'):</dt>
			<dd class="detailValue">$!{rateName}</dd>
		#if(${isSchedule})
			<dt class="detailLabel">#springMessage('label.settings.rates.profile.scheduledFor'):</dt>
			#set($tempStartDate = $date.toDate('MM/dd/yyyy', $startDate))
			#set($tempEndDate = $date.toDate('MM/dd/yyyy', $endDate))
			<dd class="detailValue">$date.format('MMM dd, yyyy', $tempStartDate) ${startTime} #springMessage('label.to') 
				#if($startDate != $endDate)$date.format('MMM dd, yyyy', $tempEndDate)#end ${endTime}</dd>
		#else
			<dt class="detailLabel">#springMessage('label.settings.rates.profile.reOccuringOn'):</dt>
			<dd class="detailValue reOccur">
				<span #if($sunVal == "false")class="note"#end>S</span>
				<span #if($monVal == "false")class="note"#end>M</span>
				<span #if($tueVal == "false")class="note"#end>T</span>
				<span #if($wedVal == "false")class="note"#end>W</span>
				<span #if($thrVal == "false")class="note"#end>T</span>
				<span #if($friVal == "false")class="note"#end>F</span>
				<span #if($satVal == "false")class="note"#end>S</span>
			</dd>
			<dt class="detailLabel">#springMessage('label.coupon.available.for'):</dt>
			<dd class="detailValue">${startTime} #springMessage('label.to') ${endTime}</dd>
		#end
		#if($useXpry && $useXpry == "true")
			<dt class="detailLabel">#springMessage('label.settings.rates.profile.expiresAt'):</dt>
			<dd class="detailValue">$xpryDays["${xpryDay}"] ${expTime}</dd>
		#end
		</dl>
	</section>
	<section class="col2">
		<dl class="details">
			<dt class="detailLabel">#springMessage('label.settings.rates.profile.enableAdvPurchase'):</dt>
			<dd class="detailValue">#if(${advPurchVal} == "true")#springMessage('label.enabled')#else#springMessage('label.disabled')#end</dd>
			<dt class="detailLabel">#springMessage('label.settings.rates.profile.enableRateBlending'):</dt>
			<dd class="detailValue">#if(${blendingVal} == "true")#springMessage('label.enabled')#else#springMessage('label.disabled')#end</dd>
			<dt class="detailLabel">#springMessage('label.settings.rates.profile.overrideRates'):</dt>
			<dd class="detailValue">#if(${overrideVal} == "true")#springMessage('label.enabled')#else#springMessage('label.disabled')#end</dd>
		</dl>
	</section>
	<section id="rateViewBtns" class="btnSet groupBoxBody">
		<a href="#" title="#springMessage('button.close')" class="linkButton textButton close">#springMessage('button.close')</a>
	</section>
</section>
##
<section id="rateViewMenuButton" class="hide">
<a title="#springMessage('label.menu')" class="hdrButtonIcn dialogHdrIcn widget menu" href="#" id="opBtn_rateRateProfile"><img width="18" height="1" border="0" src="${imgLocal}spacer.gif" alt="#springMessage('label.menu')" title="#springMessage('label.menu')"></a>
</section>
##
<section id="menu_rateRateProfile" class="ddMenu" style="">
	<img src="${imgLocal}icn_ddMenuArrow.png" class="point" width="25" height="13" border="0" />
	<section class="menuOptions innerBorder">
		<a href="#" class="edit btnEditRate" title="#springMessage('button.edit')">#springMessage('button.edit')</a>
		<a href="#" class="delete btnDeleteRate" title="#springMessage('button.delete')">#springMessage('button.delete')</a>
	</section>
</section>
