#* velocity document *#
##
<section class="column-5-5">
	<h3 class="detailList">
		#springMessage('label.settings.details')
	</h3>
	<dl class="details col1 left">
		<dt id="detailRateNameLabel" class="detailLabel">#springMessage('label.settings.rates.rateName'):</dt> 
		<dd id="detailRateName" class="detailValue"></dd>
		<dt id="detailRateAmountLabel" class="detailLabel">#springMessage('label.settings.rates.rateAmount'):</dt> 
		<dd id="detailRateAmount" class="detailValue"></dd>
		<dt id="detailINC-minPaymentLabel" class="detailLabel">#springMessage('label.settings.rates.minimumPayment'):</dt> 
		<dd id="detailINC-minPayment" class="detailValue"></dd>
		<dt id="detailINC-maxPaymentLabel" class="detailLabel">#springMessage('label.settings.rates.maximumPayment'):</dt> 
		<dd id="detailINC-maxPayment" class="detailValue"></dd>
	<section id="detailFlatRate">
		<dt id="detailINC-flatRateAmountLabel" class="detailLabel">#springMessage('label.settings.rates.flatRateAmount'):</dt> 
		<dd id="detailINC-flatRateAmount" class="detailValue"></dd>
		<dt id="detailINC-startTimeLabel" class="detailLabel">#springMessage('label.settings.rates.startTime'):</dt> 
		<dd id="detailINC-startTime" class="detailValue"></dd>
		<dt id="detailINC-endTimeLabel" class="detailLabel">#springMessage('label.settings.rates.endTime'):</dt> 
		<dd id="detailINC-endTime" class="detailValue"></dd>
	</section>
	</dl>
	<dl class="details col2 left">
		<dt id="detailRateTypeLabel" class="detailLabel">#springMessage('label.settings.rates.rateType'):</dt>
		<dd id="detailRateType" class="detailValue"></dd>
		<dt id="detailPaymentTypesLabel" class="detailLabel">#springMessage('label.settings.rates.paymentTypeAccepted'):</dt>
		<dd id="detailPaymentTypes" class="detailValue"></dd>
	</dl>
	<section id="cardIncrementalArea">
	<h3 class="detailList">#springMessage('label.settings.rates.cardIncrements')</h3>
	<section id="detailuseLastIncremental" class="details">#springMessage('label.settings.rates.useLastIncrement')</section>
	<ol id="detailCardIncremental" class="details">
	</ol>
	</section>
	<section id="detailsAdTime">
	<h3 class="detailList">#springMessage('label.settings.rates.addTime')</h3>
	<dl class="details col2 left">
		<dt id="detailAddTimeTypesLabel" class="detailLabel">#springMessage('label.settings.rates.addTimeFormats'):</dt>
		<dd id="detailAddTimeTypes" class="detailValue"></dd>
	</dl>
	</section>
</section>
