#* velocity document *#
<ul id="rateList" class="menuList menuButtonList setMaxHeight clickable pageItems scrollToTop">
	<li class="loadItem" style="display: none;">#parse("${dirPrefix}include/loading.vm")</li>
</ul>

<span id="rateListTemplate" style="display: none;">
	<li id="rt_[%= randomRateId %]">
		<section>
			<span>[%= name %] ([%= rateTypeName %])</span><br>
			<span>[%= rateValue %]</span>
		</section>
	#if($authtools.allow('customer.ratesManage'))##
		<a id="opBtn_[%= randomRateId %]" title="#springMessage('label.optionMenu')" class="menuListButton menu" href="#"><img width="18" height="1" title="#springMessage('label.optionMenu')" src="${imgLocal}spacer.gif" border="0"></a>
	#end##
	</li>
	<section id="menu_[%= randomRateId %]" class="ddMenu optionMenu">
		<img class="point" width="25" height="13" border="0" src="${imgLocal}icn_ddMenuArrow.png">
		<section id="menuBtn_[%= randomRateId %]" class="menuOptions innerBorder">
			<a id="edit_[%= randomRateId %]" class="edit btnEditRoute" title="#springMessage('button.edit')" href="#">#springMessage('button.edit')</a>
			<a id="delete_[%= randomRateId %]" class="delete btnDeleteRoute" title="#springMessage('button.delete')" href="#">#springMessage('button.delete')</a>
		</section>
	</section>
</span>