#* velocity document *#
#springBind("rateRateProfileScheduleForm.*")##
<form id="rescheduleRateForm" name="rateScheduleForm" method="post" action="/">
	<input type="hidden" name="sessionToken" value="$!{sessionToken}"/>
	#springBind("rateRateProfileScheduleForm.postToken")##
	<input type="hidden" id="rateSchedulePostToken" name="${status.expression}" value="$!{rateRateProfileScheduleForm.initToken}"/>
	
	#springBind("rateRateProfileScheduleForm.wrappedObject.rateRateProfileRandomId")##
	<input type="hidden" name="${status.expression}" value="$!{status.value}"/>
	
	#springBind("rateRateProfileScheduleForm.wrappedObject.rateProfileRandomId")##
	<input type="hidden" name="${status.expression}" value="$!{status.value}"/>
	
	#springBind("rateRateProfileScheduleForm.wrappedObject.availabilityStartDate")##
	<input type="hidden" name="${status.expression}" value="$!{status.value}"/>
	#springBind("rateRateProfileScheduleForm.wrappedObject.availabilityStartTime")##
	<input type="hidden" name="${status.expression}" value="$!{status.value}"/>
	
	#springBind("rateRateProfileScheduleForm.wrappedObject.availabilityEndDate")##
	<input type="hidden" name="${status.expression}" value="$!{status.value}"/>
	#springBind("rateRateProfileScheduleForm.wrappedObject.availabilityEndTime")##
	<input type="hidden" name="${status.expression}" value="$!{status.value}"/>
	
	#springBind("rateRateProfileScheduleForm.wrappedObject.useScheduled")##
	<input type="hidden" name="${status.expression}" value="$!{status.value}"/>
	
	#springBind("rateRateProfileScheduleForm.wrappedObject.useSunday")##
	<input type="hidden" name="${status.expression}" value="$!{status.value}"/>
	#springBind("rateRateProfileScheduleForm.wrappedObject.useMonday")##
	<input type="hidden" name="${status.expression}" value="$!{status.value}"/>
	#springBind("rateRateProfileScheduleForm.wrappedObject.useTuesday")##
	<input type="hidden" name="${status.expression}" value="$!{status.value}"/>
	#springBind("rateRateProfileScheduleForm.wrappedObject.useWednesday")##
	<input type="hidden" name="${status.expression}" value="$!{status.value}"/>
	#springBind("rateRateProfileScheduleForm.wrappedObject.useThursday")##
	<input type="hidden" name="${status.expression}" value="$!{status.value}"/>
	#springBind("rateRateProfileScheduleForm.wrappedObject.useFriday")##
	<input type="hidden" name="${status.expression}" value="$!{status.value}"/>
	#springBind("rateRateProfileScheduleForm.wrappedObject.useSaturday")##
	<input type="hidden" name="${status.expression}" value="$!{status.value}"/>
</form>