#* velocity document *#
#set($roleTypesList = ["", "", "#springMessage('label.parent')", "#springMessage('label.child')"])
#if($roleSettingInfo.size())##
#foreach($role in $roleSettingInfo)##
	<li id="role_$role.randomizedRoleId" class="#if($role.isLocked)lockedRole#end #*actv-${role.isEnabled}*#">##Commenting out Role Satus as not required at this time.
		<span>${role.roleName}##		
		#if($sec.principal.isParent)(<em>${roleTypesList[${role.customerTypeId}]}</em>)#elseif(${role.isFromParent})(<em>${role.customerName}</em>)#end</span>
	#if($authtools.allow('roles.manage'))##
		#if(!$role.isLocked)
			<a id="opBtn_$role.randomizedRoleId" title="#springMessage('label.optionMenu')" class="menuListButton menu" href="#"><img width="18" height="1" title="#springMessage('label.optionMenu')" src="${imgLocal}spacer.gif" border="0"></a>
		#end
	</li>
		<section id="menu_$role.randomizedRoleId" class="ddMenu optionMenu">
			<img src="${imgLocal}icn_ddMenuArrow.png" class="point" width="25" height="13" border="0" />
		#if(!$role.isLocked)
			<section id="menuButton_$role.randomizedRoleId" class="menuOptions innerBorder">
				<a href="#" id="edit_$role.randomizedRoleId" class="edit" title="#springMessage('button.edit')">#springMessage('button.edit')</a>
				<a href="#" id="delete_$role.randomizedRoleId" class="delete" title="#springMessage('button.delete')">#springMessage('button.delete')</a>
			</section>
		#end	
		</section>
	#end##
#end##
#else##
	<li class="alignCenter notclickable"><span class="textLine">#springMessage('alert.noRolesMsg')</span></li>
#end##
