#* velocity document *#
#if(!$setupFile || $setupFile != "true")
	#parse( "/WEB-INF/templates/include/setup.vm" )##
#end
##
## DEFINE SORT OPTIONS HERE
#set($sortType = "$!{params.sort}")##
#set($sortDir = "$!{params.dir}")##
#set($slctdItem = "$!{params.curItem}")##
##
#if($sortType == "type")##
	#set($curName = false)##
	#set($curType = true)##
#else##
	#set($curName = true)##
	#set($curType = false)##
	#if($sortType == "")#set($sortType = "routeName")#end
#end##
##
#if($sortDir == "desc")##
	#set($nextDir = "asc")##
	#set($sortDirIcn = "ArwUp")##
	#set($sortTooltip = "#springMessage('label.sorting.ascendingMsg')")##	
#else##
	#set($nextDir = "desc")##
	#set($sortDirIcn = "ArwDown")##
	#set($sortTooltip = "#springMessage('label.sorting.descendingMsg')")##
	#if($sortDir == "")#set($sortDir = "asc")#end
#end##
##
<ul id="routeListHeader" class="menuList column-5-4-1 scrollingListHeader">
	<li class="listHeader column-5-4-1">
	#if($curName == true)##
		<div class="col1 sort current" sort="routeName:${nextDir}" tooltip="#springMessage('label.name') : ${sortTooltip}"><p>#springMessage('label.name') <img src="${imgLocal}icn_${sortDirIcn}.png" class="sortIcn" alt="" /></p></div>
	#else##
		<div class="col1 sort #if($curType != true)current#end" sort="routeName:asc" tooltip="#springMessage('label.name') : #springMessage('label.sorting.ascendingMsg')"><p>#springMessage('label.name') <img src="${imgLocal}icn_ArwDown.png" class="sortIcn" alt="" /></p></div>
	#end##
	#if($curType == true)##
		<div class="col2 sort current" sort="type:${nextDir}" tooltip="#springMessage('label.type') : ${sortTooltip}"><p>#springMessage('label.type') <img src="${imgLocal}icn_${sortDirIcn}.png" class="sortIcn" alt="" /></p></div>
	#else##
		<div class="col2 sort" sort="type:asc" tooltip="#springMessage('label.type') : #springMessage('label.sorting.ascendingMsg')"><p>#springMessage('label.type') <img src="${imgLocal}icn_ArwDown.png" class="sortIcn" alt="" /></p></div>
	#end##
	</li>
</ul>
<ul id="routeList" class="menuList menuButtonList setMaxHeight column-5-4-1 scrollingList clickable pageItems scrollToTop">
#foreach($route in $sorter.sort($routeList, ["${sortType}:${sortDir}"]))##
	#parse("${dirPrefix}settings/include/routeListItem.vm")
#end##
</ul>