#* velocity document *#
#if(!$setupFile || $setupFile != "true")
	#parse( "/WEB-INF/templates/include/setup.vm" )##
#end
##
## DEFINE SORT OPTIONS HERE
#set($sortType = "$!{params.sort}")##
#set($sortDir = "$!{params.dir}")##
#set($slctdItem = "$!{params.curItem}")##
##
#if($sortType == "type")##
	#set($curName = false)##
	#set($curType = true)##
#else##
	#set($curName = true)##
	#set($curType = false)##
	#if($sortType == "")#set($sortType = "name")#end
#end##
##
#if($sortDir == "desc")##
	#set($nextDir = "asc")##
	#set($sortDirIcn = "ArwUp")##
	#set($sortTooltip = "#springMessage('label.sorting.ascendingMsg')")##	
#else##
	#set($nextDir = "desc")##
	#set($sortDirIcn = "ArwDown")##
	#set($sortTooltip = "#springMessage('label.sorting.descendingMsg')")##
	#if($sortDir == "")#set($sortDir = "asc")#end
#end##
##
<ul id="alertListHeader" class="menuList column-5-4-1 scrollingListHeader">
	<li class="listHeader column-5-4-1">
	#if($curName == true)##
		<div class="col1 sort current" sort="name:${nextDir}" tooltip="#springMessage('label.name') : ${sortTooltip}"><p>#springMessage('label.name') <img src="${imgLocal}icn_${sortDirIcn}.png" class="sortIcn" alt="" /></p></div>
	#else##
		 <div class="col1 sort #if($curType != true)current" sort="name:desc"#else " sort="name:asc"#end tooltip="#springMessage('label.name') : #springMessage('label.sorting.ascendingMsg')"><p>#springMessage('label.name') <img src="${imgLocal}icn_ArwDown.png" class="sortIcn" alt="" /></p></div>
	#end##
	#if($curType == true)##
		<div class="col2 sort current" sort="type:${nextDir}" tooltip="#springMessage('label.settings.alerts.threshold') : ${sortTooltip}"><p>#springMessage('label.settings.alerts.threshold') <img src="${imgLocal}icn_${sortDirIcn}.png" class="sortIcn" alt="" /></p></div>
	#else##
		<div class="col2 sort" sort="type:asc" tooltip="#springMessage('label.settings.alerts.threshold') : #springMessage('label.sorting.ascendingMsg')"><p>#springMessage('label.settings.alerts.threshold') <img src="${imgLocal}icn_ArwDown.png" class="sortIcn" alt="" /></p></div>
	#end##
	</li>
</ul>
<ul id="alertList" class="menuList menuButtonList setMaxHeight alerts tabularList column-5-4-1 scrollingList clickable pageItems scrollToTop">
#if($alertSettingListInfo.size() > 0)##
	#foreach($alert in $sorter.sort($alertSettingListInfo, ["${sortType}:${sortDir}"]))##
		#parse("${dirPrefix}settings/include/alertListItem.vm")
	#end##
#else##
	<li class="alignCenter">#springMessage('label.settings.alerts.noAlerts')</li>
#end##
</ul>
