<section id="timeZone" class="clear">
	<h3>#springMessage('label.settings.globalPref.timeZone'):</h3>
	
	<div id="timeZoneView" class="details"><span id="curTimeZone" tooltip="$!{GlobalConfiguration.timeZone}">$!{GlobalConfiguration.timeZone}</span>
	<a id="btnEditTimeZone" href="#" class="linkButtonIcn edit" title="#springMessage('button.edit')"><img width="19" height="1" border="0" title="#springMessage('button.edit')" alt="#springMessage('button.edit')" src="${imgLocal}spacer.gif" border="0"></a>
	</div>
	
	<div id="timeZoneEdit" class="details">
		#springBind("globalPreferencesEditForm.wrappedObject.currentTimeZone")##
		<section class="inputWithButton left">
			<input type="hidden" id="selectTimeZoneVal" name="${status.expression}" value="$!GlobalConfiguration.timeZone">
			<input id="selectTimeZone" type="text" name="selectTimeZoneDisplay" autocomplete="off" class="autoText detailValue flatRight" placeholder="#springMessage('label.choose')" />
			<a href="#" id="selectTimeZoneExpand" class="linkButtonIcn selectMenu flatLeft" title="#springMessage('button.showOptions')"><img width="18" height="1" title="arrow" alt="arrow" src="${imgLocal}spacer.gif" border="0"></a>
		</section>
		
		<span id="selectTimeZoneData" style="display: none;">
			[
			{ "label": "#springMessage('label.choose')", "value": "-1" }
		#foreach($zone in $GlobalConfiguration.timeZones)
			,{ "label": "$zone.name", "value": "$zone.name" }
		#end
			]
		</span>
		
		<a id="btnCancelTimeZone" href="#" class="linkButtonIcn cancel right" title="#springMessage('button.cancel')"><img width="19" height="1" title="#springMessage('button.cancel')" alt="#springMessage('button.cancel')" src="${imgLocal}spacer.gif" border="0"></a>
		<a id="btnSaveTimeZone" href="#" class="linkButtonIcn Ftr save right" title="#springMessage('button.save')"><img width="19" height="1" title="#springMessage('button.save')" alt="#springMessage('button.save')" src="${imgLocal}spacer.gif" border="0"></a>
	</div>
</section>