<section id="PaystationPlacement" class="layout5 layout sectionContent">
	<section class="column first">
		<section id="map" class="mapHolder groupBox setHeight">
		</section>
		<section id="NoPaystationPlacement" class="groupBox setHeight">
			<section class="notation">#springMessage('alert.settings.locations.payStationPlacement.noPayStationPlacementMsg')</section>
		</section>
	</section>
	<section class="column second"><form><input id="pinedLat" type="hidden" value=""><input id="pinedLong" type="hidden" value=""><input id="pinedAltitude" type="hidden" value=""></form>
		<section id="payStationListArea" class="groupBox menuBox paystationList setHeight balanceLists">
			<header>
				<h2>#springMessage('label.payStations')</h2>
			</header>
			#parse("${dirPrefix}include/paystationFilter.vm")
			#set($childTree = "false")
			<ul id="unplacedListArea" class="setSharedHeight">
				<li class="listHeader">
					<div class="current notclickable">#springMessage('label.settings.locations.paystationPlacement.unplacedPayStations')</div>
				</li>
				<li>	
					<ul id="unplacedList" class="scrollingList menuButtonList">
					<span id="unplacedListItems">
						<li>#parse("${dirPrefix}include/loading.vm")</li>
					</span>
					</ul>
				</li>
			</ul>

			
			<ul id="placedListArea" class="setSharedHeight">
				<li class="listHeader">
					<div class="current notclickable">#springMessage('label.settings.locations.paystationPlacement.placedPayStations')</div>
				</li>
				<li>
					<ul id="placedList" class="scrollingList menuButtonList">
					<span id="placedListItems">
						<li>#parse("${dirPrefix}include/loading.vm")</li>
					</span>
					</ul>
				</li>
			</ul>
		</section>
	</section>
</section>