#* velocity document *#
##
#parse( "/WEB-INF/templates/include/setup.vm" )
##
#set($helpLink = "#springMessage('help.link.Reporting')")##
#set($homeLink = "/systemAdmin/index.html${qString}")##
##
#set($siteArea = "sysAdmin")##
#set($pageSec = "reporting")##
#set($qString = "${qString}")##
##
<!DOCTYPE html>
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->


##
<head>
	<title>#springMessage('label.siteName') - #springMessage('heading.SysAdmin') - #springMessage('link.nav.reporting')</title>
#parse( "${dirPrefix}include/head.vm" )
##
<link rel="stylesheet" type="text/css" media="all" href="${styleLocal}reporting.css${staticQuerry}">
##
</head>
##
<body id="settings">
##
#parse( "${dirPrefix}include/generalHead.vm" )
##
<section id="content">
##
#parse( "${dirPrefix}/systemAdmin/include/mainNav.vm" )

	<section id="mainContent">
##
#set($crntSection = "#springMessage('link.nav.reporting.Form')")##
#set($sectionTitle = "#springMessage('link.nav.reporting')")##
##
<section id="sectionTitle">
	<h1>$sectionTitle</h1>
</section>
##
#parse( "${dirPrefix}include/reporting/form.vm" )
	</section>
	<hr>
</section>##
#parse( "${dirPrefix}include/footer.vm" )
##
#parse("${dirPrefix}include/alertMsg.vm")##
## 
<script type="text/javascript" language="javascript">##
#parse("${dirPrefix}include/sessionActivityVar.vm")##
#parse("${dirPrefix}include/reporting/constants.vm")##
##
var LOC = [];##
LOC["prepareReportDefinitionForm"] = "/systemAdmin/reporting/formReport.html";##
LOC["saveReportDefinition"] = "/systemAdmin/reporting/saveReport.html";##
LOC["viewReportList"] = "/systemAdmin/reporting/index.html";##
LOC["getOrganizationFilters"] = "/systemAdmin/reporting/getOrganizationFilters.html";##
LOC["searchConsumers"] = "/systemAdmin/reporting/searchConsumers.html";##
##
var customerOffset = ${sec.principal.customerTimeZoneOffset};##
##
##
$(document).ready(function(){ standard(); reportingForm(); sessionActvty(); });</script>
<script type="text/javascript" language="javascript" src="${scriptLocal}reporting.js${staticQuerry}"></script>
<script type="text/javascript" language="javascript" src="${scriptLocal}jquery.ui.autoselector.js${staticQuerry}"></script>
<script type="text/javascript" language="javascript" src="${scriptLocal}jquery.ui.autominutes.js${staticQuerry}"></script>
<script type="text/javascript" language="javascript" src="${scriptLocal}jquery.ui.automonths.js${staticQuerry}"></script>
<script type="text/javascript" language="javascript" src="${scriptLocal}jquery.ui.autoyears.js${staticQuerry}"></script>
<script type="text/javascript" language="javascript" src="${scriptLocal}jquery.ui.treepicker.js${staticQuerry}"></script>
##
</body>
</html>