#* velocity document *#
##
#parse( "/WEB-INF/templates/include/setup.vm" )##
##
#set($helpLink = "#springMessage('help.link.SystemAdmin.UserAdmin')")##
#set($homeLink = "/systemAdmin/index.html${qString}")##
#set($siteArea = "sysAdmin")##
#set($pageSec = "userAdmin")##
##
<!DOCTYPE html>
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->


##
<head>
	<title>#springMessage('label.siteName') - #springMessage('heading.SysAdmin') - #springMessage('link.nav.sysAdmin.userAdmin') : #springMessage('link.nav.sysAdmin.userAdmin.users')</title>
#parse( "${dirPrefix}include/head.vm" )
##
<link rel="stylesheet" type="text/css" media="all" href="${styleLocal}settings.css${staticQuerry}">
##
</head>
##
<body id="sysAdminUserAccount">
##
#parse( "${dirPrefix}include/generalHead.vm" )
##
<section id="content">
##
#parse( "${dirPrefix}/systemAdmin/include/mainNav.vm" )
##
	<section id="mainContent">
##
#set($crntSection = "#springMessage('link.nav.sysAdmin.userAdmin.users')")
#set($crntPage = "#springMessage('link.nav.sysAdmin.userAdmin.users')")
#set($sectionTitle = "#springMessage('link.nav.sysAdmin.userAdmin')")
#parse( "${dirPrefix}systemAdmin/adminUserAccount/include/navSetup.vm" )
#parse( "${dirPrefix}include/sectionNav.vm" )
##
<section id="DefinedUsers" class="layout4 layout sectionContent">
			<section class="column first">
				## <!-- #locationList ++++++++++++++++++++++++++++++++++++++++ -->
				<section class="groupBox menuBox userList">
					<header>
						<h2>#springMessage('label.sysAdmin.adminUserAccount.users')</h2>
				#if($authtools.allow('users.manage'))##
						<a id="btnAddUser" href="#" class="hdrButtonIcn add" title="#springMessage('button.add')"><img width="18" height="1" title="#springMessage('button.add')" alt="#springMessage('button.add')" src="${imgLocal}spacer.gif" border="0"></a>
				#end##
					</header>
					#parse("${dirPrefix}settings/include/userFilter.vm")
					<ul id="userList" class="menuList menuButtonList setMaxHeight users clickable pageItems">
					#parse("${dirPrefix}settings/include/userList.vm")
					</ul>
				</section>
				## <!-- /#locationList -->
			</section>
##
			<section class="column second"><input type="hidden" id="contentID" name="contentID" value="">
				<section id="userDetails" class="groupBox mainContent">
				#if($authtools.allow('users.manage'))##
					<section id="menu_pageContent" class="ddMenu">
						<img src="${imgLocal}icn_ddMenuArrow.png" class="point" width="25" height="13" border="0" />
						<section class="menuOptions innerBorder">
							<a href="#" class="edit btnEditLocation" title="#springMessage('button.edit')">#springMessage('button.edit')</a>
							<a href="#" class="delete btnDeleteLocation" title="#springMessage('button.delete')">#springMessage('button.delete')</a>
						</section>
					</section>
				#end##
					<header>
						<h2 id="userDispName"></h2>
						<h2 id="editHeading">#springArgMessage('button.editItem', ["#springMessage('label.user')"])</h2>
						<h2 id="addHeading">#springArgMessage('button.addItem', ["#springMessage('label.user')"])</h2>
				#if($authtools.allow('users.manage'))##
						<a id="opBtn_pageContent" title="#springMessage('label.optionMenu')" class="hdrButtonIcn menu" href="#"><img width="18" height="1" title="#springMessage('label.optionMenu')" src="${imgLocal}spacer.gif" border="0"></a>
				#end##
					</header>
					<article id="userView" class="groupBoxBody viewBox">
						#parse("${dirPrefix}settings/include/userView.vm")
					</article>
					
					<article id="userForm" class="groupBoxBody column-7-3 editBox">
						#parse("${dirPrefix}settings/include/userForm.vm")
					</article>
				</section>
				
				
			</section>
		</section>
	</section>
	<hr>
</section>##
##
#parse( "${dirPrefix}include/footer.vm" )
##
#parse("${dirPrefix}include/alertMsg.vm")##
##
<script type="text/javascript" language="javascript">#parse("${dirPrefix}include/sessionActivityVar.vm")##
##
#parse( "${dirPrefix}include/standardJSMessages.vm" )##
var LOC = [];##
LOC["saveUser"] = "/systemAdmin/adminUserAccount/saveUser.html";##
LOC["loadUser"] = "/systemAdmin/adminUserAccount/viewUserDetails.html";##
LOC["deleteUser"] = "/systemAdmin/adminUserAccount/deleteUser.html";##
LOC["roleList"] = "/systemAdmin/adminUserAccount/form.html";##
var userStatusEnabledMsg = "#springMessage('label.enabled')";##
var userStatusDisabledMsg = "#springMessage('label.disabled')";##
#set($itemName = "#springMessage('label.user')")##
var deleteUserMsg = "#springArgMessage('alert.form.deleteConfirmMsg', [${itemName}])";##
var userSavedMsg = "#springArgMessage('alert.form.savedMsg', [${itemName}])";##
var userDeleteMsg = "#springArgMessage('alert.form.deleteMsg', [${itemName}])";##
##
$(document).ready(function(){ standard(); users("$!{params.itemID}","$!{params.pgActn}"); passWord(); sessionActvty(); soh(["userList"]);##
#if(${params.filterValue})updateFilter("$!esc.javascript($!{params.filterValue})");#end });</script>
<script type="text/javascript" language="javascript" src="${scriptLocal}systemAccount.js${staticQuerry}"></script>
<script type="text/javascript" language="javascript" src="${scriptLocal}login.js${staticQuerry}"></script>

##
</body>
</html>