#* velocity document *#
##
#parse( "/WEB-INF/templates/include/setup.vm" )
##
#set($helpLink = "#springMessage('help.link.Dashboard')")##
##
#set($pageSec = "dashboard")##
##
<!DOCTYPE html>
<html lang="en">

<head>
	<title>#springMessage('label.siteName') - #springMessage('heading.dashboard')</title>
#parse( "${dirPrefix}include/head.vm" )
##
<link rel="stylesheet" href="${styleLocal}leaflet.css" />
<script src="${mappingURL}osm/leaflet/dist/leaflet.js"></script>
<!--[if lte IE 8]><link rel="stylesheet" href="${styleLocal}MarkerCluster.Default.ie.css" /><![endif]-->
<script src="${mappingURL}osm/leaflet/dist/leaflet.markercluster-src.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="${styleLocal}dashboard.css">
<link rel="stylesheet" type="text/css" media="print" href="${styleLocal}dashboardPrint.css">

</head>

<body id="dashboardPage">

#parse( "${dirPrefix}include/generalHead.vm" )
##

#if(!$notifications.isEmpty())##
	#parse("${dirPrefix}include/userNotify.vm")##
#end##

<section id="content">
##
#parse( "${dirPrefix}include/mainNav.vm" )##
##
	<section id="mainContent">

		<section id="sectionTitle">
			<h1>Welcome</h1>
		</section>

<section id="dashboard">
	<section class="layout1 layout sectionContent">
			<section class="column first"><br>
				<article style="text-align: center;">Welcome to the Digital Payment Technologies Partner Development Environment<br>
				Documentation and integration assistance may be obtained by sending your request to <a href="mailto:partner.support@digitalpaytech.com">partner.support@digitalpaytech.com</a>
			</section>
	</section>
		
	<hr>
</section>

#parse( "${dirPrefix}include/footer.vm" )

##

#parse("${dirPrefix}include/alertMsg.vm")##
## 
<script type="text/javascript" language="javascript">##
#parse("${dirPrefix}include/sessionActivityVar.vm")##
#parse( "${dirPrefix}include/standardJSMessages.vm" )##
##
##
$(document).ready(function(){ standard(); sessionActvty(); #if($userNotification == true)userNotification();#{end}});##
</script> 
##$field.in("com.digitalpaytech.util.WebSecurityConstants").PERMISSION_VIEW_ROUTES
</body></html>