#* velocity document *###
<section class="tooltipIcn chartSwitchAlert"><img src="${imgLocal}icn_AlertSm.png" width="25" height="22" border="0" alt="#springMessage('label.alert')" title="#springMessage('label.alert')" tooltipHTML="#springMessage('label.dashboard.widget.chartTypeSwitch')"></section>