#* velocity document *# ##>
##
#if(!$staticDir)#set($staticDir = $!{emsProperties.staticDir})#end##
#if(!$dirPrefix)#set($dirPrefix = "/WEB-INF/templates/")#end##
#if(!$imgLocal)#set($imgLocal = "$!{staticDir}/images/")#end##
##
#parse("${dirPrefix}dashboard/include/adWidget.vm")##
##
<section id="widgetID_${widget.randomId}" class="widgetObject">
	<section id="menu_${widget.randomId}" class="ddMenu">
		<img src="${imgLocal}icn_ddMenuArrow.png" class="point" width="25" height="13" border="0" />
		<section class="menuOptions innerBorder">
			<a href="#" class="xpndWdgt" title="#springMessage('button.maximizeChart')">#springMessage('button.maximizeChart')</a>
			<a href="#" class="svCSV saveWdgt" title="#springArgMessage('button.saveAs', [".CSV"])">#springArgMessage('button.saveAs', [".CSV"])</a>
			<a href="#" class="svPDF saveWdgt" title="#springArgMessage('button.saveAs', [".PDF"])">#springArgMessage('button.saveAs', [".PDF"])</a>
			<a href="#" class="print printWdgt" title="#springMessage('button.print')">#springMessage('button.print')</a>
			
		</section>
		<section class="editMenuOptions innerBorder">
			<a href="#" class="settings settingsWdgt" title="#springMessage('button.settings')">#springMessage('button.settings')</a>
			<a href="#" class="delete deleteWdgt" title="#springMessage('button.delete')">#springMessage('button.delete')</a>
		</section>
	</section>

	<section class="widget">
		<header>
			<span class="wdgtName">${widget.name}</span>
			<span class="move" title="Move"><img src="${imgLocal}spacer.gif" width="18" height="1" title="Move" border="0" /></span>
			<a href="#" class="hdrButtonIcn menu" id="opBtn_${widget.randomId}" title="#springMessage('label.optionMenu')"><img src="${imgLocal}spacer.gif" width="18" height="1" title="#springMessage('label.optionMenu')" border="0" /></a>
		</header>

		<section class="widgetContent" id="content_${widget.randomId}">
			#parse("${dirPrefix}include/loading.vm")
			<script type="text/javascript" language="javascript">$(document).ready(function(){ loadChart("${widget.randomId}"); });</script>
		</section>		
	</section>
	
	<section class="widgetData"></section>
</section>
##