#* velocity document *#
##
#parse( "/WEB-INF/templates/include/setup.vm" )
##
#set($helpLink = "#springMessage('help.link.SystemAdmin.Home')")##
#set($homeLink = "/systemAdmin/index.html${qString}")##
#set($siteArea = "sysAdmin")##
#set($pageSec = "sysAdmin")##
##
<!DOCTYPE html>
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
##
<head>
	<title>#springMessage('label.siteName') - #springMessage('heading.SysAdmin') - ${customerDetails.customer.name} : #springMessage('link.nav.reporting.CreateForm')</title>
	#parse( "${dirPrefix}include/head.vm" )
##
	<link rel="stylesheet" type="text/css" media="all" href="${styleLocal}settings.css${staticQuerry}">
	<link rel="stylesheet" type="text/css" media="all" href="${styleLocal}systemAdmin.css${staticQuerry}">
	<link rel="stylesheet" type="text/css" media="all" href="${styleLocal}reporting.css${staticQuerry}">
##
</head>
##
<body id="settings">
##
#parse( "${dirPrefix}include/generalHead.vm" )
##
	<section id="content">
##
#parse( "${dirPrefix}/systemAdmin/include/mainNav.vm" )##
#set($qString = "${qString}&customerID=${params.customerID}")##
##
	<section id="mainContent" class="sysAdminWorkSpace">
##
#set($crntSection = "#springMessage('link.nav.reporting')")
#if($customerDetails.customer.customerStatusType.id != 1)
#set($statusDisplay = "<span class='statusNote'>[ ${customerStatus[${customerDetails.customer.customerStatusType.id}]} ]</span>")##
#else##
#set($statusDisplay = "")##
#end##
#set($sectionTitle = "${customerDetails.customer.name} ${statusDisplay}")##
#set($workSpace = "true")##
#set($isParent = ${customerDetails.customer.isParent})##
#set($actionItem = "$!{params.posID}")##
#parse( "${dirPrefix}systemAdmin/workspace/include/navSetup.vm" )
#parse( "${dirPrefix}systemAdmin/workspace/include/subNavSetup.vm" )
#parse( "${dirPrefix}include/sectionNav.vm" )
#parse( "${dirPrefix}include/subSectionNav.vm" )
##
##
##
#parse( "${dirPrefix}include/reporting/form.vm" )
		</section>
	</section>
	<hr>
</section>##
#parse( "${dirPrefix}include/footer.vm" )
##
#parse("${dirPrefix}include/alertMsg.vm")##
## 
<script type="text/javascript" language="javascript">##
#parse("${dirPrefix}include/sessionActivityVar.vm")##
#parse("${dirPrefix}include/reporting/constants.vm")##
##
var LOC = [];##
LOC["prepareReportDefinitionForm"] = "/systemAdmin/workspace/reporting/formReport.html";##
LOC["saveReportDefinition"] = "/systemAdmin/workspace/reporting/saveReport.html";##
LOC["viewReportList"] = "/systemAdmin/workspace/reporting/index.html";##
LOC["getOrganizationFilters"] = "/systemAdmin/workspace/reporting/getOrganizationFilters.html";##
LOC["searchConsumers"] = "/systemAdmin/workspace/reporting/searchConsumers.html";##
##
var customerOffset = ${sec.principal.customerTimeZoneOffset};##
var customerMsg = "#springMessage('label.systemAdmin.Customer')";##
##
##
$(document).ready(function(){ standard(); reportingForm(); sessionActvty(); workspace(); });</script>
<script type="text/javascript" language="javascript" src="${scriptLocal}reporting.js${staticQuerry}"></script>
<script type="text/javascript" language="javascript" src="${scriptLocal}jquery.ui.autoselector.js${staticQuerry}"></script>
<script type="text/javascript" language="javascript" src="${scriptLocal}jquery.ui.autominutes.js${staticQuerry}"></script>
<script type="text/javascript" language="javascript" src="${scriptLocal}jquery.ui.automonths.js${staticQuerry}"></script>
<script type="text/javascript" language="javascript" src="${scriptLocal}jquery.ui.autoyears.js${staticQuerry}"></script>
<script type="text/javascript" language="javascript" src="${scriptLocal}jquery.ui.treepicker.js${staticQuerry}"></script>
<script type="text/javascript" language="javascript" src="${scriptLocal}systemAdmin/workspace.js${staticQuerry}"></script>
##
</body>
</html>