#* velocity document *#
<section class=" column-5-5">
	<section class="col1">
		<h3 class="detailList">
			#springMessage('label.settings.details')
		</h3>
		<dl class="details">
			<dt id="detailDeviceNameLabel" class="detailLabel">#springMessage('label.name'):</dt> 
			<dd id="detailDeviceName" class="detailValue"></dd>
			<dt id="detailDeviceIdLabel" class="detailLabel">#springMessage('label.settings.devices.deviceId'):</dt>
			<dd id="detailDeviceId" class="detailValue"></dd>
			<dt id="detailDeviceCurUserLabel" class="detailLabel curUserLine">#springMessage('label.settings.devices.currentUser'):</dt>
			<dd id="detailDeviceCurUser" class="detailValue curUserLine"></dd>
			<dt id="detailDeviceLastUserLabel" class="detailLabel lastUserLine">#springMessage('label.settings.devices.lastUsedBy'):</dt>
			<dd id="detailDeviceLastUser" class="detailValue lastUserLine"></dd>
			<dt id="detailDeviceDescriptionLabel" class="detailLabel deviceDescription">#springMessage('label.description'):</dt>
			<dd id="detailDeviceDescription" class="detailValue deviceDescription"></dd>
		</dl>
	</section>
	<section class="col2">
		<h3 class="detailList">
			#springMessage('label.settings.devices.activeLicenses')
		</h3>
		<ul id="assignedAppList" class="scrollingList menuButtonList notclickable"></ul>
	</section>
	
	<br clear="all" />

	<h3 class="detailList">#springMessage('label.settings.devices.deviceHistory')</h3>
	
	<ul id="deviceActivityLogListHeader" class="scrollingListHeader column-4-4-2">
		<li>
			<div class="col1 clickable sort" name="sort_username" sort="username:ASC" colTitle="#springMessage('label.recentActivity.user')" tooltip="#springMessage('label.recentActivity.user') : #springMessage('label.sorting.ascendingMsg')"><p>#springMessage('label.recentActivity.user') <img src="${imgLocal}icn_ArwDown.png" class="sortIcn" alt="sort" /></p></div>
			<div class="col2 notclickable"><p>#springMessage('label.recentActivity.logMessage')</p></div>
			<div class="col3 current clickable sort" name="sort_date" sort="date:ASC" colTitle="#springMessage('label.dateTime')" tooltip="#springMessage('label.dateTime') : #springMessage('label.sorting.ascendingMsg')"><p>#springMessage('label.dateTime') <img src="${imgLocal}icn_ArwUp.png" class="sortIcn" alt="sort" /></p></div>
		</li>
	</ul>
	#springBind("activityForm.*")##
	<form name="ActivityLogFilterForm" id="deviceActivityLogFilterForm">
		#springBind("activityForm.postToken")##
		<input type="hidden" name="postToken" id="postTokenActivity" value="${activityForm.initToken}"/>
	##	#springBind("activityForm.wrappedObject.randomId")##
		<input type="hidden" id="randomIdActivity" name="randomId" value=""/>
	</form>
	<ul id="deviceActivityLogList" class="setMaxHeight scrollingList column-4-4-2">
		<li class="loadItem" style="display: none;">#parse("${dirPrefix}include/loading.vm")</li>
	</ul>
	<section id="deviceActivityLogTemplate" class="hide">
		<li>
			<div class='col1'><p>[%= userName %]</p></div>
			<div class='col2'><p>[%= result %]</p></div>
			<div class='col3'><p>[%= time %]</p></div>
		</li>
	</span>
</section>