#* velocity document *#
##
<section id="DefinedDevices" class="layout4 layout sectionContent">
	<section class="column first">
## <!-- #deviceList ++++++++++++++++++++++++++++++++++++++++ -->
		<section class="groupBox menuBox deviceList">
			<header>
				<h2>#springMessage('label.settings.devices.mobileDevices')</h2>
			</header>
			#parse("${dirPrefix}settings/devices/include/deviceFilter.vm")
			#set($childTree = "false")
			#set($pageRequest = "locations")
			<ul id="deviceList" class="menuList menuButtonList setMaxHeight clickable pageItems">
				<li class="loadItem" style="display: none;">#parse("${dirPrefix}include/loading.vm")</li>
			</ul>
		</section>
		
		<section id="deviceListTemplate" class="hide">
			<li id="md_[%= randomId %]"><section class="[%= deviceInfo[statusId]['class'] %]">
			<span class="container">[%= (typeof name === "undefined" || name ==="")? "Unnamed Device" : name %]</span>
			<span class="deviceApp [%= deviceInfo[statusId]['class'] %]" title="[%= (typeof application === 'undefined')? status :(applicationCount > 1)? '#springMessage("label.multiple")' : application %]">
			[%= (typeof application === "undefined")? status : (applicationCount > 1) ? "#springMessage('label.multiple')" : application %]</span></section>
#if($authtools.allow('customer.mobileDevices.manage'))##
				<a id="opBtn_[%= randomId %]" title="#springMessage('label.optionMenu')" class="menuListButton menu" href="#"><img width="18" height="1" title="#springMessage('label.optionMenu')" src="${imgLocal}spacer.gif" border="0"></a>
#end##
			</li>
#if($authtools.allow('customer.mobileDevices.manage'))##
			<section id="menu_[%= randomId %]" class="ddMenu optionMenu">
				<img class="point" width="25" height="13" border="0" src="${imgLocal}icn_ddMenuArrow.png">
				<section id="menuOp_[%= randomId %]" class="menuOptions innerBorder">
					<a id="edit_[%= randomId %]" class="edit btnEditLocation" title="#springMessage('button.edit')" href="#">#springMessage('button.edit')</a>
					<a id="block_[%= randomId %]" class="block [%=  (statusId === 3)? 'btnUnBlkDevice' : 'btnBlkDevice' %]" title="[%=  (statusId === 3)? '#springMessage("button.settings.devices.unBlockDevice")' : '#springMessage("button.settings.devices.blockDevice")' %]" href="#">[%=  (statusId === 3)? "#springMessage('button.settings.devices.unBlockDevice')" : "#springMessage('button.settings.devices.blockDevice')" %]</a>
				</section>
			</section>	
#end##		
		</section>
## <!-- /#deviceList -->
	</section>
##
	<section class="column second"><input type="hidden" id="contentID" name="contentID" value="">
		<section id="deviceDetails" class="groupBox mainContent">
#if($authtools.allow('customer.mobileDevices.manage'))##
			<section id="menu_pageContent" class="ddMenu">
				<img src="${imgLocal}icn_ddMenuArrow.png" class="point" width="25" height="13" border="0" />
				<section class="menuOptions innerBorder">
					<a href="#" class="edit btnEditLocation" title="#springMessage('button.edit')">#springMessage('button.edit')</a>
					<a href="#" class="block btnBlkDevice" title="#springMessage('button.settings.devices.blockDevice')">#springMessage('button.settings.devices.blockDevice')</a>
					<a href="#" class="block btnUnBlkDevice" title="#springMessage('button.settings.devices.unBlockDevice')">#springMessage('button.settings.devices.unBlockDevice')</a>
				</section>
			</section>
#end##
			<header>
				<h2 id="deviceName">#springMessage('label.settings.devices.deviceName')</h2>
				<h2 id="editHeading">#springMessage('label.settings.devices.editDevice')</h2>
#if($authtools.allow('customer.mobileDevices.manage'))##
				<a id="opBtn_pageContent" title="#springMessage('label.optionMenu')" class="hdrButtonIcn menu" href="#"><img width="18" height="1" title="#springMessage('label.optionMenu')" src="${imgLocal}spacer.gif" border="0"></a>
#end##
			</header>
			## <!-- #map -->
			<section id="mapHolder"></section>
			## <!-- /#map -->					
			<article id="locationView" class="groupBoxBody column-5-5 viewBox">
				#parse("${dirPrefix}settings/devices/include/deviceView.vm")
			</article>
			<article id="locationForm" class="groupBoxBody column-5-5 editBox">
				#parse("${dirPrefix}settings/devices/include/deviceEditForm.vm")
			</article>
		</section>
	</section>
</section>