#* velocity document *#
##
#parse( "/WEB-INF/templates/include/setup.vm" )
##
#set($helpLink = "#springMessage('help.link.Accounts')")##
##
#set($pageSec = "accounts")##
##
<!DOCTYPE html>

<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->


##
<head>
	<title>#springMessage('label.siteName') - #springMessage('link.nav.accounts') : #springMessage('link.nav.accounts.consumers')</title>
#parse( "${dirPrefix}include/head.vm" )
##
<link rel="stylesheet" type="text/css" media="all" href="${styleLocal}accounts.css${staticQuerry}">
##
<script type="text/javascript" language="javascript">
#parse("${dirPrefix}include/sessionActivityVar.vm")
#parse("${dirPrefix}include/standardJSMessages.vm")
#parse("${dirPrefix}accounts/include/constants.vm")
</script>
##
<script type="text/javascript" src="${scriptLocal}jquery.ui.autominutes.js${staticQuerry}"></script>
<script type="text/javascript" src="${scriptLocal}jquery.ui.ajaxtab.js${staticQuerry}"></script>
<script type="text/javascript" src="${scriptLocal}jquery.ui.paginatetab.js${staticQuerry}"></script>
<script type="text/javascript" src="${scriptLocal}jquery.ui.shrinkable.js${staticQuerry}"></script>
##
<script type="text/javascript" src="${scriptLocal}accounts.js${staticQuerry}"></script>
##
<script type="text/javascript" language="javascript">
$(document).ready(function(){ standard(); sessionActvty(); soh([ "consumersListContainer" ]); cosumerAccounts("$!{params.itemID}","$!{params.pgActn}"); });
</script>
##
</head>
##
<body id="consumerAccounts">
##
#parse( "${dirPrefix}include/generalHead.vm" )
##
<section id="content">
##
#parse( "${dirPrefix}include/mainNav.vm" )
##
	<section id="mainContent">
##
#set($crntSection = "#springMessage('link.nav.accounts.consumers')")
#set($crntPage = "#springMessage('link.nav.accounts')")
#set($sectionTitle = "#springMessage('link.nav.accounts.consumers')")
#parse( "${dirPrefix}accounts/include/navSetup.vm" )
#parse( "${dirPrefix}include/sectionNav.vm" )
## 
## Consumer Accounts
		<section class="filterHeader searchHeader horizontal">
			<section class="title">
					<img title="#springMessage('label.search')" src="${imgLocal}icn_SearchLrg.png" width="22" height="21">## #springMessage('label.allCaps.search'):
			</section>
			#springBind("consumerEditForm.*")##
			<form name="consumerFilterForm" id="consumerFilterForm" method="POST">
				<input type="hidden" name="sessionToken" value="${sessionToken}"/>
				#springBind("consumerEditForm.postToken")##
				<input type="hidden" id="searchPostToken" name="${status.expression}" value="${consumerEditForm.initToken}"/>
				<ul class="filterForm">
					<li>
						#springBind("consumerEditForm.wrappedObject.filterValue")##
						<section class="filterTitle">
							<label id="formFilterValueLabel" for="formFilterValue" class="detailLabel">#springMessage('label.customerAdmin.consumer.filterValue')</label>
						</section>
						<section class="filterValue">
							<input id="formFilterValue" type="text" name="${status.expression}" value="" class="detailValue autoWidthFilter100" maxlength="70"/>
							<a href="#" id="searchClearBtn" class="removeFile">&nbsp;</a>
						</section>
					</li>
					<li style="vertical-align: bottom;">
						<section class="filterTitle">&nbsp;</section>
						<section>
							<a href="#" class="linkButtonFtr autoWidthAsset search" title="#springMessage('label.search')">#springMessage('label.search')</a>
						</section>
					</li>
				</ul>
			</form>
		</section>
		<section class="layout1 layout sectionContent">
			<section id="consumersPanel" class="column first">
				<section class="groupBox accountsItemList">
					<header>
						<h2>#springMessage('label.customerAdmin.consumerAccount.header')</h2>
					#if($authtools.allow('customer.consumerAccounts.manage'))##
						<a id="opBtn_addConsumer" title="#springMessage('button.add')" class="hdrButtonIcn add" href="#"><img width="18" height="1" title="#springMessage('button.add')" src="${imgLocal}spacer.gif" border="0"></a>
					#end##
					</header>					
					##<section id="listSection" class="groupBoxBody">
						<ul id="consumersListContainerHeader" class="scrollingListHeader consumers-list clear">
							<li>
								<div class="col1 sort" name="sort_firstName" sort="firstName:ASC" colTitle="#springMessage('label.customerAdmin.consumer.firstName')" tooltip="#springMessage('label.customerAdmin.consumer.firstName') : #springMessage('label.sorting.ascendingMsg')"><p>#springMessage('label.customerAdmin.consumer.firstName') <img src="${imgLocal}icn_ArwDown.png" class="sortIcn" alt="" /></p></div>
								<div class="col2 sort current" name="sort_lastName" sort="lastName:DESC" colTitle="#springMessage('label.customerAdmin.consumer.lastName')" tooltip="#springMessage('label.customerAdmin.consumer.lastName') : #springMessage('label.sorting.descendingMsg')"><p>#springMessage('label.customerAdmin.consumer.lastName') <img src="${imgLocal}icn_ArwDown.png" class="sortIcn" alt="" /></p></div>
								<div class="col3 sort" name="sort_emailAddress" sort="email:ASC" colTitle="#springMessage('label.customerAdmin.consumer.email')" tooltip="#springMessage('label.customerAdmin.consumer.email') : #springMessage('label.sorting.ascendingMsg')"><p>#springMessage('label.customerAdmin.consumer.email') <img src="${imgLocal}icn_ArwDown.png" class="sortIcn" alt="" /></p></div>
							</li>
						</ul>
						<ul id="consumersListContainer" class="scrollingList menuList menuButtonList consumers-list">
							<li class="loadItem" style="display: none;">#parse("${dirPrefix}include/loading.vm")</li>
						</ul>
						<span id="consumersListData" style="display: none;">$!esc.html($!consumerList)</span>
					##</section>
				</section>
			</section>
			<section class="column second">
				#parse("${dirPrefix}/accounts/include/consumerView.vm")
				#parse("${dirPrefix}/accounts/include/consumerForm.vm")
			</section>
		</section>
		
		<span id="consumerTemplate" style="display: none;">
			<li id="consumer_[%= randomConsumerId %]" description="[%= (typeof description === 'undefined') ? '' : description %]" class="clickable" >
				<div class="col1"><p>[%= (typeof firstName === "undefined") ? "" : firstName %]&nbsp;</p></div>
				<div class="col2"><p>[%= (typeof lastName === "undefined") ? "" : lastName %]&nbsp;</p></div>
				<div class="col3"><p>[%= (typeof emailAddress === "undefined") ? "" : emailAddress %]&nbsp;</p></div>
		#if($authtools.allow('customer.consumerAccounts.manage'))##
				<a href="#" id="opBtn_[%= randomConsumerId %]" class="menu settingDelete menuListButton" title="#springMessage('label.optionMenu')">&nbsp;</a>
			</li>
			<section id="menu_[%= randomConsumerId %]" class="ddMenu optionMenu">
				<img src="${imgLocal}icn_ddMenuArrow.png" class="point" width="25" height="13" border="0" />
				<section class="menuOptions innerBorder">
					<a href="#" class="edit" title="#springMessage('button.edit')">#springMessage('button.edit')</a>
					<a href="#" class="delete" title="#springMessage('button.delete')">#springMessage('button.delete')</a>
				</section>
			</section>
		#else
			</li>
		#end##
		</span>
## /Consumer Accounts
	</section>
	<hr>
</section>
##
#parse( "${dirPrefix}include/footer.vm" )
##
#parse("${dirPrefix}include/alertMsg.vm")##
## 
</body>
</html>