#* velocity document *#
##
#parse("/WEB-INF/templates/include/setup.vm")##
##
<!DOCTYPE html>
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>

	<title>#springMessage('label.siteName') - #springMessage('label.login.login')</title>

#parse("${dirPrefix}include/head.vm")##

<link rel="stylesheet" type="text/css" media="all" href="${styleLocal}login.css${staticQuerry}">
<script type="text/javascript" language="javascript" src="${scriptLocal}login.js${staticQuerry}"></script>

</head>

<body id="index" class="login">

<section id="digitalIris">
	<img id="digitalIrisLogo" alt="#springMessage('label.siteName')" src="${imgLocal}digitalIrisLogoWht.png" >
</section>

	<img id="loginBkgrnd" alt="#springMessage('label.siteName')" src="${imgLocal}loginBackgroundImg.jpg" >

<section id="login">	
	<section class="loginForm">
		<form id="loginForm" class="login" name="loginForm" method="POST" action="/oauth_migration/j_spring_security_check">
			<section class="inputWrapper">
				<input type="text" name="j_username" id="username" value="" tabindex="1" placeholder="#springMessage('label.login.username')">
			</section>
			
			<section class="inputWrapper">
				<input type="password" name="j_password" id="password" value="" placeholder="#springMessage('label.login.password')" autocomplete="off" tabindex="2">
			</section>
			
			<input type="submit" name="submit" id="submit" value="#springMessage('label.oauth.migrate')" tabindex="4">
		</form>	
	</section>	

	#parse("${dirPrefix}include/footer.vm")##

</section>

#set($homeMsg = "true")##
#parse("${dirPrefix}include/alertMsg.vm")##
##
<script type="text/javascript" language="javascript">
var alertLogin = "#springMessage('js.error.login.emptyfields')", attentionTitle = "#springMessage('error.common.attention')", imgLocalDir = "${imgLocal}", requiredFieldMsg = "#springMessage('alert.form.requiredField')";##
$(document).ready(function(){logIN(); standard();});##
#if((${authenticationException} && ${authenticationException} != '') || ($params.exists("error") && $params.error == "-2") || $status.errorMessages)$('#messageResponseAlertBox').dialog(alertNoticeOptions);#end##
var ##
locationsObj = [],##
locationRouteObj = [];##
</script>

</body>
</html>
