#* velocity document *#
##
#parse( "/WEB-INF/templates/include/setup.vm" )##
##
##
<!DOCTYPE html>
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->



<head>

	<title>#springMessage('label.siteName') - #springMessage('heading.termsOfService')</title>
<link rel="stylesheet" type="text/css" media="screen" href="${styleLocal}login.css${staticQuerry}">
#parse( "${dirPrefix}include/head.vm" )
<link rel="stylesheet" type="text/css" media="print" href="${styleLocal}srvcAgrmntPrint.css${staticQuerry}">

</head>

<body id="termsOfService">

#parse( "${dirPrefix}include/generalHead.vm" )##

#if(!$notifications.isEmpty())##
	#parse("${dirPrefix}include/userNotify.vm")##
#end##

<section id="content">

#parse( "${dirPrefix}include/mainNav.vm" )##

	<section id="mainContent">
		<section id="sectionTitle">
			<h1>#springMessage('heading.termsOfService')</h1>
			<a href="#" id="print" class="linkButton print right">#springMessage('button.print')</a>
		</section>
		<section class="layout1 layout sectionContent">
			<section class="column first">
				<article>#springMessage("article.termsOfService")</article>
				<article id="saDetails">
					<section id="legalDisclaimer">
					${agreementContent}
					</section>
				</article>
				
				<section id="TermsSignee">
					#springMessage('label.serviceAgreement.name'): <strong>${customerAgreementName}</strong> &nbsp;
					#springMessage('label.serviceAgreement.title'): <strong>${customerAgreementTitle}</strong> &nbsp;
					#springMessage('label.serviceAgreement.org'): <strong>${customerAgreementOrganization}</strong>
				</section>
			</section>
		</section>
	</section>
	<hr>
</section>

#parse( "${dirPrefix}include/footer.vm" )##

#parse("${dirPrefix}include/alertMsg.vm")##
##
<script type="text/javascript" language="javascript">##
#parse("${dirPrefix}include/sessionActivityVar.vm")##
#parse( "${dirPrefix}include/standardJSMessages.vm" )##
##
$(document).ready(function(){ standard(); sessionActvty(); terms(); });##
</script>

</body>
</html>
