## Velocity Document
##
#if(!$setupFile || $setupFile != "true")##
	#parse( "/WEB-INF/templates/include/setup.vm" )##
#end##
##
#springBind("transactionReceiptSearchForm.*")##
<form name="transactionSearchForm" id="transactionSearchForm">
	#springBind("transactionReceiptSearchForm.postToken")##
	<input type="hidden" id="searchPostToken" name="${status.expression}" value="${transactionReceiptSearchForm.initToken}"/>
	<ul class="filterForm">
		<li class="searchLocationBox">
			#springBind("transactionReceiptSearchForm.wrappedObject.locationRandomId")##
			<section class="filterTitle">
				<label class="detailLabel" for="searchLocation">#springMessage('label.location')</label>
			</section>
			<section class="inputWithButton" style="width: 25em;">
				<input id="searchLocationVal" type="hidden" name="${status.expression}" value="$!{status.value}"/>
				<input id="searchLocation" type="text" autocomplete="off" class="autoText flatRight dateType"/>
				<a href="#" id="searchLocationExpand" class="linkButtonIcn selectMenu flatLeft" title="#springMessage('button.showOptions')"><img width="18" height="1" title="arrow" alt="arrow" src="${imgLocal}spacer.gif" border="0"></a>
			</section>
			
			#set($localCount = 0)
			<span id="searchLocationData" style="display: none;">[{"value": "null", "label": "#springMessage('label.choose')"}##
#*			*##foreach($location in $filterValues.locations)##
#*				*##if($location.isParent == false)##
#*				*#,{ ##			
				#if($location.parentName && $location.parentName != "") 
					"value": "${location.randomId}", "label": "$!{location.name}", "desc": "$!{location.parentName}", "category": "#springMessage('label.location')" }##
				#else "value": "$!{location.randomId}", "label": "$!{location.name}", "category": "#springMessage('label.location')" }#end#end#end]</span>
		</li>
		<li class="searchspaceNumberBox">
			#springBind("transactionReceiptSearchForm.wrappedObject.spaceNumber")##
			<section class="filterTitle">
				<label class="detailLabel" for="searchSpaceNumber">#springMessage('label.reporting.form.filter.parker.spaceNumber')</label>
			</section>
			<section>
				<input id="searchSpaceNumber" type="text" name="${status.expression}" value="$!{status.value}" class="detailValue intNmbrChrctr" size="6" maxlength="10"/>
			</section>
		</li>
		<li class="searchCouponNumberBox">
			#springBind("transactionReceiptSearchForm.wrappedObject.couponNumber")##
			<section class="filterTitle">
				<label class="detailLabel" for="searchCoupon">#springMessage('label.coupon.id')</label>
			</section>
			<section>
				<input id="searchCoupon" type="text" name="${status.expression}" value="$!{status.value}" class="detailValue couponNumber" size="20" maxlength="20"/>
			</section>
		</li>
		<li class="searchCardNumberBox clear">
			#springBind("transactionReceiptSearchForm.wrappedObject.cardNumber")##
			<section class="filterTitle">
				<label class="detailLabel toolTip" for="searchCardNumber" tooltip="#springMessage('label.accounts.transactionSearch.last4')">#springMessage('label.settings.cardSettings.CardNumber')</label>
			</section>
			<section>
				<input id="searchCardNumber" type="text" name="${status.expression}" value="$!{status.value}" class="detailValue intNmbrChrctr toolTip" tooltip="#springMessage('label.accounts.transactionSearch.last4')" size="6" maxlength="4" autocomplete="off"/>
			</section>
		</li>
		<li class="searchPlateNumberBox">
			#springBind("transactionReceiptSearchForm.wrappedObject.plateNumber")##
			<section class="filterTitle">
				<label class="detailLabel" for="searchPlate">#springMessage('label.license.plate')</label>
			</section>
			<section>
				<input id="searchPlate" type="text" name="${status.expression}" value="$!{status.value}" class="detailValue licensePlate" size="11" maxlength="10" autocomplete="off"/>
			</section>
		</li>
		<li class="searchMobileNumberBox">
			#springBind("transactionReceiptSearchForm.wrappedObject.mobileNumber")##
			<section class="filterTitle">
				<label class="detailLabel" for="searchMobileNumber">#springMessage('label.accounts.transactionSearch.mobileNumber')</label>
			</section>
			<section>
				<input id="searchMobileNumber" type="text" name="${status.expression}" value="$!{status.value}" class="detailValue" size="14" maxlength="12"/>
			</section>
		</li>
		<li class="searchEmailAddressBox">
			#springBind("transactionReceiptSearchForm.wrappedObject.emailAddress")##
			<section class="filterTitle">
				<label class="detailLabel" for="searchEmail">#springMessage('label.accounts.transactionSearch.emailAddress')</label>
			</section>
			<section>
				<input id="searchEmail" type="text" name="${status.expression}" value="$!{status.value}" class="detailValue" size="20" maxlength="255"/>
			</section>
		</li>
		<li class="searchTxDateBox clear">
			<section class="filterTitle">
				<label class="detailLabel" for="searchTxDate">#springMessage('label.cardManagement.cardRefund.txDate')</label>
			</section>
			<section>
				#springBind("transactionReceiptSearchForm.wrappedObject.dateType")##
				<span class="inputWithButton">
					<input id="searchTxDateTypeVal" type="hidden" name="${status.expression}" value="$!{status.value}"/>
					<input id="searchTxDateType" type="text" autocomplete="off" class="autoText flatRight dateType"/>
					<a href="#" id="searchTxDateTypeExpand" class="linkButtonIcn selectMenu flatLeft" title="#springMessage('button.showOptions')"><img width="18" height="1" title="arrow" alt="arrow" src="${imgLocal}spacer.gif" border="0"></a>
				</span>
				
				<span id="searchTxDateTimeStart">
					#springBind("transactionReceiptSearchForm.wrappedObject.startDate")##
					<span class="hiddenLabelContainer">
						<input type="text" id="searchTxDateStart" name="${status.expression}" value="$!{status.value}" class="autoText txDate reqField" maxlength="10" placeholder="#springMessage("label.format.datepicker")"/>
					</span>
					#springBind("transactionReceiptSearchForm.wrappedObject.startTime")##
					<span class="hiddenLabelContainer">
						<input type="text" id="searchTxTimeStart" name="${status.expression}" value="$!{status.value}" class="autoText txTime meridianTimeNmbrChrctr" maxlength="6" placeholder="#springMessage("label.format.timepicker")"/>
					</span>
				</span>
				
				<span id="searchTxDateTimeConnector">#springMessage("label.timeRangeConnector")</span>
				
				<span id="searchTxDateTimeEnd">
					#springBind("transactionReceiptSearchForm.wrappedObject.endDate")##
					<span class="hiddenLabelContainer">
						<input type="text" id="searchTxDateEnd" name="${status.expression}" value="$!{status.value}" class="autoText txDate reqField" maxlength="10" placeholder="#springMessage("label.format.datepicker")"/>
					</span>
					#springBind("transactionReceiptSearchForm.wrappedObject.endTime")##
					<span class="hiddenLabelContainer">
						<input type="text" id="searchTxTimeEnd" name="${status.expression}" value="$!{status.value}" class="autoText txTime meridianTimeNmbrChrctr" maxlength="6" placeholder="#springMessage("label.format.timepicker")"/>
					</span>
				</span>
				<span id="searchTxDateTypeData" style="display: none;">[ #printDateRangeOptionsJSON($!{txDateOptions}) ]</span>
			</section>
		</li>
		<li>	
			<section class="filterTitle">
				<label class="detailLabel">&nbsp;</label>
			</section>
			<section><a href="#" class="linkButtonFtr search right" title="#springMessage('label.search')" style="top: 0 !important;">#springMessage('label.search')</a></section>
		</li>
	</ul>
</form>