#* velocity document *#
##
##
#springBind("payStationEditForm.*")##
<form id="payStationSettings" name="payStationEditForm" method="post" action="/">
<input type="hidden" name="sessionToken" value="$!{sessionToken}"/>
#springBind("payStationEditForm.postToken")##
<input type="hidden" name="postToken" id="posEditToken" value="$!{payStationEditForm.initToken}"/>
#springBind("payStationEditForm.actionFlag")##	
<input type="hidden" name="${status.expression}" id="actionFlag" value="1"/>
#springBind("payStationEditForm.wrappedObject.randomId")##	
<input type="hidden" name="${status.expression}" id="formPayStationID" value="${status.expression}"/>
#springBind("payStationEditForm.wrappedObject.currentCustomerRandomId")##	
<input type="hidden" name="${status.expression}" id="curCustomerID" value="$!{params.customerID}"/>
	
<section>
	<section class="details">
		#springBind("payStationEditForm.wrappedObject.isLinux")##
		<input type="hidden" name="${status.expression}" id="linuxFlagCheckHidden" value="false">
		<section id="multiPayStations" class="clear">
			<label class="detailLabel left" for="formPayStationName">#springMessage('label.payStations'):</label> 
			#springBind("payStationEditForm.wrappedObject.payStations")##	
			<input type="hidden" id="formPayStationList" name="${status.expression}">
			<span id="payStationSerialNumbers" class="detailValue left"></span>
			<aside class="multiPayStationLinuxUpgrade-edit">
				<label id="linuxMultiEditLabelMultiBtn" class="checkboxLabel switch left" for="linuxFlagCheckHidden"><a href="#" id="linuxFlagCheck" class="checkBox">&nbsp;</a></label>
				<label id="linuxMultiEditLabel" class="left disabled" for="linuxFlagCheckHidden">#springMessage('label.settings.locations.paystationList.status.upgradeLinuxPOS')</label>
			</aside>
		</section>
		<section id="paystationName" class="clear">
			<label class="detailLabel" for="formPayStationName">#springMessage('label.name'):</label> 
			#springBind("payStationEditForm.wrappedObject.name")##
			<input type="text" id="formPayStationName" name="${status.expression}" class="detailValue psChrctr left" size="32" maxlength="25">
			<aside class="payStationLinuxUpgrade-edit">
				<label class="checkboxLabel switch " for="linuxFlagCheckHidden">
					<a href="#" id="linuxFlagCheck" class="checkBox">&nbsp;</a> #springMessage('label.settings.locations.paystationList.status.upgradeLinuxPOS')
				</label>
			</aside>
		</section>
		<section id="paystationSerialNumber" class="clear">	
			<label class="detailLabel" for="formSerialNumber">#springMessage('label.serial.number'):</label>
			#springBind("payStationEditForm.wrappedObject.serialNumber")##
			<input type="text" id="formSerialNumber" name="${status.expression}" class="detailValue alphaNumChrctr reqField" required size="18" maxlength="12">
		</section>
#if($authtools.allow('system.payStations.billing'))##
		<section id="paystationMerchantAccount" class="clear">
			#springBind("payStationEditForm.wrappedObject.updateCreditMerchant")##
			<input type="hidden" name="${status.expression}" id="merchantAccountSwitchHidden" value="false">
			<label id="merchantAccountSwitchBtn" class="checkboxLabel detailLabel switch left multiEdit" for="merchantAccountSwitchHidden"><a href="#" id="merchantAccountSwitch" class="checkBox">&nbsp;</a></label>
			<section class="left">
				<label class="detailLabel" for="formCreditCrdMerchantVal">#springMessage('label.settings.locations.paystationList.information.creditCardMerchantAccount'):</label>
				
				<section class="inputWithButton">
					#springBind("payStationEditForm.wrappedObject.creditCardMerchantRandomId")##	
					<input type="hidden" id="formCreditCardAccountVal" name="${status.expression}" value="">
					<input id="formCreditCardAccount" type="text" name="SelectedCreditCardAccountName" autocomplete="off" class="autoText detailValue flatRight" style="width: 190px !important;" placeholder="#springMessage('label.choose')" />
					<a href="#" id="formCreditCardAccountExpand" class="linkButtonIcn selectMenu flatLeft" title="#springMessage('button.showOptions')"><img width="18" height="1" title="arrow" alt="arrow" src="${imgLocal}spacer.gif" border="0"></a>
				</section>
			</section>
		</section>	
		<section id="customMerchantAccount" class="clear">
			#springBind("payStationEditForm.wrappedObject.updateCustomMerchant")##
			<input type="hidden" name="${status.expression}" id="customMerchantSwitchHidden" value="false">
			<label id="customMerchantSwitchBtn" class="checkboxLabel detailLabel switch left multiEdit" for="customMerchantSwitchHidden"><a href="#" id="customMerchantSwitch" class="checkBox">&nbsp;</a></label>
			<section class="left">
				<label class="detailLabel" for="formCustomCrdMerchantVal">#springMessage('label.settings.locations.paystationList.information.valueCardMerchantAccount'):</label>
				
				<section class="inputWithButton">
					#springBind("payStationEditForm.wrappedObject.customCardMerchantRandomId")##
					<input type="hidden" id="formCustomCardAccountVal" name="${status.expression}" value="">
					<input id="formCustomCardAccount" type="text" name="SelectedCustomCardAccountName" autocomplete="off" class="autoText detailValue flatRight" style="width: 190px !important;" placeholder="#springMessage('label.choose')" />
					<a href="#" id="formCustomCardAccountExpand" class="linkButtonIcn selectMenu flatLeft" title="#springMessage('button.showOptions')"><img width="18" height="1" title="arrow" alt="arrow" src="${imgLocal}spacer.gif" border="0"></a>
				</section>
			</section>
		</section>
#end##
		<section id="paystationLocation" class="clear">
			#springBind("payStationEditForm.wrappedObject.updateLocations")##
			<input type="hidden" name="${status.expression}" id="locationSwitchHidden" value="false">
			<label id="locationBtn" class="checkboxLabel detailLabel switch left multiEdit" for="locationSwitchHidden"><a href="#" id="locationSwitch" class="checkBox">&nbsp;</a></label>
			<section class="left">	
				<label class="detailLabel" for="formLocation">#springMessage('label.location'):</label>
				#springBind("payStationEditForm.wrappedObject.locationRandomId")##
				<section class="inputWithButton">
					<input type="hidden" id="locationSlctVal" name="${status.expression}" value="">
					<input id="locationSlct" type="text" name="locationSlctDisplay" autocomplete="off" class="autoText detailValue flatRight" style="width: 190px !important;" placeholder="#springMessage('label.choose')" />
				<a href="#" id="locationSlctExpand" class="linkButtonIcn selectMenu flatLeft" title="#springMessage('button.showOptions')"><img width="18" height="1" title="arrow" alt="arrow" src="${imgLocal}spacer.gif" border="0"></a>
				</section>
			</section>
		</section>
		<section id="paystationBillable" class="clear">
			#springBind("payStationEditForm.wrappedObject.billable")##
			<input type="hidden" name="${status.expression}" id="formPOSBillableHidden" value="">
			<label class="checkboxLabel detailLabel switch" for="formPOSBillableHidden"><a href="#" id="formPOSBillable" class="checkBox">&nbsp;</a> #springMessage('label.systemAdmin.workspace.payStation.payStationBillable')</label>
		</section>
		<section id="paystationBundledData" class="clear">
			#springBind("payStationEditForm.wrappedObject.bundledData")##
			<input type="hidden" name="${status.expression}" id="formBundledDataHidden" value="">
			<label class="checkboxLabel detailLabel switch" for="formBundledDataHidden"><a href="#" id="formBundledData" class="checkBox">&nbsp;</a> #springMessage('label.systemAdmin.workspace.payStation.usesBundledData')</label>
		</section>
		<section id="paystationActivation" class="clear">
			<label class="detailLabel clear" for="formPayStationStatus">#springMessage('label.status'):</label> 
			#springBind("payStationEditForm.wrappedObject.active")##
			<input type="hidden" id="formPayStationStatus" name="${status.expression}" value="">
			<a id="btnPayStationDeactivate" class="linkButton textButton" href="#" title="#springMessage('label.deactivate')">#springMessage('label.deactivate')</a>
			<a id="btnPayStationActivate" class="linkButtonFtr textButton" href="#" title="#springMessage('label.activate')">#springMessage('label.activate')</a><br>
		</section>
		<section id="deactiveFeaturesArea" class="clear">
			<section id="paystationHide">
				#springBind("payStationEditForm.wrappedObject.hidden")##
				<input type="hidden" name="${status.expression}" id="hidePayStationCheckHidden" value="">
				<label id="formHidePayStation" class="checkboxLabel switch clear" for="hidePayStationCheckHidden"><a href="#" id="hidePayStationCheck" class="checkBox">&nbsp;</a> #springMessage('label.settings.locations.paystationList.hidePayStation')</label>
			</section>
#if($authtools.allow('system.payStations.move'))##
			<section id="customerMove">
			#springBind("payStationEditForm.wrappedObject.moveCustomerBoolean")##
				<input type="hidden" name="${status.expression}" id="movePayStationHidden" value="">
				<label id="customerMoveBtn" class="checkboxLabel detailLabel switch left"><a href="#" id="movePayStation" class="checkBox">&nbsp;</a></label>
				<section class="left disabled"><label class="detailLabel" for="CustomerSearch">#springMessage('label.systemAdmin.workspace.payStation.moveCustomer'):</label>
					<section id="customerMoveInput" class="inputWithButton disabled">
						#springBind("payStationEditForm.wrappedObject.customerRandomId")##
						<input type="hidden" id="CustomerSearchId" name="${status.expression}" value="$!{status.value}">
						<input id="CustomerSearch" type="text" autocomplete="off" class="autoText reqField stndrdChrctr" required disabled="disabled" value="" tabindex="1" style="width: 190px !important;" placeholder="${sectionTitle}">
					</section>
				</section>
			</section>
#end##
		</section>
		<section class="clear">
			<label class="detailLabel" for="formComment">#springMessage('label.notes'):</label>
			#springBind("payStationEditForm.wrappedObject.comment")##
			<textarea rows="2" id="formComment" name="${status.expression}" maxlength="80" class="detailValue prntableChrctr chrctrCount80" style="width: 325px;"></textarea>
		</section>
	</section>
</section>
	
	<section class="btnSet">
		<a href="#" class="linkButtonFtr textButton save">#springMessage('button.save')</a>
		<a href="#" class="linkButton textButton cancel">#springMessage('button.cancel')</a>
	</section>	
</form>