#* velocity document *# ##>
	<section id="messageResponseAlertBox">##
#if($homeMsg && $homeMsg == "true")##
	#if(${authenticationException} && ${authenticationException} != '' || $params.exists("error") || $status.errorMessages)##
		<section class='innerBorder'><img src='${imgLocal}icn_AlertLrg.png' height='51' width='58' border='0'>
		<h4><strong>#springMessage('error.common.attention')</strong></h4>
		<article>
		#if(${authenticationException} && ${authenticationException} != '')##
			#springMessage('error.login.failedAttempt')##
		#elseif($params.exists("error"))##
			#if($params.error == "-2")##
			#springMessage('error.session.invalid')##
			#elseif($params.error == "-5")##
			#springMessage('error.session.accessDenied')##
			#end##
		#elseif($status.errorMessages)##
			<ul>
			#foreach($error in $status.errorMessages)##
				<li>${error}</li>
			#end##
			</ul>
		#end##
		</article>
		<a href='#' class='close' title='#springMessage('button.close')'>&nbsp;</a></section>
	#end##
#end##
	</section>
	
	<section id="sessionResponseAlertBox"></section>
	<section id="ajaxLoad"></section>