	<section class="autoComplete currentLocal">
			<input id="locationACVal" type="hidden" value="$!{curLocation}" />
			<input id="locationAC" type="text" autocomplete="off" class="autoText flatRight" value="" />
			<a href="#" id="locationACExpand" class="linkButtonIcn selectMenu flatLeft" title="#springMessage('button.showOptions')"><img width="18" height="1" title="arrow" alt="arrow" src="${imgLocal}spacer.gif" border="0"></a>
	</section>