<section class="filterHeader activityLog horizontal">
	<section class="title">
			<img title="filter" src="${imgLocal}icn_FilterSm.png" width="17" height="15">## #springMessage('label.allCaps.search'):
	</section>
	<ul class="filterForm">
		<li class="autoComplete">
			<input id="locationACVal" type="hidden" />
			<input id="locationAC" type="text" autocomplete="off" class="autoText flatRight acWidthNoSearch locationChrctr" placeholder="#springMessage('label.location')" />
			<a href="#" id="locationACExpand" class="linkButtonIcn selectMenu flatLeft" title="#springMessage('button.showOptions')"><img width="18" height="1" title="arrow" alt="arrow" src="${imgLocal}spacer.gif" border="0"></a>
		</li>
	</ul>
</section>