<section class="filterHeader activityLog horizontal">
	<section class="title">
			<img title="filter" src="${imgLocal}icn_FilterSm.png" width="17" height="15">## #springMessage('label.allCaps.filter'):
	</section>
	<ul class="filterForm">
		<li class="autoComplete">
		<form id="posFilterForm">
			<input id="locationRouteACVal" name="locationRouteRandomId" type="hidden" />
			<input id="locationACVal" name="wrappedObject.locationRandomId" type="hidden" />
			<input id="routeACVal" name="wrappedObject.routeRandomId" type="hidden" />
			<input id="locationRouteAC" type="text" autocomplete="off" class="autoText flatRight acWidthNoSearch stndrdChrctr" placeholder="#springMessage('label.route')/#springMessage('label.location')" />
			<a href="#" id="locationRouteACExpand" class="linkButtonIcn selectMenu flatLeft" title="#springMessage('button.showOptions')"><img width="18" height="1" title="arrow" alt="arrow" src="${imgLocal}spacer.gif" border="0"></a>
		</form>
		</li>
	</ul>
</section>