<section class="filterHeader activityLog horizontal">
	<section class="title">
			<img title="search" src="${imgLocal}icn_SearchSm.png" width="17" height="15">## #springMessage('label.allCaps.search'):
	</section>
	<ul class="filterForm">
		<li class="autoComplete">
			<form id="posFilterForm">
				<input id="locationPOSAC-id" name="locationRouteRandomId" type="hidden" />
				<input id="locationACVal" name="wrappedObject.locationRandomId" type="hidden" />
				<input id="routeACVal" name="wrappedObject.routeRandomId" type="hidden" />
				<input id="itemACVal" name="wrappedObject.itemId" type="hidden" />
				<input id="customerVal" name="customerID" type="hidden" value="${params.customerID}" />
				<input id="locationPOSAC" type="text" autocomplete="off" class="autoText flatRight acWidthNoSearch prntableChrctr" placeholder="#springMessage('label.payStation') / #springMessage('label.route') / #springMessage('label.location')" />
				<a href="#" id="locationPOSACExpand" class="linkButtonIcn selectMenu flatLeft" title="#springMessage('button.showOptions')"><img width="18" height="1" title="arrow" alt="arrow" src="${imgLocal}spacer.gif" border="0"></a>
			</form>
		</li>
	</ul>
</section>