<section class="filterHeader activityLog horizontal">
	<section class="title">
			<img title="filter" src="${imgLocal}icn_SearchSm.png" width="17" height="15">## #springMessage('label.allCaps.filter'):
	</section>
	<ul class="filterForm">
		<li class="autoComplete">
		<form id="rateFilterForm">
			<input id="rateACVal" name="wrappedObject.rateTypeId" type="hidden" />
			<input id="rateAC" type="text" autocomplete="off" class="autoText flatRight acWidthNoSearch prntableChrctr" placeholder="#springMessage('label.rate') / #springMessage('label.type')" />
			<a href="#" id="rateACExpand" class="linkButtonIcn selectMenu flatLeft" title="#springMessage('button.showOptions')"><img width="18" height="1" title="arrow" alt="arrow" src="${imgLocal}spacer.gif" border="0"></a>
		</form>
		</li>
	</ul>
</section>