#* velocity document *# ##>
##
##
##
#set($isMetric = ${sec.principal.isMetric})##
#set($setupFile = "true")##
#if ($pathinit ne true)#parse("/WEB-INF/templates/include/path.vm")#end##
#set($theYear = ["$date.getYear()"])## -- Displays the Year for the Footer
#set($qString = "?")##
#set($homeLink = "/secure/dashboard/index.html${qString}")##
#set($sessionToken = "")##
#set($workSpace = "false")##
#set($customerStatus = ["#springMessage('label.disabled')","","#springMessage('label.trial')","#springMessage('label.deleted')"])##
#if(${sec.principal.sessionTimeout})##
	#set($sessionCount = ${sec.principal.sessionTimeout} * 60000 - 60000)## -- Sets session time out based on time set from the Database
#else##
	#set($sessionCount = 1140000)## -- If no value is set for the session time out default set to 19min = 1140000
#end##
##
#set($optionBasedTier = ["ra", "orga", "loc", "rout", "txtp", "revtp"])##
##
##
##
## -- Macro to create a Spring Message that will parse arguments into the message string
##
#macro( springArgMessage $code $args )##
#set($buffer = [])#foreach($data in $args)#set($nothingness = $buffer.add($data.replaceAll("\\", "\\\\")))#end$springMacroRequestContext.getMessage($code, $buffer)##
#end##
##
##
## -- Macro to convert from List to json string
##
#macro(printFilterJSON $filterJsonList)##
	#if($filterJsonList && !$filterJsonList.isEmpty())##
		#set($listSize = $filterJsonList.size() - 1)##
		#foreach($listIdx in [0..$listSize])#set($listData = $filterJsonList.get($listIdx)){ "label": "$listData.text", "value": "$listData.value" }#if($listIdx < $listSize),#end#end##
	#end##
#end##
##
##
## -- Macro to convert list of date time options to JSON
##
#macro(printDateRangeOptionsJSON $optionsList)##
	#if($optionsList && !$optionsList.isEmpty())##
		#set($listIdx = 0)##
		#set($end = $optionsList.size())##
		#foreach($listData in $!optionsList)#set($listDataLabelKey = "label.date.range.option.${listData}"){ "label": "#springMessage($listDataLabelKey)", "value": "$listData", "displayStart": $listData.requireStart, "displayEnd": $listData.requireStart }#set($listIdx = $listIdx + 1)#if($listIdx < $end),#end#end##
	#end##
#end##
##
## -- Macro to convert from List to comma separated string
##
#macro(printCommaSeparatedList $commaSeparatedList)##
	#if($commaSeparatedList && !$commaSeparatedList.isEmpty())##
		#set($listSize = $commaSeparatedList.size() - 1)##
		#foreach($listIdx in [0..$listSize])#set($listData = $commaSeparatedList.get($listIdx))$listData#if($listIdx < $listSize),#end#end##
	#end##
#end##
##
##
## -- Macro for System Notification List Items
##
#macro(printNotificationItem $notification $isEditable $isSysAdmin $notificationStatus, $slctdItem)
	#if($notificationStatus)##
		#if($slctdItem == $notification.randomId)#set($slctdClass = "selected")#else#set($slctdClass = "")#end##
			<li id="note_${notification.randomId}" class="$!{slctdClass}">
				<div class="col1 title"><p>$notification.title</p></div>
				<div class="col2 date"><p>$date.format("MMM. dd, yyyy", $notification.beginGmt)</p></div>
			#if(($isEditable && $isSysAdmin) && $authtools.allow('system.notifications.manage'))##
				#if((!$notification.beginGmt) || ($notification.beginGmt.getTime() gt $date.systemTime))
				<a id="opBtn_$notification.randomId" title="#springMessage('label.optionMenu')" class="menuListButton menu" href="#"><img width="18" height="1" title="#springMessage('label.optionMenu')" src="${imgLocal}spacer.gif" border="0"></a>
			</li>
			<section id="menu_$notification.randomId" class="ddMenu optionMenu">
				<img src="${imgLocal}icn_ddMenuArrow.png" class="point" width="25" height="13" border="0" />
				<section class="menuOptions innerBorder">
					<a href="#" id="edit_$notification.randomId" class="edit btnEditNotification" title="#springMessage('button.edit')">#springMessage('button.edit')</a>
					<a href="#" id="delete_$notification.randomId" class="delete btnDeleteNotification" title="#springMessage('button.delete')">#springMessage('button.delete')</a>
				</section>
			</section>
				#else##
				<a id="opBtn_$notification.randomId" title="#springMessage('button.edit')" class="menuListButton edit" href="#"><img width="18" height="1" title="#springMessage('button.edit')" src="${imgLocal}spacer.gif" border="0"></a>
			</li>
				#end##
			#end##
			</li>
	#else##
		<li class="onlyCol alignCenter">#springMessage('label.settings.sysNotification.noNotifications')</li>
	#end##
#end##
##
##
## Print JSON String for com.digitalpaytech.dto.RandomIdNameSetting
#macro(printFilterDtoJSON $filterJsonList, $start, $end)##
	#if($filterJsonList)##
		#if(!$start)#set($start = 0)#end##
		#if(!$end || $end >= $filterJsonList.size())#set($end = $filterJsonList.size() - 1)#end##
		#if($filterJsonList.size() gt $start)#foreach($listIdx in [$start..$end])#set($listData = $filterJsonList.get($listIdx)){ "label": "$listData.label", "value": "$listData.value", "desc": "$!{listData.desc}", "extra": "$listData.extraData", "extraData": "$listData.extraData" }#if($listIdx lt $end),#end#end#end##
	#end##
#end##
