#* velocity document *#
#if(!$setupFile || $setupFile != "true")
	#parse( "/WEB-INF/templates/include/setup.vm" )##
#end
##
## DEFINE SORT OPTIONS HERE
#set($sortType = "$!{params.sort}")##
#set($sortDir = "$!{params.dir}")##
#set($slctdItem = "$!{params.curItem}")##
##
#if(!$notificationType)
	#set($notificationType = "$!{params.notificationType}")
#end
##
#if($sortDir == "")#set($sortDir = "desc")#end##
#if($sortType == "")#set($sortType = "beginGmt")#end##
##
#if($sortType == "title")##
	#set($curTitle = true)##
	#set($curDate = false)##
#else##
	#set($curTitle = false)##
	#set($curDate = true)##
#end##
##
#if($sortDir == "desc")##
	#set($nextDir = "asc")##
	#set($sortDirIcn = "ArwUp")##
	#set($sortTooltip = "#springMessage('label.sorting.ascendingMsg')")##	
#else##
	#set($nextDir = "desc")##
	#set($sortDirIcn = "ArwDown")##
	#set($sortTooltip = "#springMessage('label.sorting.descendingMsg')")##
#end##
##
	<ul id="${notificationType}NotificationsHeader" class="scrollingListHeader column-6-3-1">
		<li>
		#if($curTitle == true)##
			<div class="col1 sort clickable current" sort="title:${nextDir}" tooltip="#springMessage('label.settings.sysNotification.notifications') : ${sortTooltip}"><p>#springMessage('label.settings.sysNotification.notifications') <img src="${imgLocal}icn_${sortDirIcn}.png" class="sortIcn" alt="" /></p></div>
		#else##
			<div class="col1 sort clickable" sort="title:asc" tooltip="#springMessage('label.settings.sysNotification.notifications') : #springMessage('label.sorting.ascendingMsg')"><p>#springMessage('label.settings.sysNotification.notifications') <img src="${imgLocal}icn_ArwDown.png" class="sortIcn" alt="" /></p></div>
		#end##
		#if($curDate == true)##
			<div class="col2 sort clickable current" sort="beginGmt:${nextDir}" tooltip="#springMessage('label.date') : ${sortTooltip}"><p>#springMessage('label.date') <img src="${imgLocal}icn_${sortDirIcn}.png" class="sortIcn" alt="" /></p></div>
		#else##
			<div class="col2 sort clickable #if($curTitle != true)current" sort="beginGmt:asc"#else " sort="beginGmt:desc"#end tooltip="#springMessage('label.date') : #springMessage('label.sorting.ascendingMsg')"><p>#springMessage('label.date') <img src="${imgLocal}icn_ArwUp.png" class="sortIcn" alt="" /></p></div>
		#end##
		</li>
	</ul>
	<ul id="${notificationType}Notifications" class="scrollingList menuButtonList notificationList setSharedMaxHeight column-6-3-1 pageItems">
#if($notificationType == "current" && $currentNotificationInfo.size() > 0)##
	#set($notificationList = $currentNotificationInfo)##
	#set($isEditable = $isSysAdmin)##
	#set($isList = true)##
#elseif($notificationType == "past" && $pastNotificationInfo.size() > 0)##
	#set($notificationList = $pastNotificationInfo)##
	#set($isEditable = false)##
	#set($isList = true)##
#*
#elseif($currentNotificationInfo.size() > 0)##
	#set($notificationList = $currentNotificationInfo)##
	#set($isEditable = $isSysAdmin)##
	#set($isList = true)##
#elseif($pastNotificationInfo.size() > 0)##
	#set($notificationList = $pastNotificationInfo)##
	#set($isEditable = false)##
	#set($isList = true)##
*#
#else##
	#set($notificationList = "")##
	#set($isEditable = false)##
	#set($isList = false)##
#end##
##
#if($notificationList == "")##
	<li class="alignCenter notclickable"><p>#springMessage('label.settings.sysNotification.noNotifications')</p></li>
#else##
	#foreach($notification in $sorter.sort($notificationList, ["${sortType}:${sortDir}"]))##
		#printNotificationItem($notification, $isEditable, $isSysAdmin, $isList, $slctdItem)##
	#end##
#end##
	</ul>
