#* velocity document *#
##
<section id="notificationAlert" class="clickable">
	<section class="innerBorder">
		<img src="${imgLocal}icn_InfoSm.png" class="infoIcon" title="#springMessage('label.information')" alt="#springMessage('label.information')" width="18" height="18" border="0">
		$notifications.size() ##
		#if($notifications.size() > 1) #springMessage('label.notifications')##
		#else #springMessage('label.notification')#end##
		<img src="${imgLocal}icn_DownArrow.png" class="infoDownArrow" title="#springMessage('label.information')" alt="#springMessage('label.information')" width="18" height="18" border="0">
	</section>
</section>
##
<section id="notification">
	<section id="notificationMsg">
		<img src="${imgLocal}icn_Info.png" title="#springMessage('label.information')" alt="#springMessage('label.information')" width="51" height="51" border="0" class="left">
		<a href="#"><img src="${imgLocal}icn_TabClose_ovr.png" title="#springMessage('button.close')" alt="#springMessage('button.close')" id="closeNote" width="16" height="16" border="0" class="right"></a>
		<section id="articleArea">
#foreach($notification in $notifications)##
			<article id="${notification.id}:${sec.username}">
				<h4>${notification.title}</h4>
				<pre>${notification.message} #if(${notification.messageUrl} && ${notification.messageUrl} != "")<a href="${notification.messageUrl}" target="_blank">#springMessage('button.moreInfo')</a>#end </pre>
			</article>
#end##
		</section>
	</section>
<hr>
</section>
#set($userNotification = "true")##
