#* velocity document *#
##
<section id="notificationDetail" class="groupBox mainContent">
#if($authtools.allow('system.notifications.manage'))##
	<section id="menu_pageContent" class="ddMenu">
		<img src="${imgLocal}icn_ddMenuArrow.png" class="point" width="25" height="13" border="0" />
		<section class="menuOptions innerBorder">
			<a href="#" class="edit btnEditLocation" title="#springMessage('button.edit')">#springMessage('button.edit')</a>
			<a href="#" class="delete btnDeleteLocation" title="#springMessage('button.delete')">#springMessage('button.delete')</a>
		</section>
	</section>
#end##
	<header>
		<h2>#springMessage('label.sysAdmin.notifications.details')</h2>
#if($authtools.allow('system.notifications.manage'))##
		<a id="opBtn_pageContent" title="#springMessage('label.optionMenu')" class="hdrButtonIcn menu" href="#"><img width="18" height="1" title="#springMessage('label.optionMenu')" src="${imgLocal}spacer.gif" border="0"></a>
#end##
	</header>
	
	#parse("${dirPrefix}systemAdmin/notification/include/notificationPreview.vm")##
	
	<dl class="details groupBoxBody">
		<section class="left">
			<dt class="detailLabel" style="width: auto;">#springMessage('label.sysAdmin.notifications.start'):&nbsp;</dt>
			<dd class="detailValue" style="width: 160px;">
				<span id="notificationStartDate"></span>
				<span id="notificationStartTime"></span>
			</dd>
		</section>
		<section class="right">
			<dt class="detailLabel" style="width: auto;">#springMessage('label.sysAdmin.notifications.end'):&nbsp;</dt>
			<dd class="detailValue" style="width: 160px;">
				<span id="notificationEndDate"></span>
				<span id="notificationEndTime"></span>
			</dd>
		</section>
	</dl>
</section>