<section id="smplNotification">
	<section id="smplNotificationMsg">
		<img src="${imgLocal}icn_Info.png" title="#springMessage('label.information')" alt="#springMessage('label.information')" width="51" height="51" border="0" class="left">
		<section id="articleArea">
			<article id="">
				<h4></h4>
				<pre><span class="notificationMsg"></span> <a href="" target="_blank" style="display: none;">#springMessage('button.moreInfo')</a></pre>
			</article>
		</section>
	</section>
</section>