##
<section id="payStationsAddFormBox" class="details" style="display: none;">
	#springBind("payStationEditForm.*")##
	<form id="payStationEditForm" name="payStationEditForm" method="post" action="/">
		<input type="hidden" name="sessionToken" value="$!{sessionToken}"/>
		#springBind("payStationEditForm.postToken")##
		<input type="hidden" name="${status.expression}" id="posAddToken" value="$!{payStationEditForm.initToken}"/>
	#if($pageSec == "sysAdmin")##
		<input type="hidden" name="customerID" value="${params.customerID}"/>
	#end##

		<label for="formSerialNumbers" class="detailLabel">#springMessage("label.serial.number"):</label> 
		#springBind("payStationEditForm.wrappedObject.serialNumbers")##
		<textarea rows="8" cols="12" id="formSerialNumbers" name="${status.expression}" class="detailValue serialNmbr" style="width: 95%; resize: none;"></textarea>
		<em>#springMessage("label.settings.locations.paystationList.serial.add.comment")<br>
		#springMessage("label.systemAdmin.workspace.payStation.serialNumberLengthMsg")</em>
	</form>
</section>
##
#*
<script language="javascript" type="text/javascript">
##globalPostToken = "$payStationEditForm.initToken";
</script>
*#