#* velocity document *#
##
##
	<section class="column second"><input type="hidden" id="contentID" name="contentID" value="">
		<section id="paystationDetails" class="groupBox mainContent">
			<section id="menu_pageContent" class="ddMenu">
				<img src="${imgLocal}icn_ddMenuArrow.png" class="point" width="25" height="13" border="0" />
				<section class="menuOptions innerBorder">
	#if($authtools.allow('customer.payStations.manage') or $authtools.allow('system.payStations.manage'))##
					<a href="#" class="edit btnEditLocation" title="#springMessage('button.edit')">#springMessage('button.edit')</a>
					<a id="btnPayStationPlace" class="pin" href="#" title="#springMessage('label.settings.locations.paystationList.editPlacement')">#springMessage('label.settings.locations.paystationList.editPlacement')</a>
	#end##
					<a id="btnReload"  href="#" class="reload" title="#springMessage('label.reload')">#springMessage('label.reload')</a>
				</section>
			</section>
			<header>
				<h2 id="detailHeading">#springMessage('label.settings.locations.paystationList.paystationHdr')</h2>
				<h2 id="editHeading">#springMessage('label.settings.locations.paystationList.editPaystationHdr')</h2>
	
				<a id="opBtn_pageContent" title="#springMessage('label.optionMenu')" class="hdrButtonIcn menu" href="#"><img width="18" height="1" title="#springMessage('label.optionMenu')" src="${imgLocal}spacer.gif" border="0"></a>
			</header>
			<section id="detailView">
				<section id="psDetailsHeader" style="margin-top: -8px; position: relative;">
					<section id="mapHolder">
						<section id="map" class="headerMap"></section>
					</section>
					<section id="payStationTypeImg"><img src="" width="100" height="200" border="0"></section>
					<h1 id="paystationName"></h1>
					<section id="paystationNavArea">
						<nav id="psNav" style="width: 100%; overflow: hidden;">
							<div id="statusBtn" class="tabSection current">
								<a href="#" class="tab" title="#springMessage('link.nav.settings.locations.payStationList.currentStatus')">#springMessage('link.nav.settings.locations.payStationList.currentStatus')</a>
							</div>
							<div id="alertsBtn" class="tabSection">
								<a href="#" class="tab" style="position: relative;" title="#springMessage('link.nav.settings.locations.payStationList.recentActivity')">#springMessage('link.nav.settings.locations.payStationList.recentActivity') <section id="activeAlerts"></section></a>
							</div>
							<div id="infoBtn" class="tabSection">
								<a href="#" class="tab" title="#springMessage('link.nav.settings.locations.payStationList.information')">#springMessage('link.nav.settings.locations.payStationList.information')</a>
							</div>
							<div id="reportsBtn" class="tabSection">
								<a href="#" class="tab" title="#springMessage('link.nav.settings.locations.payStationList.reports')">#springMessage('link.nav.settings.locations.payStationList.reports')</a>
							</div>
							#*<div id="activityBtn" class="tabSection">
								<a href="#" class="tab" title="#springMessage('link.nav.settings.subNav.rcntActivity')">#springMessage('link.nav.settings.subNav.rcntActivity')</a>
							</div>*#
						</nav>
					</section>
				</section>
##						
				<article id="statusArea" class="groupBoxBody column-5-5 viewBox">
					#parse("${dirPrefix}settings/locations/include/payStationStatus.vm")
				</article>
##						
				<article id="alertsArea" class="groupBoxBody viewBox">
					#parse("${dirPrefix}settings/locations/include/payStationAlerts.vm")
				</article>
##						
				<article id="infoArea" class="groupBoxBody column-5-5 viewBox">
					#parse("${dirPrefix}settings/locations/include/payStationInformation.vm")
				</article>
##						
				<article id="reportsArea" class="groupBoxBody viewBox">
					#parse("${dirPrefix}settings/locations/include/payStationReports.vm")
				</article>
##						
				#*<article id="activityArea" class="groupBoxBody viewBox"></article>*#
			</section>
			
			<section id="paystationForm">
				<article class="groupBoxBody column-5-5">
				#if($pageSec == "sysAdmin")
					#parse("${dirPrefix}systemAdmin/workspace/payStations/include/payStationEditForm.vm")
				#else
					#parse("${dirPrefix}settings/locations/include/payStationEditForm.vm")
				#end
				</article>
			</section>
			
		#if($pageSec == "sysAdmin")
			<section>
				#parse("${dirPrefix}include/payStationDetails/addForm.vm")
			</section>
		#end
		</section>
	</section>