## Velocity Document
##
#if(!$setupFile || $setupFile != "true")##
	#parse( "/WEB-INF/templates/include/setup.vm" )##
#end##
##
<section id="consumerView" class="groupBox mainContent invisible">
#if($authtools.allow('customer.consumerAccounts.manage'))##
	<section id="menu_consumerView" class="ddMenu">
		<input type="hidden" name="id" value=""/>
		<img src="${imgLocal}icn_ddMenuArrow.png" class="point" width="25" height="13" border="0" />
		<section class="menuOptions innerBorder">
			<a href="#" class="edit" title="#springMessage('button.edit')">#springMessage('button.edit')</a>
			<a href="#" class="delete" title="#springMessage('button.delete')">#springMessage('button.delete')</a>
		</section>
	</section>
#end##
	<header>
		<h2>#springMessage('label.customerAdmin.consumerAccountDetails')</h2>
	#if($authtools.allow('customer.consumerAccounts.manage'))##
		<a href="#" id="opBtn_consumerView" class="menu settingDelete menuListButton" title="#springMessage('label.optionMenu')">&nbsp;</a>
	#end##
	</header>
	<section class="groupBoxBody column-5-5">
		<dl class="details col1">
			<dt class="detailLabel">#springMessage('label.customerAdmin.consumer.firstName'):</dt> 
			<dd name="dtlFirstName" class="detailValue cleanable"></dd>
			<dt class="detailLabel">#springMessage('label.customerAdmin.consumer.lastName'):</dt> 
			<dd name="dtlLastName" class="detailValue cleanable"></dd>
		</dl>
		<section class="details col2">
			<dt class="detailLabel">#springMessage('label.customerAdmin.consumer.email'):</dt> 
			<dd name="dtlEmail" class="detailValue cleanable"></dd>
			<dt class="detailLabel">#springMessage('label.customerAdmin.consumer.description'):</dt> 
			<dd name="dtlDescription" class="detailValue cleanable"></dd>
		</section>
	</section>
	<section class="groupBoxBody clear">
		<h3 class="detailLabel">#springMessage('label.customerAdmin.consumer.assigned.coupon'):</h3>
		<ul id="consumerCouponsListHeader" class="scrollingListHeader consumer-coupons-list">
			<li class="scrollingListHeader">
				#* These are copied from the consumer form page and trim out unnecessary columns (also modified the column classes) *#
				<div class="col1 notclickable"><p>#springMessage('label.coupon.number')</p></div>
				<div class="col2 notclickable"><p>#springMessage('label.coupon.discount')</p></div>
				<div class="col3 notclickable"><p>#springMessage('label.coupon.remaining')</p></div>
				<div class="col4 notclickable"><p>#springMessage('label.coupon.dailySingleUse')</p></div>
			</li>
		</ul>
		<ul id="consumerCouponsListContainer" class="scrollingList consumer-coupons-list">
			
		</ul>
	</section>
	<section class="groupBoxBody clear">
		<h3 class="detailLabel">#springMessage('label.customerAdmin.consumer.assigned.customCard'):</h3>
		<ul id="consumerCardsListHeader" class="scrollingListHeader consumer-cards-list">
			<li class="scrollingListHeader">
				#* These are copied from the consumer form page and trim out unnecessary columns (also modified the column classes) *#
				<div class="col1 notclickable"><p>#springMessage('label.customerCard.cardNumber')</p></div>
				<div class="col2 notclickable"><p>#springMessage('label.customerCard.cardType')</p></div>
				<div class="col3 notclickable"tooltip="#springMessage('label.customerCard.restricted')"><p>#springMessage('label.customerCard.restricted.shortLabel')</p></div>
				<div class="col4 notclickable"><p>#springMessage('label.customerCard.gracePeriod')</p></div>
			</li>
		</ul>
		<ul id="consumerCardsListContainer" class="scrollingList consumer-cards-list">
			
		</ul>
	</section>
	<span id="couponListTemplate" style="display: none;">
		<li>
			#* These are copied from the consumer form page and trim out unnecessary columns (also modified the column classes) *#
			<div class="col1"><p>[%= coupon %]</p></div>
			<div class="col2"><p>[%= discount %]</p></div>
			<div class="col3"><p>[%= (numUsesType === "U") ? "#springMessage('label.coupon.maxNumOfUses.unlimited')" : ((typeof numberOfUsesRemaining === "undefined") ? "" : numberOfUsesRemaining) %]&nbsp;</p></div>
			<div class="col4"><p>[%= (validForNumOfDay > 0) ? COUPON_LABEL.isDailySingleUse : COUPON_LABEL.notDailySingleUse %]</p></div>
		</li>
	</span>
	
	<span id="cardListTemplate" style="display: none;">
		<li>
			#* These are copied from the consumer form page and trim out unnecessary columns (also modified the column classes) *#
			<div class="col1"><p>[%= cardNumber %]</p></div>
			<div class="col2"><p>[%= cardType %]</p></div>
			<div class="col3"><p>[%= (restricted && (restricted === true)) ? "Yes" : "No" %]</p></div>
			<div class="col4"><p>[%= ((typeof gracePeriodMinutes === "undefined") || (gracePeriodMinutes &lt;= 0)) ? "&nbsp;" : gracePeriodMinutes %]</p></div>
		</li>
	</span>
</section>