## Velocity Document
##
#if(!$setupFile || $setupFile != "true")##
	#parse( "/WEB-INF/templates/include/setup.vm" )##
#end##
##
<section id="couponFormPanel" class="groupBox mainContent form invisible">
	<header>
		<h2>#springMessage("label.coupon.couponDetails")</h2>
	</header>
	#springBind("couponForm.*")##
	<form id="couponForm" name="couponForm" method="POST">
		<input type="hidden" name="sessionToken" value="$!{sessionToken}"/>
		#springBind("couponForm.postToken")##
		<input type="hidden" name="${status.expression}" id="postToken" value="$!{couponForm.initToken}"/>
		#springBind("couponForm.actionFlag")##
		<input type="hidden" name="${status.expression}" id="actionFlag" value="$!{status.value}" class="cleanable"/>
		#springBind("couponForm.wrappedObject.customerRandomId")##
		<input type="hidden" name="${status.expression}" id="formCustomerRandomId" value="$!{status.value}"/>
		
		#springBind("couponForm.wrappedObject.randomId")##
		<input type="hidden" id="formRandomId" name="${status.expression}" value="$!{status.value}" class="cleanable"/>
		
		<section class="groupBoxBody column-5-5 details">
			<section class="col1">
				#springBind("couponForm.wrappedObject.couponCode")##
				<label class="detailLabel">#springMessage("label.coupon.number"):</label>
				<input type="text" id="formCouponCode" name="${status.expression}" value="" class="detailValue alphaNumChrctr couponCode cleanable reqField" required maxlength="10"/>
				
				#springBind("couponForm.wrappedObject.description")##
				<label class="detailLabel">#springMessage("label.coupon.description"):</label>
				<textarea rows="2" cols="40" id="formDescription" name="${status.expression}" maxlength="80" class="detailValue prntableChrctr chrctrCount80 couponDescription cleanable"></textarea>
				
				<label class="detailLabel">#springMessage("label.coupon.discount"):</label>
				#springBind("couponForm.wrappedObject.discountValue")##
				<input type="text" id="formDiscountValue" name="${status.expression}" value="" class="detailValue autoText nmbrChrctr couponDiscount cleanable reqField" required>
				#springBind("couponForm.wrappedObject.discountType")##
				<span class="inputWithButton">
					<input type="hidden" id="formDiscountTypeVal" name="${status.expression}" value=""/>
					<input id="formDiscountType" name="${status.expression}Label" type="text" autocomplete="off" class="detailValue autoText flatRight couponDiscountType"/>
					<a href="#" id="formDiscountTypeExpand" class="linkButtonIcn selectMenu flatLeft" title="#springMessage('button.showOptions')"><img width="18" height="1" title="arrow" alt="arrow" src="${imgLocal}spacer.gif" border="0"></a>
				</span>
				<span id="formDiscountTypeData" style="display: none;">
					[
						{ "label": "#springMessage('label.coupon.discount.unit.percentage')", "value": "P" },
						{ "label": "#springMessage('label.coupon.discount.unit.dollar')", "value": "D" }
					]
				</span>
				
				#springBind("couponForm.wrappedObject.startDate")##
				<label class="detailLabel">#springMessage("label.coupon.startDate"):</label>
				<section class="hiddenLabelContainer">
					<input type="text" id="formStartDate" name="${status.expression}" value="" class="detailValue autoText couponDate cleanable" maxlength="10" placeholder="#springMessage("label.format.datepicker")"/>
				</section>
				
				#springBind("couponForm.wrappedObject.endDate")##
				<label class="detailLabel">#springMessage("label.coupon.endDate"):</label>
				<section class="hiddenLabelContainer">
					<input type="text" id="formEndDate" name="${status.expression}" value="" class="detailValue autoText couponDate cleanable" maxlength="10" placeholder="#springMessage("label.format.datepicker")"/>
				</section>
			</section>
			<section class="col2">
				#springBind("couponForm.wrappedObject.locationRandomId")##
				<label class="detailLabel">#springMessage("label.coupon.valid.location"):</label>
				<span class="inputWithButton">
					<input type="hidden" id="formLocationVal" name="${status.expression}" value=""/>
					<input id="formLocation" name="${status.expression}Label" type="text" autocomplete="off" class="detailValue autoText flatRight couponLocation"/>
					<a href="#" id="formLocationExpand" class="linkButtonIcn selectMenu flatLeft" title="#springMessage('button.showOptions')"><img width="18" height="1" title="arrow" alt="arrow" src="${imgLocal}spacer.gif" border="0"></a>
				</span>
				<span id="formLocationData" style="display: none;">$!{locationTree}</span>
				
				<label class="detailLabel">#springMessage("label.coupon.maxNumOfUses"):</label>
				#springBind("couponForm.wrappedObject.numUsesType")##
				<span class="inputWithButton">
					<input type="hidden" id="formMaxNumOfUsesTypeVal" name="${status.expression}" value=""/>
					<input id="formMaxNumOfUsesType" name="${status.expression}Label" type="text" autocomplete="off" class="detailValue autoText flatRight couponMaxNumOfUsesType"/>
					<a href="#" id="formMaxNumOfUsesTypeExpand" class="linkButtonIcn selectMenu flatLeft" title="#springMessage('button.showOptions')"><img width="18" height="1" title="arrow" alt="arrow" src="${imgLocal}spacer.gif" border="0"></a>
				</span>
				<span id="formMaxNumOfUsesTypeData" style="display: none;">
					[
						{ "label": "#springMessage('label.coupon.maxNumOfUses.unlimited')", "value": "U" },
						{ "label": "#springMessage('label.coupon.maxNumOfUses.specify')", "value": "S" }
					]
				</span>
				#springBind("couponForm.wrappedObject.numUses")##
				<input type="text" id="formMaxNumOfUses" name="${status.expression}" value="" class="detailValue autoText intNmbrChrctr couponMaxNumOfUses cleanable" maxlength="4"/>
				
				#springBind("couponForm.wrappedObject.validForNumOfDay")##
				<label class="detailLabel">#springMessage("label.coupon.restriction"):</label>
				<input type="hidden" id="formDailySingleUse" name="${status.expression}" value="" class="cleanable"/>
				<span id="formDailySingleUseOptions" class="detailValue">
					<label id="dailySingleUse_true"><a href="#" class="checkBox">&nbsp;</a> #springMessage("label.coupon.dailySingleUse")</label>
				</span>
				
				<section id="payOptions">
					<label class="detailLabel" required>#springMessage("label.coupon.available.for"):<span class="reqFlag">*</span></label>
					#springBind("couponForm.wrappedObject.pndEnabled")##
					<input type="hidden" id="formPndEnabled" name="${status.expression}" value="" class="cleanable"/>
					<section id="formPndEnabledOptions" class="detailValue" style="margin-bottom: 3px;">
						<label id="pndEnabled_true"><a href="#" class="checkBox">&nbsp;</a> #springMessage("label.coupon.available.pnd")</label>
					</section>
					#springBind("couponForm.wrappedObject.pbsEnabled")##
					<input type="hidden" id="formPbsEnabled" name="${status.expression}" value="" class="cleanable"/>
					<section id="formPbsEnabledOptions" class="detailValue">
						<label id="pbsEnabled_true"><a href="#" class="checkBox">&nbsp;</a> #springMessage("label.coupon.available.pbs")</label>
					</section>
					
					<span id="sectionStallRanges">
						#springBind("couponForm.wrappedObject.stallRange")##
						<label class="detailLabel">#springMessage("label.coupon.spaceRange")</label>
						<input type="text" id="formSpaceRange" name="${status.expression}" value="" class="detailValue autoText intNumberWithSeparator couponStallRange cleanable toolTip" maxlength="255" tooltip="#springMessage('label.parkRangeRegEx')"/>
					</span>
				</span>
			</section>
		</section>
		<section class="btnSet">
			<a href="#" class="linkButtonFtr textButton save">#springMessage('button.save')</a>
			<a href="#" class="linkButton textButton cancel">#springMessage('button.cancel')</a>
		</section>
		</section>
	</form>
</section>