## Velocity Document
##
#if(!$setupFile || $setupFile != "true")##
	#parse( "/WEB-INF/templates/include/setup.vm" )##
#end##
##
<section id="customerCardView" class="groupBox mainContent invisible">
#if($authtools.allow('customer.passcards.manage'))##
	<section id="menu_cardView" class="ddMenu">
		<input type="hidden" name="id" value=""/>
		<img src="${imgLocal}icn_ddMenuArrow.png" class="point" width="25" height="13" border="0" />
		<section class="menuOptions innerBorder">
			<a href="#" class="edit" title="#springMessage('button.edit')">#springMessage('button.edit')</a>
			<a href="#" class="delete" title="#springMessage('button.delete')">#springMessage('button.delete')</a>
		</section>
	</section>
#end##
	<header>
		<h2>#springMessage('label.customerCard.customerCardDetails')</h2>
	#if($authtools.allow('customer.passcards.manage'))##
		<a href="#" id="opBtn_cardView" class="hdrButtonIcn menu menuHeader" title="#springMessage('label.optionMenu')">&nbsp;</a>
	#end##
	</header>
	<section class="groupBoxBody column-5-5">
		<dl class="details col1">
			<dt class="detailLabel">#springMessage('label.customerCard.cardNumber'):</dt> 
			<dd name="dtlCardNumber" class="detailValue cleanable"></dd>
			<dt class="detailLabel">#springMessage('label.customerCard.cardType'):</dt> 
			<dd name="dtlCardType" class="detailValue cleanable"></dd>
			<dt class="detailLabel">#springMessage('label.customerCard.location'):</dt> 
			<dd name="dtlLocation" class="detailValue cleanable"></dd>
			<dt class="detailLabel">#springMessage('label.customerCard.comment'):</dt> 
			<dd name="dtlComment" class="detailValue cleanable"></dd>
			<dt class="detailLabel">#springMessage('label.customerCard.assignedTo'):</dt> 
			<dd name="dtlAssignedTo" class="detailValue cleanable"></dd>
		</dl>
		<section class="details col2">
			<dt class="detailLabel">#springMessage('label.customerCard.validFrom'):</dt> 
			<dd name="dtlValidFrom" class="detailValue cleanable"></dd>
			<dt class="detailLabel">#springMessage('label.customerCard.validTo'):</dt> 
			<dd name="dtlValidTo" class="detailValue cleanable"></dd>
			<dt class="detailLabel">#springMessage('label.customerCard.restricted'):</dt> 
			<dd name="dtRestricted" class="detailValue cleanable"></dd>
			<span id="dtlSectionGracePeriod">
				<dt class="detailLabel">#springMessage('label.customerCard.gracePeriod'):</dt> 
				<dd name="dtGracePeriod" class="detailValue cleanable"></dd>
			</span>
			<dt class="detailLabel">#springMessage('label.customerCard.maxNumOfUses'):</dt> 
			<dd name="dtlMaxNumOfUses" class="detailValue cleanable"></dd>
			<dt class="detailLabel">#springMessage('label.customerCard.remainingUsage'):</dt> 
			<dd name="dtlRemainingUsage" class="detailValue cleanable"></dd>
		</section>
	</section>
</section>