#* velocity document *#
##
<section class="filterHeader searchHeader horizontal">
	<section class="title">
		<img title="#springMessage('label.search')" src="${imgLocal}icn_SearchLrg.png" width="22" height="21">## #springMessage('label.allCaps.search'):						
	</section>
	#springBind("customerCardSearchForm.*")##
	<form name="customerCardFilterForm" id="customerCardFilterForm" method="POST">
		<input type="hidden" name="sessionToken" value="${sessionToken}"/>
		#springBind("customerCardSearchForm.postToken")##
		<input type="hidden" id="searchPostToken" name="${status.expression}" value="${customerCardSearchForm.initToken}"/>
		<ul class="filterForm">
			<li>
				#springBind("customerCardSearchForm.wrappedObject.filterValue")##
				<section class="filterTitle">
					<label id="formFilterValueLabel" class="detailLabel" for="formFilterValue">#springMessage('label.customerCard.filterValue')</label>
				</section>
				<section class="filterValue">
					<input id="formFilterValue" type="text" name="${status.expression}" value="" class="detailValue prntableChrctr autoWidthFilter100" maxlength="70"/>
					<a href="#" id="searchClearBtn" class="removeFile">&nbsp;</a>
				</section>
			</li>
			<li style="vertical-align: bottom;">
				<section class="filterTitle">&nbsp;</section>
				<section>
					<a href="#" class="linkButtonFtr autoWidthAsset search" title="#springMessage('label.search')">#springMessage('label.search')</a>
				</section>
			</li>
		</ul>
	</form>
</section>