#* velocity document *#
#if(!$setupFile || $setupFile != "true")##
	#parse( "/WEB-INF/templates/include/setup.vm" )##
#end##
##
<dl class="details">

<section class="col1">
		<dt class="detailLabel">#springMessage('label.systemAdmin.workspace.customer.merchantAccountForm.account'):</dt>
		<dd class="detailValue">${merchantAccountEditForm.wrappedObject.name.replaceAll(" ", "&nbsp;")}</dd>
		<dt class="detailLabel">#springMessage('label.systemAdmin.workspace.customer.merchantAccountForm.status'):</dt>
		<dd class="detailValue">#if($merchantAccountEditForm.wrappedObject.isEnabled == "true")#springMessage('label.enabled')#else#springMessage('label.disabled')#end</dd>
		<dt class="detailLabel">#springMessage('label.systemAdmin.workspace.customer.merchantAccountForm.processor.processor'):</dt>
		<dd class="detailValue">${merchantAccountEditForm.wrappedObject.processorLabel}</dd>
</section>
<section id="processorDetailsDisplay" class="col1">
	
</section>
</dl>

<script type="text/javascript" language="javascript">
var ajaxMerchantProcessor = GetHttpObject();
ajaxMerchantProcessor.onreadystatechange = function()
{
	if (ajaxMerchantProcessor.readyState==4 && ajaxMerchantProcessor.status == 200){
		if(ajaxMerchantProcessor.responseText != false){ $("#processorDetailsDisplay").html(ajaxMerchantProcessor.responseText); } 
		else { alertDialog(systemErrorMsg); } //Unable to load details
	} else if(ajaxMerchantProcessor.readyState==4){
		alertDialog(systemErrorMsg); //Unable to load details
	}
};
ajaxMerchantProcessor.open("GET","/systemAdmin/workspace/customers/addProcessorInfo.html?processorTemplate=${processor.formName}&merchantAccountId=${params.merchantAccountId}&"+document.location.search.substring(1),true);
ajaxMerchantProcessor.send();

var timeOps = [##
{"label": "------", "value": "-1"}##
#set($oTimeCount = 0)##
#set($dayPortion = [" am"," pm"])##
#foreach($hr in [0..23])##
#set($ampm = '')##
#if($hr < 12) #set($ampm = 0) #else #set($ampm = 1) #end##
#if($hr == 0) ##
#set($hour = 12) ##
#elseif($hr > 12) ##
#set($hour = $hr - 12) ##
#if($hour < 10)##
#set($hour = "0"+$hour)##
#end##
#elseif($hr < 10) ##
#set($hour = "0"+$hr)##
#else ##
#set($hour = $hr) ##
#end##
#foreach($mn in [0..3])##
#if($mn==0) #set($minute = "00") #else #set($minute = $mn*15)#end##
,{ "label": "${hour}:${minute} $dayPortion[${ampm}]", "value": "${oTimeCount}" }##
#set($oTimeCount = $oTimeCount + 1)##
#end##
#end##
];

var timeZoneOps = [##
{ "label": "#springMessage('label.choose')", "value": "-1" }##
#foreach($zone in $GlobalConfiguration.timeZones)##
,{ "label": "$zone.name", "value": "$zone.name" }##
#end##
];	

</script>