#* velocity document *#
#if(!$setupFile || $setupFile != "true")##
	#parse( "/WEB-INF/templates/include/setup.vm" )##
#end##
##
##  processor.name, name, field1, field2, field3, field4, field5, field6, merchantStatusType.id, merchantStatusType.name
##
#set($accountID = $!{params.merchantAccountId})
#set($notValid = $!{params.notValid})
#set($tmpTimeZone = $!{params.tmpTimeZone})

#springBind("merchantAccountEditForm.*")##
<form id="merchantAccountEditForm" name="merchantAccountEditForm" method="post" action="/" class="details column-7-3">
<input type="hidden" name="sessionToken" value="$!{sessionToken}"/>
#springBind("merchantAccountEditForm.postToken")##
<input type="hidden" name="${status.expression}" id="merchPostToken" value="$!{merchantAccountEditForm.initToken}"/>
#springBind("merchantAccountEditForm.actionFlag")##	
<input type="hidden" name="${status.expression}" id="actionFlag" #if($accountID) value="1"#else value="0"#end/>
#springBind("merchantAccountEditForm.wrappedObject.customerId")##	
<input type="hidden" name="${status.expression}" id="customerID" value="$!{params.customerID}"/>
#springBind("merchantAccountEditForm.wrappedObject.randomId")##
<input type="hidden" name="${status.expression}" id="randomID" value="$!{accountID}"/>

<section class="col1">
		#springBind("merchantAccountEditForm.wrappedObject.name")##	
		<label for="account" class="detailLabel">#springMessage('label.systemAdmin.workspace.customer.merchantAccountForm.account'):</label>
		<input type="text" name="${status.expression}" value="$!{status.value}" class="detailValue stndrdChrctr reqField" required id="account" size="32" maxlength="30">
</section>

<section class="col2">
		<label for="statusCheck" class="detailLabel">#springMessage('label.systemAdmin.workspace.customer.merchantAccountForm.status'):</label>
		#springBind("merchantAccountEditForm.wrappedObject.isEnabled")##	
		<input type="hidden" name="${status.expression}" id="statusCheckHidden" #if(${status.value})value="${status.value}"#else value="true"#end>
		<label class="checkboxLabel switch" for="statusCheckHidden"><a href="#" id="statusCheck" class="checkBox #if($status.value != 'false')checked#end">&nbsp;</a> #springMessage('label.enabled')</label>
</section>

<section class="clear">
		<label for="processors" class="detailLabel reqField">#springMessage('label.systemAdmin.workspace.customer.merchantAccountForm.processor.processor'):</label>
#if($accountID)
		#springBind("merchantAccountEditForm.wrappedObject.processorName")##
		<input type="hidden" id="processorsValue" name="${status.expression}" value="${status.value}">
		#springBind("merchantAccountEditForm.wrappedObject.processorLabel")##
		<input type="text" name="${status.expression}" value="$!{status.value}" class="detailValue stndrdChrctr disabled reqField" required id="processor" size="32" maxlength="30" disabled="disabled">
#else
		<section class="inputWithButton" style="width: 20em;">
			#springBind("merchantAccountEditForm.wrappedObject.processorName")##
			<input id="processorsVal" type="hidden" name="${status.expression}" />
			<input id="processors" type="text" name="${status.expression}Label" autocomplete="off" class="autoText detailValue stndrdChrctr flatRight reqField" required placeholder="#springMessage('label.choose')" />
			<a href="#" id="processorsExpand" class="linkButtonIcn selectMenu flatLeft" title="#springMessage('button.showOptions')"><img width="18" height="1" title="arrow" alt="arrow" src="${imgLocal}spacer.gif" border="0"></a>
		</section>
#end
</section>		

<section id="processorDetails">
	
</section>
</form>


<script type="text/javascript">
##globalPostToken = "${merchantAccountEditForm.initToken}";##
##
#if($accountID)
	var ajaxMerchantProcessor = GetHttpObject();
	ajaxMerchantProcessor.onreadystatechange = function()
	{
		if (ajaxMerchantProcessor.readyState==4 && ajaxMerchantProcessor.status == 200){
			if(ajaxMerchantProcessor.responseText != false){ $("#processorDetails").html(ajaxMerchantProcessor.responseText); } 
			else { alertDialog(systemErrorMsg); } //Unable to load details
		} else if(ajaxMerchantProcessor.readyState==4){
			alertDialog(systemErrorMsg); //Unable to load details
		}
	};
	ajaxMerchantProcessor.open("GET","/systemAdmin/workspace/customers/addProcessorInfo.html?processorTemplate=${processor.formName}&merchantAccountId=${accountID}&notValid=${notValid}&"+document.location.search.substring(1),true);
	ajaxMerchantProcessor.send();
#else
var merchantProcessorsObj = [
{ value: "-1", label: "#springMessage('label.choose')" }
	#foreach($processorGroup in $merchantAccountEditForm.wrappedObject.processors)
		#foreach($processor in $processorGroup)
			#if($velocityCount == 1)#set($processorCategory = "${processor.name}")
			#else ,{value: "$!{processor.formName}", label: "$!{processor.name}", category: "$!{processorCategory}" }#end##
		#end
	#end
];##
##

$("#processors").autoselector({
	"isComboBox": true, 
	"defaultValue": null,
	"shouldCategorize": true,
	"data": merchantProcessorsObj })
.on("itemSelected", function(event, ui) { 
	var slctValue = $("#processors").autoselector("getSelectedValue");
	if(slctValue == -1) { $("#processorDetails").html(""); } 
	else {
		var ajaxMerchantProcessor = GetHttpObject();
		ajaxMerchantProcessor.onreadystatechange = function()
		{
			if (ajaxMerchantProcessor.readyState==4 && ajaxMerchantProcessor.status == 200){
				if(ajaxMerchantProcessor.responseText != false){ $("#processorDetails").html(ajaxMerchantProcessor.responseText); } 
				else { alertDialog(systemErrorMsg); } //Unable to load details
			} else if(ajaxMerchantProcessor.readyState==4){
				alertDialog(systemErrorMsg); //Unable to load details
			}
		};
		ajaxMerchantProcessor.open("GET","/systemAdmin/workspace/customers/addProcessorInfo.html?processorTemplate="+slctValue+"&notValid=${notValid}&tmpTimeZone=$!{tmpTimeZone}&"+document.location.search.substring(1),true);
		ajaxMerchantProcessor.send();
	}
	$(this).trigger('blur');
	return false;
});
#end

var timeOps = [##
{"label": "------", "value": "-1"}##
#set($oTimeCount = 0)##
#set($dayPortion = [" am"," pm"])##
#foreach($hr in [0..23])##
#set($ampm = '')##
#if($hr < 12) #set($ampm = 0) #else #set($ampm = 1) #end##
#if($hr == 0) ##
#set($hour = 12) ##
#elseif($hr > 12) ##
#set($hour = $hr - 12) ##
#if($hour < 10)##
#set($hour = "0"+$hour)##
#end##
#elseif($hr < 10) ##
#set($hour = "0"+$hr)##
#else ##
#set($hour = $hr) ##
#end##
#foreach($mn in [0..3])##
#if($mn==0) #set($minute = "00") #else #set($minute = $mn*15)#end##
,{ "label": "${hour}:${minute} $dayPortion[${ampm}]", "value": "${oTimeCount}" }##
#set($oTimeCount = $oTimeCount + 1)##
#end##
#end##
];

var timeZoneOps = [##
{ "label": "#springMessage('label.choose')", "value": "-1" }##
#foreach($zone in $GlobalConfiguration.timeZones)##
,{ "label": "$zone.name", "value": "$zone.name" }##
#end##
];	

</script>
