#* velocity document *#
##
##
<section class="form">##
#springBind("merchantAccountEditForm.*")##
#springBind("merchantAccountEditForm.wrappedObject.quarterOfTheDay")##	
<label for="closeTime" class="detailLabel">#springMessage('label.systemAdmin.workspace.customer.merchantAccountForm.closeTime')</label>##
<section class="inputWithButton left" style="width: 8em;">
	<input type="hidden" id="closeTimeVal" name="${status.expression}" value="$!{status.value}">
	<input id="closeTime" type="text" name="mrchSelectTimeZoneDisplay" autocomplete="off" class="autoText detailValue stndrdChrctr flatRight" />
	<a href="#" id="closeTimeExpand" class="linkButtonIcn selectMenu flatLeft" title="#springMessage('button.showOptions')"><img width="18" height="1" title="arrow" alt="arrow" src="${imgLocal}spacer.gif" border="0"></a>
</section>
#if(${status.value}) #set($ctDefaultVal = ${status.value}) #else #set($ctDefaultVal = "-1") #end
	<script type="text/javascript" language="javascript">
		$("#closeTime").autoselector({
			"isComboBox": true, 
			"defaultValue": ${ctDefaultVal},
			"shouldCategorize": true,
			"data": timeOps });
	</script>

##
#springBind("merchantAccountEditForm.wrappedObject.timeZone")##	
##
<label id="mrchSelectTimeZoneLabel" class="detailLabel clear" for="mrchSelectTimeZone">#springMessage('label.settings.globalPref.selected.timeZone')</label>
#if($!{params.tmpTimeZone}) #set($tzDefaultVal = $!{params.tmpTimeZone}) #else #set($tzDefaultVal = ${status.value}) #end
<section class="inputWithButton left clear" style="width: 20em;">
	<input type="hidden" id="mrchSelectTimeZoneVal" name="${status.expression}" value="${tzDefaultVal}">
	<input id="mrchSelectTimeZone" type="text" name="mrchSelectTimeZoneDisplay" autocomplete="off" class="autoText detailValue stndrdChrctr flatRight" />
	<a href="#" id="mrchSelectTimeZoneExpand" class="linkButtonIcn selectMenu flatLeft" title="#springMessage('button.showOptions')"><img width="18" height="1" title="arrow" alt="arrow" src="${imgLocal}spacer.gif" border="0"></a>
</section>
<br clear="all" />

<script type="text/javascript" language="javascript">
	$("#mrchSelectTimeZone").autoselector({
		"isComboBox": true, 
		"defaultValue": "${tzDefaultVal}",
		"shouldCategorize": true,
		"data": timeZoneOps });
</script>

##
</section>##
##
<section class="display">##
	<dt class="detailLabel">#springMessage('label.systemAdmin.workspace.customer.merchantAccountForm.closeTime'):</dt>
	<dd id="closeTimeDisplay" class="detailValue">$!{merchantAccountEditForm.wrappedObject.quarterOfTheDay}</dd>
	<script type="text/javascript" language="javascript">
	#if($ctDefaultVal == "-1")##
		$("#closeTimeDisplay").html("");
	#else##
		$("#closeTimeDisplay").html(openHrs[${ctDefaultVal}]);
	#end##
	</script>
##
	<dt class="detailLabel">#springMessage('label.settings.globalPref.selected.timeZone'):</dt>
	<dd class="detailValue">$!{merchantAccountEditForm.wrappedObject.timeZone}</dd>
</section>##
##