#* velocity document *#
##
#if(!$setupFile || $setupFile != "true")##
	#parse( "/WEB-INF/templates/include/setup.vm" )##
#end##
##
#set($notValid = $!{params.notValid})##
##
#if($notValid == true)##
	#set($disabledClass = "")##
	#set($disabledAtr = "")##
#else##
	#set($disabledClass = " disabled")##
	#set($disabledAtr = "disabled='disabled'")##
#end##
##
#parse("${dirPrefix}systemAdmin/workspace/customers/include/merchantAccountTime.vm")##
##
#if($params.merchantAccountId && $params.merchantAccountId != "")##
	#set($showInlineValue = true)##
#else##
	#set($showInlineValue = false)##
#end##
##
<section class="form">
	#springBind("merchantAccountEditForm.*")##
	#springBind("merchantAccountEditForm.wrappedObject.field1")##
	<label for="field1" class="detailLabel">#springMessage('label.systemAdmin.workspace.customer.merchantAccountForm.processor.accountID'):</label>
	<input type="text" name="${status.expression}" class="detailValue stndrdChrctr${disabledClass} reqField" required value="#if($showInlineValue)$!{status.value}#end" size="32" id="field1" ${disabledAtr}>
	##
	#springBind("merchantAccountEditForm.wrappedObject.field2")##
	<label for="field2" class="detailLabel">#springMessage('label.systemAdmin.workspace.customer.merchantAccountForm.processor.terminalID'):</label>
	<input type="text" name="${status.expression}" class="detailValue stndrdChrctr${disabledClass} reqField" required value="#if($showInlineValue)$!{status.value}#end" size="32" id="field2" ${disabledAtr}>
</section>
##
##
<section class="display">
		<dt class="detailLabel">#springMessage('label.systemAdmin.workspace.customer.merchantAccountForm.processor.accountID'):</dt>
		<dd class="detailValue">$!{merchantAccountEditForm.wrappedObject.field1}</dd>
##
		<dt class="detailLabel">#springMessage('label.systemAdmin.workspace.customer.merchantAccountForm.processor.terminalID'):</dt>
		<dd class="detailValue">$!{merchantAccountEditForm.wrappedObject.field2}</dd>
</section>
##