#* velocity document *#
##
#if(!$setupFile || $setupFile != "true")##
	#parse( "/WEB-INF/templates/include/setup.vm" )##
#end##
##
#set($notValid = $!{params.notValid})##
##
#if($notValid == true)##
	#set($disabledClass = "")##
	#set($disabledAtr = "")##
#else##
	#set($disabledClass = " disabled")##
	#set($disabledAtr = "disabled='disabled'")##
#end##
##
#parse("${dirPrefix}systemAdmin/workspace/customers/include/merchantAccountTime.vm")

#if($params.merchantAccountId && $params.merchantAccountId != "")##
	#set($showInlineValue = true)##
#else##
	#set($showInlineValue = false)##
#end####
<section class="form">
	#springBind("merchantAccountEditForm.*")##
	#springBind("merchantAccountEditForm.wrappedObject.field1")##
	<label for="field1" class="detailLabel">#springMessage('label.systemAdmin.workspace.customer.merchantAccountForm.processor.merchantProcessor'):</label>
#if($notValid == true)##
	<section class="inputWithButton left" style="width: 20em;">
		<input type="hidden" id="field1Val" name="${status.expression}" value="">
		<input id="field1" type="text" name="field1Display" autocomplete="off" class="autoText detailValue stndrdChrctr flatRight reqField" required placeholder="#springMessage('label.choose')" />
		<a href="#" id="field1Expand" class="linkButtonIcn selectMenu flatLeft" title="#springMessage('button.showOptions')"><img width="18" height="1" title="arrow" alt="arrow" src="${imgLocal}spacer.gif" border="0"></a>
	</section>
	
	<span id="field1Data" style="display: none;">
		[
			{ "label": "#springMessage('label.choose')", "value": "-1" }
		#set($processorDefault = "null")
	#foreach($processor in $merchantAccountEditForm.wrappedObject.emvProcs.get(20))
			#if($status.value == $processor)#set($processorDefault = $status.value)#end
			,{ "label": "$processor", "value": "$processor" }
	#end
		]
	</span>
	<script type="text/javascript" language="javascript">
		$("#field1").autoselector({
			"isComboBox": true,
			"defaultValue": "${processorDefault}",
			"data": JSON.parse($("#field1Data").text()) });
	</script>
#else
	<input type="text" name="${status.expression}" class="detailValue${disabledClass}" value="#if($showInlineValue)$!{status.value}#end" size="32" id="field1" ${disabledAtr}>
#end

    #springBind("merchantAccountEditForm.wrappedObject.field2")##
    <label for="field2" class="detailLabel clear">#springMessage('label.systemAdmin.workspace.customer.merchantAccountForm.processor.merchantID'):</label>
    <input type="text" name="${status.expression}" class="detailValue stndrdChrctr${disabledClass} reqField" required value="#if($showInlineValue)$!{status.value}#end" size="32" id="field2" ${disabledAtr}>
    ##

    #springBind("merchantAccountEditForm.wrappedObject.field3")##
    <label for="field3" class="detailLabel">#springMessage('label.systemAdmin.workspace.customer.merchantAccountForm.processor.terminalID'):</label>
    <input type="text" name="${status.expression}" class="detailValue stndrdChrctr${disabledClass} reqField" required value="#if($showInlineValue)$!{status.value}#end" size="32" id="field3" ${disabledAtr}>
    ##

    #springBind("merchantAccountEditForm.wrappedObject.field4")##
    <label for="field4" class="detailLabel">#springMessage('label.systemAdmin.workspace.customer.merchantAccountForm.processor.transactionKey'):</label>
    <input type="text" name="${status.expression}" class="detailValue stndrdChrctr${disabledClass} reqField" required value="#if($showInlineValue)$!{status.value}#end" size="32" id="field4" ${disabledAtr}>
    ##

	#springBind("merchantAccountEditForm.wrappedObject.field5")##
	<label for="field5" class="detailLabel">#springMessage('label.systemAdmin.workspace.customer.merchantAccountForm.processor.currency'):</label>
	#if($notValid == true)##
		<section class="inputWithButton left" style="width: 20em;">
			<input type="hidden" id="field5Val" name="${status.expression}" value="#if($showInlineValue)$!{status.value}#end">
			<label id="field5Label" class="detailValue hiddenLabel reqField" for="field5">#springMessage('label.choose')</label>
			<input id="field5" type="text" name="field5Display" autocomplete="off" class="autoText detailValue stndrdChrctr flatRight hiddenLabel reqField" required />
			<a href="#" id="field5Expand" class="linkButtonIcn selectMenu flatLeft" title="#springMessage('button.showOptions')"><img width="18" height="1" title="arrow" alt="arrow" src="${imgLocal}spacer.gif" border="0"></a>
		</section>
		
		<span id="field5Data" style="display: none;">
			[
				{ "label": "#springMessage('label.choose')", "value": "-1" },
				{ "label": "CAD", "value": "CAD" },
				{ "label": "USD", "value": "USD" }
			]
		</span>
		<script type="text/javascript" language="javascript">
			$("#field5").autoselector({
				"isComboBox": true,
				"defaultValue": "-1",
				"data": JSON.parse($("#field5Data").text()) });
		</script>
	
	#else
		<input type="text" name="${status.expression}" class="detailValue${disabledClass} reqField" required value="#if($showInlineValue)$!{status.value}#end" size="32" id="field5" ${disabledAtr}>
	#end

</section>
##
##
<section class="display">
	<dt class="detailLabel">#springMessage('label.systemAdmin.workspace.customer.merchantAccountForm.processor.merchantProcessor'):</dt>
	<dd class="detailValue">$!{merchantAccountEditForm.wrappedObject.field1}</dd>
##
	<dt class="detailLabel">#springMessage('label.systemAdmin.workspace.customer.merchantAccountForm.processor.merchantID'):</dt>
	<dd class="detailValue">$!{merchantAccountEditForm.wrappedObject.field2}</dd>
##
    <dt class="detailLabel">#springMessage('label.systemAdmin.workspace.customer.merchantAccountForm.processor.terminalID'):</dt>
    <dd class="detailValue">$!{merchantAccountEditForm.wrappedObject.field3}</dd>
##
    <dt class="detailLabel">#springMessage('label.systemAdmin.workspace.customer.merchantAccountForm.processor.transactionKey'):</dt>
    <dd class="detailValue">$!{merchantAccountEditForm.wrappedObject.field4}</dd>    	
##
    <dt class="detailLabel">#springMessage('label.systemAdmin.workspace.customer.merchantAccountForm.processor.currency'):</dt>
    <dd class="detailValue">$!{merchantAccountEditForm.wrappedObject.field5}</dd>   
</section>
##
