#* velocity document *#
##
#parse( "/WEB-INF/templates/include/setup.vm" )
##
#set($helpLink = "#springMessage('help.link.CardManagement')")##
##
#set($pageSec = "cardManagement")##
##
<!DOCTYPE html>
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->


##
<head>
	<title>#springMessage('label.siteName') - #springMessage('link.nav.cardManagement') : #springMessage('link.nav.cardManagement.cardRefund')</title>
#parse( "${dirPrefix}include/head.vm" )
##
<link rel="stylesheet" type="text/css" media="all" href="${styleLocal}settings.css${staticQuerry}">
<link rel="stylesheet" type="text/css" media="all" href="${styleLocal}cardManagement.css${staticQuerry}">
##
<script type="text/javascript" src="${scriptLocal}cardManagement.js${staticQuerry}"></script>
<script type="text/javascript" src="${scriptLocal}jquery.ui.ajaxtab.js${staticQuerry}"></script>
<script type="text/javascript" src="${scriptLocal}jquery.ui.autoselector.js${staticQuerry}"></script>
<script type="text/javascript" src="${scriptLocal}jquery.ui.autominutes.js${staticQuerry}"></script>
</head>
##
<body id="settings">
##
#parse( "${dirPrefix}include/generalHead.vm" )
##
<section id="content">
##
#parse( "${dirPrefix}include/mainNav.vm" )
##
	<section id="mainContent">
##
#set($crntSection = "#springMessage('link.nav.cardManagement.cardRefund')")
#set($crntPage = "#springMessage('link.nav.cardManagement')")
#set($sectionTitle = "#springMessage('link.nav.cardManagement')")
#parse( "${dirPrefix}cardManagement/include/navSetup.vm" )
#parse( "${dirPrefix}include/sectionNav.vm" )
## 
## Card Management
<section class="filterHeader searchHeader doubleRow horizontal">
	<section class="title">
		<img title="filter" src="${imgLocal}icn_SearchLrg.png" width="22" height="21">## #springMessage('label.allCaps.search'):
	</section>
	#springBind("cardRefundForm.*")##
	<form name="cardRefundSarchForm" id="cardRefundSarchForm">
		<input type="hidden" name="sessionToken" value="${sessionToken}"/>
		#springBind("cardRefundForm.postToken")##
		<input type="hidden" id="searchPostToken" name="${status.expression}" value="${cardRefundForm.initToken}"/>
		#springBind("cardRefundForm.actionFlag")##	
		<input type="hidden" name="${status.expression}" id="actionFlag" value="$!{status.value}"/>
		<ul class="filterForm">
			<li class="searchCardNumberBox">
				#springBind("cardRefundForm.wrappedObject.cardNumber")##
				<section class="filterTitle">
					<label class="detailLabel" for="searchCardNumber">#springMessage('label.settings.cardSettings.CardNumber')</label>
				</section>
				<section>
					<input id="searchCardNumber" type="text" name="${status.expression}" value="$!{status.value}" class="detailValue intNmbrChrctr reqField" required size="16" maxlength="16" autocomplete="off"/>
				</section>
			</li>
			<li class="searchCardExpiryBox">
				#springBind("cardRefundForm.wrappedObject.cardExpiry")##
				<section class="filterTitle">
					<label class="detailLabel" for="searchCardExpiry">#springMessage('label.settings.cardSettings.CardExpiry.abbr')</label>
				</section>
				<section>
					<span class="hiddenLabelContainer">
						<input id="searchCardExpiry" type="text" name="${status.expression}" value="$!{status.value}" class="detailValue intNmbrChrctr reqField" required size="4" maxlength="4" autocomplete="off" placeholder="#springMessage("label.format.card.expiration")"/>
					</span>
				</section>
			</li>
			<li class="searchAuthNumberBox">
				#springBind("cardRefundForm.wrappedObject.authorizationNumber")##
				<section class="filterTitle">
					<label class="detailLabel" for="searchAuthorizationNumber">#springMessage('label.cardManagement.cardRefund.authNumber')</label>
				</section>
				<section>
					<input id="searchAuthorizationNumber" type="text" name="${status.expression}" value="$!{status.value}" class="detailValue alphaNumChrctr" size="20" maxlength="20"/>
				</section>
			</li>
			<li class="searchMerchantAccountBox">
				#springBind("cardRefundForm.wrappedObject.randomMerchantAccountId")##
				<section class="filterTitle">
					<label class="detailLabel" for="searchMerchantAccount">#springMessage('label.cardManagement.cardRefund.merchantAccount')</label>
				</section>
				<section>
					<span class="inputWithButton">
						<input type="hidden" id="searchMerchantAccountVal" name="${status.expression}" value="$!{status.value}"/>
						<input id="searchMerchantAccount" type="text" autocomplete="off" class="autoText flatRight stndrdChrctr" style="width: 150px;"/>
						<a href="#" id="searchMerchantAccountExpand" class="linkButtonIcn selectMenu flatLeft" title="#springMessage('button.showOptions')"><img width="18" height="1" border="0" title="arrow" alt="arrow" src="${imgLocal}spacer.gif"></a>
					</span>
					<span id="searchMerchantAccountData" class="hide">[#printFilterDtoJSON($refundableMerchantAccountList)]</span>
				</section>
			</li>
			<li style="veritical-align: bottom;">
				<section>
					&nbsp;
				</section>
				<section>
					
				</section>
			</li>
			<li class="clear"></li>
			<li class="searchTxDateBox">
				<section class="filterTitle">
					<label class="detailLabel" for="searchTxDate">#springMessage('label.cardManagement.cardRefund.txDate')</label>
				</section>
				<section>
					#springBind("cardRefundForm.wrappedObject.dateType")##
					<span class="inputWithButton">
						<input id="searchTxDateTypeVal" type="hidden" name="${status.expression}" value="$!{status.value}"/>
						<input id="searchTxDateType" type="text" autocomplete="off" class="autoText flatRight dateType stndrdChrctr"/>
						<a href="#" id="searchTxDateTypeExpand" class="linkButtonIcn selectMenu flatLeft" title="#springMessage('button.showOptions')"><img width="18" height="1" title="arrow" alt="arrow" src="${imgLocal}spacer.gif" border="0"></a>
					</span>
					
					<span id="searchTxDateTimeStart">
						#springBind("cardRefundForm.wrappedObject.startDate")##
						<span class="hiddenLabelContainer">
							<input type="text" id="searchTxDateStart" name="${status.expression}" value="$!{status.value}" class="autoText txDate reqField" required maxlength="10" placeholder="#springMessage("label.format.datepicker")"/>
						</span>
						#springBind("cardRefundForm.wrappedObject.startTime")##
						<span class="hiddenLabelContainer">
							<input type="text" id="searchTxTimeStart" name="${status.expression}" value="$!{status.value}" class="autoText txTime meridianTimeNmbrChrctr" maxlength="6" placeholder="#springMessage("label.format.timepicker")"/>
						</span>
					</span>
					
					<span id="searchTxDateTimeConnector">#springMessage("label.timeRangeConnector")</span>
					
					<span id="searchTxDateTimeEnd">
						#springBind("cardRefundForm.wrappedObject.endDate")##
						<span class="hiddenLabelContainer">
							<input type="text" id="searchTxDateEnd" name="${status.expression}" value="$!{status.value}" class="autoText txDate reqField" required maxlength="10" placeholder="#springMessage("label.format.datepicker")"/>
						</span>
						#springBind("cardRefundForm.wrappedObject.endTime")##
						<span class="hiddenLabelContainer">
							<input type="text" id="searchTxTimeEnd" name="${status.expression}" value="$!{status.value}" class="autoText txTime meridianTimeNmbrChrctr" maxlength="6" placeholder="#springMessage("label.format.timepicker")"/>
						</span>
					</span>
					
					<span id="searchTxDateTypeData" style="display: none;">[#printDateRangeOptionsJSON($txDateOptions)]</span>
				</section>
			</li>
			<li>
				<section class="filterTitle">
					<label class="detailLabel">&nbsp;</label>
				</section>
				<section><a href="#" class="linkButtonFtr search right" title="#springMessage('label.search')" style="top: 0 !important;">#springMessage('label.search')</a></section>
			</li>
		</ul>
	</form>
</section>
		<section class="layout1 layout sectionContent">
			<section class="column first">
				<section class="groupBox">
					<header>
						<h2>#springMessage('label.cardManagement.cardRefund.txList')</h2>
					</header>
					<section id="txListSection">
						<ul id="txListContainerHeader" class="scrollingListHeader tx-list">
							<li>
								<div class="col1 notclickable"><p>#springMessage('label.settings.cardSettings.CardNumber')</p></div>
								<div class="col2 notclickable"><p>#springMessage('label.settings.cardSettings.CardExpiry')</p></div>
								<div class="col3 notclickable"><p>#springMessage('label.cardManagement.cardRefund.txDate')</p></div>
								<div class="col4 notclickable"><p>#springMessage('label.cardManagement.cardRefund.txAmount')</p></div>
							</li>
						</ul>
						<ul id="txListContainer" class="scrollingList tx-list menuButtonList">
							<li class="loadItem" style="display: none;">#parse("${dirPrefix}include/loading.vm")</li>
						</ul>
					</section>
				</section>
			</section>
		</section>
		
		<span id="txTemplate" style="display: none;">
			<li id="tx_[%= randomProcessorTransactionId %]">
				<div class="col1"><p>[%= (typeof cardNumber === "undefined") ? "" : cardNumber %]&nbsp;</p></div>
				<div class="col2"><p>[%= (typeof expiry === "undefined") ? "" : expiry %]&nbsp;</p></div>
				<div class="col3"><p>[%= (typeof transactionDateString === "undefined") ? "" : transactionDateString %]&nbsp;</p></div>
				<div class="col4"><p>[%= (typeof amountString === "undefined") ? "" : amountString %]&nbsp;</p></div>
				#if($authtools.allow('customer.cardManagement.cardRefund'))##
					<a id="opBtn_[%= randomProcessorTransactionId %]" title="#springMessage('button.refund')" class="menuListButton refund txMenu" href="#"><img width="18" height="1" title="#springMessage('button.refund')" src="${imgLocal}spacer.gif" border="0"></a>
				#end##
			</li>
		</span>
		
## /Card Management
	</section>
	<hr>
</section>
##
#parse( "${dirPrefix}include/footer.vm" )
##
#parse("${dirPrefix}include/alertMsg.vm")##
## 
<script type="text/javascript" language="javascript">
#parse("${dirPrefix}include/sessionActivityVar.vm")
#parse("${dirPrefix}include/standardJSMessages.vm")##
#parse("${dirPrefix}/cardManagement/include/constants.vm")##
$(document).ready(function(){ standard(); sessionActvty(); soh(["txListContainer"]); cardRefund(); });
var LOC = [];
LOC.searchCardTransaction = "/secure/cardManagement/searchCardRefund.html";
LOC.loadRefundDetail = "/secure/cardManagement/refundDetailForm.html";
LOC.processRefund = "/secure/cardManagement/processRefund.html";

</script>
## <!--script type="text/javascript" language="javascript" src="${scriptLocal}settings.js${staticQuerry}"></script-->
##
</body>
</html>