#* velocity document *#
##
#parse( "/WEB-INF/templates/include/setup.vm" )
##
#set($helpLink = "#springMessage('help.link.CardManagement')")##
##
#set($pageSec = "settings")##
##
<!DOCTYPE html>

<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->


##
<head>
	<title>#springMessage('label.siteName')  - #springMessage('heading.settings') - #springMessage('label.settings.cardSettings.CardSettings')</title>
#parse( "${dirPrefix}include/head.vm" )
##
<link rel="stylesheet" type="text/css" media="all" href="${styleLocal}settings.css${staticQuerry}">
<link rel="stylesheet" type="text/css" media="all" href="${styleLocal}cardManagement.css${staticQuerry}">
##
<script type="text/javascript" language="javascript">
#parse("${dirPrefix}include/sessionActivityVar.vm")
#parse("${dirPrefix}include/standardJSMessages.vm")
#parse("${dirPrefix}/cardManagement/include/constants.vm")

var LOC = [];
LOC["searchBannedCard"] = "/secure/cardManagement/searchBannedCard.html";
LOC["saveBannedCard"] = "/secure/cardManagement/saveBannedCard.html";
LOC["deleteBannedCard"] = "/secure/cardManagement/deleteBannedCard.html";
LOC["exportBannedCard"] = "/secure/cardManagement/exportBannedCard.html";
</script>
##
<script type="text/javascript" src="${scriptLocal}jquery.ui.ajaxtab.js${staticQuerry}"></script>
<script type="text/javascript" src="${scriptLocal}jquery.ui.paginatetab.js${staticQuerry}"></script>
<script type="text/javascript" src="${scriptLocal}jquery.ui.autoselector.js${staticQuerry}"></script>
<script type="text/javascript" src="${scriptLocal}jquery.ui.autominutes.js${staticQuerry}"></script>
<script type="text/javascript" src="${scriptLocal}jquery.ui.dptupload.js${staticQuerry}"></script>
<script type="text/javascript" src="${scriptLocal}cardManagement.js${staticQuerry}"></script>
##
<script type="text/javascript" language="javascript">
$(document).ready(function(){ standard(); bannedCard(); sessionActvty(); scrollListWidth(["bannedCardListContainer"]); soh(["bannedCardListContainer"]); });
</script>
</head>
##
<body id="settings">
##
#parse( "${dirPrefix}include/generalHead.vm" )
##
<section id="content">
##
#parse( "${dirPrefix}include/mainNav.vm" )
##
	<section id="mainContent">
##
#set($crntSection = "#springMessage('link.nav.settings.cardSettings')")
#set($crntPage = "#springMessage('link.nav.cardManagement.bannedCards')")
#set($sectionTitle = "#springMessage('heading.settings')")
#parse("${dirPrefix}settings/include/navSetup.vm")
#parse("${dirPrefix}settings/include/subNavSetup.vm")
#parse( "${dirPrefix}include/sectionNav.vm" )
#parse("${dirPrefix}include/subSectionNav.vm")
## 
## Card Management
		<section class="filterHeader searchHeader horizontal">
				<section class="title">
					<img title="#springMessage('label.search')" src="${imgLocal}icn_SearchLrg.png" width="22" height="20">## #springMessage('label.allCaps.search'):						
				</section>
				#springBind("bannedCardSearchForm.*")##
				<form name="bannedCardSearchForm" id="bannedCardSearchForm">
					<input type="hidden" name="sessionToken" value="${sessionToken}"/>
					<ul class="filterForm">
						<li>
							#springBind("bannedCardSearchForm.wrappedObject.filterCardNumber")##
							<section class="filterTitle">
								<label class="detailLabel toolTip" for="filterCardNumber" tooltip="#springMessage('button.help') : #springMessage('label.settings.cardSettings.CardNumber.minNumber')">#springMessage('label.settings.cardSettings.CardNumber')</label>
							</section>
							<section id="cardNumberArea">
								<input id="filterCardNumber" type="text" name="${status.expression}" value="$!{status.value}" class="detailValue intNmbrChrctr toolTip" size="37" maxlength="37"  tooltip="#springMessage('button.help') : #springMessage('label.settings.cardSettings.CardNumber.minNumber')" />
								<a href="#" id="searchClearBtn" class="removeFile" #if(${status.value} && ${status.value} != "")style="display: block;"#end >&nbsp;</a>
							</section>
						</li>
						<li>
							#springBind("bannedCardSearchForm.wrappedObject.filterCardTypeId")##
							<input id="filterCardType" type="hidden" name="${status.expression}" value="$!{status.value}"/>
							<section class="filterTitle">
								<label for="filterCardType">#springMessage('label.settings.cardSettings.CardType')</label>
								<section id="filterCardTypeLabel" class="logValue"></section>
							</section>
							<section class="filterMenu">
								<ul id="cardTypesList">
								#foreach($cardType in $cardTypeList)##
									<li id="$cardType.value" class="clickable">$cardType.label</li>
								#end##
								</ul>
							</section>
						</li>
						<li style="veritical-align: bottom;">
							<section>
								&nbsp;
							</section>
							<section>
								<a href="#" class="linkButtonFtr search" title="#springMessage('label.search')">#springMessage('label.search')</a>
							</section>
						</li>
					</ul>
				</form>
			</section>
		
		
		<section class="layout1 layout sectionContent">
			<section class="column first">
				<section class="groupBox mainContent">
					<header>
						<h2>#springMessage('label.cardManagement.bannedCard')</h2>
					#if($authtools.allow('customer.cardManagement.bannedCards.manage'))##
						<a id="opBtn_bannedCard" title="#springMessage('label.optionMenu')" class="hdrButtonIcn menu" href="#"><img width="18" height="1" border="0" title="#springMessage('label.optionMenu')" src="${imgLocal}spacer.gif"></a>
					#end##
					</header>
				#if($authtools.allow('customer.cardManagement.bannedCards.manage'))##
					<section id="menu_bannedCard" class="ddMenu">
						<img src="${imgLocal}icn_ddMenuArrow.png" class="point" width="25" height="13" border="0" />
						<section class="menuOptions innerBorder">
							<a href="#" class="add" title="#springMessage('button.edit')">#springMessage('button.add')</a>
							<a href="#" class="import" title="#springMessage('button.import')">#springMessage('button.import')</a>
						</section>
					</section>
				#end##
					<section id="bannedCardSection">
						<ul id="bannedCardListContainerHeader" class="scrollingListHeader banned-card-list">
							<li>
								<div class="col1 sort" name="sort_CARD_NUMBER" sort="cardNumber:ASC" colTitle="#springMessage('label.settings.cardSettings.CardNumber')" tooltip="#springMessage('label.settings.cardSettings.CardNumber') : #springMessage('label.sorting.ascendingMsg')"><p>#springMessage('label.settings.cardSettings.CardNumber') <img src="${imgLocal}icn_ArwDown.png" class="sortIcn" alt="" /></p></div>
								<div class="col2 sort current" name="sort_CARD_TYPE" sort="cardType:DESC" colTitle="#springMessage('label.settings.cardSettings.CardType')" tooltip="#springMessage('label.settings.cardSettings.CardType') : #springMessage('label.sorting.descendingMsg')"><p>#springMessage('label.settings.cardSettings.CardType') <img src="${imgLocal}icn_ArwDown.png" class="sortIcn" alt="" /></p></div>
								<div class="col3 sort" name="sort_CARD_EXPIRY" sort="cardExpiry:ASC" colTitle="#springMessage('label.settings.cardSettings.CardExpiry')" tooltip="#springMessage('label.settings.cardSettings.CardExpiry') : #springMessage('label.sorting.ascendingMsg')"><p>#springMessage('label.settings.cardSettings.CardExpiry') <img src="${imgLocal}icn_ArwDown.png" class="sortIcn" alt="" /></p></div>
								<div class="col4 sort" name="sort_ADDED_DATE" sort="addedDate:DESC" colTitle="#springMessage('label.cardManagement.bannedCard.addedDate')" tooltip="#springMessage('label.cardManagement.bannedCard.addedDate') : #springMessage('label.sorting.descendingMsg')"><p>#springMessage('label.cardManagement.bannedCard.addedDate') <img src="${imgLocal}icn_ArwUp.png" class="sortIcn" alt="" /></p></div>
								<div class="col5 sort" name="sort_SOURCE" sort="source:ASC" colTitle="#springMessage('label.cardManagement.bannedCard.source')" tooltip="#springMessage('label.cardManagement.bannedCard.source') : #springMessage('label.sorting.ascendingMsg')"><p>#springMessage('label.cardManagement.bannedCard.source') <img src="${imgLocal}icn_ArwDown.png" class="sortIcn" alt="" /></p></div>
							</li>
						</ul>
						<ul id="bannedCardListContainer" class="scrollingList banned-card-list menuButtonList">
							<li class="loadItem" style="display: none;">#parse("${dirPrefix}include/loading.vm")</li>
						</ul>
					</section>
				</section>
			</section>
		</section>
		
		<section id="bannedCardDialog" class="details" style="display: none;">
			#parse( "${dirPrefix}cardManagement/include/bannedCardForm.vm" )##
		</section>
		<section id="bannedCardImportDialog" class="details" style="display: none;">
			#parse( "${dirPrefix}cardManagement/include/importBannedCardForm.vm" )##
		</section>
		<span id="bannedCardTemplate" style="display: none;">
			<li id="card_[%= randomBadCardId %]" comment="[%= (typeof comment === 'undefined') ? '' : comment %]" class="notclickable">
				<div class="col1"><p>[%= (typeof cardNumber === "undefined") ? "" : cardNumber %]&nbsp;</p></div>
				<div class="col2"><p>[%= (typeof cardType === "undefined") ? "" : cardType %]&nbsp;</p></div>
				<div class="col3"><p>[%= (typeof cardExpiry === "undefined") ? "" : cardExpiry %]&nbsp;</p></div>
				<div class="col4"><p>[%= (typeof dateAdded === "undefined") ? "" : dateAdded %]&nbsp;</p></div>
				<div class="col5"><p>[%= (typeof source === "undefined") ? "" : source %]&nbsp;</p></div>
				#if($authtools.allow('customer.cardManagement.bannedCards.manage'))##
					<a id="opBtn_[%= randomBadCardId %]" title="#springMessage('button.delete')" class="menuListButton delete cardMenu" href="#"><img width="18" height="1" border="0" title="#springMessage('button.delete')" src="${imgLocal}spacer.gif"></a>
				#end##
			</li>
		</span>
## /Card Management
	</section>
	<hr>
</section>
##
#parse( "${dirPrefix}include/footer.vm" )
##
#parse("${dirPrefix}include/alertMsg.vm")##
## 
</body>
</html>