## Velocity Document
##
#if(!$setupFile || $setupFile != "true")##
	#parse( "/WEB-INF/templates/include/setup.vm" )##
#end##
##
#springBind("bannedCardEditForm.*")##
<form id="bannedCardForm" name="bannedCardForm" method="post" action="/">
	<input type="hidden" name="sessionToken" value="$!{sessionToken}"/>
	#springBind("bannedCardEditForm.postToken")##
	<input type="hidden" name="${status.expression}" id="editPostToken" value="$!{bannedCardEditForm.initToken}"/>
	#springBind("bannedCardEditForm.actionFlag")##	
	<input type="hidden" name="${status.expression}" id="actionFlag" value="$!{status.value}"/>
	
	<section>
		<label for="formBannedCardType" class="detailLabel">#springMessage('label.settings.cardSettings.CardType'):</label>
		<span class="inputWithButton">
			#springBind("bannedCardEditForm.wrappedObject.cardType")##
			<input id="formBannedCardTypeVal" name="${status.expression}" type="hidden" value="$!{status.value}"/>
			<input id="formBannedCardType" name="${status.expression}Label" type="text" autocomplete="off" class="autoText flatRight reqField" required>
			<a href="#" id="formBannedCardTypeExpand" class="linkButtonIcn selectMenu flatLeft" title="#springMessage('button.showOptions')" autofocus="autofocus"><img width="18" height="1" title="arrow" alt="arrow" src="${imgLocal}spacer.gif" border="0"></a>
			<span id="formBannedCardTypeData" type="display: none;">[#printFilterDtoJSON($cardTypeList 1)]</span>
		</span>
	</section>
	
	<section>
		<label for="formBannedCardNumber" class="detailLabel">#springMessage('label.settings.cardSettings.CardNumber'):</label> 
		#springBind("bannedCardEditForm.wrappedObject.cardNumber")##
		<input type="text" id="formBannedCardNumber" name="${status.expression}" class="detailValue reqField" required autocomplete="off">
	</section>
	
	<section id="secCardExpiry">
		<label for="formBannedCardExpiry" class="detailLabel">#springMessage('label.settings.cardSettings.CardExpiry'):</label> 
		#springBind("bannedCardEditForm.wrappedObject.cardExpiry")##
		<span class="hiddenLabelContainer">
			<input type="text" id="formBannedCardExpiry" name="${status.expression}" class="detailValue intNmbrChrctr reqField" required size="6" maxlength="4" placeholder="#springMessage("label.format.card.expiration")">
		</span>
	</section>
	
	<section>
		<label for="formBannedCardComment" class="detailLabel">#springMessage('label.cardManagement.bannedCard.comment'):</label> 
		#springBind("bannedCardEditForm.wrappedObject.comment")##
		<textarea rows="2" cols="80" id="formBannedCardComment" name="${status.expression}" class="detailValue prntableChrctr chrctrCount80 cleanable"></textarea>
	</section>
</form>