## Velocity Document
##
#if(!$setupFile || $setupFile != "true")##
	#parse( "/WEB-INF/templates/include/setup.vm" )##
#end##
##
#springBind("bannedCardUploadForm.*")##
<form id="bannedCardUploadForm" name="bannedCardUploadForm" method="post" enctype="multipart/form-data" action="">
	<input type="hidden" name="sessionToken" value="$!{sessionToken}"/>
	#springBind("bannedCardUploadForm.postToken")##
	<input type="hidden" name="${status.expression}" id="uploadPostToken" value="$!{bannedCardUploadForm.initToken}"/>
	
	<label for="formBannedCardFile" class="detailLabel">#springMessage('label.cardManagement.bannedCard.importForm.sourceFile'):</label> 
	#springBind("bannedCardUploadForm.wrappedObject.file")##
	<input type="file" id="formBannedCardFile" name="${status.expression}" value="${status.value}" class="detailValue reqField" required>
	
	<label for="formUploadStatus" class="detailLabel">#springMessage('label.import.mode'):</label>
	<span class="inputWithButton">
		#springBind("bannedCardUploadForm.wrappedObject.recordStatus")##
		<input type="hidden" id="formUploadStatusVal" name="${status.expression}" value="$!{status.value}"/>
		<input id="formUploadStatus" name="${status.expression}Label" type="text" autocomplete="off" class="autoText flatRight acWidthNoSearch importMode reqField" required>
		<a href="#" id="formUploadStatusExpand" class="linkButtonIcn selectMenu flatLeft" title="#springMessage('button.showOptions')"><img width="18" height="1" title="arrow" alt="arrow" src="${imgLocal}spacer.gif" border="0"></a>
	</span>
	<span id="formUploadStatusData" style="display: none;">
		[
			{ "label": "#springMessage('label.import.mode.replace')", "value": "Replace" },
			{ "label": "#springMessage('label.import.mode.merge')", "value": "Merge" }
		]
	</span>
	
	<section id="formFileFormat" class="infoArea">
		<h4>#springMessage('label.cardManagement.bannedCard.importForm.fileformat.header')</h4>
		<article>#springMessage('label.cardManagement.bannedCard.importForm.fileformat')</article>
	</section>
</form>