#* velocity document *#
##
#parse( "/WEB-INF/templates/include/setup.vm" )
##
#set($helpLink = "#springMessage('help.link.SystemAdmin.Home')")##
#set($homeLink = "/systemAdmin/index.html${qString}")##
#set($siteArea = "sysAdmin")##
#set($pageSec = "sysAdmin")##
##
<!DOCTYPE html>
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->


##
<head>
	<title>#springMessage('label.siteName') - #springMessage('heading.SysAdmin') - ${customerDetails.customer.name} : #springMessage('link.nav.settings.alerts')</title>
#parse( "${dirPrefix}include/head.vm" )
##
<link rel="stylesheet" type="text/css" media="all" href="${styleLocal}systemAdmin.css${staticQuerry}">
<link rel="stylesheet" type="text/css" media="all" href="${styleLocal}settings.css${staticQuerry}">
##
</head>
##
<body id="settings">
##
#parse( "${dirPrefix}include/generalHead.vm" )
##
<section id="content">
##
#parse( "${dirPrefix}/systemAdmin/include/mainNav.vm" )##
#set($qString = "${qString}&customerID=${params.customerID}")##
##
	<section id="mainContent" class="sysAdminWorkSpace">
	<input type="hidden" id="globalToken" value="">
##
#set($crntSection = "#springMessage('link.nav.sysAdmin.home.alerts')")
#if($customerDetails.customer.customerStatusType.id != 1)
#set($statusDisplay = "<span class='statusNote'>[ ${customerStatus[${customerDetails.customer.customerStatusType.id}]} ]</span>")##
#else##
#set($statusDisplay = "")##
#end##
#set($sectionTitle = "${customerDetails.customer.name} ${statusDisplay}")##
#set($workSpace = "true")##
#parse( "${dirPrefix}systemAdmin/workspace/include/navSetup.vm" )
#parse( "${dirPrefix}systemAdmin/workspace/include/subNavSetup.vm" )
#parse( "${dirPrefix}include/sectionNav.vm" )
#parse( "${dirPrefix}include/subSectionNav.vm" )
## 
##
#parse( "${dirPrefix}include/alerts/main.vm" )
	</section>
	<hr>
</section>##
#parse( "${dirPrefix}include/footer.vm" )
##
#parse("${dirPrefix}include/alertMsg.vm")##
## 
<script type="text/javascript" language="javascript">##
#parse("${dirPrefix}include/sessionActivityVar.vm")##
#parse("${dirPrefix}include/alerts/constants.vm")##
##globalPostToken = "${alertEditForm.initToken}";
var LOC = [];##
LOC["viewAlerts"] = "/systemAdmin/workspace/alerts/viewAlertDetails.html";##
LOC["deleteAlerts"] = "/systemAdmin/workspace/alerts/deleteAlert.html";##
LOC["sortAlerts"] = "/systemAdmin/workspace/alerts/sortAlertList.html";##
LOC["saveAlerts"] = "/systemAdmin/workspace/alerts/saveAlert.html";##
LOC["testAlertsNotification"] = "/systemAdmin/workspace/alerts/testNotification.html";##
##
$(document).ready(function(){ standard(); alerts("$!{params.itemID}","$!{params.pgActn}"); sessionActvty(); soh(["alertList"]); scrollListWidth(["alertList"]); workspace();##
#if(${params.itemValue})updateFilter("$!esc.javascript($!{params.filterValue})", "$!esc.javascript(${params.itemValue})");#end });</script>
<script type="text/javascript" language="javascript" src="${scriptLocal}alerts.js${staticQuerry}"></script>
<script type="text/javascript" language="javascript" src="${scriptLocal}systemAdmin/workspace.js${staticQuerry}"></script>
##
</body>
</html>