#* velocity document *#
##
#parse( "/WEB-INF/templates/include/setup.vm" )
##
#set($helpLink = "#springMessage('help.link.Settings')")##
##
#set($pageSec = "settings")##
##
<!DOCTYPE html>
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->


##
<head>
	<title>#springMessage('label.siteName') - #springMessage('heading.settings') - #springMessage('label.settings.devices.mobileDevices')</title>
#parse( "${dirPrefix}include/head.vm" )
##
<link rel="stylesheet" type="text/css" media="all" href="${styleLocal}settings.css${staticQuerry}">
<link rel="stylesheet" href="${styleLocal}leaflet.css${staticQuerry}" />
<script src="${scriptLocal}leaflet.js${staticQuerry}"></script>
<!--[if lte IE 8]><link rel="stylesheet" href="${styleLocal}MarkerCluster.Default.ie.css${staticQuerry}" /><![endif]-->
<script src="${scriptLocal}leaflet.markercluster-src.js${staticQuerry}"></script>
##
</head>
##
<body id="settings">
##
#parse( "${dirPrefix}include/generalHead.vm" )
##
<section id="content">
##
#parse( "${dirPrefix}include/mainNav.vm" )
##
	<section id="mainContent">
##
#set($crntSection = "#springMessage('label.settings.devices.mobileDevices')")
#set($sectionTitle = "#springMessage('heading.settings')")
#parse( "${dirPrefix}settings/include/navSetup.vm" )
#parse( "${dirPrefix}include/sectionNav.vm" )
## 
#parse( "${dirPrefix}settings/devices/include/main.vm" )
##
	</section>
	<hr>
</section>
##
#parse( "${dirPrefix}include/footer.vm" )
##
#parse("${dirPrefix}include/alertMsg.vm")##
## 
<script type="text/javascript" language="javascript">#parse("${dirPrefix}include/sessionActivityVar.vm")## 
#parse( "${dirPrefix}include/standardJSMessages.vm" )##
var	noDeviceFoundMsg = "#springMessage('label.settings.devices.noDevicesFound')",##
#* *#deviceSavedMsg = "#springMessage('label.settings.devices.deviceSaved')",##
#* *#deviceBlockedMsg = "#springMessage('label.settings.devices.deviceSuccesfullyBlocked')",##
#* *#blockBtn = "#springMessage('label.settings.devices.blockDevice')",##
#* *#blockDeviceMsg = "#springMessage('label.settings.devices.confirmBlockDeviceMsg')",##
#* *#deviceUnblockedMsg = "#springMessage('label.settings.devices.deviceSuccesfullyUnBlocked')",##
#* *#unblockBtn = "#springMessage('label.settings.devices.unBlockDevice')",##
#* *#unblockDeviceMsg = "#springMessage('label.settings.devices.confirmUnblockDevice')",##
#* *#unNamedDeviceTtl = "#springMessage('label.systemAdmin.workspace.licenses.unNamedDeviceTtl')",##
#* *#releaseLicenseTtl = "#springMessage('label.settings.devices.releaseLicense')",##
#* *#undoReleaseTtl = "#springMessage('label.settings.devices.undoRelease')",##
#* *#undoTtl = "#springMessage('label.undo')";##

##
##
#if(${mapBorders.minLatitude} && ${mapBorders.minLongitude} && ${mapBorders.maxLatitude} && ${mapBorders.maxLongitude})##
var	southWest = new L.LatLng("${mapBorders.minLatitude}", "${mapBorders.minLongitude}"),##
	northEast = new L.LatLng("${mapBorders.maxLatitude}","${mapBorders.maxLongitude}"),##
	ogBounds = new L.LatLngBounds(southWest, northEast);
#end##
##
$(document).ready(function(){ standard(); settings(); devices("$!{params.itemID}","$!{params.pgActn}", "$!{params.appID}"); sessionActvty(); soh(["deviceList","deviceActivityLogList"]); ##
#if(${params.itemValue})updateFilter("$!esc.javascript($!{params.filterValue})", "$!esc.javascript(${params.itemValue})");#end });</script>
<script type="text/javascript" language="javascript" src="${scriptLocal}jquery.ui.paginatetab.js${staticQuerry}"></script>
<script type="text/javascript" language="javascript" src="${scriptLocal}settings.js${staticQuerry}"></script>
<script type="text/javascript" language="javascript" src="${scriptLocal}leaflet-embed.js${staticQuerry}"></script>

##
</body>
</html>