## Velocity Document
##
#if(!$setupFile || $setupFile != "true")
	#parse( "/WEB-INF/templates/include/setup.vm" )##
#end
##
## DEFINE SORT OPTIONS HERE
#set($sortType = "$!{params.sort}")##
#set($shouldPerformSort = true)##
#if($sortType == "")##
	#set($sortType = "createdMs")##
	#set($shouldPerformSort = false)##
#end##
##
#set($sortDir = "$!{params.dir}")##
#if($sortDir == "asc")##
	#set($nextDir = "desc")##
	#set($sortDirIcn = "ArwDown")##
	#set($sortTooltip = "#springMessage('label.sorting.descendingMsg')")##	
#else##
	#set($nextDir = "asc")##
	#set($sortDirIcn = "ArwUp")##
	#set($sortTooltip = "#springMessage('label.sorting.ascendingMsg')")##	
#end##
##
##
#set($REPSTAT_FAILED = $field.in("com.digitalpaytech.util.ReportingConstants").REPORT_STATUS_FAILED)##
#set($REPSTAT_CANCELED = $field.in("com.digitalpaytech.util.ReportingConstants").REPORT_STATUS_CANCELLED)##
#set($REPSTAT_SCHEDULED = $field.in("com.digitalpaytech.util.ReportingConstants").REPORT_STATUS_SCHEDULED)##
#set($REPSTAT_LAUNCHED = $field.in("com.digitalpaytech.util.ReportingConstants").REPORT_STATUS_LAUNCHED)##
#set($REPSTAT_RERAN = $field.in("com.digitalpaytech.util.ReportingConstants").REPORT_STATUS_RERAN)##
##
#set($STATUS_MAP = {
	"$REPSTAT_FAILED": "$springMacroRequestContext.getMessage('label.reporting.status.failed')",
	"$REPSTAT_CANCELED": "$springMacroRequestContext.getMessage('label.reporting.status.canceled')",
	"$REPSTAT_SCHEDULED": "$springMacroRequestContext.getMessage('label.reporting.status.scheduled')",
	"$REPSTAT_LAUNCHED": "$springMacroRequestContext.getMessage('label.reporting.status.launched')",
	"$REPSTAT_RERAN": "$springMacroRequestContext.getMessage('label.reporting.status.reran')"
})##
##
#set($pendingList = $queueAndRepositoryInfoList.reportQueueInfo.queueList)
<section class="groupBox menuBox">
	<header>
		<h2>#springMessage('label.reporting.queue.heading')</h2>
		<a id="opBtn_reloadReport" title="Reload" class="hdrButtonIcn reload" href="#"><img width="18" height="1" title="Reload" src="${imgLocal}spacer.gif" border="0"></a>
	</header>
    <ul id="queuedReportsListHeader" class="column-5-5 scrollingListHeader">
        <li>
            <div class="col1 notclickable"><p>#springMessage('label.reporting.queue.report.title')</p></div>
            <div class="col2 notclickable"><p>#springMessage('label.reporting.queue.report.status')</p></div>
        </li>
    </ul>
    <ul id="queuedReportsList" class="menuList menuButtonList column-5-5 scrollingList pageItems">
#if($pendingList.size() > 0)##
    #foreach($report in $pendingList)##
        #set($showView = false)##
        #set($showCancel = false)##
        #set($showRerun = false)##
        #set($reportStatus = "")##
        #if($report.status == $REPSTAT_FAILED)##
            #set($showView = true)##
            #set($reportStatus = $springMacroRequestContext.getMessage('label.reporting.status.failed'))##
        <li id="report_$report.randomId" class="failedReport">
            <div class="col1"><p>$report.title</p></div>
            <div class="col2 toolTip" tooltip="$!{report.statusExplanation}"><p><span class="statusFailed">$!STATUS_MAP.get("$report.status")</span> - $!report.time</p></div>
        #elseif($report.status == $REPSTAT_CANCELED)##
            #set($showRerun = true)##
            #set($reportStatus = $springMacroRequestContext.getMessage('label.reporting.status.canceled'))##
        <li id="report_$report.randomId" class="canceledReport">
            <div class="col1"><p>$report.title</p></div>
            <div class="col2"><p>$!STATUS_MAP.get("$report.status")</p></div>
        #else##
            #set($showCancel = true)##
        <li id="report_$report.randomId">
            <div class="col1"><p>$report.title</p></div>
            <div class="col2"><p>$!STATUS_MAP.get("$report.status")</p></div>
        #end##
            <span style="display: none;">$report.statusExplanation</span>
            <a id="opBtn_$report.randomId" title="#springMessage('label.optionMenu')" class="menu settingDelete menuListButton" href="#"><img width="18" height="1" title="#springMessage('label.optionMenu')" src="${imgLocal}spacer.gif" border="0"></a>
        </li>
        <section id="menu_$report.randomId" class="ddMenu optionMenu">
            <img src="${imgLocal}icn_ddMenuArrow.png" class="point" width="25" height="13" border="0" />
            <section class="menuOptions innerBorder">
            #if($showView)##
                <a href="#" class="view" title="#springMessage('button.view')">#springMessage('button.view')</a>
                #if($authtools.allow('customer.reporting.manage') or $authtools.allow('system.reporting'))##
                <a href="#" class="edit" title="#springMessage('button.edit')">#springMessage('button.edit')</a>
                <a href="#" class="delete" title="#springMessage('button.delete')">#springMessage('button.delete')</a>
                #end##
            #end##
            #if($showCancel and ($authtools.allow('customer.reporting.manage') or  $authtools.allow('system.reporting')))##
                <a href="#" class="cancel" title="#springMessage('button.cancel')">#springMessage('button.cancel')</a>
            #end##
            #if($showRerun and ($authtools.allow('customer.reporting.manage') or $authtools.allow('system.reporting')))##
                <a href="#" class="rerun queue" title="#springMessage('button.rerun')">#springMessage('button.rerun')</a>
                <a href="#" class="edit" title="#springMessage('button.edit')">#springMessage('button.edit')</a>
                <a href="#" class="delete" title="#springMessage('button.delete')">#springMessage('button.delete')</a>
            #end##
            </section>
        </section>
    #end##
#else##
        <li class="alignCenter notclickable"><span class="textLine">#springMessage('alert.noReportsMsg')</span></li>
#end##
    </ul>
</section>

#set($completedList = $queueAndRepositoryInfoList.reportRepositoryInfo.repositoryList)
<section class="groupBox menuBox">
	<header>
		<h2>#springMessage('label.reporting.repository.heading')</h2>
		<a id="opBtn_reloadReport" title="Reload" class="hdrButtonIcn reload" href="#"><img width="18" height="1" title="Reload" src="${imgLocal}spacer.gif" border="0"></a>
	</header>
    <ul id="reportsListHeader" class="column-5-5 scrollingListHeader">
        <li>
        #if($sortType == "title")##
            <div class="col1 sort current" sort="title:${nextDir}" tooltip="#springMessage('label.reporting.repository.report.title') : ${sortTooltip}"><p>#springMessage('label.reporting.repository.report.title') <img src="${imgLocal}icn_${sortDirIcn}.png" class="sortIcn" alt="" /></p></div>
        #else##
            <div class="col1 sort" sort="title:asc" tooltip="#springMessage('label.reporting.repository.report.title') : #springMessage('label.sorting.ascendingMsg')"><p>#springMessage('label.reporting.repository.report.title') <img src="${imgLocal}icn_ArwDown.png" class="sortIcn" alt="" /></p></div>
        #end##
        #if($sortType == "createdMs")##
            <div class="col2 sort current" sort="createdMs:${nextDir}" tooltip="#springMessage('label.reporting.repository.report.createdTime') : ${sortTooltip}"><p>#springMessage('label.reporting.repository.report.createdTime') <img src="${imgLocal}icn_${sortDirIcn}.png" class="sortIcn" alt="" /></p></div>
        #else##
            <div class="col2 sort" sort="createdMs:desc" tooltip="#springMessage('label.reporting.repository.report.createdTime') : #springMessage('label.sorting.descendingMsg')"><p>#springMessage('label.reporting.repository.report.createdTime') <img src="${imgLocal}icn_ArwUp.png" class="sortIcn" alt="" /></p></div>
        #end##
        </li>
    #if($shouldPerformSort == true)##
        #set($completedList = $sorter.sort($completedList, ["${sortType}:${sortDir}"]))##
    #end##
    </ul>
    <ul id="reportsList" class="menuList menuButtonList column-5-5 scrollingList pageItems">
#if($completedList.size() > 0)##
    #foreach($report in $completedList)##
        #if($report.toBeDeleted)##
        <li id="report_$report.randomId" class="expiringReport" tooltip="#springMessage('label.reporting.report.toBeDeleted')">
            <div class="col1"><p>$report.title</p></div>
        #elseif(!$report.readByUser)##
        <li id="report_$report.randomId" class="newReport">
            <div class="col1"><p>$report.title <span class="new">[NEW]</span></p></div>
        #else##
        <li id="report_$report.randomId">
            <div class="col1"><p>$report.title</p></div>
        #end##
            <div class="col2"><p>$report.createdTime</p></div>
            <a id="opBtn_$report.randomId" title="#springMessage('label.optionMenu')" class="menu settingDelete menuListButton" href="#"><img width="18" height="1" title="#springMessage('label.optionMenu')" src="${imgLocal}spacer.gif" border="0"></a>
        </li>
        <section id="menu_$report.randomId" class="ddMenu optionMenu">
            <img src="${imgLocal}icn_ddMenuArrow.png" class="point" width="25" height="13" border="0" />
            <section class="menuOptions innerBorder">
                <a href="#" class="view" title="#springMessage('button.view')">#springMessage('button.view')</a>
            #if($authtools.allow('customer.reporting.manage') or $authtools.allow('system.reporting'))##
                <a href="#" class="recreate" title="#springMessage('button.recreate')">#springMessage('button.recreate')</a>
                <a href="#" class="rerun" title="#springMessage('button.rerun')">#springMessage('button.rerun')</a>
                <a href="#" class="delete" title="#springMessage('button.delete')">#springMessage('button.delete')</a>
            #end##
            </section>
        </section>
    #end##
#else##
        <li class="alignCenter notclickable"><span class="textLine">#springMessage('alert.noReportsMsg')</span></li>
#end##
    </ul>
</section>
