#* velocity document *#
##
<section id="DefinedRateProfile" class="layout4 layout sectionContent">
	<section class="column first">
## <!-- #locationList ++++++++++++++++++++++++++++++++++++++++ -->
		<section class="groupBox menuBox rateList">
			<header>
				<h2>#springMessage('label.settings.rates.rateProfiles')</h2>
		#if($authtools.allow('customer.ratesManage'))##
				<a id="btnAddRateProfile" href="#" class="hdrButtonIcn add" title="Add"><img width="18" height="1" title="New Location" alt="#springMessage('button.add')" src="${imgLocal}spacer.gif" border="0"></a>
		#end##
			</header>
			#parse("${dirPrefix}include/rateProfileFilter.vm")
			#parse("${dirPrefix}/settings/include/rateProfileList.vm")
		</section>
## <!-- /#locationList -->
	</section>
##
	<section class="column second"><input type="hidden" id="contentID" name="contentID" value="">
		<section id="profileDetails" class="groupBox mainContent">
		#if($authtools.allow('customer.ratesManage'))##
			<section id="menu_pageContent" class="ddMenu">
				<img src="${imgLocal}icn_ddMenuArrow.png" class="point" width="25" height="13" border="0" />
				<section class="menuOptions innerBorder">
					<a href="#" class="edit btnEditRate" title="#springMessage('button.edit')">#springMessage('button.edit')</a>
					<a href="#" class="delete btnDeleteRate" title="#springMessage('button.delete')">#springMessage('button.delete')</a>
				</section>
			</section>
		#end##
			<header>
				<h2 id="profileName"></h2>
				<h2 id="editHeading">#springMessage('label.settings.rates.editRateProfile')</h2>
				<h2 id="addHeading">#springMessage('label.settings.rates.addRateProfile')</h2>
		#if($authtools.allow('customer.ratesManage'))##
				<a id="opBtn_pageContent" title="#springMessage('label.optionMenu')" class="hdrButtonIcn menu" href="#"><img width="18" height="1" title="#springMessage('label.optionMenu')" src="${imgLocal}spacer.gif" border="0"></a>
		#end##
			</header>					
			<article id="profileView" class="groupBoxBody column-5-5 viewBox">
				#parse("${dirPrefix}settings/include/profileView.vm")
			</article>
			<article id="profileForm" class="groupBoxBody column-5-5 editBox">
				#parse("${dirPrefix}settings/include/profileEditForm.vm")
			</article>
			<div id="calendarTrash" class="trashRate">
				<a class="trashcan" href="#"><img id="calendarTrash" width="18" height="1" border="0" src="${imgLocal}spacer.gif"/></a>
				#springMessage('label.settings.rates.profile.removeRates')
			</div>
			<section id="calendarView" class="groupBoxBody setHeight">
			</section>
			
			<section id="profileFormBtns" class="btnSet groupBoxBody">
				<a href="#" id="saveDraftBtn" title="#springMessage('button.saveDraft')" class="linkButtonFtr textButton save">#springMessage('button.saveDraft')</a>
				<a href="#" title="#springMessage('button.settings.rates.profile.publish')" class="linkButtonFtr textButton publish">#springMessage('button.settings.rates.profile.publish')</a>
				<a href="#" title="#springMessage('button.cancel')" class="linkButton textButton cancel">#springMessage('button.cancel')</a>
			</section>
		</section>
		<section id="rateFormArea"></section>
		<section id="publishProfileArea" class="hide">#parse("${dirPrefix}/settings/include/rateProfileAssignmentForm.vm")</section>
		
		<section id="locationObjData" class="hide">
			[{ "label": "choose", "value": "-1" }, {"label":"#springMessage('label.settings.locations.allPayStations')", "value":"0"}##
#foreach($location in $locationList)##
#*			*#,{"label":"$!{location.label}", "value":"$!{location.value}","desc":"$!{location.desc}","extraData":"$!{location.extraData}"}##
#end]##
		</section>
		
	</section>
</section>